<%- include('layout_header',{searchTitle:null,nav_cur:'borrowPage',actionDefault:'建立日期',directorDefault:'大至小',keywordDefault:'',categoryDefault:'不分類'}); -%>
<section class="topSection">
    <div class="topPic">
        <img src="/images/topPic.png" >
    </div>
    <div class="topText">
        <p>最近手頭有點緊嗎?</p>
        <p>擔心利率過高，還不出來嗎?</p>
        <p>擔心銀行借款門檻太高嗎?</p>
        <p>別擔心，這裡有許多人能夠幫助你!</p>
        <p>快來告訴他們你的需求吧!</p>
    </div>
</section>

<section class="bottomSection">
    <form style="margin-left:60px;" action="/borrower/borrowCreate" method="post" onsubmit="return disableButton();">

    <div class="borrowBlock">
      <div class="borrowBlockTitle">借款金額<i style="color:red;">*</i></div><span id="s1" style="color:red;"><%if(bfJSON){%><%if(bfJSON.Target[0]){%>&nbsp;&nbsp;&nbsp;&nbsp;<%=bfJSON.Message[0]%><%}%><%}%></span>
	  <div>金額限制 $5,000~$150,000</div>
      <input id="f1" type="number" name="MoneyToBorrow" required<%if(bfJSON){%> value="<%=bfJSON.FormContent.F1%>"<%}%>>
    </div>

    <div class="borrowBlock">
      <div class="borrowBlockTitle">可接受利率上限<i style="color:red;">*</i></div><span id="s2" style="color:red;"><%if(bfJSON){%><%if(bfJSON.Target[1]){%>&nbsp;&nbsp;&nbsp;&nbsp;<%=bfJSON.Message[1]%><%}%><%}%></span>
      <div>單位為%，須大於<%=(scr*100).toFixed(2)%>%</div>
      <input id="f2" type="text" name="MaxInterestRateAccepted" required<%if(bfJSON){%> value="<%=bfJSON.FormContent.F2%>"<%}%>>
    </div>

    <div class="borrowBlock">
		<div class="borrowBlockTitle">預期還款期數</div><span id="s3" style="color:red;"><%if(bfJSON){%><%if(bfJSON.Target[2]){%>&nbsp;&nbsp;&nbsp;&nbsp;<%=bfJSON.Message[2]%><%}%><%}%></span>
		<div>最高36個月</div>
		<select id="f3" name="MonthPeriodAccepted" required>
            <%for(i=1;i<=36;i++){%>
				<option value="<%=i%>"<%if(bfJSON){%><%if(bfJSON.FormContent.F3==i){%> selected<%}%><%}%>><%=i%></option>
			<%}%>
		</select>
    </div>

    <div class="borrowBlock">
        <div class="borrowBlockTitle">標題</div><span id="s4" style="color:red;"><%if(bfJSON){%><%if(bfJSON.Target[3]){%>&nbsp;&nbsp;&nbsp;&nbsp;<%=bfJSON.Message[3]%><%}%><%}%></span>
		<div>選擇性填寫，但"標題"與"借款原因"均有填寫才會出現在供借出者閱覽的故事列表中！</div>
        <input id="f4" name="StoryTitle"<%if(bfJSON){%> value="<%=bfJSON.FormContent.F4%>"<%}%>>
    </div>

    <div class="borrowBlock">
        <div class="borrowBlockTitle">類別</div>
        <select id="f5" name="Category" required>
            <option value="general"<%if(bfJSON){%><%if(bfJSON.FormContent.F5=='general'){%> selected<%}%><%}%>>一般</option>
            <option value="education"<%if(bfJSON){%><%if(bfJSON.FormContent.F5=='education'){%> selected<%}%><%}%>>教育</option>
            <option value="family"<%if(bfJSON){%><%if(bfJSON.FormContent.F5=='family'){%> selected<%}%><%}%>>家庭</option>
            <option value="tour"<%if(bfJSON){%><%if(bfJSON.FormContent.F5=='tour'){%> selected<%}%><%}%>>旅遊</option>
        </select>
    </div>

    <div class="borrowBlock">
        <div class="borrowBlockTitle">借款原因/故事</div><span id="s5" style="color:red;"><%if(bfJSON){%><%if(bfJSON.Target[4]){%>&nbsp;&nbsp;&nbsp;&nbsp;<%=bfJSON.Message[4]%><%}%><%}%></span>
        <div>選擇性填寫，不限字數，也可附上相關網頁/影片連結</div>
        <textarea id="f6" name="Story"><%if(bfJSON){%><%=bfJSON.FormContent.F6%><%}%></textarea>
    </div>

    <div class="borrowBlock">
        <div class="borrowBlockTitle">媒合確定最晚期限</div>
        <div>系統預設為三天</div>
        <input id="f7" type="date" name="TimeLimit"<%if(bfJSON){%> value="<%=bfJSON.FormContent.F7%>"<%}%>>
    </div>
	<input type="hidden" name="Idfr" value="<%=idfr%>">
    <div class="borrowBlock" >
		<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#chkModal2">
			重寫
		</button>
		&nbsp;
		<button type="button" class="btn btn-primary" onclick="checkAndOpenModal('#chkModal1');";>
			確認
		</button>
    </div>
	<div class="modal fade" id="chkModal1">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header" style="text-align: center;">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">再次確認</h4>
				</div>
				<div class="modal-body" style="text-align: center;">
					<br>
					您確定要送出借款要求嗎？
					<br>
					<br>
				</div>
				<div class="modal-footer" style="text-align: center;">
					<button type="submit" class="btn btn-primary" id="btnSbmt" onclick="$('#chkModal1').modal('hide');">
						確定
					</button>
					&nbsp;
					<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="chkModal2">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header" style="text-align: center;">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">再次確認</h4>
				</div>
				<div class="modal-body" style="text-align: center;">
					<br>
					您確定要重填表單嗎？
					<br>
					<br>
				</div>
				<div class="modal-footer" style="text-align: center;">
					<button type="button" class="btn btn-danger" id="buttonReset" onclick="$('#chkModal2').modal('hide');clearForm();">
						確定
					</button>
					&nbsp;
					<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="msgModal">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header" style="text-align: center;">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">錯誤</h4>
				</div>
				<div class="modal-body" style="text-align: center;">
					<br>
					必填欄位未填或已填欄位數值錯誤
					<br>
					<br>
				</div>
				<div class="modal-footer" style="text-align: center;">
					<button type="button" class="btn btn-default" data-dismiss="modal">關閉</button>
				</div>
			</div>
		</div>
	</div>

<!--
    <div id="borrowDialog" class="borrowBlock"  style="display:none;">
        <div class="borrowBlockTitle dialogTitle">確認借出</div>

        <p>確定送出借款要求嗎？</p>
        <p>檢查看看有沒有要修改的地方？</p>
        <p>祝您早日配對成功！</p>
        <button type="button"  id="buttonCancel" class="buttonExit">取消</button>
        <button type="submit"  class="buttonSubmit">確認送出</button>
    </div>
-->
    </form>

</section>
<!--
<div id="li" >
    <img id="liPic" src="/images/li.png">
    <div id="talkContent">
        <p>把借款的故事或原因寫下來，</p>
        <p>能幫助其他人暸解您的情況！</p>
        <p>有助於借款喔！</p>
    </div>
</div>
-->

<img width="65px" height="65px" src="/images/icon.png" class="hastip" title="把借款的故事或原因寫下來，<br>能幫助其他人暸解您的情況！<br>有助於借款喔！" style="position:fixed;"/>
<script src="/javascripts/jquery-ui.js"></script>
<link rel="stylesheet" href="/stylesheets/borrower.css">
<script>
	$(document).ready(function (){
		<%if(bfJSON){%>
			<%for(i=0;i<bfJSON.Target.length;i++){%>
				<%if(bfJSON.Target[i]){%>
					$('#f<%=i+1%>').focus();
					<%break;%>
				<%}%>
			<%}%>
		<%}%>
		
		document.body.style['background-color']='#FFE4A3';

		$('#buttonCancel').click(function(){
			$('#borrowDialog').css({
				'display':'none'
			});
			$('.bottomSection').css({
				'background-color': '#FFF9E7'
			});
		});

		$('#buttonCheck').click(function () {
			console.log('click buttonCheck');
			$('#borrowDialog').css({
				'top': (window.pageYOffset+window.innerHeight/4).toString()+'px',
				'display':'block'
			});
			$('.bottomSection').css({
				'background-color': '#EEEEEE'
			});
		});
		$( '.hastip' ).css({
			'top': (window.innerHeight*0.8).toString()+'px',//window.pageYOffset+
			'left': '60%'
		});
		$('.hastip').draggable();
	});
	
	function checkAndOpenModal(target){
		var a=$("input[name='MoneyToBorrow']").val().trim();
		var b=$("input[name='MaxInterestRateAccepted']").val().trim();
		var aa=parseInt(a);
		var bb=parseFloat(b);
		
		if((a!='')&&(b!='')&&(aa>=5000)&&(aa<=150000)&&(bb>=<%=(scr*100)+0.01%>)&&(bb<=99)){
			$("input[name='MoneyToBorrow']").val(aa);
			$("input[name='MaxInterestRateAccepted']").val(bb);
			$(target).modal('show');
		}else{
			$('#msgModal').modal('show');
		}
	}
	
	function clearForm(){
		$('#f1').val('');
		$('#f2').val('');
		$('#f3').prop('selectedIndex', 0);
		$('#f4').val('');
		$('#f5').prop('selectedIndex', 0);
		$('#f6').val('');
		$('#f7').val('');
	}

	var submitFlag=false;
	function disableButton(){
		if(!submitFlag){
			var orig=$('#buttonReset').attr('class');
			if(orig.search(' disabled')<0){
				orig=orig+' disabled';
				$('#buttonReset').attr('class',orig);
			}
			var orig=$('#btnSbmt').attr('class');
			if(orig.search(' disabled')<0){
				orig=orig+' disabled';
				$('#btnSbmt').attr('class',orig);
			}
			submitFlag=true;
			return true;
		}else{
			return false;
		}
	}
</script>
<%- include('layout_footer',{imgSettingCode:"var ifLoadedCount=0;",imgDrawingCode:""}); -%>

