<%- include('layout_header',{searchTitle:null,nav_cur:'signup',messengerDefault:'不分訊息狀態',actionDefault:'建立日期',directorDefault:'大至小',keywordDefault:'',categoryDefault:'不分類'}); -%>
	<style>
	.hint{
	position:absolute;
	right:370px; 
	bottom:330px;
	}
	</style>
	<div align = "center">
	<button type="button" class="btn btn-primary">
  	<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>玉山卡片連結</button>
	<button type="button" class="btn btn-default">
  	<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>個人資料確認</button>
	<button type="button" class="btn btn-default">
  	<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>帳號密碼設定</button>
	<button type="button" class="btn btn-default">
  	<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>社群資料提供</button>
	<button type="button" class="btn btn-default">
  	<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>帳戶建立完成</button>
	</div>
<center>
	<form class="form-inline" method="post" action="/signup/checkPro">
		<h3>請輸入任一張玉山卡的卡號和密碼<br></h3>
		<div class="input-group" style = "margin:5px">
			<label for="CardIpt">卡號&nbsp;</label>
			<input type="text" class="form-control" id="CardIpt" name="cardIpt" placeholder="卡號" required="required"<%if(cdfJSON){%> value="<%=cdfJSON.FormContent.F1%>"<%}%>>
			<br>
			<span id="s1" style="color:red;"><%if(cdfJSON){%><%if(cdfJSON.Target[0]){%>&nbsp;&nbsp;&nbsp;&nbsp;<%=cdfJSON.Message[0]%><%}%><%}%></span>
		</div>
		<br>
		<div class="input-group" style = "margin:5px">
			<label for="CardpwdIpt">密碼&nbsp;</label>
			<input type="password" class="form-control" id="CardpwdIpt" name="cardPwdIpt" placeholder="密碼" required="required"<%if(cdfJSON){%> value="<%=cdfJSON.FormContent.F2%>"<%}%>>
			<br>
			<span id="s2" style="color:red;"><%if(cdfJSON){%><%if(cdfJSON.Target[1]){%>&nbsp;&nbsp;&nbsp;&nbsp;<%=cdfJSON.Message[1]%><%}%><%}%></span>
		</div>
		<br>
		<input type="hidden" name="FormSession1" value="<%=formSession1%>">
		<!-- <input type="submit" value="送出"> -->
		<div class="btn-toolbar" role="toolbar" style = "margin-top:8px">
		<button type="submit" class="btn btn-default btn-lg">
			<span class="glyphicon glyphicon-ok" aria-hidden="true"></span> 確認
		</button>
		<button type="button" class="btn btn-default btn-lg" onClick = "javascript:location.href='/'">
			<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> 關閉
		</button></div>
	</form>
</center>
<div class = "hint">
	&nbsp;&nbsp;&nbsp;&nbsp;<div style="display:inline;"><img width="65px" height="65px" src="/images/icon.png" class="hastip" title="選擇最常使用的卡片喔~"/></div>
	</div>
<%- include('layout_footer',{imgSettingCode:"var ifLoadedCount=0;",imgDrawingCode:"",nav_cur:'signup'}); -%>