<%- include('layout_header',{searchTitle:null,nav_cur:'signup',messengerDefault:'不分訊息狀態',actionDefault:'建立日期',directorDefault:'大至小',keywordDefault:'',categoryDefault:'不分類'}); -%>
	<div class="container">
	<style>
	input[type="text"]:-moz-placeholder {color: #050505;}
	input[type="text"]::-moz-placeholder {color: #050505;}
	input[type="text"]:-ms-input-placeholder {color: #050505;}
	input[type="text"]::-webkit-input-placeholder {color: #050505;}
	.hint{
	position:absolute;
	right:400px; 
	bottom:400px;
	}
	</style>
	<div align = "center">
	<button type="button" class="btn btn-default">
  	<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>玉山卡片連結</button>
	<button type="button" class="btn btn-primary">
  	<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>個人資料確認</button>
	<button type="button" class="btn btn-default">
  	<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>帳號密碼設定</button>
	<button type="button" class="btn btn-default">
  	<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>社群資料提供</button>
	<button type="button" class="btn btn-default">
  	<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>帳戶建立完成</button>
	</div>
		<div class="row">
			<center>
			<form method="post" action="/signup/apply">
				<h3>個人資料確認<br></h3>
				<table class="table table-hover myTbody" style = "width:80%">
				<tr>
					<td align = "right" style = "width:15%">姓名</td>
					<td>金貝貝<input type="hidden" class="form-control" value="金貝貝" id="nameIpt" name = "nameIpt" placeholder="金貝貝"></td>
				</tr>
				<tr>
					<td align = "right" style = "width:15%">性別</td>
					<td>女性<label style="display:none;" class="radio-inline">
					<input type="radio" name="genderIpt" id="genderIpt" value="Male"></label>
					<label style="display:none;" class="radio-inline">
					<input type="radio" name="genderIpt" id="genderIpt" value="Female" checked></label></td>
				</tr>
				<tr>
					<td align = "right" style = "width:15%">生日</td>
					<td>1990/01/01<input type="hidden" class="form-control" id="birthIpt" name = "birthIpt" value="1990-01-01" placeholder="1990-01-01"></td>
				</tr>
				<tr>
					<td align = "right" style = "width:15%">身分證字號</td>
					<td>A<%=usrNum%>23456789<input type="hidden" class="form-control" id="ssnIpt" name = "ssnIpt" value="A<%=usrNum%>23456789" placeholder="A<%=usrNum%>23456789"></td>
				</tr>
				<tr>
					<td align = "right" style = "width:15%">行動電話</td>
					<td><input type="text" required="required" class="form-control" id="telIpt" name = "telIpt" value="0912345678" placeholder="0912345678"></td>
				</tr>
				<tr>
					<td align = "right" style = "width:15%">E-mail</td>
					<td><input type="email" required="required" class="form-control" id="emailIpt" name = "emailIpt" value="baby@jin.com" placeholder="baby@jin.com"></td>
				</tr>
				<tr>
					<td align = "right" style = "width:15%">住址</td>
					<td><input type="text" required="required" class="form-control" id="addrIpt" name = "addrIpt" value = "天龍市貝比路1號" placeholder="天龍市貝比路1號"></td>
				</tr>
				</table>
				<div class="btn-toolbar" role="toolbar" style = "margin-top: 10px;">
				<input type="hidden" name="BankAccountNumber" value="<%=BankAccountNumber%>">
				<input type="hidden" name="BankAccountPassword" value="<%=BankAccountPassword%>">
				<input type="hidden" name="IdCardStr" value='{"originalname":"brick.jpg","mimetype":"image/jpeg","extension":"jpg","path":"tmp/brick.jpg"}'>
				<input type="hidden" name="SecondCardStr" value='{"originalname":"camera.png","mimetype":"image/png","extension":"png","path":"tmp/camera.png"}'>
				<input type="hidden" name="FormSession1" value="<%=formSession1%>">
				<input type="hidden" name="FormSession2" value="<%=formSession2%>">
				<button type="submit" class="btn btn-default btn-lg">
				  <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> 確認
				</button>
				<button type="button" class="btn btn-default btn-lg" onClick = "javascript:location.href='/'">
				  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> 關閉
				</button>
				</div>
			</form>		
		</center>
		</div>
	</div>
	<div class = "hint">
	&nbsp;&nbsp;&nbsp;&nbsp;<div style="display:inline;"><img width="65px" height="65px" src="/images/icon.png" class="hastip" title="看看您的資訊都對不對？<br>您的更改將會同步更新玉山帳戶資料"/></div>
	</div>
<%- include('layout_footer',{imgSettingCode:"var ifLoadedCount=0;",imgDrawingCode:"",nav_cur:'signup'}); -%>