<%- include('layout_header',{searchTitle:null,nav_cur:'income',messengerDefault:'不分狀態',actionDefault:'建立日期',directorDefault:'大至小',keywordDefault:'',categoryDefault:'不分類'}); -%>
<div class="container">
	<div class="row">
		<div class="col-md-9">
			<div class="bigTitle">收入分析</div>
				<%if(totalResultNum<=0){%>
					<div style="font-size:20pt;color:#FF0000;">&nbsp;找不到生效中的交易來進行分析</div>
				<%}%>
		</div>
		<div class="col-md-3">
		</div>
	</div>
	<%if(totalResultNum>0){%>
		<div class="row">
			<div class="col-md-4">
				</br>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">本月貸出餘額</h3>
					</div>
					<div class="panel-body">
						<%=monPriNRNow%>元
					</div>
				</div>
				</br>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">本月預計利息收入</h3>
					</div>
					<div class="panel-body">
						<%=monRevNow%>元
					</div>
				</div>
				</br>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">本月預計回收本金</h3>
					</div>
					<div class="panel-body">
						<%=monPriNow%>元
					</div>
				</div>
				</br>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">本月預計可收本利和</h3>
					</div>
					<div class="panel-body">
						<%=monRevPriNow%>元
					</div>
				</div>
				</br>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">本月預計投資回報率</h3>
					</div>
					<div class="panel-body">
						<%=monRoiNow%>‰
					</div>
				</div>
				</br>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">年度預計平均貸出餘額</h3>
					</div>
					<div class="panel-body">
						<%=yrPriNR%>元/月
					</div>
				</div>
				</br>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">年度預計利息收入</h3>
					</div>
					<div class="panel-body">
						<%=yrRev%>元
					</div>
				</div>
				</br>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">年度預計平均利息收入</h3>
					</div>
					<div class="panel-body">
						<%=dpk.d1%>元/月
					</div>
				</div>
				</br>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">年度預計回收本金</h3>
					</div>
					<div class="panel-body">
						<%=yrPri%>元
					</div>
				</div>
				</br>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">年度預計平均回收本金</h3>
					</div>
					<div class="panel-body">
						<%=dpk.d2%>元/月
					</div>
				</div>
				</br>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">年度預計可收本利和</h3>
					</div>
					<div class="panel-body">
						<%=yrRevPri%>元
					</div>
				</div>
				</br>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">年度預計平均可收本利和</h3>
					</div>
					<div class="panel-body">
						<%=dpk.d3%>元/月
					</div>
				</div>
				</br>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">年度預計平均每月投資回報率</h3>
					</div>
					<div class="panel-body">
						<%=yrRoi%>‰
					</div>
				</div>
				</br>
				<div id="text6">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">年度歷史收款記錄之平均貸出餘額</h3>
						</div>
						<div class="panel-body">
							<%=yrHistoryPriNR%>元/月
						</div>
					</div>
					</br>
				</div>
				<div id="text7">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">年度歷史收款記錄之利息收入</h3>
						</div>
						<div class="panel-body">
							<%=yrHistoryRev%>元
						</div>
					</div>
					</br>
				</div>
				<div id="text7_2">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">年度歷史收款記錄之平均利息收入</h3>
						</div>
						<div class="panel-body">
							<%=dpk.d4%>元/月
						</div>
					</div>
					</br>
				</div>
				<div id="text8">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">年度歷史收款記錄之回收本金</h3>
						</div>
						<div class="panel-body">
							<%=yrHistoryPri%>元
						</div>
					</div>
					</br>
				</div>
				<div id="text8_2">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">年度歷史收款記錄之平均回收本金</h3>
						</div>
						<div class="panel-body">
							<%=dpk.d5%>元/月
						</div>
					</div>
					</br>
				</div>
				<div id="text9">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">年度歷史收款記錄之收到本利和</h3>
						</div>
						<div class="panel-body">
							<%=yrHistoryRevPri%>元
						</div>
					</div>
					</br>
				</div>
				<div id="text9_2">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">年度歷史收款記錄之平均收到本利和</h3>
						</div>
						<div class="panel-body">
							<%=dpk.d6%>元/月
						</div>
					</div>
					</br>
				</div>
				<div id="text10">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">年度歷史收款記錄之平均每月投資回報率</h3>
						</div>
						<div class="panel-body">
							<%=yrHistoryRoi%>‰
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-8">
				<div class="row">
					<div class="col-md-6">
						<center class="myTbody">
							<div class="resp">
								<canvas id="myChart1" width="300" height="300"></canvas>
							</div>
							<br>
							各月預計貸出餘額曲線圖
							<br>
							<br>
							<div class="resp">
								<canvas id="myChart2" width="300" height="300"></canvas>
							</div>
							<br>
							各月預計利息收入曲線圖
							<br>
							<br>
							<div class="resp">	
								<canvas id="myChart3" width="300" height="300"></canvas>
							</div>
							<br>
							各月預計回收本金曲線圖
							<br>
							<br>
							<div class="resp">	
								<canvas id="myChart4" width="300" height="300"></canvas>
							</div>
							<br>
							各月預計可收本利和曲線圖
							<br>
							<br>
							<div class="resp">	
								<canvas id="myChart5" width="300" height="300"></canvas>
							</div>
							<br>
							各月預計投資回報率曲線圖
							<div id="line6Pic">
								<br>
								<br>
								<div class="resp">
									<canvas id="myChart6" width="300" height="300"></canvas>
								</div>
								<br>
								各月歷史收款記錄之貸出餘額曲線圖
							</div>
							<div id="line7Pic">	
								<br>
								<br>
								<div class="resp">
									<canvas id="myChart7" width="300" height="300"></canvas>
								</div>
								<br>
								各月歷史收款記錄之利息收入曲線圖
							</div>
							<div id="line8Pic">	
								<br>
								<br>
								<div class="resp">	
									<canvas id="myChart8" width="300" height="300"></canvas>
								</div>
								<br>
								各月歷史收款記錄之回收本金曲線圖
							</div>
							<div id="line9Pic">	
								<br>
								<br>
								<div class="resp">	
									<canvas id="myChart9" width="300" height="300"></canvas>
								</div>
								<br>
								各月歷史收款記錄之收到本利和曲線圖
							</div>
							<div id="line10Pic">	
								<br>
								<br>
								<div class="resp">	
									<canvas id="myChart10" width="300" height="300"></canvas>
								</div>
								<br>
								各月歷史收款記錄之投資回報率曲線圖
							</div>
						</center>
					</div>
					<div class="col-md-6">
						<center>
							<br>
							<br>
							<br>
							<br>
							<br>
							<br>
							<br>
							<div class="resp">	
								<canvas id="myChart11" width="300" height="300"></canvas>
							</div>
							<br>
							<br>
							借入者信用等級圓餅比例圖
							<br>
							<br>
							<br>
							<div class="resp">
								<table class="table myResTable">
									<thead class="myThead">
										<tr>
											<th style="text-align:center">
											5級以下
											</th>
											<th style="text-align:center">
											5~10級
											</th>
											<th style="text-align:center">
											10~15級
											</th>
											<th style="text-align:center">
											15~20級
											</th>
											<th style="text-align:center">
											20級以上
											</th>
										</tr>
									</thead>
									<tbody class="myTbody">
										<tr>
											<td align="center">
												<span><%=dpk.d7%></span><span>筆</span>
											</td>
											<td align="center">
												<span><%=dpk.d8%></span><span>筆</span>
											</td>
											<td align="center">
												<span><%=dpk.d9%></span><span>筆</span>
											</td>
											<td align="center">
												<span><%=dpk.d10%></span><span>筆</span>
											</td>
											<td align="center">
												<span><%=dpk.d11%></span><span>筆</span>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
							<br>
							<br>
							<br>
							<div class="resp">	
								<canvas id="myChart12" width="300" height="300"></canvas>
							</div>
							<br>
							<br>
							借出記錄狀態圓餅比例圖
							<br>
							<br>
							<br>
							<div class="resp">
								<table class="table myResTable">
									<thead class="myThead">
										<tr>
											<th style="text-align:center">
											已還清
											</th>
											<th style="text-align:center">
											未保險
											</th>
											<th style="text-align:center">
											已保險
											</th>
										</tr>
									</thead>
									<tbody class="myTbody">
										<tr>
											<td align="center">
												<span><%=dpk.d12%></span><span>筆</span>
											</td>
											<td align="center">
												<span><%=dpk.d13%></span><span>筆</span>
											</td>
											<td align="center">
												<span><%=dpk.d14%></span><span>筆</span>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</center>
					</div>
				</div>	
			</div>
			<input type="hidden" name="line" id="lineIpt" value='<%=JSON.stringify(data01);%>'>
			<input type="hidden" name="line2" id="lineIpt2" value='<%=JSON.stringify(data02);%>'>
			<input type="hidden" name="line3" id="lineIpt3" value='<%=JSON.stringify(data03);%>'>
			<input type="hidden" name="line4" id="lineIpt4" value='<%=JSON.stringify(data04);%>'>
			<input type="hidden" name="line5" id="lineIpt5" value='<%=JSON.stringify(data05);%>'>
			<input type="hidden" name="line6" id="lineIpt6" value='<%=JSON.stringify(data06);%>'>
			<input type="hidden" name="line7" id="lineIpt7" value='<%=JSON.stringify(data07);%>'>
			<input type="hidden" name="line8" id="lineIpt8" value='<%=JSON.stringify(data08);%>'>
			<input type="hidden" name="line9" id="lineIpt9" value='<%=JSON.stringify(data09);%>'>
			<input type="hidden" name="line10" id="lineIpt10" value='<%=JSON.stringify(data010);%>'>
			<input type="hidden" name="pie" id="pieIpt" value='<%=JSON.stringify(data011);%>'>
			<input type="hidden" name="pie2" id="pieIpt2" value='<%=JSON.stringify(data012);%>'>
		</div>
	<%}%>
</div>
<%if(totalResultNum>0){%>
<script>
	$( document ).ready( function() {
		var ctx = $("#myChart1").get(0).getContext("2d");
		var ctx2 = $("#myChart2").get(0).getContext("2d");
		var ctx3 = $("#myChart3").get(0).getContext("2d");
		var ctx4 = $("#myChart4").get(0).getContext("2d");
		var ctx5 = $("#myChart5").get(0).getContext("2d");
		var ctx6 = $("#myChart6").get(0).getContext("2d");
		var ctx7 = $("#myChart7").get(0).getContext("2d");
		var ctx8 = $("#myChart8").get(0).getContext("2d");
		var ctx9 = $("#myChart9").get(0).getContext("2d");
		var ctx10 = $("#myChart10").get(0).getContext("2d");
		var ctx11 = $("#myChart11").get(0).getContext("2d");
		var ctx12 = $("#myChart12").get(0).getContext("2d");
		var data1JSON=JSON.parse($("#lineIpt").val());
		var data2JSON=JSON.parse($("#lineIpt2").val());
		var data3JSON=JSON.parse($("#lineIpt3").val());
		var data4JSON=JSON.parse($("#lineIpt4").val());
		var data5JSON=JSON.parse($("#lineIpt5").val());
		var data6JSON=JSON.parse($("#lineIpt6").val());
		var data7JSON=JSON.parse($("#lineIpt7").val());
		var data8JSON=JSON.parse($("#lineIpt8").val());
		var data9JSON=JSON.parse($("#lineIpt9").val());
		var data10JSON=JSON.parse($("#lineIpt10").val());
		var data11JSON=JSON.parse($("#pieIpt").val());
		var data12JSON=JSON.parse($("#pieIpt2").val());
		
		if(data1JSON.labels){
			if(data1JSON.labels.length>0){
				var myLineChart1 = new Chart(ctx).Line(data1JSON ,{tooltipTemplate: "<%%if (label){%><%%=label%>: <%%}%><%%= value.toFixed(2) %>元",multiTooltipTemplate: "<%%= value.toFixed(2) %>元"});
			}
		}
		if(data2JSON.labels){
			if(data2JSON.labels.length>0){
				var myLineChart2 = new Chart(ctx2).Line(data2JSON ,{tooltipTemplate: "<%%if (label){%><%%=label%>: <%%}%><%%= value.toFixed(2) %>元",multiTooltipTemplate: "<%%= value.toFixed(2) %>元"});
			}
		}
		if(data3JSON.labels){
			if(data3JSON.labels.length>0){
				var myLineChart3 = new Chart(ctx3).Line(data3JSON ,{tooltipTemplate: "<%%if (label){%><%%=label%>: <%%}%><%%= value.toFixed(2) %>元",multiTooltipTemplate: "<%%= value.toFixed(2) %>元"});
			}
		}
		
		if(data4JSON.labels){
			if(data4JSON.labels.length>0){
				var myLineChart4 = new Chart(ctx4).Line(data4JSON ,{tooltipTemplate: "<%%if (label){%><%%=label%>: <%%}%><%%= value.toFixed(2) %>元",multiTooltipTemplate: "<%%= value.toFixed(2) %>元"});
			}
		}
		if(data5JSON.labels){
			if(data5JSON.labels.length>0){
				var myLineChart5 = new Chart(ctx5).Line(data5JSON ,{tooltipTemplate: "<%%if (label){%><%%=label%>: <%%}%><%%= value.toFixed(4) %>‰",multiTooltipTemplate: "<%%= value.toFixed(4) %>‰"});
			}
		}
		
		if(data6JSON.labels){
			if(data6JSON.labels.length>0){
				var myLineChart6 = new Chart(ctx6).Line(data6JSON ,{tooltipTemplate: "<%%if (label){%><%%=label%>: <%%}%><%%= value.toFixed(2) %>元",multiTooltipTemplate: "<%%= value.toFixed(2) %>元"});
			}else{
				$("#line6Pic").html('');
				$("#text6").html('');
			}
		}else{
			$("#line6Pic").html('');
			$("#text6").html('');
		}
		
		if(data7JSON.labels){
			if(data7JSON.labels.length>0){
				var myLineChart7 = new Chart(ctx7).Line(data7JSON ,{tooltipTemplate: "<%%if (label){%><%%=label%>: <%%}%><%%= value.toFixed(2) %>元",multiTooltipTemplate: "<%%= value.toFixed(2) %>元"});
			}else{
				$("#line7Pic").html('');
				$("#text7").html('');
				$("#text7_2").html('');
			}
		}else{
			$("#line7Pic").html('');
			$("#text7").html('');
			$("#text7_2").html('');
		}
		
		if(data8JSON.labels){
			if(data8JSON.labels.length>0){
				var myLineChart8 = new Chart(ctx8).Line(data8JSON ,{tooltipTemplate: "<%%if (label){%><%%=label%>: <%%}%><%%= value.toFixed(2) %>元",multiTooltipTemplate: "<%%= value.toFixed(2) %>元"});
			}else{
				$("#line8Pic").html('');
				$("#text8").html('');
				$("#text8_2").html('');
			}
		}else{
			$("#line8Pic").html('');
			$("#text8").html('');
			$("#text8_2").html('');
		}
		
		if(data9JSON.labels){
			if(data9JSON.labels.length>0){
				var myLineChart9 = new Chart(ctx9).Line(data9JSON ,{tooltipTemplate: "<%%if (label){%><%%=label%>: <%%}%><%%= value.toFixed(2) %>元",multiTooltipTemplate: "<%%= value.toFixed(2) %>元"});
			}else{
				$("#line9Pic").html('');
				$("#text9").html('');
				$("#text9_2").html('');
			}
		}else{
			$("#line9Pic").html('');
			$("#text9").html('');
			$("#text9_2").html('');
		}
		
		if(data10JSON.labels){
			if(data10JSON.labels.length>0){
				var myLineChart10 = new Chart(ctx10).Line(data10JSON ,{tooltipTemplate: "<%%if (label){%><%%=label%>: <%%}%><%%= value.toFixed(4) %>‰",multiTooltipTemplate: "<%%= value.toFixed(4) %>‰"});
			}else{
				$("#line10Pic").html('');
				$("#text10").html('');
			}
		}else{
			$("#line10Pic").html('');
			$("#text10").html('');
		}
		
		if(data11JSON.array){
			var myPieChart = new Chart(ctx11).Pie(data11JSON.array ,{tooltipTemplate: "<%%if (label){%><%%=label%>: <%%}%><%%= value.toFixed(2) %>%",multiTooltipTemplate: "<%%= value.toFixed(2) %>%"});
		}
		
		if(data12JSON.array){
			var myPieChart2 = new Chart(ctx12).Pie(data12JSON.array ,{tooltipTemplate: "<%%if (label){%><%%=label%>: <%%}%><%%= value.toFixed(2) %>%",multiTooltipTemplate: "<%%= value.toFixed(2) %>%"});
		}
	});
</script>
<%}%>
<%- include('layout_footer',{imgSettingCode:"var ifLoadedCount=0;",imgDrawingCode:"",nav_cur:'income'}); -%>