<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Lending Zone</title>
	
	<!-- jquery js-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<!-- bootstrap js-->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<!-- plugin js-->
	<script src="/javascripts/jquery.cookie.js"></script>
	<script src="/javascripts/Chart.js"></script>
	<script type="text/javascript" src="/javascripts/tooltipsy.min.js"></script>
	<script>
		$.ajaxSetup({ cache: false });
	</script>
	<!-- bootstrap original css-->
	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">-->
	<!-- modified bootstrap css with http://bootstrap-live-customizer.com/-->
	<link rel="stylesheet" href="/stylesheets/theme.css">
	<!-- local css-->
	<link rel="stylesheet" href="/stylesheets/ourStyle.css">
</head>
<body>
	<header role="banner">
		<nav class="navbar navbar-default navbar-static-top">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" onclick="setTimeout(doneResizing, 500);">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/">Lending Zone</a>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-left">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">借入者 <span class="caret"></span></a>
							<ul class="dropdown-menu" role="menu">
							</ul>
						</li>
						<li class="dropdown<% if((nav_cur=='lend')||(nav_cur=='lenderSendMessages')||(nav_cur=='lenderReceiveMessages')||(nav_cur=='lenderTransactionRecord')||(nav_cur=='lenderReturnRecord')||(nav_cur=='income')||(nav_cur=='search')||(nav_cur=='story')){ %> active<% } %>">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">借出者 <span class="caret"></span></a>
							<ul class="dropdown-menu" role="menu">
								<li <% if(nav_cur=='lend'){ %> class="active"<% } %>><a href="/lender/lend">自動借出設定</a></li>
								<li <% if(nav_cur=='income'){ %> class="active"<% } %>><a href="/lender/income">收入分析</a></li>
								<li <% if(nav_cur=='lenderTransactionRecord'){ %> class="active"<% } %>><a href="/lender/lenderTransactionRecord?oneid=&filter=<%=encodeURIComponent("未保險")%>&sorter=<%=encodeURIComponent("成交日期最晚")%>&page=1">借出紀錄</a></li>
								<li <% if(nav_cur=='lenderReturnRecord'){ %> class="active"<% } %>><a href="/lender/lenderReturnRecord?oneid=&id=&sorter=<%=encodeURIComponent("最新")%>&page=1">收款記錄</a></li>
								<li class="divider"></li>
								<li <% if(nav_cur=='lenderReceiveMessages'){ %> class="active"<% } %>><a href="/lender/lenderReceiveMessages?msgKeyword=&filter=<%=encodeURIComponent("未確認")%>&sorter=<%=encodeURIComponent("最新")%>&page=1">收到之訊息<% if(userName){ %> <span class="badge"><%=newlrmNum%></span><% }%></a></li>
								<li <% if(nav_cur=='lenderSendMessages'){ %> class="active"<% } %>><a href="/lender/lenderSendMessages?msgKeyword=&filter=<%=encodeURIComponent("未被確認")%>&sorter=<%=encodeURIComponent("最新")%>&page=1">送出之訊息<% if(userName){ %> <span class="badge"><%=newlsmNum%></span><% } %></a></li>
							</ul>
						</li>
					</ul>
					<div class="navbar-form navbar-left" role="search">
						<div class="input-group">
							<input type="text" style="height:32px;" class="form-control" id="keywordIpt" placeholder="搜尋借入者的名稱或故事標題、內容" value="<%=keywordDefault%>" onkeypress="if(event.keyCode==13){ window.open('/lender/search?keyword='+encodeURIComponent($('#keywordIpt').val())+'&action='+encodeURIComponent($('#searchAction0').text())+'&category='+encodeURIComponent($('#category0').text())+'&filter='+encodeURIComponent('未選擇濾鏡')+'&lbound=&ubound=&page=1','_self');}">
							<span class="input-group-btn">
								<div class="btn-group">
									<button type="button" style="height:32px;" class="btn btn-default dropdown-toggle" data-toggle="dropdown" id="categorySelected">
										<%=categoryDefault%> <span class="caret"></span>
									</button>
									<ul class="dropdown-menu">
										<li style="display:none"><a href="#" id="category0"><%=categoryDefault%></a></li>
										<li><a href="#" onclick="$('#categorySelected').html('');$('#categorySelected').html($('#category1').text());$('#category0').html($('#categorySelected').text());$('#categorySelected').append(' <span class=\'caret\'><\/span>'); return false;" id="category1">不分類</a></li>
										<li><a href="#" onclick="$('#categorySelected').html('');$('#categorySelected').html($('#category2').text());$('#category0').html($('#categorySelected').text());$('#categorySelected').append(' <span class=\'caret\'><\/span>'); return false;" id="category2">一般</a></li>
										<li><a href="#" onclick="$('#categorySelected').html('');$('#categorySelected').html($('#category3').text());$('#category0').html($('#categorySelected').text());$('#categorySelected').append(' <span class=\'caret\'><\/span>'); return false;" id="category3">教育</a></li>
										<li><a href="#" onclick="$('#categorySelected').html('');$('#categorySelected').html($('#category4').text());$('#category0').html($('#categorySelected').text());$('#categorySelected').append(' <span class=\'caret\'><\/span>'); return false;" id="category4">家庭</a></li>
										<li><a href="#" onclick="$('#categorySelected').html('');$('#categorySelected').html($('#category5').text());$('#category0').html($('#categorySelected').text());$('#categorySelected').append(' <span class=\'caret\'><\/span>'); return false;" id="category5">旅遊</a></li>
									</ul>
								</div>
								<div class="btn-group">
									<button type="button" style="height:32px;" class="btn btn-default" id="searchActionSelected" data-toggle="dropdown" aria-expanded="false"><%=actionDefault%> <span class='caret'></span></button>
									<ul class="dropdown-menu" role="menu">
										<li style="display:none"><a href="#" id="searchAction0"><%=actionDefault%></a></li>
										<li><a href="#" onclick="$('#searchActionSelected').html('');$('#searchActionSelected').html($('#searchAction1').text());$('#searchAction0').html($('#searchActionSelected').text());$('#searchActionSelected').append(' <span class=\'caret\'><\/span>');return false;" id="searchAction1">最新</a></li>
										<li><a href="#" onclick="$('#searchActionSelected').html('');$('#searchActionSelected').html($('#searchAction2').text());$('#searchAction0').html($('#searchActionSelected').text());$('#searchActionSelected').append(' <span class=\'caret\'><\/span>');return false;" id="searchAction2">最緊急</a></li>
										<li><a href="#" onclick="$('#searchActionSelected').html('');$('#searchActionSelected').html($('#searchAction3').text());$('#searchAction0').html($('#searchActionSelected').text());$('#searchActionSelected').append(' <span class=\'caret\'><\/span>');return false;" id="searchAction3">最熱門</a></li>
										<li><a href="#" onclick="$('#searchActionSelected').html('');$('#searchActionSelected').html($('#searchAction4').text());$('#searchAction0').html($('#searchActionSelected').text());$('#searchActionSelected').append(' <span class=\'caret\'><\/span>');return false;" id="searchAction4">金額最高</a></li>
										<li><a href="#" onclick="$('#searchActionSelected').html('');$('#searchActionSelected').html($('#searchAction5').text());$('#searchAction0').html($('#searchActionSelected').text());$('#searchActionSelected').append(' <span class=\'caret\'><\/span>');return false;" id="searchAction5">利率最高</a></li>
										<li><a href="#" onclick="$('#searchActionSelected').html('');$('#searchActionSelected').html($('#searchAction6').text());$('#searchAction0').html($('#searchActionSelected').text());$('#searchActionSelected').append(' <span class=\'caret\'><\/span>');return false;" id="searchAction6">期數最多</a></li>
										<li><a href="#" onclick="$('#searchActionSelected').html('');$('#searchActionSelected').html($('#searchAction7').text());$('#searchAction0').html($('#searchActionSelected').text());$('#searchActionSelected').append(' <span class=\'caret\'><\/span>');return false;" id="searchAction7">信用等級最高</a></li>
									</ul>
								</div>
								<button type="button" style="height:32px;" class="btn btn-default" onclick="window.open('/lender/search?keyword='+encodeURIComponent($('#keywordIpt').val())+'&action='+encodeURIComponent($('#searchAction0').text())+'&category='+encodeURIComponent($('#category0').text())+'&filter='+encodeURIComponent('未選擇濾鏡')+'&lbound=&ubound=&page=1','_self');"><span class="glyphicon glyphicon-search"></span></button>	
							</span>
						</div> 
					</div>
					<ul class="nav navbar-nav navbar-right">
						<!--<li><a href="#" onclick="if(ifLoadedCount<=0){if(!ifDrawed){doneResizing();}$('#introCanvas').attr('style',$('#introCanvas').attr('style').replace(/display:none;/g, ''));}else{alert('請等候圖片載入完畢');}return false;">引導</a></li>%>-->
						<% if(nav_cur!='signup'){ %>
							<% if(!userName){ %>
								<li><a href="#" data-toggle="modal" data-target="#myModal">登入</a></li>
								<li><a href="/signupTest">註冊</a></li>
							<% }else{ %>
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><%=userName%> <span class="caret"></span></a>
									<ul class="dropdown-menu" role="menu">
										<li><a href="/logout">登出</a></li>
										<li
											<% if(nav_cur=='profile'){ %>
												class="active"
											<% } %>
										><a href="/profile">個人檔案</a></li>
									</ul>
								</li>
							<% } %>
						<%}else{%>
							<li class="active"><a href="/signupTest">註冊</a></li>
						<% } %>
					</ul>
				</div><!-- /.navbar-collapse -->
			</div><!-- /.container-fluid -->
		</nav>
	</header>
	<main role="main">