	</main>
	<footer class="my-footer">
      <div class="container">
        <p>Copyright © Lending Zone 2015</p>
      </div>
    </footer>
	<% if((userName===null)&&((nav_cur!=='signup'))){ %>
		<!--modal-->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-sm">
				<div class="modal-content">
					<div class="modal-header" style="text-align:center;">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="myModalLabel"><img src="/images/login.png " height="30px" width="30px"/>&nbsp;登入</h4>
					</div>
					<form action="/login" method="post" id="loginForm" onsubmit="return disableButtonFooter();">
						<div class="modal-body" style="text-align:center;">
							
							<div style="margin:0px auto;" class="input-group">
								<div style="text-align:left;">
									<h4>帳號：<span id="s1" class="red"><%if(lgfJSON){%><%if(lgfJSON.Target===1){%>&nbsp;&nbsp;&nbsp;&nbsp;<%=lgfJSON.Message%><%}%><%}%></span></h4>
								</div>
								<input type="text" class="form-control" name="Username" id="usernameID" placeholder="帳號" required="required"<%if(lgfJSON){%> value="<%=lgfJSON.FormContent.F1%>"<%}%>>
							</div>
							<div style="margin:0px auto;" class="input-group">
								<div style="text-align:left;">
									<h4>密碼：<span id="s2" class="red"><%if(lgfJSON){%><%if(lgfJSON.Target===2){%>&nbsp;&nbsp;&nbsp;&nbsp;<%=lgfJSON.Message%><%}%><%}%></span></h4>
								</div>
								<input type="password" class="form-control" name="Password" id="passwordID" placeholder="密碼" required="required"<%if(lgfJSON){%> value="<%=lgfJSON.FormContent.F2%>"<%}%>>
								<div style="text-align:left;margin-top:50px;">
									<h4>驗證碼：<span id="s3" class="red"><%if(lgfJSON){%><%if(lgfJSON.Target===3){%>&nbsp;&nbsp;&nbsp;&nbsp;<%=lgfJSON.Message%><%}%><%}%></span></h4>
								</div>
							</div>
							<input type="hidden" name="CaptchaIdfr" id="captchaIdfr" value="0">
							<table width="100%;">
								<tr>
									<td align="right" style="width:50%;">
										<input style="width:100px;" type="text" class="form-control" name="CaptchaText" id="captchaText" placeholder="驗證碼" required="required">
									</td>
									<td align="left" style="width:50%;">
										&nbsp;&nbsp;<img id="captchaPic" width="100px" height="35px;" src="" />
									</td>
								</tr>
								<tr>
									<td align="right">
									</td>
									<td align="left">
										&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" onclick="ajaxCaptcha();return false;">看不清?</a>
									</td>
								</tr>
							</table>
						</div>
						<div class="modal-footer" style="text-align:center;">
							<div class="checkbox">
								<label>
									<input type="checkbox" name="remember" id="rememberID"> 記住我
									&nbsp;&nbsp;
									<a href="/forgetActOrPW">忘記帳號或密碼</a>
								</label>
							</div>
							<div class="btn-group" role="group">
								<button id="lgBtn" type="submit" class="btn btn-info" onclick="save();">登入</button>
							</div>
							&nbsp;
							<div class="btn-group" role="group">
								<button type="button" class="btn btn-danger" data-dismiss="modal">關閉</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	<%}%>
<% if((nav_cur==='lenderReceiveMessages')||(nav_cur==='lenderSendMessages')||(nav_cur==='lenderTransactionRecord')||(nav_cur==='lenderReturnRecord')||(nav_cur==='lendsList')||(nav_cur==='search')||(nav_cur==='lend')||(nav_cur==='income')){ %>
	<div class="nav_up" id="nav_up">&uarr;</div>
	<div class="nav_down" id="nav_down">&darr;</div>
<% } %>
<canvas width="640" height="360" onclick="canvasOnClick();" style="position:absolute;left:0px;top:0px;z-index:2000;display:none;" id="introCanvas"></canvas>
</body>
<script>
	var id=null;
	var ifDrawed=false;
	<%-imgSettingCode%>
	
	$(document).ready(function () {
		<% if((userName===null)&&(nav_cur!=='signup')){ %>
			if ($.cookie("rmbUser") === "true") {
				$("#rememberID").prop("checked", true);
				$("#usernameID").val($.cookie("username"));
				$("#passwordID").val($.cookie("password"));
			}
			ajaxCaptcha();
			<% if(lgfJSON){ %>
				$('#myModal').on('shown.bs.modal.myevent', function () {
					setTimeout(function() {
						<%if(lgfJSON.Target===1){%>
							$('#usernameID').focus();
						<%}else if(lgfJSON.Target===2){%>
							$('#passwordID').focus();
						<%}else if(lgfJSON.Target===3){%>
							$('#captchaText').focus();
						<%}%>
						$('#myModal').off('shown.bs.modal.myevent');
					}, 100);
				});
				$('#myModal').modal('show');
			<% } %>
		<% } %>
		
		$('.hastip').tooltipsy({
			className: 'bubbletooltip_tip',
			offset: [0, -15],
			show: function (e, $el) {
				$el.fadeIn(100);
			},
			hide: function (e, $el) {
				$el.fadeOut(500);
			}
		});
		$('.hastip').draggable();
		
		doneResizing();
		$(window).resize(function(){
			if(id!==null){
				clearTimeout(id);
				id=null;
			}
			id = setTimeout(doneResizing, 500);
		}); 
		
		<% if((nav_cur==='lenderReceiveMessages')||(nav_cur==='lenderSendMessages')||(nav_cur==='lenderTransactionRecord')||(nav_cur==='lenderReturnRecord')||(nav_cur==='lendsList')||(nav_cur==='search')||(nav_cur==='lend')||(nav_cur==='income')){ %>
			if($(document).height() - $(window).height()>300){
				$("#nav_down").show();
			}
			
			$("#nav_up").click(function(){
				$('html, body').animate({
					scrollTop:0
				},1000);
			});
			$(window).scroll(function() {
				if ( $(window).scrollTop() > 300){
					$('#nav_up').fadeIn("fast");
				} else {
					$('#nav_up').stop().fadeOut("fast");
				}
			});
			
			$("#nav_down").click(function(){
				$('html, body').animate({
					scrollTop:$(document).height() - $(window).height()
				},1000);
			});
			$(window).scroll(function() {
				var position=$(window).scrollTop();
				var height=$(document).height() - $(window).height();
				var border=height-300;
				border=height-300;
				if(border<0){
					border=0;
				}
				
				if ( position > border){
					$('#nav_down').stop().fadeOut("fast");
				} else {
					$('#nav_down').fadeIn("fast");
				}
			});
		<%}%>
		
		$(".pagination").rPage();
	});

	function canvasOnClick(){
		$('#introCanvas').hide();
	}
	
	function doneResizing(){
		if(ifLoadedCount===0){
			var x=$('body').width();
			var y1=$('body').height();
			var y2=$(window).height();
			var y;
			if(y1>=y2){
				y=y1;
			}else{
				y=y2;
			}
			$('#introCanvas').attr('width',x);
			$('#introCanvas').attr('height',y);
			var cvs = document.getElementById("introCanvas");
			var ctx = cvs.getContext('2d'); 
			ctx.clearRect(0, 0, cvs.width, cvs.height);
			ctx.beginPath();
			ctx.fillStyle="rgba(0,0,0,0.4)";
			ctx.fillRect(0,0,cvs.width,cvs.height);
			
			<%-imgDrawingCode%>
			
			ifDrawed=true;
		}
	}
	
	<% if((userName===null)&&(nav_cur!=='signup')){ %>
		var captchaFlag=false;
		function ajaxCaptcha(){
			if(captchaFlag){
				$('#s3').html('&nbsp;&nbsp;&nbsp;&nbsp;處理中......');
			}else{
				captchaFlag=true;
				submitFlag=true;
				$('#lgBtn').addClass('disabled');
				$.ajax({ 
					url: '/captcha?captchaIdfr='+$('#captchaIdfr').val(),
					type: 'GET',
					dataType: 'json',
					success: function(Jdata) {
						if(Jdata.success){
							$('#captchaIdfr').val(Jdata.CaptchaIdfr);
							$('#captchaPic').attr('src',Jdata.CaptchaPic);
						}
						captchaFlag=false;
						submitFlag=false;
						$('#lgBtn').removeClass('disabled');
					},
					error: function() {
						captchaFlag=false;
						submitFlag=false;
						$('#lgBtn').removeClass('disabled');
					}
				});
			}
		}
		
		var submitFlag=false;
		function disableButtonFooter(){
			if(!submitFlag){
				captchaFlag=true;
				submitFlag=true;
				$('#lgBtn').addClass('disabled');
				return true;
			}else{
				return false;
			}
		}
		
		function save() {
			if($("#rememberID").prop("checked")) {
				var str_username = $("#usernameID").val();
				var str_password = $("#passwordID").val();
				$.cookie("rmbUser", "true", { expires: 7 }); 
				$.cookie("username", str_username, { expires: 7 });
				$.cookie("password", str_password, { expires: 7 });
			}else{
				$.cookie("rmbUser", "false", { expire: -1 });
				$.cookie("username", "", { expires: -1 });
				$.cookie("password", "", { expires: -1 });
			}
		};
	<%}%>
</script>
</html>