<%- include('layout_header',{nav_cur:'lenderSendMessages',actionDefault:'最新',keywordDefault:'',categoryDefault:'不分類'}); -%>
<div class="container">
	<div class="row">
		<div class="col-md-9">
			<div style="font-size:30pt;color:#337ab7;">送出之欲借出訊息 - <%=filterDefault%></div>
				<div style="font-size:20pt;color:#0000D1;">&nbsp;<%=totalResultNum%> result</div>
				<br>
				<div class="input-group">
					<input type="text" style="height:40px;" class="form-control" id="msgKeywordIpt" placeholder="搜尋訊息內容" value="<%=msgKeywordDefault%>" onkeypress="if(event.keyCode==13){ window.open('/lenderSendMessages?msgKeyword='+encodeURIComponent($('#msgKeywordIpt').val())+'&filter='+encodeURIComponent($('#filter0').text())+'&sorter='+encodeURIComponent($('#sorter0').text())+'&page=1','_self');}">
					<span class="input-group-btn">
						<div class="btn-group">
							<button type="button" style="height:40px;" class="btn btn-default dropdown-toggle" data-toggle="dropdown" id="filterSelected">
								<%=filterDefault%> <span class="caret"></span>
							</button>
							<ul class="dropdown-menu">
								<li style="display:none"><a href="#" id="filter0"><%=filterDefault%></a></li>
								<li><a href="#" onclick="$('#filterSelected').html('');$('#filterSelected').html($('#filter1').text());$('#filter0').html($('#filterSelected').text());$('#filterSelected').append(' <span class=\'caret\'><\/span>'); return false;" id="filter1">未被確認</a></li>
								<li><a href="#" onclick="$('#filterSelected').html('');$('#filterSelected').html($('#filter2').text());$('#filter0').html($('#filterSelected').text());$('#filterSelected').append(' <span class=\'caret\'><\/span>'); return false;" id="filter2">已被同意</a></li>
								<li><a href="#" onclick="$('#filterSelected').html('');$('#filterSelected').html($('#filter3').text());$('#filter0').html($('#filterSelected').text());$('#filterSelected').append(' <span class=\'caret\'><\/span>'); return false;" id="filter3">已被婉拒</a></li>
							</ul>
						</div>
						<div class="btn-group">
							<button type="button" style="height:40px;" class="btn btn-default" id="sorterSelected" data-toggle="dropdown" aria-expanded="false"><%=sorterDefault%> <span class='caret'></span></button>
							<ul class="dropdown-menu" role="menu">
								<li style="display:none"><a href="#" id="sorter0"><%=sorterDefault%></a></li>
								<li><a href="#" onclick="$('#sorterSelected').html('');$('#sorterSelected').html($('#sorter1').text());$('#sorter0').html($('#sorterSelected').text());$('#sorterSelected').append(' <span class=\'caret\'><\/span>');return false;" id="sorter1">最新</a></li>
								<li><a href="#" onclick="$('#sorterSelected').html('');$('#sorterSelected').html($('#sorter2').text());$('#sorter0').html($('#sorterSelected').text());$('#sorterSelected').append(' <span class=\'caret\'><\/span>');return false;" id="sorter2">利率最高</a></li>
								<li><a href="#" onclick="$('#sorterSelected').html('');$('#sorterSelected').html($('#sorter3').text());$('#sorter0').html($('#sorterSelected').text());$('#sorterSelected').append(' <span class=\'caret\'><\/span>');return false;" id="sorter3">金額最高</a></li>
								<li><a href="#" onclick="$('#sorterSelected').html('');$('#sorterSelected').html($('#sorter4').text());$('#sorter0').html($('#sorterSelected').text());$('#sorterSelected').append(' <span class=\'caret\'><\/span>');return false;" id="sorter4">期數最多</a></li>
								<li><a href="#" onclick="$('#sorterSelected').html('');$('#sorterSelected').html($('#sorter5').text());$('#sorter0').html($('#sorterSelected').text());$('#sorterSelected').append(' <span class=\'caret\'><\/span>');return false;" id="sorter5">信用等級最高</a></li>
								<li><a href="#" onclick="$('#sorterSelected').html('');$('#sorterSelected').html($('#sorter6').text());$('#sorter0').html($('#sorterSelected').text());$('#sorterSelected').append(' <span class=\'caret\'><\/span>');return false;" id="sorter6">預計總利息最高</a></li>
								<li><a href="#" onclick="$('#sorterSelected').html('');$('#sorterSelected').html($('#sorter7').text());$('#sorter0').html($('#sorterSelected').text());$('#sorterSelected').append(' <span class=\'caret\'><\/span>');return false;" id="sorter7">預計平均利息最高</a></li>
								<li><a href="#" onclick="$('#sorterSelected').html('');$('#sorterSelected').html($('#sorter8').text());$('#sorter0').html($('#sorterSelected').text());$('#sorterSelected').append(' <span class=\'caret\'><\/span>');return false;" id="sorter8">預計平均本利和最高</a></li>
								<li><a href="#" onclick="$('#sorterSelected').html('');$('#sorterSelected').html($('#sorter9').text());$('#sorter0').html($('#sorterSelected').text());$('#sorterSelected').append(' <span class=\'caret\'><\/span>');return false;" id="sorter9">預計利本比最高</a></li>
							</ul>
						</div>
						<button type="button" style="height:40px;" class="btn btn-default" onclick="window.open('/lenderSendMessages?msgKeyword='+encodeURIComponent($('#msgKeywordIpt').val())+'&filter='+encodeURIComponent($('#filter0').text())+'&sorter='+encodeURIComponent($('#sorter0').text())+'&page=1','_self');">Go!</button>
					</span>
				</div> 
				<br>
				<br>
				<br>
				<% if(totalResultNum!=0){ %>
					<% for(var i=0; i<jsonMessage.length; i++) { %>
					<ul class="nav nav-tabs">
						<li class="active"><a href="#tab1<%=i%>" data-toggle="tab">訊息</a></li>
						<li><a href="#tab2<%=i%>" data-toggle="tab">資訊</a></li>
						<% if(filterDefault=='已被同意'){%>
						<li><a href="#tab3<%=i%>" data-toggle="tab">交易紀錄</a></li>
						<% }%>
					</ul>
					<div class="tab-content my-tab-content">
						<div class="tab-pane active" id="tab1<%=i%>">
							<div style="font-size:25px;display:inline;">送往 </div>
							<div style="font-size:25px;color:#0000D1;display:inline;"><%=jsonMessage[i].SendTo.Username%></div>
							<br>
							在 <a style="font-size:15px;" href="/story?id=<%=jsonMessage[i].FromBorrowRequest._id%>"><%=jsonMessage[i].FromBorrowRequest.StoryTitle%></a>
							<br>
							<br>
							<div>
								<%=jsonMessage[i].Message%>
							</div>
						</div>
						<div class="tab-pane" id="tab2<%=i%>">
							<div class="col-md-6">
								<table width="100%" height="270px">
									<tr>
										<td>
											<div style="color:#337ab7;">
												欲借出金額：
											</div>
										</td>
									<tr>
									<tr>
										<td>
											<div>
												&nbsp;&nbsp;&nbsp;&nbsp;<%=jsonMessage[i].MoneyToLend%>元
											</div>	
										</td>
									<tr>
									<tr>
										<td>
											<div style="color:#337ab7;">
												欲借出利率：
											</div>
										</td>
									<tr>
									<tr>
										<td>
											<div>
												&nbsp;&nbsp;&nbsp;&nbsp;<%=jsonMessage[i].InterestRate*100%>%
											</div>	
										</td>
									<tr>
									<tr>
										<td>
											<div style="color:#337ab7;">
												欲借出期數：
											</div>
										</td>
									<tr>
									<tr>
										<td>
											<div>
												&nbsp;&nbsp;&nbsp;&nbsp;<%=jsonMessage[i].MonthPeriod%>個月
											</div>	
										</td>
									<tr>
									<tr>
										<td>
											<div style="color:#337ab7;">
												對方信用等級：
											</div>
										</td>
									<tr>
									<tr>
										<td>
											<div>
												&nbsp;&nbsp;&nbsp;&nbsp;<%=jsonMessage[i].Level%>級
											</div>	
										</td>
									<tr>
								</table>	
							</div>
							<div class="col-md-6">
								<table width="100%" height="270px">	
									<tr>
										<td>
											<div style="color:#337ab7;">
												預計總利息：
											</div>
										</td>
									<tr>
									<tr>
										<td>
											<div>
												&nbsp;&nbsp;&nbsp;&nbsp;<%=jsonMessage[i].InterestInFuture.toFixed(0)%>元
											</div>	
										</td>
									<tr>
									<tr>
										<td>
											<div style="color:#337ab7;">
												預計每期平均利息：
											</div>
										</td>
									<tr>
									<tr>
										<td>
											<div>
												&nbsp;&nbsp;&nbsp;&nbsp;<%=jsonMessage[i].InterestInFutureMonth.toFixed(0)%>元
											</div>	
										</td>
									<tr>
									<tr>
										<td>
											<div style="color:#337ab7;">
												預計每期平均本利和：
											</div>
										</td>
									<tr>
									<tr>
										<td>
											<div>
												&nbsp;&nbsp;&nbsp;&nbsp;<%=jsonMessage[i].InterestInFutureMoneyMonth.toFixed(0)%>元
											</div>	
										</td>
									<tr>
									<tr>
										<td>
											<div style="color:#337ab7;">
												預計總利息/最初本金比：
											</div>
										</td>
									<tr>
									<tr>
										<td>
											<div>
												&nbsp;&nbsp;&nbsp;&nbsp;<%=jsonMessage[i].InterestInFutureDivMoney.toFixed(2)%>%
											</div>	
										</td>
									<tr>
								</table>
							</div>
						</div>
						<% if(filterDefault=='已被同意'){%>
							<div class="tab-pane" id="tab3<%=i%>">
								<div class="col-md-6">
									<table width="100%" height="270px">
										<tr>
											<td>
												<div style="color:#337ab7;">
													對方未還本金：
												</div>
											</td>
										<tr>
										<tr>
											<td>
												<div>
													&nbsp;&nbsp;&nbsp;&nbsp;<%=jsonMessage[i].Transaction[0].Principal%>元
												</div>	
											</td>
										<tr>
										<tr>
											<td>
												<div style="color:#337ab7;">
													對方已還本金：
												</div>
											</td>
										<tr>
										<tr>
											<td>
												<div>
													&nbsp;&nbsp;&nbsp;&nbsp;<%=jsonMessage[i].Transaction[0].PrincipalReturnedCumulated%>元
												</div>	
											</td>
										<tr>
										<tr>
											<td>
												<div style="color:#337ab7;">
													利率：
												</div>
											</td>
										<tr>
										<tr>
											<td>
												<div>
													&nbsp;&nbsp;&nbsp;&nbsp;<%=jsonMessage[i].Transaction[0].InterestRate*100%>%
												</div>	
											</td>
										<tr>
										<tr>
											<td>
												<div style="color:#337ab7;">
													已得利息：
												</div>
											</td>
										<tr>
										<tr>
											<td>
												<div>
													&nbsp;&nbsp;&nbsp;&nbsp;<%=jsonMessage[i].Transaction[0].InterestCumulated%>元
												</div>	
											</td>
										<tr>
										<tr>
											<td>
												<div style="color:#337ab7;">
													剩下期數：
												</div>
											</td>
										<tr>
										<tr>
											<td>
												<div>
													&nbsp;&nbsp;&nbsp;&nbsp;<%=jsonMessage[i].Transaction[0].MonthPeriod%>個月
												</div>	
											</td>
										<tr>
										<tr>
											<td>
												<div style="color:#337ab7;">
													已過期數:
												</div>
											</td>
										<tr>
										<tr>
											<td>
												<div>
													&nbsp;&nbsp;&nbsp;&nbsp;<%=jsonMessage[i].Transaction[0].MonthPeriodHasPast%>個月
												</div>	
											</td>
										<tr>
									</table>
								</div>
								<div class="col-md-6">
									<table width="100%" height="275px">
										<tr>
											<td>
												<div style="color:#337ab7;">
													成交日期:
												</div>
											</td>
										<tr>
										<tr>
											<td>
												<div>
													&nbsp;&nbsp;&nbsp;&nbsp;<%=jsonMessage[i].Transaction[0].Created.getFullYear()%>/<%=jsonMessage[i].Transaction[0].Created.getMonth()+1%>/<%=jsonMessage[i].Transaction[0].Created.getDate()%>
												</div>	
											</td>
										<tr>
										<tr>
											<td>
												<div style="color:#337ab7;">
													預計尚可收取利息：
												</div>
											</td>
										<tr>
										<tr>
											<td>
												<div>
													&nbsp;&nbsp;&nbsp;&nbsp;<%=jsonMessage[i].Transaction[0].InterestInFuture.toFixed(0)%>元
												</div>	
											</td>
										<tr>
										<tr>
											<td>
												<div style="color:#337ab7;">
													預計剩餘每期平均利息：
												</div>
											</td>
										<tr>
										<tr>
											<td>
												<div>
													&nbsp;&nbsp;&nbsp;&nbsp;<%=jsonMessage[i].Transaction[0].InterestInFutureMonth.toFixed(0)%>元
												</div>	
											</td>
										<tr>
										<tr>
											<td>
												<div style="color:#337ab7;">
													預計剩餘每期平均本利和：
												</div>
											</td>
										<tr>
										<tr>
											<td>
												<div>
													&nbsp;&nbsp;&nbsp;&nbsp;<%=jsonMessage[i].Transaction[0].InterestInFutureMoneyMonth.toFixed(0)%>元
												</div>	
											</td>
										<tr>
										<tr>
											<td>
												<div style="color:#337ab7;">
													預計尚可收取利息/目前本金比：
												</div>
											</td>
										<tr>
										<tr>
											<td>
												<div>
													&nbsp;&nbsp;&nbsp;&nbsp;<%=jsonMessage[i].Transaction[0].InterestInFutureDivMoney.toFixed(2)%>%
												</div>	
											</td>
										<tr>
									</table>
								</div>
							</div>
						<%}%>
					</div>
					<table width="100%">
					<tr>
						<td align="right">
							<div style="color:#337ab7;">
								Updated：<%=jsonMessage[i].Updated.getFullYear()%>/<%=jsonMessage[i].Updated.getMonth()+1%>/<%=jsonMessage[i].Updated.getDate()%>
							</div>
						</td>
					<tr>
					</table>
				<%}%>
				<br>
				<table align="center">
					<tr>
						<td>
							<nav>
							  <ul class="pagination">
								<li 
									<% if(targetPageNumber==1){%>
										class="disabled"
									<%}%>
								>
								<% if(targetPageNumber!=1){%>
									<a href="/lenderSendMessages?msgKeyword=<%=encodeURIComponent(msgKeywordDefault)%>&filter=<%=encodeURIComponent(filterDefault)%>&sorter=<%=encodeURIComponent(sorterDefault)%>&page=<%=targetPageNumber-1%>">
								<%}else{%>
									<a href="#" onclick="return false;">
								<%}%>
								<span>&laquo;</span></a></li>
								<% if(pageNumber<=10){%>
									<% for(var j=1; j<=pageNumber; j++) { %>
										<li 
											<% if(targetPageNumber==j){%>
												class="active"
											<%}%>
										><a href="/lenderSendMessages?msgKeyword=<%=encodeURIComponent(msgKeywordDefault)%>&filter=<%=encodeURIComponent(filterDefault)%>&sorter=<%=encodeURIComponent(sorterDefault)%>&page=<%=j%>"><%=j%></a></li>
									<%}%>
								<% }else{%>
									<% if(targetPageNumber>=pageNumber-3){%>
										<% for(var j=pageNumber-9; j<=pageNumber; j++) { %>
										<li 
											<% if(targetPageNumber==j){%>
												class="active"
											<%}%>
										><a href="/lenderSendMessages?msgKeyword=<%=encodeURIComponent(msgKeywordDefault)%>&filter=<%=encodeURIComponent(filterDefault)%>&sorter=<%=encodeURIComponent(sorterDefault)%>&page=<%=j%>"><%=j%></a></li>
										<%}%>
									<%}else if(targetPageNumber<=5){%>
										<% for(var j=1; j<=10; j++) { %>
										<li 
											<% if(targetPageNumber==j){%>
												class="active"
											<%}%>
										><a href="/lenderSendMessages?msgKeyword=<%=encodeURIComponent(msgKeywordDefault)%>&filter=<%=encodeURIComponent(filterDefault)%>&sorter=<%=encodeURIComponent(sorterDefault)%>&page=<%=j%>"><%=j%></a></li>
										<%}%>
									<%}else{%>
										<% for(var j=targetPageNumber-5; j<targetPageNumber; j++) { %>
										<li><a href="/lenderSendMessages?msgKeyword=<%=encodeURIComponent(msgKeywordDefault)%>&filter=<%=encodeURIComponent(filterDefault)%>&sorter=<%=encodeURIComponent(sorterDefault)%>&page=<%=j%>"><%=j%></a></li>
										<%}%>
										<li class="active"><a href="/lenderSendMessages?msgKeyword=<%=encodeURIComponent(msgKeywordDefault)%>&filter=<%=encodeURIComponent(filterDefault)%>&sorter=<%=encodeURIComponent(sorterDefault)%>&page=<%=targetPageNumber%>"><%=targetPageNumber%></a></li>
										<% for(var j=targetPageNumber+1; j<=targetPageNumber+4; j++) { %>
										<li><a href="/lenderSendMessages?msgKeyword=<%=encodeURIComponent(msgKeywordDefault)%>&filter=<%=encodeURIComponent(filterDefault)%>&sorter=<%=encodeURIComponent(sorterDefault)%>&page=<%=j%>"><%=j%></a></li>
										<%}%>
									<%}%>
								<%}%>
								<li 
									<% if(targetPageNumber==pageNumber){%>
										class="disabled"
									<%}%>
								>	
								<% if(targetPageNumber!=pageNumber){%>
									<a href="/lenderSendMessages?msgKeyword=<%=encodeURIComponent(msgKeywordDefault)%>&filter=<%=encodeURIComponent(filterDefault)%>&sorter=<%=encodeURIComponent(sorterDefault)%>&page=<%=targetPageNumber+1%>">
								<%}else{%>
									<a href="#" onclick="return false;">
								<%}%>
								<span>&raquo;</span></a></li>
							  </ul>
							</nav>
						</td>
					</tr>
				</table>
			<% }%>
		</div>
		<div class="col-md-3">
		</div>
	</div>
</div>
<%- include('layout_footer'); -%>