<%- include('layout_header',{nav_cur:'lenderReturnRecord',actionDefault:'最新',keywordDefault:'',categoryDefault:'不分類'}); -%>
<div class="container">
	<div class="row">
		<div class="col-md-9">
			<div style="font-size:30pt;"><%if(idDefault!=''){%>單筆交易<%}%>收款紀錄</div>
				<div style="font-size:20pt;">&nbsp;<%=totalResultNum%> result</div>
				<br>
				<%if(idDefault!=''){%>
					<div class="btn-group">
				<%}else{%>
				<div class="input-group">
					<input type="text" style="height:40px;" class="form-control" id="oneidIpt" placeholder="搜尋故事標題或用戶名稱" value="<%=oneidDefault%>" onkeypress="if(event.keyCode==13){window.open('/lender/lenderReturnRecord?oneid='+encodeURIComponent($('#oneidIpt').val())+'&id=<%=encodeURIComponent(idDefault)%>&sorter='+encodeURIComponent($('#sorter0').text())+'&page=1','_self');}">	
					<span class="input-group-btn">
				<%}%>
						<div class="btn-group">
							<button type="button" style="height:40px;" class="btn btn-default dropdown-toggle" data-toggle="dropdown" id="sorterSelected">
								<%=sorterDefault%> <span class="caret"></span>
							</button>
							<ul class="dropdown-menu">
								<li style="display:none"><a href="#" id="sorter0"><%=sorterDefault%></a></li>
								<li><a href="#" onclick="$('#sorterSelected').html('');$('#sorterSelected').html($('#sorter1').text());$('#sorter0').html($('#sorterSelected').text());$('#sorterSelected').append(' <span class=\'caret\'><\/span>'); return false;" id="sorter1">最新</a></li>
								<li><a href="#" onclick="$('#sorterSelected').html('');$('#sorterSelected').html($('#sorter2').text());$('#sorter0').html($('#sorterSelected').text());$('#sorterSelected').append(' <span class=\'caret\'><\/span>'); return false;" id="sorter2">實收金額最多</a></li>
								<li><a href="#" onclick="$('#sorterSelected').html('');$('#sorterSelected').html($('#sorter3').text());$('#sorter0').html($('#sorterSelected').text());$('#sorterSelected').append(' <span class=\'caret\'><\/span>'); return false;" id="sorter3">應收金額最多</a></li>
								<li><a href="#" onclick="$('#sorterSelected').html('');$('#sorterSelected').html($('#sorter4').text());$('#sorter0').html($('#sorterSelected').text());$('#sorterSelected').append(' <span class=\'caret\'><\/span>'); return false;" id="sorter4">未收金額最多</a></li>
								<li><a href="#" onclick="$('#sorterSelected').html('');$('#sorterSelected').html($('#sorter5').text());$('#sorter0').html($('#sorterSelected').text());$('#sorterSelected').append(' <span class=\'caret\'><\/span>'); return false;" id="sorter5">超收金額最多</a></li>
								<li><a href="#" onclick="$('#sorterSelected').html('');$('#sorterSelected').html($('#sorter6').text());$('#sorter0').html($('#sorterSelected').text());$('#sorterSelected').append(' <span class=\'caret\'><\/span>'); return false;" id="sorter6">實收本金最多</a></li>
								<li><a href="#" onclick="$('#sorterSelected').html('');$('#sorterSelected').html($('#sorter7').text());$('#sorter0').html($('#sorterSelected').text());$('#sorterSelected').append(' <span class=\'caret\'><\/span>'); return false;" id="sorter7">應收本金最多</a></li>
								<li><a href="#" onclick="$('#sorterSelected').html('');$('#sorterSelected').html($('#sorter8').text());$('#sorter0').html($('#sorterSelected').text());$('#sorterSelected').append(' <span class=\'caret\'><\/span>'); return false;" id="sorter8">未收本金最多</a></li>
								<li><a href="#" onclick="$('#sorterSelected').html('');$('#sorterSelected').html($('#sorter9').text());$('#sorter0').html($('#sorterSelected').text());$('#sorterSelected').append(' <span class=\'caret\'><\/span>'); return false;" id="sorter9">超收本金最多</a></li>
								<li><a href="#" onclick="$('#sorterSelected').html('');$('#sorterSelected').html($('#sorter10').text());$('#sorter0').html($('#sorterSelected').text());$('#sorterSelected').append(' <span class=\'caret\'><\/span>'); return false;" id="sorter10">實收利息最多</a></li>
								<li><a href="#" onclick="$('#sorterSelected').html('');$('#sorterSelected').html($('#sorter11').text());$('#sorter0').html($('#sorterSelected').text());$('#sorterSelected').append(' <span class=\'caret\'><\/span>'); return false;" id="sorter11">應收利息最多</a></li>
								<li><a href="#" onclick="$('#sorterSelected').html('');$('#sorterSelected').html($('#sorter12').text());$('#sorter0').html($('#sorterSelected').text());$('#sorterSelected').append(' <span class=\'caret\'><\/span>'); return false;" id="sorter12">未收利息最多</a></li>
								<li><a href="#" onclick="$('#sorterSelected').html('');$('#sorterSelected').html($('#sorter13').text());$('#sorter0').html($('#sorterSelected').text());$('#sorterSelected').append(' <span class=\'caret\'><\/span>'); return false;" id="sorter13">超收利息最多</a></li>
							</ul>
						</div>
						<%if(idDefault!=''){%>
							<button type="button" style="height:40px;" class="btn btn-default" onclick="window.open('/lender/lenderReturnRecord?oneid=<%=encodeURIComponent(oneidDefault)%>&id=<%=encodeURIComponent(idDefault)%>&sorter='+encodeURIComponent($('#sorter0').text())+'&page=1','_self');">Go!</button>
						<%}else{%>
							<button type="button" style="height:40px;" class="btn btn-default" onclick="window.open('/lender/lenderReturnRecord?oneid='+encodeURIComponent($('#oneidIpt').val())+'&id=<%=encodeURIComponent(idDefault)%>&sorter='+encodeURIComponent($('#sorter0').text())+'&page=1','_self');">Go!</button>
						<%}%>	
				<%if(idDefault!=''){%>
					</div>
				<%}else{%>
					</span>
				</div>
				<%}%>
				<br>
				<br>
				<% if(totalResultNum!=0){ %>
					<% for(var i=0; i<jsonReturns.length; i++) { %>
						<table width="100%">
							<tr>
								<td>
									<a style="font-size:15px;" href="/lender/lenderTransactionRecord?oneid=<%=jsonReturns[i].ToTransaction._id%>&filter=<%if(jsonReturns[i].ToTransaction.InsuranceFeePaid==0){%><%=encodeURIComponent('未保險')%><%}else if(jsonReturns[i].ToTransaction.InsuranceFeePaid>0){%><%=encodeURIComponent('已保險')%><%}%>&sorter=<%=encodeURIComponent('最新')%>&page=1">查看來源交易</a>
								</td>
							</tr>
						</table>
						<div style="height: 360px;" class="panel panel-default pd">
							<div class="panel-body">
								<div style="font-size:25px;display:inline;">來自 </div>
								<div style="font-size:25px;display:inline;" class="myTitle"><%=jsonReturns[i].Borrower.Username%></div>
								<br>
								&nbsp;&nbsp;在 <a style="font-size:15px;" href="/lender/story?id=<%=jsonReturns[i].ToTransaction.CreatedFrom.FromBorrowRequest._id%>"><%-jsonReturns[i].ToTransaction.CreatedFrom.FromBorrowRequest.StoryTitle.replace(new RegExp(' ','g'),'&nbsp;')%></a>
								<br>
								<br>
								<div class="col-md-6">
									<table width="100%" height="240px">
										<tr>
											<td>
												<div class="myTitle">
													&nbsp;&nbsp;&nbsp;&nbsp;實收金額：
												</div>
											</td>
										<tr>
										<tr>
											<td>
												<div>
													&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=jsonReturns[i].MoneyReallyPaid.toFixed(0)%>元
												</div>	
											</td>
										<tr>
										<tr>
											<td>
												<div class="myTitle">
													&nbsp;&nbsp;&nbsp;&nbsp;應收金額：
												</div>
											</td>
										<tr>
										<tr>
											<td>
												<div>
													&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=jsonReturns[i].MoneyShouldPaid.toFixed(0)%>元
												</div>	
											</td>
										<tr>
										<tr>
											<td>
												<div class="myTitle">
													&nbsp;&nbsp;&nbsp;&nbsp;<%if(jsonReturns[i].MoneyNotPaid>=0){%>未收金額：<%}else{%>超收金額：<%}%>
												</div>
											</td>
										<tr>
										<tr>
											<td>
												<div>
													&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%if(jsonReturns[i].MoneyNotPaid>=0){%><%=jsonReturns[i].MoneyNotPaid.toFixed(0)%><%}else{%><%=(jsonReturns[i].MoneyNotPaid*-1).toFixed(0)%><%}%>元
												</div>	
											</td>
										<tr>
										<tr>
											<td>
												<div class="myTitle">
													&nbsp;&nbsp;&nbsp;&nbsp;實收本金：
												</div>
											</td>
										<tr>
										<tr>
											<td>
												<div>
													&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=(jsonReturns[i].PrincipalShouldPaid-jsonReturns[i].PrincipalNotPaid).toFixed(0)%>元
												</div>	
											</td>
										<tr>
										<tr>
											<td>
												<div class="myTitle">
													&nbsp;&nbsp;&nbsp;&nbsp;應收本金：
												</div>
											</td>
										<tr>
										<tr>
											<td>
												<div>
													&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=jsonReturns[i].PrincipalShouldPaid.toFixed(0)%>元
												</div>	
											</td>
										<tr>
										<tr>
											<td>
												<div class="myTitle">
													&nbsp;&nbsp;&nbsp;&nbsp;<%if(jsonReturns[i].PrincipalNotPaid>=0){%>未收本金：<%}else{%>超收本金：<%}%>
												</div>
											</td>
										<tr>
										<tr>
											<td>
												<div>
													&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%if(jsonReturns[i].PrincipalNotPaid>=0){%><%=jsonReturns[i].PrincipalNotPaid.toFixed(0)%><%}else{%><%=(jsonReturns[i].PrincipalNotPaid*-1).toFixed(0)%><%}%>元
												</div>	
											</td>
										<tr>
									</table>
								</div>
								<div class="col-md-6">
									<table width="100%" height="240px">
										<tr>
											<td>
												<div class="myTitle">
													&nbsp;&nbsp;&nbsp;&nbsp;實收利息：
												</div>
											</td>
										<tr>
										<tr>
											<td>
												<div>
													&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=(jsonReturns[i].InterestShouldPaid-jsonReturns[i].InterestNotPaid).toFixed(0)%>元
												</div>	
											</td>
										<tr>
										<tr>
											<td>
												<div class="myTitle">
													&nbsp;&nbsp;&nbsp;&nbsp;應收利息：
												</div>
											</td>
										<tr>
										<tr>
											<td>
												<div>
													&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=jsonReturns[i].InterestShouldPaid.toFixed(0)%>元
												</div>	
											</td>
										<tr>
										<tr>
											<td>
												<div class="myTitle">
													&nbsp;&nbsp;&nbsp;&nbsp;<%if(jsonReturns[i].InterestNotPaid>=0){%>未收利息：<%}else{%>超收利息：<%}%>
												</div>
											</td>
										<tr>
										<tr>
											<td>
												<div>
													&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%if(jsonReturns[i].InterestNotPaid>=0){%><%=jsonReturns[i].InterestNotPaid.toFixed(0)%><%}else{%><%=(jsonReturns[i].InterestNotPaid*-1).toFixed(0)%><%}%>元
												</div>	
											</td>
										<tr>
										<tr>
											<td>
												<div class="myTitle">
													&nbsp;&nbsp;&nbsp;&nbsp;對方信用等級:
												</div>
											</td>
										<tr>
										<tr>
											<td>
												<div>
													&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=jsonReturns[i].Level.toFixed(0)%>級
												</div>	
											</td>
										<tr>
										<tr>
											<td>
												<div class="myTitle">
													&nbsp;&nbsp;&nbsp;&nbsp;對方銀行帳號:
												</div>
											</td>
										<tr>
										<tr>
											<td>
												<div>
													&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=jsonReturns[i].BorrowerBankAccountNumber%>
												</div>	
											</td>
										<tr>
										<tr>
											<td>
												<div class="myTitle">
													&nbsp;&nbsp;&nbsp;&nbsp;收款日期:
												</div>
											</td>
										<tr>
										<tr>
											<td>
												<div>
													&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=jsonReturns[i].Created.getFullYear()%>/<%=jsonReturns[i].Created.getMonth()+1%>/<%=jsonReturns[i].Created.getDate()%>
												</div>	
											</td>
										<tr>
									</table>
								</div>
							</div>
						</div>
					<table width="100%">
					<tr>
						<td align="right">
							<div>
								Updated：<%=jsonReturns[i].Updated.getFullYear()%>/<%=jsonReturns[i].Updated.getMonth()+1%>/<%=jsonReturns[i].Updated.getDate()%>
							</div>
						</td>
					<tr>
					</table>
					<br>
				<%}%>
				<br>
				<table align="center">
					<tr>
						<td>
							<nav>
							  <ul class="pagination">
								<li 
									<% if(targetPageNumber==1){%>
										class="disabled"
									<%}%>
								>
								<% if(targetPageNumber!=1){%>
									<a href="/lender/lenderReturnRecord?oneid=<%=encodeURIComponent(oneidDefault)%>&id=<%=encodeURIComponent(idDefault)%>&sorter=<%=encodeURIComponent(sorterDefault)%>&page=<%=targetPageNumber-1%>">
								<%}else{%>
									<a href="#" onclick="return false;">
								<%}%>
								<span>&laquo;</span></a></li>
								<% if(pageNumber<=10){%>
									<% for(var j=1; j<=pageNumber; j++) { %>
										<li 
											<% if(targetPageNumber==j){%>
												class="active"
											<%}%>
										><a href="/lender/lenderReturnRecord?oneid=<%=encodeURIComponent(oneidDefault)%>&id=<%=encodeURIComponent(idDefault)%>&sorter=<%=encodeURIComponent(sorterDefault)%>&page=<%=j%>"><%=j%></a></li>
									<%}%>
								<% }else{%>
									<% if(targetPageNumber>=pageNumber-3){%>
										<% for(var j=pageNumber-9; j<=pageNumber; j++) { %>
										<li 
											<% if(targetPageNumber==j){%>
												class="active"
											<%}%>
										><a href="/lender/lenderReturnRecord?oneid=<%=encodeURIComponent(oneidDefault)%>&id=<%=encodeURIComponent(idDefault)%>&sorter=<%=encodeURIComponent(sorterDefault)%>&page=<%=j%>"><%=j%></a></li>
										<%}%>
									<%}else if(targetPageNumber<=5){%>
										<% for(var j=1; j<=10; j++) { %>
										<li 
											<% if(targetPageNumber==j){%>
												class="active"
											<%}%>
										><a href="/lender/lenderReturnRecord?oneid=<%=encodeURIComponent(oneidDefault)%>&id=<%=encodeURIComponent(idDefault)%>&sorter=<%=encodeURIComponent(sorterDefault)%>&page=<%=j%>"><%=j%></a></li>
										<%}%>
									<%}else{%>
										<% for(var j=targetPageNumber-5; j<targetPageNumber; j++) { %>
										<li><a href="/lender/lenderReturnRecord?oneid=<%=encodeURIComponent(oneidDefault)%>&id=<%=encodeURIComponent(idDefault)%>&sorter=<%=encodeURIComponent(sorterDefault)%>&page=<%=j%>"><%=j%></a></li>
										<%}%>
										<li class="active"><a href="/lender/lenderReturnRecord?oneid=<%=encodeURIComponent(oneidDefault)%>&id=<%=encodeURIComponent(idDefault)%>&sorter=<%=encodeURIComponent(sorterDefault)%>&page=<%=targetPageNumber%>"><%=targetPageNumber%></a></li>
										<% for(var j=targetPageNumber+1; j<=targetPageNumber+4; j++) { %>
										<li><a href="/lender/lenderReturnRecord?oneid=<%=encodeURIComponent(oneidDefault)%>&id=<%=encodeURIComponent(idDefault)%>&sorter=<%=encodeURIComponent(sorterDefault)%>&page=<%=j%>"><%=j%></a></li>
										<%}%>
									<%}%>
								<%}%>
								<li 
									<% if(targetPageNumber==pageNumber){%>
										class="disabled"
									<%}%>
								>	
								<% if(targetPageNumber!=pageNumber){%>
									<a href="/lender/lenderReturnRecord?oneid=<%=encodeURIComponent(oneidDefault)%>&id=<%=encodeURIComponent(idDefault)%>&sorter=<%=encodeURIComponent(sorterDefault)%>&page=<%=targetPageNumber+1%>">
								<%}else{%>
									<a href="#" onclick="return false;">
								<%}%>
								<span>&raquo;</span></a></li>
							  </ul>
							</nav>
						</td>
					</tr>
				</table>
			<% }%>
		</div>
		<div class="col-md-3">
		</div>
	</div>
</div>
<%- include('layout_footer',{imgSettingCode:"var ifLoadedCount=0;",imgDrawingCode:""}); -%>