<%- include('layout_header',{searchTitle:msgKeywordDefault,nav_cur:'lenderReceiveMessages',messengerDefault:'不分訊息狀態',actionDefault:'建立日期',directorDefault:'大至小',keywordDefault:'',categoryDefault:'不分類'}); -%>
<div class="container">
	<div class="row">
		<div class="col-md-9">
			<div class="bigTitle">借出者收到之訊息 - <%=filterDefault%></div>
				<div class="subTitle">&nbsp;<%=totalResultNum%> result</div>
				<br>
				<div class="input-group">
					<input type="text" class="form-control pageBar" id="msgKeywordIpt" placeholder="搜尋訊息內容、故事標題或用戶名稱" value="<%=msgKeywordDefault%>" onkeypress="if(event.keyCode==13){linker();}">
					<span class="input-group-btn">
						<div class="btn-group">
							<button type="button" class="btn btn-default dropdown-toggle pageBar" data-toggle="dropdown" id="filterSelected">
								<%=filterDefault%> <span class="caret"></span>
							</button>
							<ul class="dropdown-menu">
								<li style="display:none"><a href="#" id="filter0"><%=filterDefault%></a></li>
								<li id="flis1"<%if(filterDefault=='未確認'){%> class="active"<%}%>><a href="#" onclick="filterSelector(1);return false;" id="filter1">未確認</a></li>
								<li id="flis2"<%if(filterDefault=='已同意'){%> class="active"<%}%>><a href="#" onclick="filterSelector(2);return false;" id="filter2">已同意</a></li>
								<li id="flis3"<%if(filterDefault=='已婉拒'){%> class="active"<%}%>><a href="#" onclick="filterSelector(3);return false;" id="filter3">已婉拒</a></li>
								<li id="flis4"<%if(filterDefault=='不分類'){%> class="active"<%}%>><a href="#" onclick="filterSelector(4);return false;" id="filter4">不分類</a></li>
							</ul>
						</div>
						<div class="btn-group">
							<button type="button" class="btn btn-default dropdown-toggle pageBar" data-toggle="dropdown" id="classorSelected">
								<%=classorDefault%> <span class="caret"></span>
							</button>
							<ul class="dropdown-menu">
								<li style="display:none"><a href="#" id="classor0"><%=classorDefault%></a></li>
								<li id="clis1"<%if(classorDefault=='不分故事種類'){%> class="active"<%}%>><a href="#" onclick="classorSelector(1);return false;" id="classor1">不分故事種類</a></li>
								<li id="clis2"<%if(classorDefault=='一般'){%> class="active"<%}%>><a href="#" onclick="classorSelector(2);return false;" id="classor2">一般</a></li>
								<li id="clis3"<%if(classorDefault=='教育'){%> class="active"<%}%>><a href="#" onclick="classorSelector(3);return false;" id="classor3">教育</a></li>
								<li id="clis4"<%if(classorDefault=='家庭'){%> class="active"<%}%>><a href="#" onclick="classorSelector(4);return false;" id="classor4">家庭</a></li>
								<li id="clis5"<%if(classorDefault=='旅遊'){%> class="active"<%}%>><a href="#" onclick="classorSelector(5);return false;" id="classor5">旅遊</a></li>
							</ul>
						</div>
						<div class="btn-group">
							<button type="button" class="btn btn-default pageBar" id="sorterSelected" data-toggle="dropdown" aria-expanded="false"><%=sorterDefault%> <span class='caret'></span></button>
							<ul class="dropdown-menu" role="menu">
								<li style="display:none"><a href="#" id="sorter0"><%=sorterDefault%></a></li>
								<li id="slis1"<%if(sorterDefault=='更新日期'){%> class="active"<%}%>><a href="#" onclick="sorterSelector(1);return false;" id="sorter1">更新日期</a></li>
								<li id="slis2"<%if(sorterDefault=='建立日期'){%> class="active"<%}%>><a href="#" onclick="sorterSelector(2);return false;" id="sorter2">建立日期</a></li>
								<li id="slis3"<%if(sorterDefault=='欲借入年利率'){%> class="active"<%}%>><a href="#" onclick="sorterSelector(3);return false;" id="sorter3">欲借入年利率</a></li>
								<li id="slis4"<%if(sorterDefault=='欲借入金額'){%> class="active"<%}%>><a href="#" onclick="sorterSelector(4);return false;" id="sorter4">欲借入金額</a></li>
								<li id="slis5"<%if(sorterDefault=='欲借入期數'){%> class="active"<%}%>><a href="#" onclick="sorterSelector(5);return false;" id="sorter5">欲借入期數</a></li>
								<li id="slis6"<%if(sorterDefault=='信用等級'){%> class="active"<%}%>><a href="#" onclick="sorterSelector(6);return false;" id="sorter6">信用等級</a></li>
								<li id="slis7"<%if(sorterDefault=='預計總利息'){%> class="active"<%}%>><a href="#" onclick="sorterSelector(7);return false;" id="sorter7">預計總利息</a></li>
								<li id="slis8"<%if(sorterDefault=='預計本利和'){%> class="active"<%}%>><a href="#" onclick="sorterSelector(8);return false;" id="sorter8">預計本利和</a></li>
								<li id="slis9"<%if(sorterDefault=='預計平均利息'){%> class="active"<%}%>><a href="#" onclick="sorterSelector(9);return false;" id="sorter9">預計平均利息</a></li>
								<li id="slis10"<%if(sorterDefault=='預計平均本利和'){%> class="active"<%}%>><a href="#" onclick="sorterSelector(10);return false;" id="sorter10">預計平均本利和</a></li>
								<li id="slis11"<%if(sorterDefault=='預計利本比'){%> class="active"<%}%>><a href="#" onclick="sorterSelector(11);return false;" id="sorter11">預計利本比</a></li>
							</ul>
						</div>
						<div class="btn-group">
							<button type="button" class="btn btn-default pageBar" id="directorSelected" data-toggle="dropdown" aria-expanded="false"><%=directorDefault%> <span class='caret'></span></button>
							<ul class="dropdown-menu" role="menu">
								<li style="display:none"><a href="#" id="director0"><%=directorDefault%></a></li>
								<li id="dlis1"<%if(directorDefault=='大至小'){%> class="active"<%}%>><a href="#" onclick="directorSelector(1);return false;" id="director1">大至小</a></li>
								<li id="dlis2"<%if(directorDefault=='小至大'){%> class="active"<%}%>><a href="#" onclick="directorSelector(2);return false;" id="director2">小至大</a></li>
							</ul>
						</div>
						<button type="button" class="btn btn-default pageBar" onclick="linker();">Go!</button>
					</span>
				</div> 
				<br>
				<table width='100%'>
					<tr>
						<td>
							<%if((sorterDefault=='建立日期')||(sorterDefault=='更新日期')){%>
								<input type="date" placeholder="下限(年/月/日)" class="form-control boundIpt" value="<%=lboundDefault%>" id="lbound" onkeypress="if(event.keyCode==13){linker();}">&nbsp;&nbsp;<span style="display:inline;" id='lbd'></span>
								&nbsp;&nbsp;~&nbsp;&nbsp;
								<input type="date" placeholder="上限(年/月/日)" class="form-control boundIpt" value="<%=uboundDefault%>" id="ubound" onkeypress="if(event.keyCode==13){linker();}">&nbsp;&nbsp;<span style="display:inline;" id='ubd'></span>
							<%}else{%>
								<input type="text" placeholder="下限" class="form-control boundIpt" value="<%=lboundDefault%>" id="lbound" onkeypress="if(event.keyCode==13){linker();}">&nbsp;&nbsp;<span style="display:inline;" id='lbd'></span>
								&nbsp;&nbsp;~&nbsp;&nbsp;
								<input type="text" placeholder="上限" class="form-control boundIpt" value="<%=uboundDefault%>" id="ubound" onkeypress="if(event.keyCode==13){linker();}">&nbsp;&nbsp;<span style="display:inline;" id='ubd'></span>
							<%}%>
						</td>
						<%if((kpr!=='')&&(totalResultNum>0)&&(!oflg)&&(pflg)){%>
							<td align="right">
								<button class="btn btn-default disabled" style="display:none;" id="highlightBtn" onclick="enableHighlight();">
									關鍵字上色
								</button>
								<button class="btn btn-default" style="" id="unhighlightBtn" onclick="disableHighlight();">
									關鍵字去色
								</button>
							</td>
						<%}%>
					</tr>
				</table>
				<br>
				<%if((cfJSON)&&(filterDefault=='已同意')){%>
					<br>
					<%=cfJSON.Contect%>
					<br>
					欲同意<%=cfJSON.InfoJSON.counter1%>筆訊息，其中<%=cfJSON.InfoJSON.counter2%>筆成功，<%=cfJSON.InfoJSON.counter1-cfJSON.InfoJSON.counter2%>筆失敗
					<br>
					<table style="display:inline;" class="table">
						<thead class="myThead">
							<tr>
								<th style="text-align:center">
								實際借出金額
								</th>
								<th style="text-align:center">
								實際合計總利息
								</th>
								<th style="text-align:center">
								實際合計本利和
								</th>
								<th style="text-align:center">
								實際合計平均利息
								</th>
								<th style="text-align:center">
								實際合計平均本利和
								</th>
								<th style="text-align:center">
								實際合計利本比
								</th>
							</tr>
						</thead>
						<tbody class="myTbody">
							<tr>
								<td align="center">
									<div style="display:inline;"><%=cfJSON.InfoJSON.info1.toFixed(0)%></div><div style="display:inline;">元</div>
								</td>
								<td align="center">
									<div style="display:inline;"><%=cfJSON.InfoJSON.info2.toFixed(0)%></div><div style="display:inline;">元</div>
								</td>
								<td align="center">
									<div style="display:inline;"><%=cfJSON.InfoJSON.info3.toFixed(0)%></div><div style="display:inline;">元</div>
								</td>
								<td align="center">
									<div style="display:inline;"><%=cfJSON.InfoJSON.info4.toFixed(0)%></div><div style="display:inline;">元/月</div>
								</td>
								<td align="center">
									<div style="display:inline;"><%=cfJSON.InfoJSON.info5.toFixed(0)%></div><div style="display:inline;">元/月</div>
								</td>
								<td align="center">
									<%if(cfJSON.InfoJSON.info1>0){%>
										<div style="display:inline;"><%=(cfJSON.InfoJSON.info2/cfJSON.InfoJSON.info1*100).toFixed(2)%></div><div style="display:inline;">%</div>
									<%}else{%>
										<div style="display:inline;">0.00</div><div style="display:inline;">%</div>
									<%}%>
								</td>
							</tr>
						</tbody>
					</table>
					<br>
				<%}%>
				<%if((rjJSON)&&(filterDefault=='已婉拒')){%>
					<br>
					<%=rjJSON.Contect%>
					<br>
					欲婉拒<%=rjJSON.InfoJSON.counter1%>筆訊息，其中<%=rjJSON.InfoJSON.counter2%>筆成功，<%=rjJSON.InfoJSON.counter1-rjJSON.InfoJSON.counter2%>筆失敗
				<%}%>
				<% if(totalResultNum>0){ %>
					<% if(filterDefault=='未確認'){%>
						<br>
						<table style="display:inline;" class="table">
							<thead class="myThead">
								<tr>
									<th style="text-align:center">
									銀行帳戶內餘額
									</th>
									<th style="text-align:center">
									已借出總金額
									</th>
									<th style="text-align:center">
									尚可手動借出金額
									</th>
									<th style="text-align:center">
									已手動借出金額
									</th>
								</tr>
							</thead>
							<tbody class="myTbody">
								<tr>
									<td align="center">
										<input style="display:inline;width:90%;" id="lendChangerIpt0" type="text" class="form-control" readonly="readonly" value="<%=MoneyInBankAccountValue.toFixed(0)%>"><div style="display:inline;">&nbsp;元</div>
									</td>
									<td align="center">
										<input style="display:inline;width:90%;" id="lendChangerIpt2" type="text" class="form-control" readonly="readonly" value="<%=MoneyLended.moneyLendedCumulated.toFixed(0)%>"><div style="display:inline;">&nbsp;元</div>
									</td>
									<td align="center">
										<input style="display:inline;width:90%;" id="lendChangerIpt4" type="text" class="form-control" readonly="readonly" value="<%=MoneyLended.moneyLeftToHendLend.toFixed(0)%>"><div style="display:inline;">&nbsp;元</div>
									</td>
									<td align="center">
										<input style="display:inline;width:90%;" id="lendChangerIpt3" type="text" class="form-control" readonly="readonly" value="<%=MoneyLended.hendLendCumulated.toFixed(0)%>"><div style="display:inline;">&nbsp;元</div>
									</td>
								</tr>
							</tbody>
						</table>
						<br>
						<br>
						<table style="display:inline;" class="table">
							<thead class="myThead">
								<tr>
									<th style="text-align:center">
									最大可自動借出金額
									</th>
									<th style="text-align:center">
									目前最高可設定自動借出金額
									</th>
									<th style="text-align:center">
									尚可自動借出金額
									</th>
									<th style="text-align:center">
									已自動借出金額
									</th>
								</tr>
							</thead>
							<tbody class="myTbody">
								<tr>
									<td align="center">
										<%if(jsonLend){%>
											<input style="display:inline;width:90%;" id="lendChangerIpt" type="text" class="form-control" value="<%=jsonLend.MaxMoneyToLend.toFixed(0)%>" onkeypress="if(event.keyCode==13){lendChanger();}"><div style="display:inline;">&nbsp;元</div>
										<%}else{%>
											<input type="text" class="form-control" readonly="readonly" value="未找到自動出借設定！">
										<%}%>
									</td>
									<td align="center">
										<input style="display:inline;width:90%;" id="lendChangerIpt1" type="text" class="form-control" readonly="readonly" value="<%=MoneyLended.maxSettingAutoLend.toFixed(0)%>"><div style="display:inline;">&nbsp;元</div>
									</td>
									<td align="center">
										<input style="display:inline;width:90%;" id="lendChangerIpt6" type="text" class="form-control" readonly="readonly" value="<%=MoneyLended.moneyLeftToAutoLend.toFixed(0)%>"><div style="display:inline;">&nbsp;元</div>
									</td>
									<td align="center">
										<input style="display:inline;width:90%;" id="lendChangerIpt5" type="text" class="form-control" readonly="readonly" value="<%=MoneyLended.autoLendCumulated.toFixed(0)%>"><div style="display:inline;">&nbsp;元</div>
									</td>
								</tr>
							</tbody>
						</table>
						<br>
						<%if(jsonLend){%>
							<br>
							<button id="lendChangerBtn" type="button" class="btn btn-default" onclick="lendChanger();">變更</button>
							<span id="s0" style="color:red;"></span>
							<br>
						<%}%>
						<%if(pageNumber>1){%>
						<br>
						<table style="display:inline;" class="table">
							<thead class="myThead">
								<tr>
									<th style="text-align:center">
									全部合計借出金額
									</th>
									<th style="text-align:center">
									全部合計總利息
									</th>
									<th style="text-align:center">
									全部合計本利和
									</th>
									<th style="text-align:center">
									全部合計平均利息
									</th>
									<th style="text-align:center">
									全部合計平均本利和
									</th>
									<th style="text-align:center">
									全部合計利本比
									</th>
								</tr>
							</thead>
							<tbody class="myTbody">
								<tr>
									<td align="center">
										<div style="display:inline;" id="value1All"><%=value1AllDefault.toFixed(0)%></div><div style="display:inline;">元</div>
									</td>
									<td align="center">
										<div style="display:inline;" id="value2All"><%=value2AllDefault.toFixed(0)%></div><div style="display:inline;">元</div>
									</td>
									<td align="center">
										<div style="display:inline;" id="value3All"><%=value3AllDefault.toFixed(0)%></div><div style="display:inline;">元</div>
									</td>
									<td align="center">
										<div style="display:inline;" id="value4All"><%=value4AllDefault.toFixed(0)%></div><div style="display:inline;">元/月</div>
									</td>
									<td align="center">
										<div style="display:inline;" id="value5All"><%=value5AllDefault.toFixed(0)%></div><div style="display:inline;">元/月</div>
									</td>
									<td align="center">
									<%if(value1AllDefault>0){%>
										<div style="display:inline;" id="value6All"><%=(value2AllDefault/value1AllDefault*100).toFixed(2)%></div><div style="display:inline;">%</div>
									<%}else{%>
										<div style="display:inline;" id="value6All">0.00</div><div style="display:inline;">%</div>
									<%}%>
									</td>
								</tr>
							</tbody>
						</table>
						<br>
						<br>
						<button type="button" class="btn btn-info" data-toggle="modal" data-target="#chkModal1">
							同意全部收到之請求
						</button>
						<%if(jsonLend){%>
							<div class="modal fade" id="chkModal1">
								<div class="modal-dialog modal-sm">
									<div class="modal-content">
										<div class="modal-header" style="text-align: center;">
											<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
											<h4 class="modal-title">再次確認</h4>
										</div>
										<div class="modal-body" style="text-align: center;">
											<br>
											您確定要同意全部收到之請求嗎?
											<br>
											<br>
										</div>
										<div class="modal-footer" style="text-align: center;">
											<button type="button" class="btn btn-primary" id="confirmAllBtn" onclick="confirmAll();">
												確定
											</button>
											&nbsp;
											<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
										</div>
									</div>
								</div>
							</div>
						<%}else{%>
							<div class="modal fade" id="chkModal1">
								<div class="modal-dialog modal-sm">
									<div class="modal-content">
										<div class="modal-header" style="text-align: center;">
											<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
											<h4 class="modal-title">錯誤</h4>
										</div>
										<div class="modal-body" style="text-align: center;">
											<br>
											未找到自動出借設定！
											<br>
											<br>
										</div>
										<div class="modal-footer" style="text-align: center;">
											<button type="button" class="btn btn-default" data-dismiss="modal">關閉</button>
										</div>
									</div>
								</div>
							</div>
						<%}%>
						&nbsp;&nbsp;
						<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#chkModal2">
							婉拒全部收到之請求
						</button>
						<div class="modal fade" id="chkModal2">
							<div class="modal-dialog modal-sm">
								<div class="modal-content">
									<div class="modal-header" style="text-align: center;">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
										<h4 class="modal-title">再次確認</h4>
									</div>
									<div class="modal-body" style="text-align: center;">
										<br>
										您確定要婉拒全部收到之請求嗎?
										<br>
										<br>
									</div>
									<div class="modal-footer" style="text-align: center;">
										<button type="button" class="btn btn-danger" id="rejectAllBtn" onclick="rejectAll();">
											確定
										</button>
										&nbsp;
										<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
									</div>
								</div>
							</div>
						</div>
						<br>
						<%}%>
						<br>
						<table style="display:inline;" class="table">
							<thead class="myThead">
								<tr>
									<th style="text-align:center">
									已選合計借出金額
									</th>
									<th style="text-align:center">
									已選合計總利息
									</th>
									<th style="text-align:center">
									已選合計本利和
									</th>
									<th style="text-align:center">
									已選合計平均利息
									</th>
									<th style="text-align:center">
									已選合計平均本利和
									</th>
									<th style="text-align:center">
									已選合計利本比
									</th>
								</tr>
							</thead>
							<tbody class="myTbody">
								<tr>
									<td align="center">
										<div style="display:inline;" id="value1">0</div><div style="display:none;" id="value1R">0</div><div style="display:inline;">元</div>
									</td>
									<td align="center">
										<div style="display:inline;" id="value2">0</div><div style="display:none;" id="value2R">0</div><div style="display:inline;">元</div>
									</td>
									<td align="center">
										<div style="display:inline;" id="value3">0</div><div style="display:none;" id="value3R">0</div><div style="display:inline;">元</div>
									</td>
									<td align="center">
										<div style="display:inline;" id="value4">0</div><div style="display:none;" id="value4R">0</div><div style="display:inline;">元/月</div>
									</td>
									<td align="center">
										<div style="display:inline;" id="value5">0</div><div style="display:none;" id="value5R">0</div><div style="display:inline;">元/月</div>
									</td>
									<td align="center">
										<div style="display:inline;" id="value6">0.00</div><div style="display:inline;">%</div>
									</td>
								</tr>
							</tbody>
						</table>
						<br>
						<br>
						<input type="checkbox" id="selectAll" onclick="selectAllFun();"> 全選&nbsp;&nbsp;&nbsp;&nbsp;
						<button type="button" class="btn btn-info" onclick="checkAndOpenModal('#chkModal3')">
							同意
						</button>
						<%if(jsonLend){%>
							<div class="modal fade" id="chkModal3">
								<div class="modal-dialog modal-sm">
									<div class="modal-content">
										<div class="modal-header" style="text-align: center;">
											<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
											<h4 class="modal-title">再次確認</h4>
										</div>
										<div class="modal-body" style="text-align: center;">
											<br>
											您確定要同意已選之<div id="seCtr1" style="display:inline;"></div>筆請求嗎?
											<br>
											<br>
										</div>
										<div class="modal-footer" style="text-align: center;">
											<button type="button" class="btn btn-primary" id="confirmBtn" onclick="confirm();">
												確定
											</button>
											<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
										</div>
									</div>
								</div>
							</div>
						<%}else{%>
							<div class="modal fade" id="chkModal3">
								<div class="modal-dialog modal-sm">
									<div class="modal-content">
										<div class="modal-header" style="text-align: center;">
											<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
											<h4 class="modal-title">錯誤</h4>
										</div>
										<div class="modal-body" style="text-align: center;">
											<br>
											未找到自動出借設定！
											<br>
											<br>
										</div>
										<div class="modal-footer" style="text-align: center;">
											<button type="button" class="btn btn-default" data-dismiss="modal">關閉</button>
										</div>
									</div>
								</div>
							</div>
						<%}%>
						&nbsp;&nbsp;
						<button type="button" class="btn btn-danger" onclick="checkAndOpenModal('#chkModal4')">
							婉拒
						</button>
						<div class="modal fade" id="chkModal4">
							<div class="modal-dialog modal-sm">
								<div class="modal-content">
									<div class="modal-header" style="text-align: center;">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
										<h4 class="modal-title">再次確認</h4>
									</div>
									<div class="modal-body" style="text-align: center;">
										<br>
										您確定要婉拒已選之<div id="seCtr2" style="display:inline;"></div>筆請求嗎?
										<br>
										<br>
									</div>
									<div class="modal-footer" style="text-align: center;">
										<button type="button" class="btn btn-danger" id="rejectBtn" onclick="reject();">
											確定
										</button>
										<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
									</div>
								</div>
							</div>
						</div>
						<br>
						<br>
						<br>
						<div class="modal fade" id="msgModal">
							<div class="modal-dialog modal-sm">
								<div class="modal-content">
									<div class="modal-header" style="text-align: center;">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
										<h4 class="modal-title">訊息</h4>
									</div>
									<div class="modal-body" style="text-align: center;">
										<br>
										您未選擇訊息！
										<br>
										<br>
									</div>
									<div class="modal-footer" style="text-align: center;">
										<button type="button" class="btn btn-default" data-dismiss="modal">關閉</button>
									</div>
								</div>
							</div>
						</div>
					<%}else{%>
						<br>
						<br>
					<%}%>
					<ul class="nav nav-pills">
						<li id="pli1" class="active"><a data-toggle="pill" href="#" onclick="piller(1);return false;">訊息</a></li>
						<li id="pli2"><a data-toggle="pill" href="#" onclick="piller(2);return false;">資訊</a></li>
						<% if((filterDefault=='已同意')||(filterDefault=='不分類')){%>
							<li id="pli3"><a data-toggle="pill" href="#" onclick="piller(3);return false;">交易紀錄</a></li>
						<%}%>
					</ul>
					<br>
					<br>
					<% for(var i=0; i<jsonMessage.length; i++) { %>
					<ul class="nav nav-tabs" id="myTab<%=i%>">
						<li class="active myCtr1"><a href="#tab1<%=i%>" data-toggle="tab">訊息</a></li>
						<li class="myCtr2"><a href="#tab2<%=i%>" data-toggle="tab">資訊</a></li>
						<% if(jsonMessage[i].Status=='Confirmed'){%>
						<li class="myCtr3"><a href="#tab3<%=i%>" data-toggle="tab">交易紀錄</a></li>
						<% }%>
					</ul>
					<div style="height:510px;" class="tab-content my-tab-content">
						<div class="tab-pane active" id="tab1<%=i%>">
							<div style="font-size:25px;display:inline;">來自 </div>
							<div style="font-size:25px;display:inline;" class="myTitle"><div class="colorCnt"><%=jsonMessage[i].CreatedBy.Username%></div></div>
							<br>
							&nbsp;&nbsp;在&nbsp;&nbsp;<a style="font-size:15px;"<%if(jsonMessage[i].color=="color1"){%> class="color1"<%}else if(jsonMessage[i].color=="color2"){%> class="color2"<%}else if(jsonMessage[i].color=="color3"){%> class="color3"<%}else if(jsonMessage[i].color=="color4"){%> class="color4"<%}else if(jsonMessage[i].color=="color5"){%> class="color5"<%}else if(jsonMessage[i].color=="color6"){%> class="color6"<%}else if(jsonMessage[i].color=="color7"){%> class="color7"<%}%> href="/lender/story?id=<%=jsonMessage[i].FromBorrowRequest._id%>">[<%if(jsonMessage[i].FromBorrowRequest.Category=='general'){%>一般<%}else if(jsonMessage[i].FromBorrowRequest.Category=='education'){%>教育<%}else if(jsonMessage[i].FromBorrowRequest.Category=='family'){%>家庭<%}else if(jsonMessage[i].FromBorrowRequest.Category=='tour'){%>旅遊<%}%>]&nbsp;<%if(jsonMessage[i].FromBorrowRequest.StoryTitle!==''){%><div class="colorCnt"><%-jsonMessage[i].FromBorrowRequest.StoryTitle.replace(new RegExp(' ','g'),'&nbsp;')%></div><%}else{%>無標題<%}%></a>
							<br>
							<br>
							<div>	
								<%if(jsonMessage[i].Message!==''){%><div class="colorCnt"><%-jsonMessage[i].Message.replace(new RegExp('\n','g'),'<br>').replace(new RegExp(' ','g'),'&nbsp;')%></div><%}else{%>無內容<%}%>
							</div>
						</div>
						<div class="tab-pane" id="tab2<%=i%>">
							<div class="col-md-12">
								<table width="100%" height="470px">
									<tr>
										<td>
											<div  class="myTitle">
												<div style="display:inline;"<%if(sorterDefault=='欲借入金額'){%> class="stronger"<%}%>>欲借入金額：</div>
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<div>
												&nbsp;&nbsp;&nbsp;&nbsp;<div style="display:none;" id="value1<%=i%>"><%=jsonMessage[i].MoneyToLend%></div><%=jsonMessage[i].MoneyToLend.toFixed(0)%>元
											</div>	
										</td>
									</tr>
									<tr>
										<td>
											<div class="myTitle">
												<div style="display:inline;"<%if(sorterDefault=='欲借入年利率'){%> class="stronger"<%}%>>欲借入年利率：</div>
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<div>
												&nbsp;&nbsp;&nbsp;&nbsp;<%=(jsonMessage[i].InterestRate*100).toFixed(2)%>%
											</div>	
										</td>
									</tr>
									<tr>
										<td>
											<div class="myTitle">
												<div style="display:inline;"<%if(sorterDefault=='欲借入期數'){%> class="stronger"<%}%>>欲借入期數：</div>
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<div>
												&nbsp;&nbsp;&nbsp;&nbsp;<%=jsonMessage[i].MonthPeriod.toFixed(0)%>個月
											</div>	
										</td>
									</tr>
									<tr>
										<td>
											<div class="myTitle">
												<div style="display:inline;"<%if(sorterDefault=='信用等級'){%> class="stronger"<%}%>>信用等級：</div>
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<div>
												&nbsp;&nbsp;&nbsp;&nbsp;<%=jsonMessage[i].Level.toFixed(0)%>級
											</div>	
										</td>
									</tr>
									<tr>
										<td>
											<div class="myTitle">
												<div style="display:inline;"<%if(sorterDefault=='預計總利息'){%> class="stronger"<%}%>>預計總利息：</div>
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<div>
												&nbsp;&nbsp;&nbsp;&nbsp;<div style="display:none;" id="value2<%=i%>"><%=jsonMessage[i].InterestInFuture%></div><%=jsonMessage[i].InterestInFuture.toFixed(0)%>元
											</div>	
										</td>
									</tr>
									<tr>
										<td>
											<div class="myTitle">
												<div style="display:inline;"<%if(sorterDefault=='預計本利和'){%> class="stronger"<%}%>>預計本利和：</div>
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<div>
												&nbsp;&nbsp;&nbsp;&nbsp;<div style="display:none;" id="value3<%=i%>"><%=jsonMessage[i].MoneyFuture%></div><%=jsonMessage[i].MoneyFuture.toFixed(0)%>元
											</div>	
										</td>
									</tr>
									<tr>
										<td>
											<div class="myTitle">
												<div style="display:inline;"<%if(sorterDefault=='預計平均利息'){%> class="stronger"<%}%>>預計平均利息：</div>
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<div>
												&nbsp;&nbsp;&nbsp;&nbsp;<div style="display:none;" id="value4<%=i%>"><%=jsonMessage[i].InterestInFutureMonth%></div><%=jsonMessage[i].InterestInFutureMonth.toFixed(0)%>元/月
											</div>	
										</td>
									</tr>
									<tr>
										<td>
											<div class="myTitle">
												<div style="display:inline;"<%if(sorterDefault=='預計平均本利和'){%> class="stronger"<%}%>>預計平均本利和：</div>
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<div>
												&nbsp;&nbsp;&nbsp;&nbsp;<div style="display:none;" id="value5<%=i%>"><%=jsonMessage[i].InterestInFutureMoneyMonth%></div><%=jsonMessage[i].InterestInFutureMoneyMonth.toFixed(0)%>元/月
											</div>	
										</td>
									</tr>
									<tr>
										<td>
											<div class="myTitle">
												<div style="display:inline;"<%if(sorterDefault=='預計利本比'){%> class="stronger"<%}%>>預計利本比：</div>
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<div>
												&nbsp;&nbsp;&nbsp;&nbsp;<%=(jsonMessage[i].InterestInFutureDivMoney*100).toFixed(2)%>%
											</div>	
										</td>
									</tr>
								</table>	
							</div>
						</div>
						<% if(jsonMessage[i].Status=='Confirmed'){%>
							<div class="tab-pane" id="tab3<%=i%>">
								<div class="col-md-4">
									<table width="100%" height="470px">
										<tr>
											<td>
												<div class="myTitle">
													原始本金：
												</div>
											</td>
										</tr>
										<tr>
											<td>
												<div>
													&nbsp;&nbsp;&nbsp;&nbsp;<%=jsonMessage[i].Transaction[0].Principal.toFixed(0)%>元
												</div>	
											</td>
										</tr>
										<tr>
											<td>
												<div class="myTitle">
													額外本金：
												</div>
											</td>
										</tr>
										<tr>
											<td>
												<div>
													&nbsp;&nbsp;&nbsp;&nbsp;<%=jsonMessage[i].Transaction[0].ExtendPrincipal.toFixed(0)%>元
												</div>	
											</td>
										</tr>
										<tr>
											<td>
												<div class="myTitle">
													目前總本金：
												</div>
											</td>
										</tr>
										<tr>
											<td>
												<div>
													&nbsp;&nbsp;&nbsp;&nbsp;<%=jsonMessage[i].Transaction[0].TotalPrincipalNow.toFixed(0)%>元
												</div>	
											</td>
										</tr>
										<tr>
											<td>
												<div class="myTitle">
													未還本金：
												</div>
											</td>
										</tr>
										<tr>
											<td>
												<div>
													&nbsp;&nbsp;&nbsp;&nbsp;<%=jsonMessage[i].Transaction[0].PrincipalNotReturn.toFixed(0)%>元
												</div>	
											</td>
										</tr>
										<tr>
											<td>
												<div class="myTitle">
													已還本金：
												</div>
											</td>
										</tr>
										<tr>
											<td>
												<div>
													&nbsp;&nbsp;&nbsp;&nbsp;<%=jsonMessage[i].Transaction[0].PrincipalReturn.toFixed(0)%>元
												</div>	
											</td>
										</tr>
										<tr>
											<td>
												<div class="myTitle">
													年利率：
												</div>
											</td>
										</tr>
										<tr>
											<td>
												<div>
													&nbsp;&nbsp;&nbsp;&nbsp;<%=(jsonMessage[i].Transaction[0].InterestRate*100).toFixed(2)%>%
												</div>	
											</td>
										</tr>
										<tr>
											<td>
												<div class="myTitle">
													已得利息：
												</div>
											</td>
										</tr>
										<tr>
											<td>
												<div>
													&nbsp;&nbsp;&nbsp;&nbsp;<%=jsonMessage[i].Transaction[0].Interest.toFixed(0)%>元
												</div>	
											</td>
										</tr>
										<tr>
											<td>
												<div class="myTitle">
													已得本利和：
												</div>
											</td>
										</tr>
										<tr>
											<td>
												<div>
													&nbsp;&nbsp;&nbsp;&nbsp;<%=jsonMessage[i].Transaction[0].PrincipalInterest.toFixed(0)%>元
												</div>	
											</td>
										</tr>
										<tr>
											<td>
												<div class="myTitle">
													已得平均利息：
												</div>
											</td>
										</tr>
										<tr>
											<td>
												<div>
													&nbsp;&nbsp;&nbsp;&nbsp;<%=jsonMessage[i].Transaction[0].InterestMonth.toFixed(0)%>元/月
												</div>	
											</td>
										</tr>
										<tr>
											<td>
												<div class="myTitle">
													已得平均本利和：
												</div>
											</td>
										</tr>
										<tr>
											<td>
												<div>
													&nbsp;&nbsp;&nbsp;&nbsp;<%=jsonMessage[i].Transaction[0].PrincipalInterestMonth.toFixed(0)%>元/月
												</div>	
											</td>
										</tr>
									</table>
								</div>
								<div class="col-md-4">
									<table width="100%" height="470px">
										<tr>
											<td>
												<div class="myTitle">
													已得利本比：
												</div>
											</td>
										</tr>
										<tr>
											<td>
												<div>
													&nbsp;&nbsp;&nbsp;&nbsp;<%=(jsonMessage[i].Transaction[0].InterestDivPrincipal*100).toFixed(2)%>%
												</div>	
											</td>
										</tr>
										<tr>
											<td>
												<div class="myTitle">
													原始期數：
												</div>
											</td>
										</tr>
										<tr>
											<td>
												<div>
													&nbsp;&nbsp;&nbsp;&nbsp;<%=jsonMessage[i].Transaction[0].MonthPeriod.toFixed(0)%>個月
												</div>	
											</td>
										</tr>
										<tr>
											<td>
												<div class="myTitle">
													額外期數：
												</div>
											</td>
										</tr>
										<tr>
											<td>
												<div>
													&nbsp;&nbsp;&nbsp;&nbsp;<%=jsonMessage[i].Transaction[0].ExtendMonthPeriod.toFixed(0)%>個月
												</div>	
											</td>
										</tr>
										<tr>
											<td>
												<div class="myTitle">
													目前總期數：
												</div>
											</td>
										</tr>
										<tr>
											<td>
												<div>
													&nbsp;&nbsp;&nbsp;&nbsp;<%=jsonMessage[i].Transaction[0].TotalMonthPeriodNow.toFixed(0)%>個月
												</div>	
											</td>
										</tr>
										<tr>
											<td>
												<div class="myTitle">
													剩下期數：
												</div>
											</td>
										</tr>
										<tr>
											<td>
												<div>
													&nbsp;&nbsp;&nbsp;&nbsp;<%=jsonMessage[i].Transaction[0].MonthPeriodLeft.toFixed(0)%>個月
												</div>	
											</td>
										</tr>
										<tr>
											<td>
												<div class="myTitle">
													已過期數：
												</div>
											</td>
										</tr>
										<tr>
											<td>
												<div>
													&nbsp;&nbsp;&nbsp;&nbsp;<%=jsonMessage[i].Transaction[0].MonthPeriodPast.toFixed(0)%>個月
												</div>	
											</td>
										</tr>
										<tr>
											<td>
												<div class="myTitle">
													成交日期：
												</div>
											</td>
										</tr>
										<tr>
											<td>
												<div>
													&nbsp;&nbsp;&nbsp;&nbsp;<%=jsonMessage[i].Transaction[0].Created.getFullYear()%>/<%=jsonMessage[i].Transaction[0].Created.getMonth()+1%>/<%=jsonMessage[i].Transaction[0].Created.getDate()%>
												</div>	
											</td>
										</tr>
										<tr>
											<td>
												<div class="myTitle">
													狀態：
												</div>
											</td>
										</tr>
										<tr>
											<td>
												<div>
													&nbsp;&nbsp;&nbsp;&nbsp;<%if(jsonMessage[i].Transaction[0].PrincipalNotReturn>0){%><%if(jsonMessage[i].Transaction[0].InsuranceFeePaid>0){%>已保險<%}else{%>未保險<%}%><%}else{%>已結清<%}%>
												</div>	
											</td>
										</tr>
										<tr>
											<td>
												<div class="myTitle">
													收款次數：
												</div>
											</td>
										</tr>
										<tr>
											<td>
												<div>
													<%if(jsonMessage[i].Transaction[0].ReturnCount>0){%>
														&nbsp;&nbsp;&nbsp;&nbsp;<a href="/lender/lenderReturnRecord?oneid=&id=<%=jsonMessage[i].Transaction[0]._id%>&messenger=<%=encodeURIComponent('不分訊息種類')%>&classor=<%=encodeURIComponent("不分故事種類");%>&sorter=<%=encodeURIComponent("建立日期")%>&director=<%=encodeURIComponent("大至小");%>&lbound=&ubound=&page=1"><%=jsonMessage[i].Transaction[0].ReturnCount.toFixed(0)%>次</a>
													<%}else{%>
														&nbsp;&nbsp;&nbsp;&nbsp;<%=jsonMessage[i].Transaction[0].ReturnCount.toFixed(0)%>次
													<%}%>
												</div>	
											</td>
										</tr>
									</table>
								</div>
								<div class="col-md-4">
									<table width="100%" height="470px">
										<tr>
											<td>
												<div class="myTitle">
													預計剩餘利息：
												</div>
											</td>
										</tr>
										<tr>
											<td>
												<div>
													&nbsp;&nbsp;&nbsp;&nbsp;<%=jsonMessage[i].Transaction[0].InterestInFuture.toFixed(0)%>元
												</div>	
											</td>
										</tr>
										<tr>
											<td>
												<div class="myTitle">
													預計剩餘本利和：
												</div>
											</td>
										</tr>
										<tr>
											<td>
												<div>
													&nbsp;&nbsp;&nbsp;&nbsp;<%=jsonMessage[i].Transaction[0].MoneyFuture.toFixed(0)%>元
												</div>	
											</td>
										</tr>
										<tr>
											<td>
												<div class="myTitle">
													預計剩餘平均利息：
												</div>
											</td>
										</tr>
										<tr>
											<td>
												<div>
													&nbsp;&nbsp;&nbsp;&nbsp;<%=jsonMessage[i].Transaction[0].InterestInFutureMonth.toFixed(0)%>元/月
												</div>	
											</td>
										</tr>
										<tr>
											<td>
												<div class="myTitle">
													預計剩餘平均本利和：
												</div>
											</td>
										</tr>
										<tr>
											<td>
												<div>
													&nbsp;&nbsp;&nbsp;&nbsp;<%=jsonMessage[i].Transaction[0].InterestInFutureMoneyMonth.toFixed(0)%>元/月
												</div>	
											</td>
										</tr>
										<tr>
											<td>
												<div class="myTitle">
													預計剩餘利本比：
												</div>
											</td>
										</tr>
										<tr>
											<td>
												<div>
													&nbsp;&nbsp;&nbsp;&nbsp;<%=(jsonMessage[i].Transaction[0].InterestInFutureDivMoney*100).toFixed(2)%>%
												</div>	
											</td>
										</tr>
										<tr>
											<td>
												<div class="myTitle">
													 上次成功收款日期：
												</div>
											</td>
										</tr>
										<tr>
											<td>
												<div>
													&nbsp;&nbsp;&nbsp;&nbsp;<%if(jsonMessage[i].Transaction[0].previousPayDate){%><%=jsonMessage[i].Transaction[0].previousPayDate.getFullYear()%>/<%=jsonMessage[i].Transaction[0].previousPayDate.getMonth()+1%>/<%=jsonMessage[i].Transaction[0].previousPayDate.getDate()%><%}else{%>無收款記錄<%}%>
												</div>	
											</td>
										</tr>
										<tr>
											<td>
												<div class="myTitle">
													下次應收款日期：
												</div>
											</td>
										</tr>
										<tr>
											<td>
												<div>
													&nbsp;&nbsp;&nbsp;&nbsp;<%if(jsonMessage[i].Transaction[0].nextPayDate){%><%=jsonMessage[i].Transaction[0].nextPayDate.getFullYear()%>/<%=jsonMessage[i].Transaction[0].nextPayDate.getMonth()+1%>/<%=jsonMessage[i].Transaction[0].nextPayDate.getDate()%><%}else{%>已還清<%}%>
												</div>	
											</td>
										</tr>
										<tr>
											<td>
												<div class="myTitle">
													保險所需費用：
												</div>
											</td>
										</tr>
										<tr>
											<td>
												<div>
													&nbsp;&nbsp;&nbsp;&nbsp;<%if(jsonMessage[i].Transaction[0].Principal>0){%><%if(jsonMessage[i].Transaction[0].Principal*insuranceRate<1){%>1<%}else{%><%=(jsonMessage[i].Transaction[0].Principal*insuranceRate).toFixed(0)%><%}%><%}else{%>0<%}%>元
												</div>	
											</td>
										</tr>
										<tr>
											<td>
												<div class="myTitle">
													已付保險費用：
												</div>
											</td>
										</tr>
										<tr>
											<td>
												<div>
													&nbsp;&nbsp;&nbsp;&nbsp;<%=jsonMessage[i].Transaction[0].InsuranceFeePaid.toFixed(0)%>元
												</div>	
											</td>
										</tr>
									</table>
								</div>
							</div>
						<%}%>
					</div>
					<div style="border-top-style: none;border-right-style: none;border-bottom-style: none;border-left-style: none;margin-top: 0px;margin-bottom: 0px;" class="table-responsive">
						<table style="margin-bottom: 0px;margin-top: 0px;" class="table" width="100%">
							<tr>
								<%if(filterDefault=='未確認'){%>
									<td style="border-bottom-style: none;border-top-style: none;">
										<input type="checkbox" name="selectCheckBox" id="selectCheckBoxId<%=i%>" onclick="selectFun(<%=i%>);" value='{"FromBorrowRequest":"<%=jsonMessage[i].FromBorrowRequest._id%>","MessageID":"<%=jsonMessage[i]._id%>"}'> 選擇
									</td>
								<%}else if(filterDefault=='不分類'){%>
									<td style="border-bottom-style: none;border-top-style: none;">
										<%if(jsonMessage[i].Status=='NotConfirmed'){%>
											<a href="/lender/lenderReceiveMessages?msgKeyword=<%=encodeURIComponent(jsonMessage[i]._id)%>&filter=<%=encodeURIComponent('未確認')%>&classor=<%=encodeURIComponent('不分故事種類')%>&sorter=<%=encodeURIComponent('更新日期')%>&director=<%=encodeURIComponent('大至小')%>&lbound=&ubound=&page=1">未確認</a>
										<%}else if(jsonMessage[i].Status=='Confirmed'){%>
											已同意
										<%}else if(jsonMessage[i].Status=='Rejected'){%>
											已婉拒
										<%}%>
									</td>
								<%}%>
								<td align="right" style="border-bottom-style: none;border-top-style: none;">
									<%if(jsonMessage[i].Status=='Confirmed'){%>
										<div style="font-size:15px;display:inline;">
											<a href="/lender/lenderTransactionRecord?oneid=<%=jsonMessage[i].Transaction[0]._id%>&filter=<%if(jsonMessage[i].Transaction[0].PrincipalNotReturn>0){%><%if(jsonMessage[i].Transaction[0].InsuranceFeePaid>0){%><%=encodeURIComponent('已保險')%><%}else{%><%=encodeURIComponent('未保險')%><%}%><%}else{%><%=encodeURIComponent('已結清')%><%}%>&messenger=<%=encodeURIComponent('不分訊息種類')%>&classor=<%=encodeURIComponent("不分故事種類");%>&sorter=<%=encodeURIComponent("建立日期")%>&director=<%=encodeURIComponent("大至小");%>&lbound=&ubound=&page=1">查詢該筆交易</a>
										</div>
										&nbsp;&nbsp;&nbsp;&nbsp;
									<%}%>
									<div style="font-size:15px;display:inline;">
										<div style="display:inline;"<%if(sorterDefault=='更新日期'){%> class="stronger"<%}%>>Updated：</div><%=jsonMessage[i].Updated.getFullYear()%>/<%=jsonMessage[i].Updated.getMonth()+1%>/<%=jsonMessage[i].Updated.getDate()%>
									</div>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<div style="font-size:15px;display:inline;">
										<div style="display:inline;"<%if(sorterDefault=='建立日期'){%> class="stronger"<%}%>>Created：</div><%=jsonMessage[i].Created.getFullYear()%>/<%=jsonMessage[i].Created.getMonth()+1%>/<%=jsonMessage[i].Created.getDate()%>
									</div>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<div style="font-size:15px;display:inline;">
										No.<%=i+1%>
									</div>
								</td>
							<tr>
						</table>
					</div>
					<br>
				<%}%>
				<%if(filterDefault=='未確認'){%>
					<%if(pageNumber>1){%>
						<form action="/Messages/confirmToBorrowMessageInLRMall" method="post" id="formID0">
							<input type="hidden" name="msgKeyword" id="msgKeywordIpt" value="<%=msgKeywordDefault%>">
							<input type="hidden" name="sorter" id="sorterIpt" value="<%=sorterDefault%>">
							<input type="hidden" name="director" id="directorIpt" value="<%=directorDefault%>">
							<input type="hidden" name="lbound" id="lboundIpt" value="<%=lboundDefault%>">
							<input type="hidden" name="ubound" id="uboundIpt" value="<%=uboundDefault%>">
							<input type="hidden" name="classor" id="classorIpt" value="<%=classorDefault%>">
						</form>
					<%}%>
					<form action="/Messages/confirmToBorrowMessageInLRM" method="post" id="formID">
						<input type="hidden" name="JsonArrayString" id="hdnIpt">
					</form>
				<%}%>
				<br>
				<table align="center">
					<tr>
						<td>
							<nav>
							  <ul class="pagination">
								<li 
									<% if(targetPageNumber==1){%>
										class="disabled"
									<%}%>
								>
								<% if(targetPageNumber!=1){%>
									<a href="/lender/lenderReceiveMessages?msgKeyword=<%=encodeURIComponent(msgKeywordDefault)%>&filter=<%=encodeURIComponent(filterDefault)%>&classor=<%=encodeURIComponent(classorDefault)%>&sorter=<%=encodeURIComponent(sorterDefault)%>&director=<%=encodeURIComponent(directorDefault)%>&lbound=<%=encodeURIComponent(lboundDefault)%>&ubound=<%=encodeURIComponent(uboundDefault)%>&page=<%=targetPageNumber-1%>">
								<%}else{%>
									<a href="#" onclick="return false;">
								<%}%>
								<span>&laquo;</span></a></li>
								<% if(pageNumber<=10){%>
									<% for(var j=1; j<=pageNumber; j++) { %>
										<li 
											<% if(targetPageNumber==j){%>
												class="active"
											<%}%>
										><a href="/lender/lenderReceiveMessages?msgKeyword=<%=encodeURIComponent(msgKeywordDefault)%>&filter=<%=encodeURIComponent(filterDefault)%>&classor=<%=encodeURIComponent(classorDefault)%>&sorter=<%=encodeURIComponent(sorterDefault)%>&director=<%=encodeURIComponent(directorDefault)%>&lbound=<%=encodeURIComponent(lboundDefault)%>&ubound=<%=encodeURIComponent(uboundDefault)%>&page=<%=j%>"><%=j%></a></li>
									<%}%>
								<% }else{%>
									<% if(targetPageNumber>=pageNumber-3){%>
										<% for(var j=pageNumber-9; j<=pageNumber; j++) { %>
										<li 
											<% if(targetPageNumber==j){%>
												class="active"
											<%}%>
										><a href="/lender/lenderReceiveMessages?msgKeyword=<%=encodeURIComponent(msgKeywordDefault)%>&filter=<%=encodeURIComponent(filterDefault)%>&classor=<%=encodeURIComponent(classorDefault)%>&sorter=<%=encodeURIComponent(sorterDefault)%>&director=<%=encodeURIComponent(directorDefault)%>&lbound=<%=encodeURIComponent(lboundDefault)%>&ubound=<%=encodeURIComponent(uboundDefault)%>&page=<%=j%>"><%=j%></a></li>
										<%}%>
									<%}else if(targetPageNumber<=5){%>
										<% for(var j=1; j<=10; j++) { %>
										<li 
											<% if(targetPageNumber==j){%>
												class="active"
											<%}%>
										><a href="/lender/lenderReceiveMessages?msgKeyword=<%=encodeURIComponent(msgKeywordDefault)%>&filter=<%=encodeURIComponent(filterDefault)%>&classor=<%=encodeURIComponent(classorDefault)%>&sorter=<%=encodeURIComponent(sorterDefault)%>&director=<%=encodeURIComponent(directorDefault)%>&lbound=<%=encodeURIComponent(lboundDefault)%>&ubound=<%=encodeURIComponent(uboundDefault)%>&page=<%=j%>"><%=j%></a></li>
										<%}%>
									<%}else{%>
										<% for(var j=targetPageNumber-5; j<targetPageNumber; j++) { %>
										<li><a href="/lender/lenderReceiveMessages?msgKeyword=<%=encodeURIComponent(msgKeywordDefault)%>&filter=<%=encodeURIComponent(filterDefault)%>&classor=<%=encodeURIComponent(classorDefault)%>&sorter=<%=encodeURIComponent(sorterDefault)%>&director=<%=encodeURIComponent(directorDefault)%>&lbound=<%=encodeURIComponent(lboundDefault)%>&ubound=<%=encodeURIComponent(uboundDefault)%>&page=<%=j%>"><%=j%></a></li>
										<%}%>
										<li class="active"><a href="/lender/lenderReceiveMessages?msgKeyword=<%=encodeURIComponent(msgKeywordDefault)%>&filter=<%=encodeURIComponent(filterDefault)%>&classor=<%=encodeURIComponent(classorDefault)%>&sorter=<%=encodeURIComponent(sorterDefault)%>&director=<%=encodeURIComponent(directorDefault)%>&lbound=<%=encodeURIComponent(lboundDefault)%>&ubound=<%=encodeURIComponent(uboundDefault)%>&page=<%=targetPageNumber%>"><%=targetPageNumber%></a></li>
										<% for(var j=targetPageNumber+1; j<=targetPageNumber+4; j++) { %>
										<li><a href="/lender/lenderReceiveMessages?msgKeyword=<%=encodeURIComponent(msgKeywordDefault)%>&filter=<%=encodeURIComponent(filterDefault)%>&classor=<%=encodeURIComponent(classorDefault)%>&sorter=<%=encodeURIComponent(sorterDefault)%>&director=<%=encodeURIComponent(directorDefault)%>&lbound=<%=encodeURIComponent(lboundDefault)%>&ubound=<%=encodeURIComponent(uboundDefault)%>&page=<%=j%>"><%=j%></a></li>
										<%}%>
									<%}%>
								<%}%>
								<li 
									<% if(targetPageNumber==pageNumber){%>
										class="disabled"
									<%}%>
								>	
								<% if(targetPageNumber!=pageNumber){%>
									<a href="/lender/lenderReceiveMessages?msgKeyword=<%=encodeURIComponent(msgKeywordDefault)%>&filter=<%=encodeURIComponent(filterDefault)%>&classor=<%=encodeURIComponent(classorDefault)%>&sorter=<%=encodeURIComponent(sorterDefault)%>&director=<%=encodeURIComponent(directorDefault)%>&lbound=<%=encodeURIComponent(lboundDefault)%>&ubound=<%=encodeURIComponent(uboundDefault)%>&page=<%=targetPageNumber+1%>">
								<%}else{%>
									<a href="#" onclick="return false;">
								<%}%>
								<span>&raquo;</span></a></li>
							  </ul>
							</nav>
						</td>
					</tr>
				</table>
			<% }%>
		</div>
		<div class="col-md-3">
		</div>
	</div>
</div>
<script>
function classorSelector(index){
	$('#classorSelected').html('');
	$('#classorSelected').html($('#classor'+index).text());
	$('#classor0').html($('#classorSelected').text());
	$('#classorSelected').append(' <span class=\'caret\'><\/span>'); 
	for(i=1;i<=5;i++){
		$('#clis'+i).attr('class','');
	}
	$('#clis'+index).attr('class','active');
}

function filterSelector(index){
	$('#filterSelected').html('');
	$('#filterSelected').html($('#filter'+index).text());
	$('#filter0').html($('#filterSelected').text());
	$('#filterSelected').append(' <span class=\'caret\'><\/span>'); 
	for(i=1;i<=4;i++){
		$('#flis'+i).attr('class','');
	}
	$('#flis'+index).attr('class','active');
}

function sorterSelector(index){
	$('#lbound').val('');
	$('#ubound').val('');
	if(($('#sorter'+index).text()=='建立日期')||($('#sorter'+index).text()=='更新日期')){
		enableDater();
	}else{
		disableDater();
	}
	
	$('#sorterSelected').html('');
	$('#sorterSelected').html($('#sorter'+index).text());
	<% if((filterDefault=='未確認')&&(pageNumber>1)){%>
		//$('#sorterIpt').val($('#sorterSelected').text());
	<%}%>
	$('#sorter0').html($('#sorterSelected').text());
	$('#sorterSelected').append(' <span class=\'caret\'><\/span>');
	
	for(i=1;i<=11;i++){
		$('#slis'+i).attr('class','');
	}
	$('#slis'+index).attr('class','active');
	spanner($('#sorter0').text());
}

function directorSelector(index){
	$('#directorSelected').html('');
	$('#directorSelected').html($('#director'+index).text());
	<% if((filterDefault=='未確認')&&(pageNumber>1)){%>
		//$('#directorIpt').val($('#directorSelected').text());
	<%}%>
	$('#director0').html($('#directorSelected').text());
	$('#directorSelected').append(' <span class=\'caret\'><\/span>');
	for(i=1;i<=2;i++){
		$('#dlis'+i).attr('class','');
	}
	$('#dlis'+index).attr('class','active');
}

<%if((sorterDefault=='建立日期')||(sorterDefault=='更新日期')){%>
	var ifDater=true;
<%}else{%>
	var ifDater=false;
<%}%>
function enableDater(){
	if(!ifDater){
		$('#lbound').attr('type','date');
		$('#ubound').attr('type','date');
		$('#lbound').attr('placeholder','下限(年/月/日)');
		$('#ubound').attr('placeholder','上限(年/月/日)');
		ifDater=true;
	}
}

function disableDater(){
	if(ifDater){
		$('#lbound').attr('type','text');
		$('#ubound').attr('type','text');
		$('#lbound').attr('placeholder','下限');
		$('#ubound').attr('placeholder','上限');
		ifDater=false;
	}
}

function linker(){
	window.open('/lender/lenderReceiveMessages?msgKeyword='+encodeURIComponent($('#msgKeywordIpt').val())+'&filter='+encodeURIComponent($('#filter0').text())+'&classor='+encodeURIComponent($('#classor0').text())+'&sorter='+encodeURIComponent($('#sorter0').text())+'&director='+encodeURIComponent($('#director0').text())+'&lbound='+encodeURIComponent($('#lbound').val())+'&ubound='+encodeURIComponent($('#ubound').val())+'&page=1','_self');
}

<% if(totalResultNum>0){%>
	var myCtr1MaxPoint;
	var myCtr2MaxPoint;
	var myCtr3MaxPoint;
	
	var stringPro='<%if((!oflg)&&(pflg)){%><%-kpr%><%}%>';
	var highLightFlag=false;
	var stringArray=[];
	var stringArray2=[];
	var stringArrayRegex=[];
	var stringArray2Regex=[];
	function enableHighlight(){
		if(stringPro!==''){
			if(!highLightFlag){
				highLightFlag=true;
				for(we=0;we<stringArray2Regex.length;we++){
					$('.colorCnt').highlightRegex(stringArray2Regex[we]);
				}
				for(we=0;we<stringArrayRegex.length;we++){
					$('.colorCnt').highlightRegex(stringArrayRegex[we]);
				}
				$('#unhighlightBtn').removeClass('disabled');
				$('#unhighlightBtn').css('display','');
				$('#highlightBtn').addClass('disabled');
				$('#highlightBtn').css('display','none');
			}
		}
	}
	
	function disableHighlight(){
		if(stringPro!==''){
			if(highLightFlag){
				highLightFlag=false;
				$('.colorCnt').highlightRegex();
				$('#highlightBtn').removeClass('disabled');
				$('#highlightBtn').css('display','');
				$('#unhighlightBtn').addClass('disabled');
				$('#unhighlightBtn').css('display','none');
			}
		}
	}
	function spanner(tgtString){
		if((tgtString=='建立日期')||(tgtString=='更新日期')){
			$('#lbd').html('');
			$('#ubd').html('');
		}else if(tgtString=='欲借入期數'){
			$('#lbd').html('個月');
			$('#ubd').html('個月');
		}else if((tgtString=='欲借入年利率')||(tgtString=='預計利本比')){
			$('#lbd').html('%');
			$('#ubd').html('%');
		}else if((tgtString=='預計平均本利和')||(tgtString=='預計平均利息')){
			$('#lbd').html('元/月');
			$('#ubd').html('元/月');
		}else if(tgtString=='信用等級'){
			$('#lbd').html('級');
			$('#ubd').html('級');
		}else{
			$('#lbd').html('元');
			$('#ubd').html('元');
		}
	}
	
	var toselect = [];
	function overlap(a, b) {
		var l = b.length,
			m = a.length;
		for (var j = 1; j < l; j++) {
			if (a.indexOf(b.substr(l - j)) === 0) {
				toselect.push(b.concat(a.substr(j)));
			} else if (a.substr(m - j).indexOf(b.substr(0, j)) === 0) {
				toselect.push(a.concat(b.substr(j)));
			}
		}
	}
	function overdiag(arr) {
		toselect = []; //empties to select
		$.each(arr, function (i) {
			$.each(arr.slice(i + 1), function (i, v) {
				overlap(arr[i], v);
			});
		});
	}
	
	$(document).ready(function(){
		<% if(filterDefault=='未確認'){%>
			$("#selectAll").prop("checked", false);
			$("input[name='selectCheckBox']").each(function() {
				$(this).prop("checked", false);
			});
		<%}%>
		
		<%if((sorterDefault=='欲借入年利率')||(sorterDefault=='欲借入金額')||(sorterDefault=='欲借入期數')||(sorterDefault=='信用等級')||(sorterDefault=='預計總利息')||(sorterDefault=='預計本利和')||(sorterDefault=='預計平均利息')||(sorterDefault=='預計平均本利和')||(sorterDefault=='預計利本比')){%>
			piller(2);
			$("#pli1").removeClass("active");
			$("#pli2").addClass("active");
		<%}%>
		myCtr1MaxPoint=$('.myCtr1').length;
		myCtr2MaxPoint=$('.myCtr2').length;
		myCtr3MaxPoint=$('.myCtr3').length;
		$('.myCtr1').click(function(){setTimeout(checkPoint,250);});
		$('.myCtr2').click(function(){setTimeout(checkPoint,250);});
		$('.myCtr3').click(function(){setTimeout(checkPoint,250);});
		
		spanner('<%=sorterDefault%>');
		if(stringPro!==''){
			stringPro=stringPro.replace(/\s\s+/g,' ');
			stringArray=stringPro.split(' ');
			for(j=stringArray.length-1;j>-1;j--){
				if(stringArray[j].charAt(0)=='-'){
					stringArray.splice(j,1);
				}else if((stringArray[j].charAt(0)=='"')&&(stringArray[j].charAt(stringArray[j].length-1)=='"')){
					var tempCnt=stringArray[j].substring(1);
					tempCnt=tempCnt.substring(0,tempCnt.length-1);
					stringArray2.push(tempCnt);
					stringArray.splice(j,1);
				}
			}
			overdiag(stringArray);
			stringArray = stringArray.concat(toselect);
			stringArray = $.grep(stringArray, function (a, b) {
				return $.inArray(a,stringArray) === b;
			});
			stringArray.sort(function(a, b){
				return b.length - a.length;
			});
			stringArray2.sort(function(a, b){
				return b.length - a.length;
			});
			for(we=0;we<stringArray.length;we++){
				stringArrayRegex.push(new RegExp(stringArray[we].replace(/\./g,'\\.'),'ig'));
			}
			for(we=0;we<stringArray2.length;we++){
				var temperrr=stringArray2[we].replace(/%/g,'[^\\w\\u0800-\\u9fa5]+').replace(/\./g,'\\.');
				stringArray2Regex.push(new RegExp('(^|[^\\w\\u0800-\\u9fa5])'+temperrr+'($|[^\\w\\u0800-\\u9fa5])','ig'));
			}
			enableHighlight();
		}
	});
	
	function checkPoint(){
		var myCtr1Point=$('.myCtr1.active').length;
		var myCtr2Point=$('.myCtr2.active').length;
		var myCtr3Point=$('.myCtr3.active').length;
		
		if(myCtr1Point>=myCtr1MaxPoint){
			if(myCtr1MaxPoint!==0){
				$("#pli1").removeClass("active");
				$("#pli2").removeClass("active");
				$("#pli3").removeClass("active");
				$("#pli1").addClass("active");
			}
		}else if(myCtr2Point>=myCtr2MaxPoint){
			if(myCtr2MaxPoint!==0){
				$("#pli1").removeClass("active");
				$("#pli2").removeClass("active");
				$("#pli3").removeClass("active");
				$("#pli2").addClass("active");
			}
		}else if(myCtr3Point>=myCtr3MaxPoint){
			if(myCtr3MaxPoint!==0){
				$("#pli1").removeClass("active");
				$("#pli2").removeClass("active");
				$("#pli3").removeClass("active");
				$("#pli3").addClass("active");
			}
		}
	}
	
	
	function piller(target){
		if(target==1){
			for(k=0;k<<%=jsonMessage.length%>;k++){
				$('#myTab'+k+' a[href="#tab1'+k+'"]').tab('show');
			}
		}else if(target==2){
			for(k=0;k<<%=jsonMessage.length%>;k++){
				$('#myTab'+k+' a[href="#tab2'+k+'"]').tab('show');
			}
		}<% if((filterDefault=='已同意')||(filterDefault=='不分類')){%>else if(target==3){
			for(k=0;k<<%=jsonMessage.length%>;k++){
				$('#myTab'+k+' a[href="#tab3'+k+'"]').tab('show');
			}
		}<%}%>
	}
	
	<% if(filterDefault=='未確認'){%>
		<%if(jsonLend){%>				
			var lendChangerFlag=false;
			function lendChanger(){
				if(!lendChangerFlag){
					var temp=$('#lendChangerIpt').val().trim();
					if(temp!==''){
						ajaxer(temp);
					}else{
						$('#s0').html('&nbsp;&nbsp;&nbsp;&nbsp;不可為空值！');
					}
				}
			}

			function ajaxer(value){
				$('#s0').html('&nbsp;&nbsp;&nbsp;&nbsp;處理中...');
				starter();
				$.ajax({ 
					url: '/Lends/changer',
					type: 'POST',
					data:{Value:value,TargetID:"<%=jsonLend._id%>"},
					dataType: 'json',
					success: function(Jdata) {
						if(Jdata.success){
							$('#lendChangerIpt0').val(Jdata.result0.toFixed(0));
							$('#lendChangerIpt1').val(Jdata.result.maxSettingAutoLend.toFixed(0));
							$('#lendChangerIpt2').val(Jdata.result.moneyLendedCumulated.toFixed(0));
							$('#lendChangerIpt3').val(Jdata.result.hendLendCumulated.toFixed(0));
							$('#lendChangerIpt4').val(Jdata.result.moneyLeftToHendLend.toFixed(0));
							$('#lendChangerIpt5').val(Jdata.result.autoLendCumulated.toFixed(0));
							$('#lendChangerIpt6').val(Jdata.result.moneyLeftToAutoLend.toFixed(0));
							$('#lendChangerIpt').val(Jdata.result.maxMoneyToLend.toFixed(0));
							$('#s0').html('&nbsp;&nbsp;&nbsp;&nbsp;成功修改！');
						}else{
							if(Jdata.result0){
								$('#lendChangerIpt0').val(Jdata.result0.toFixed(0));
							}
							if(Jdata.origValue){
								$('#lendChangerIpt').val(Jdata.origValue.toFixed(0));
							}
							$('#s0').html('&nbsp;&nbsp;&nbsp;&nbsp;'+Jdata.error);
						}
						ender();
					},
					error: function() {
						$('#s0').html('&nbsp;&nbsp;&nbsp;&nbsp;something wrong!');
						ender();
					}
				});	
			}

			function starter(){
				lendChangerFlag=true;
				$('#lendChangerIpt').attr('onkeypress','');
				$('#lendChangerIpt').attr('readonly','readonly');
				$('#lendChangerBtn').addClass('disabled');
				
				disableButton();
			}

			function ender(){
				lendChangerFlag=false;
				$('#lendChangerIpt').attr('onkeypress','if(event.keyCode==13){lendChanger();}');
				$('#lendChangerIpt').removeAttr("readonly");
				$('#lendChangerBtn').removeClass('disabled');
				
				enableButton();
			}
		<%}%>

		function checkAndOpenModal(target){
			var ctr=0;
			$("input[name='selectCheckBox']").each(function() {
					if($(this).prop("checked")){
						ctr+=1;
					}
			});
			if(ctr>0){
				if(target=='#chkModal3'){
					<%if(jsonLend){%>
						$('#seCtr1').html(ctr);
					<%}%>
				}else if(target=='#chkModal4'){
					$('#seCtr2').html(ctr);
				}
				$(target).modal('show');
			}else{
				$('#msgModal').modal('show');
			}
		}

		function selectAllFun(){
			if($("#selectAll").prop("checked"))
			{
				$("input[name='selectCheckBox']").each(function() {
					$(this).prop("checked", true);
				});
				var value1R=0;
				var value2R=0;
				var value3R=0;
				var value4R=0;
				var value5R=0;
				var value6;
				for(i=0;i<<%=jsonMessage.length%>;i++){
					value1R+=parseFloat($("#value1"+i).text());
					value2R+=parseFloat($("#value2"+i).text());
					value3R+=parseFloat($("#value3"+i).text());
					value4R+=parseFloat($("#value4"+i).text());
					value5R+=parseFloat($("#value5"+i).text());
				}
				
				if(value1R>0){
					value6=value2R/value1R*100;
				}else{
					value6=0;
				}
				$("#value1").text(Math.round(value1R).toFixed(0));
				$("#value2").text(Math.round(value2R).toFixed(0));
				$("#value3").text(Math.round(value3R).toFixed(0));
				$("#value4").text(Math.round(value4R).toFixed(0));
				$("#value5").text(Math.round(value5R).toFixed(0));
				$("#value1R").text(value1R);
				$("#value2R").text(value2R);
				$("#value3R").text(value3R);
				$("#value4R").text(value4R);
				$("#value5R").text(value5R);
				$("#value6").text((Math.round(value6*100)/100).toFixed(2));
			}else{
				$("input[name='selectCheckBox']").each(function() {
					$(this).prop("checked", false);
				});
				$("#value1").text(0);
				$("#value2").text(0);
				$("#value3").text(0);
				$("#value4").text(0);
				$("#value5").text(0);
				$("#value1R").text(0);
				$("#value2R").text(0);
				$("#value3R").text(0);
				$("#value4R").text(0);
				$("#value5R").text(0);
				$("#value6").text('0.00');		
			}
		}

		function selectFun(index){
			var value1R=parseFloat($("#value1R").text());
			var fee1=parseFloat($("#value1"+index).text());
			var value2R=parseFloat($("#value2R").text());
			var fee2=parseFloat($("#value2"+index).text());
			var value3R=parseFloat($("#value3R").text());
			var fee3=parseFloat($("#value3"+index).text());
			var value4R=parseFloat($("#value4R").text());
			var fee4=parseFloat($("#value4"+index).text());
			var value5R=parseFloat($("#value5R").text());
			var fee5=parseFloat($("#value5"+index).text());
			var value6;
			
			if($("#selectCheckBoxId"+index).prop("checked"))
			{
				value1R+=fee1;
				value2R+=fee2;
				value3R+=fee3;
				value4R+=fee4;
				value5R+=fee5;
				if(value1R>0){
					value6=value2R/value1R*100;
				}else{
					value6=0;
				}
				$("#value1").text(Math.round(value1R).toFixed(0));
				$("#value2").text(Math.round(value2R).toFixed(0));
				$("#value3").text(Math.round(value3R).toFixed(0));
				$("#value4").text(Math.round(value4R).toFixed(0));
				$("#value5").text(Math.round(value5R).toFixed(0));
				$("#value1R").text(value1R);
				$("#value2R").text(value2R);
				$("#value3R").text(value3R);
				$("#value4R").text(value4R);
				$("#value5R").text(value5R);
				$("#value6").text((Math.round(value6*100)/100).toFixed(2));
				
				var ctr=0;
				$("input[name='selectCheckBox']").each(function() {
					if($(this).prop("checked")){
						ctr+=1;
					}
				});
				if(ctr==$("input[name='selectCheckBox']").length){
					$("#selectAll").prop("checked", true);
				}
			}else{
				value1R-=fee1;
				value2R-=fee2;
				value3R-=fee3;
				value4R-=fee4;
				value5R-=fee5;
				if(value1R>0){
					value6=value2R/value1R*100;
				}else{
					value6=0;
				}
				$("#value1").text(Math.round(value1R).toFixed(0));
				$("#value2").text(Math.round(value2R).toFixed(0));
				$("#value3").text(Math.round(value3R).toFixed(0));
				$("#value4").text(Math.round(value4R).toFixed(0));
				$("#value5").text(Math.round(value5R).toFixed(0));
				$("#value1R").text(value1R);
				$("#value2R").text(value2R);
				$("#value3R").text(value3R);
				$("#value4R").text(value4R);
				$("#value5R").text(value5R);
				$("#value6").text((Math.round(value6*100)/100).toFixed(2));

				var ctr=0;
				$("input[name='selectCheckBox']").each(function() {
					if($(this).prop("checked")){
						ctr+=1;
					}
				});
				if(ctr<$("input[name='selectCheckBox']").length){
					$("#selectAll").prop("checked", false);
				}		
			}
		}

		<%if(pageNumber>1){%>
			<%if(jsonLend){%>
				var confirmAllFlag=false;
				function confirmAll(){
					if(!confirmAllFlag){
						$('#chkModal1').modal('hide');
						disableButton();
						var form=document.getElementById('formID0');
						form.submit();
					}
				}
			<%}%>

		var rejectAllFlag=false;
		function rejectAll(){
			if(!rejectAllFlag){
				$('#chkModal2').modal('hide');
				disableButton();
				var form=document.getElementById('formID0');
				form.action="/Messages/rejectToBorrowMessageInLRMall";
				form.submit();
			}
		}
		<%}%>

		<%if(jsonLend){%>
		var confirmFlag=false;
		function confirm(){
			if(!confirmFlag){
				$('#chkModal3').modal('hide');
				disableButton();
				samepart(confirmInner);
			}
		}
		<%}%>

		var rejectFlag=false;
		function reject(){
			if(!rejectFlag){
				$('#chkModal4').modal('hide');
				disableButton();
				samepart(rejectInner);
			}
		}

		function disableButton(){
			<%if(jsonLend){%>
				confirmFlag=true;
				$('#confirmBtn').addClass('disabled');
			<%}%>
			
			rejectFlag=true;
			$('#rejectBtn').addClass('disabled');
			
			<%if(pageNumber>1){%>
				<%if(jsonLend){%>	
					confirmAllFlag=true;
					$('#confirmAllBtn').addClass('disabled');
				<%}%>
					
			rejectAllFlag=true;
			$('#rejectAllBtn').addClass('disabled');
			<%}%>
		}

		function enableButton(){
			<%if(jsonLend){%>
				confirmFlag=false;
				$('#confirmBtn').removeClass('disabled');
			<%}%>
			
			rejectFlag=false;
			$('#rejectBtn').removeClass('disabled');
			
			<%if(pageNumber>1){%>
				<%if(jsonLend){%>
					confirmAllFlag=false;
					$('#confirmAllBtn').removeClass('disabled');
				<%}%>

				rejectAllFlag=false;
				$('#rejectAllBtn').removeClass('disabled');
			<%}%>
		}


		<%if(jsonLend){%>
			function confirmInner(){
				var form=document.getElementById('formID');
				form.submit();
			}
		<%}%>

		function rejectInner(){
			var form=document.getElementById('formID');
			form.action="/Messages/rejectToBorrowMessageInLRM";
			form.submit();
		}

		function samepart(toDO){
			var JSONarrayString='{"array":['
			$("input[name='selectCheckBox']").each(function() {
					if($(this).prop("checked")){
						JSONarrayString+=$(this).val();
						JSONarrayString+=',';
					}
			});
			if(JSONarrayString!='{"array":['){
				JSONarrayString=JSONarrayString.substr(0,JSONarrayString.length-1);
				JSONarrayString+=']}';
				$("#hdnIpt").val(JSONarrayString);
				toDO();
			}
		}
	<%}%>
<%}%>
</script>
<%- include('layout_footer',{imgSettingCode:"var ifLoadedCount=0;",imgDrawingCode:"",nav_cur:'lenderReceiveMessages'}); -%>