<%- include('layout_header',{searchTitle:msgKeywordDefault,nav_cur:'lenderSendMessages',actionDefault:'建立日期',directorDefault:'大至小',keywordDefault:'',categoryDefault:'不分類'}); -%>
<div class="container">
	<div class="row">
		<div class="col-md-9">
			<div style="font-size:30pt;">借出者送出之訊息 - <%=filterDefault%></div>
				<div style="font-size:20pt;">&nbsp;<%=totalResultNum%> result</div>
				<br>
				<div class="input-group">
					<input type="text" style="height:40px;" class="form-control" id="msgKeywordIpt" placeholder="搜尋訊息內容、故事標題或用戶名稱" value="<%=msgKeywordDefault%>" onkeypress="if(event.keyCode==13){linker();}">
					<span class="input-group-btn">
						<div class="btn-group">
							<button type="button" style="height:40px;" class="btn btn-default dropdown-toggle" data-toggle="dropdown" id="filterSelected">
								<%=filterDefault%> <span class="caret"></span>
							</button>
							<ul class="dropdown-menu">
								<li style="display:none"><a href="#" id="filter0"><%=filterDefault%></a></li>
								<li id="flis1"<%if(filterDefault=='未被確認'){%> class="active"<%}%>><a href="#" onclick="filterSelector(1);return false;" id="filter1">未被確認</a></li>
								<li id="flis2"<%if(filterDefault=='已被同意'){%> class="active"<%}%>><a href="#" onclick="filterSelector(2);return false;" id="filter2">已被同意</a></li>
								<li id="flis3"<%if(filterDefault=='已被婉拒'){%> class="active"<%}%>><a href="#" onclick="filterSelector(3);return false;" id="filter3">已被婉拒</a></li>
							</ul>
						</div>
						<div class="btn-group">
							<button type="button" style="height:40px;" class="btn btn-default" id="sorterSelected" data-toggle="dropdown" aria-expanded="false"><%=sorterDefault%> <span class='caret'></span></button>
							<ul class="dropdown-menu" role="menu">
								<li style="display:none"><a href="#" id="sorter0"><%=sorterDefault%></a></li>
								<li id="slis1"<%if(sorterDefault=='更新日期'){%> class="active"<%}%>><a href="#" onclick="sorterSelector(1);return false;" id="sorter1">更新日期</a></li>
								<li id="slis2"<%if(sorterDefault=='建立日期'){%> class="active"<%}%>><a href="#" onclick="sorterSelector(2);return false;" id="sorter2">建立日期</a></li>
								<li id="slis3"<%if(sorterDefault=='利率'){%> class="active"<%}%>><a href="#" onclick="sorterSelector(3);return false;" id="sorter3">利率</a></li>
								<li id="slis4"<%if(sorterDefault=='金額'){%> class="active"<%}%>><a href="#" onclick="sorterSelector(4);return false;" id="sorter4">金額</a></li>
								<li id="slis5"<%if(sorterDefault=='期數'){%> class="active"<%}%>><a href="#" onclick="sorterSelector(5);return false;" id="sorter5">期數</a></li>
								<li id="slis6"<%if(sorterDefault=='信用等級'){%> class="active"<%}%>><a href="#" onclick="sorterSelector(6);return false;" id="sorter6">信用等級</a></li>
								<li id="slis7"<%if(sorterDefault=='預計總利息'){%> class="active"<%}%>><a href="#" onclick="sorterSelector(7);return false;" id="sorter7">預計總利息</a></li>
								<li id="slis8"<%if(sorterDefault=='預計平均利息'){%> class="active"<%}%>><a href="#" onclick="sorterSelector(8);return false;" id="sorter8">預計平均利息</a></li>
								<li id="slis9"<%if(sorterDefault=='預計平均本利和'){%> class="active"<%}%>><a href="#" onclick="sorterSelector(9);return false;" id="sorter9">預計平均本利和</a></li>
								<li id="slis10"<%if(sorterDefault=='預計利本比'){%> class="active"<%}%>><a href="#" onclick="sorterSelector(10);return false;" id="sorter10">預計利本比</a></li>
							</ul>
						</div>
						<div class="btn-group">
							<button type="button" style="height:40px;" class="btn btn-default" id="directorSelected" data-toggle="dropdown" aria-expanded="false"><%=directorDefault%> <span class='caret'></span></button>
							<ul class="dropdown-menu" role="menu">
								<li style="display:none"><a href="#" id="director0"><%=directorDefault%></a></li>
								<li id="dlis1"<%if(directorDefault=='大至小'){%> class="active"<%}%>><a href="#" onclick="directorSelector(1);return false;" id="director1">大至小</a></li>
								<li id="dlis2"<%if(directorDefault=='小至大'){%> class="active"<%}%>><a href="#" onclick="directorSelector(2);return false;" id="director2">小至大</a></li>
							</ul>
						</div>
						<button type="button" style="height:40px;" class="btn btn-default" onclick="linker();">Go!</button>
					</span>
				</div>
				<br>
				<%if((sorterDefault=='建立日期')||(sorterDefault=='更新日期')){%>
					<input style="height:32px;width:180px;display:inline;" type="date" placeholder="" class="form-control" value="<%=lboundDefault%>" id="lbound" onkeypress="if(event.keyCode==13){linker();}">
					&nbsp;~&nbsp;
					<input style="height:32px;width:180px;display:inline;" type="date" placeholder="" class="form-control" value="<%=uboundDefault%>" id="ubound" onkeypress="if(event.keyCode==13){linker();}">
				<%}else{%>
					<input style="height:32px;width:180px;display:inline;" type="text" placeholder="下限(元/%/個月/級)" class="form-control" value="<%=lboundDefault%>" id="lbound" onkeypress="if(event.keyCode==13){linker();}">
					&nbsp;~&nbsp;
					<input style="height:32px;width:180px;display:inline;" type="text" placeholder="上限(元/%/個月/級)" class="form-control" value="<%=uboundDefault%>" id="ubound" onkeypress="if(event.keyCode==13){linker();}">
				<%}%>
				<br>
				<%if((delJSON)&&(filterDefault=='未被確認')){%>
					<br>
					<%=delJSON.Contect%>
					<br>
					欲刪除<%=delJSON.InfoJSON.counter1%>筆訊息，其中<%=delJSON.InfoJSON.counter2%>筆成功，<%=delJSON.InfoJSON.counter1-delJSON.InfoJSON.counter2%>筆失敗
					<br>
				<%}%>
				<% if(totalResultNum>0){ %>
					<% if(filterDefault=='未被確認'){%>
						<br>
						<input type="checkbox" id="selectAll" onclick="selectAllFun();"> 全選&nbsp;&nbsp;&nbsp;&nbsp;
						<button type="button" class="btn btn-danger" onclick="checkAndOpenModal('#chkModal2')">
							刪除
						</button>
						<div class="modal fade" id="chkModal2">
							<div class="modal-dialog modal-sm">
								<div class="modal-content">
									<div class="modal-header" style="text-align: center;">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
										<h4 class="modal-title">再次確認</h4>
									</div>
									<div class="modal-body" style="text-align: center;">
										<br>
										您確定要刪除已選之<div id="seCtr1" style="display:inline;"></div>筆訊息嗎?
										<br>
										<br>
									</div>
									<div class="modal-footer" style="text-align: center;">
										<button class="btn btn-danger" id="deleteBtn" onclick="deleteSelected();">
											確定
										</button>
										<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
									</div>
								</div>
							</div>
						</div>
						&nbsp;&nbsp;
						<%if(pageNumber>1){%>
							<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#chkModal1">
								刪除全部送出之訊息
							</button>
							<div class="modal fade" id="chkModal1">
								<div class="modal-dialog modal-sm">
									<div class="modal-content">
										<div class="modal-header" style="text-align: center;">
											<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
											<h4 class="modal-title">再次確認</h4>
										</div>
										<div class="modal-body" style="text-align: center;">
											<br>
											您確定要刪除全部送出之訊息嗎?
											<br>
											<br>
										</div>
										<div class="modal-footer" style="text-align: center;">
											<button class="btn btn-danger" id="deleteAllBtn" onclick="deleteAll();">
												確定
											</button>
											&nbsp;
											<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
										</div>
									</div>
								</div>
							</div>
						<%}%>
						<br>
						<br>
						<br>
						<div class="modal fade" id="msgModal">
							<div class="modal-dialog modal-sm">
								<div class="modal-content">
									<div class="modal-header" style="text-align: center;">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
										<h4 class="modal-title">訊息</h4>
									</div>
									<div class="modal-body" style="text-align: center;">
										<br>
										您未選擇訊息！
										<br>
										<br>
									</div>
									<div class="modal-footer" style="text-align: center;">
										<button type="button" class="btn btn-default" data-dismiss="modal">關閉</button>
									</div>
								</div>
							</div>
						</div>
					<%}else{%>
						<br>
						<br>
					<%}%>
					<% for(var i=0; i<jsonMessage.length; i++) { %>
					<ul class="nav nav-tabs">
						<li class="active"><a href="#tab1<%=i%>" data-toggle="tab">訊息</a></li>
						<li><a href="#tab2<%=i%>" data-toggle="tab">資訊</a></li>
						<% if(filterDefault=='已被同意'){%>
						<li><a href="#tab3<%=i%>" data-toggle="tab">交易紀錄</a></li>
						<% }%>
					</ul>
					<div style="height:340px;" class="tab-content my-tab-content">
						<div class="tab-pane active" id="tab1<%=i%>">
							<div style="font-size:25px;display:inline;">送往 </div>
							<div style="font-size:25px;display:inline;" class="myTitle"><%=jsonMessage[i].SendTo.Username%></div>
							<br>
							&nbsp;&nbsp;在 <a style="font-size:15px;" href="/lender/story?id=<%=jsonMessage[i].FromBorrowRequest._id%>"><%-jsonMessage[i].FromBorrowRequest.StoryTitle.replace(new RegExp(' ','g'),'&nbsp;')%></a>
							<br>
							<br>
							<div>
								<%-jsonMessage[i].Message.replace(new RegExp('\n','g'),'<br>').replace(new RegExp(' ','g'),'&nbsp;')%>
							</div>
						</div>
						<div class="tab-pane" id="tab2<%=i%>">
							<div class="col-md-6">
								<table width="100%" height="310px">
									<tr>
										<td>
											<div class="myTitle">
												欲借出金額：
											</div>
										</td>
									<tr>
									<tr>
										<td>
											<div>
												&nbsp;&nbsp;&nbsp;&nbsp;<%=jsonMessage[i].MoneyToLend.toFixed(0)%>元
											</div>	
										</td>
									<tr>
									<tr>
										<td>
											<div class="myTitle">
												欲借出年利率：
											</div>
										</td>
									<tr>
									<tr>
										<td>
											<div>
												&nbsp;&nbsp;&nbsp;&nbsp;<%=(jsonMessage[i].InterestRate*100).toFixed(2)%>%
											</div>	
										</td>
									<tr>
									<tr>
										<td>
											<div class="myTitle">
												欲借出期數：
											</div>
										</td>
									<tr>
									<tr>
										<td>
											<div>
												&nbsp;&nbsp;&nbsp;&nbsp;<%=jsonMessage[i].MonthPeriod.toFixed(0)%>個月
											</div>	
										</td>
									<tr>
									<tr>
										<td>
											<div class="myTitle">
												對方信用等級：
											</div>
										</td>
									<tr>
									<tr>
										<td>
											<div>
												&nbsp;&nbsp;&nbsp;&nbsp;<%=jsonMessage[i].Level.toFixed(0)%>級
											</div>	
										</td>
									<tr>
								</table>	
							</div>
							<div class="col-md-6">
								<table width="100%" height="310px">	
									<tr>
										<td>
											<div class="myTitle">
												預計總利息：
											</div>
										</td>
									<tr>
									<tr>
										<td>
											<div>
												&nbsp;&nbsp;&nbsp;&nbsp;<%=jsonMessage[i].InterestInFuture.toFixed(0)%>元
											</div>	
										</td>
									<tr>
									<tr>
										<td>
											<div class="myTitle">
												預計每期平均利息：
											</div>
										</td>
									<tr>
									<tr>
										<td>
											<div>
												&nbsp;&nbsp;&nbsp;&nbsp;<%=jsonMessage[i].InterestInFutureMonth.toFixed(0)%>元
											</div>	
										</td>
									<tr>
									<tr>
										<td>
											<div class="myTitle">
												預計每期平均本利和：
											</div>
										</td>
									<tr>
									<tr>
										<td>
											<div>
												&nbsp;&nbsp;&nbsp;&nbsp;<%=jsonMessage[i].InterestInFutureMoneyMonth.toFixed(0)%>元
											</div>	
										</td>
									<tr>
									<tr>
										<td>
											<div class="myTitle">
												預計總利息/最初本金比：
											</div>
										</td>
									<tr>
									<tr>
										<td>
											<div>
												&nbsp;&nbsp;&nbsp;&nbsp;<%=jsonMessage[i].InterestInFutureDivMoney.toFixed(2)%>%
											</div>	
										</td>
									<tr>
								</table>
							</div>
						</div>
						<% if(filterDefault=='已被同意'){%>
							<div class="tab-pane" id="tab3<%=i%>">
								<div class="col-md-6">
									<table width="100%" height="270px">
										<tr>
											<td>
												<div class="myTitle">
													對方未還本金：
												</div>
											</td>
										<tr>
										<tr>
											<td>
												<div>
													&nbsp;&nbsp;&nbsp;&nbsp;<%=jsonMessage[i].Transaction[0].Principal.toFixed(0)%>元
												</div>	
											</td>
										<tr>
										<tr>
											<td>
												<div class="myTitle">
													對方已還本金：
												</div>
											</td>
										<tr>
										<tr>
											<td>
												<div>
													&nbsp;&nbsp;&nbsp;&nbsp;<%=jsonMessage[i].Transaction[0].PrincipalReturnedCumulated.toFixed(0)%>元
												</div>	
											</td>
										<tr>
										<tr>
											<td>
												<div class="myTitle">
													年利率：
												</div>
											</td>
										<tr>
										<tr>
											<td>
												<div>
													&nbsp;&nbsp;&nbsp;&nbsp;<%=(jsonMessage[i].Transaction[0].InterestRate*100).toFixed(2)%>%
												</div>	
											</td>
										<tr>
										<tr>
											<td>
												<div class="myTitle">
													已得利息：
												</div>
											</td>
										<tr>
										<tr>
											<td>
												<div>
													&nbsp;&nbsp;&nbsp;&nbsp;<%=jsonMessage[i].Transaction[0].InterestCumulated.toFixed(0)%>元
												</div>	
											</td>
										<tr>
										<tr>
											<td>
												<div class="myTitle">
													剩下期數：
												</div>
											</td>
										<tr>
										<tr>
											<td>
												<div>
													&nbsp;&nbsp;&nbsp;&nbsp;<%=jsonMessage[i].Transaction[0].MonthPeriod.toFixed(0)%>個月
												</div>	
											</td>
										<tr>
										<tr>
											<td>
												<div class="myTitle">
													已過期數:
												</div>
											</td>
										<tr>
										<tr>
											<td>
												<div>
													&nbsp;&nbsp;&nbsp;&nbsp;<%=jsonMessage[i].Transaction[0].MonthPeriodHasPast.toFixed(0)%>個月
												</div>	
											</td>
										<tr>
										<tr>
											<td>
												<div class="myTitle">
													成交日期:
												</div>
											</td>
										<tr>
										<tr>
											<td>
												<div>
													&nbsp;&nbsp;&nbsp;&nbsp;<%=jsonMessage[i].Transaction[0].Created.getFullYear()%>/<%=jsonMessage[i].Transaction[0].Created.getMonth()+1%>/<%=jsonMessage[i].Transaction[0].Created.getDate()%>
												</div>	
											</td>
										<tr>
										<tr>
											<td>
												<div class="myTitle">
													預計尚可收取利息：
												</div>
											</td>
										<tr>
										<tr>
											<td>
												<div>
													&nbsp;&nbsp;&nbsp;&nbsp;<%=jsonMessage[i].Transaction[0].InterestInFuture.toFixed(0)%>元
												</div>	
											</td>
										<tr>
									</table>
								</div>
								<div class="col-md-6">
									<table width="100%" height="270px">
										<tr>
											<td>
												<div class="myTitle">
													預計剩餘每期平均利息：
												</div>
											</td>
										<tr>
										<tr>
											<td>
												<div>
													&nbsp;&nbsp;&nbsp;&nbsp;<%=jsonMessage[i].Transaction[0].InterestInFutureMonth.toFixed(0)%>元
												</div>	
											</td>
										<tr>
										<tr>
											<td>
												<div class="myTitle">
													預計剩餘每期平均本利和：
												</div>
											</td>
										<tr>
										<tr>
											<td>
												<div>
													&nbsp;&nbsp;&nbsp;&nbsp;<%=jsonMessage[i].Transaction[0].InterestInFutureMoneyMonth.toFixed(0)%>元
												</div>	
											</td>
										<tr>
										<tr>
											<td>
												<div class="myTitle">
													預計尚可收取利息/目前本金比：
												</div>
											</td>
										<tr>
										<tr>
											<td>
												<div>
													&nbsp;&nbsp;&nbsp;&nbsp;<%=jsonMessage[i].Transaction[0].InterestInFutureDivMoney.toFixed(2)%>%
												</div>	
											</td>
										<tr>
										<tr>
											<td>
												<div class="myTitle">
													 上次成功收款日期:
												</div>
											</td>
										<tr>
										<tr>
											<td>
												<div>
													&nbsp;&nbsp;&nbsp;&nbsp;<%if(jsonMessage[i].Transaction[0].previousPayDate){%><%=jsonMessage[i].Transaction[0].previousPayDate.getFullYear()%>/<%=jsonMessage[i].Transaction[0].previousPayDate.getMonth()+1%>/<%=jsonMessage[i].Transaction[0].previousPayDate.getDate()%><%}else{%>無收款記錄<%}%>
												</div>	
											</td>
										<tr>
										<tr>
											<td>
												<div class="myTitle">
													下次應收款日期：
												</div>
											</td>
										<tr>
										<tr>
											<td>
												<div>
													&nbsp;&nbsp;&nbsp;&nbsp;<%if(jsonMessage[i].Transaction[0].nextPayDate){%><%=jsonMessage[i].Transaction[0].nextPayDate.getFullYear()%>/<%=jsonMessage[i].Transaction[0].nextPayDate.getMonth()+1%>/<%=jsonMessage[i].Transaction[0].nextPayDate.getDate()%><%}else{%>已還清<%}%>
												</div>	
											</td>
										<tr>
										<tr>
											<td>
												<div class="myTitle">
													保險所需費用：
												</div>
											</td>
										<tr>
										<tr>
											<td>
												<div>
													&nbsp;&nbsp;&nbsp;&nbsp;<%if(jsonMessage[i].Transaction[0].Principal*insuranceRate<1){%>1<%}else{%><%=(jsonMessage[i].Transaction[0].Principal*insuranceRate).toFixed(0)%><%}%>元
												</div>	
											</td>
										<tr>
										<tr>
											<td>
												<div class="myTitle">
													已付保險費用：
												</div>
											</td>
										<tr>
										<tr>
											<td>
												<div>
													&nbsp;&nbsp;&nbsp;&nbsp;<%=jsonMessage[i].Transaction[0].InsuranceFeePaid.toFixed(0)%>元
												</div>	
											</td>
										<tr>
										<tr>
											<td>
												<div class="myTitle">
													已收款次數：
												</div>
											</td>
										<tr>
										<tr>
											<td>
												<div>
													&nbsp;&nbsp;&nbsp;&nbsp;<%=jsonMessage[i].Transaction[0].ReturnCount.toFixed(0)%>次
												</div>	
											</td>
										<tr>
									</table>
								</div>
							</div>
						<%}%>
					</div>
					<div style="border-top-style: none;border-right-style: none;border-bottom-style: none;border-left-style: none;margin-top: 0px;margin-bottom: 0px;" class="table-responsive">
						<table style="margin-bottom: 0px;margin-top: 0px;" class="table" width="100%">
						<tr>
							<%if(filterDefault=='未被確認'){%>
								<td style="border-bottom-style: none;border-top-style: none;">
									<input type="checkbox" name="selectCheckBox" id="selectCheckBoxId<%=i%>" onclick="selectFun(<%=i%>);" value='{"MessageID":"<%=jsonMessage[i]._id%>"}'> 選擇
								</td>
							<%}%>
							<td align="right" style="border-bottom-style: none;border-top-style: none;">
								<div>
									<%if(filterDefault=='已被同意'){%><a href="/lender/lenderTransactionRecord?oneid=<%=jsonMessage[i].Transaction[0]._id%>&filter=<%if(jsonMessage[i].Transaction[0].InsuranceFeePaid>0){%><%=encodeURIComponent("已保險")%><%}else if(jsonMessage[i].Transaction[0].InsuranceFeePaid==0){%><%=encodeURIComponent("未保險")%><%}%>&sorter=<%=encodeURIComponent("建立日期")%>&director=<%=encodeURIComponent("大至小");%>&lbound=&ubound=&page=1">查詢該筆交易</a>&nbsp;&nbsp;&nbsp;&nbsp;<%}%>Updated：<%=jsonMessage[i].Updated.getFullYear()%>/<%=jsonMessage[i].Updated.getMonth()+1%>/<%=jsonMessage[i].Updated.getDate()%>&nbsp;&nbsp;&nbsp;&nbsp;Created：<%=jsonMessage[i].Created.getFullYear()%>/<%=jsonMessage[i].Created.getMonth()+1%>/<%=jsonMessage[i].Created.getDate()%>
								</div>
							</td>
						<tr>
						</table>
					</div>
					<br>
				<%}%>
				<%if(filterDefault=='未被確認'){%>
					<%if(pageNumber>1){%>
						<form action="/Messages/deleteToLendMessageInLRMall" method="post" id="formID0">
							<input type="hidden" name="msgKeyword" id="msgKeywordIpt" value="<%=msgKeywordDefault%>">
							<input type="hidden" name="sorter" id="sorterIpt" value="<%=sorterDefault%>">
							<input type="hidden" name="director" id="directorIpt" value="<%=directorDefault%>">
							<input type="hidden" name="lbound" id="lboundIpt" value="<%=lboundDefault%>">
							<input type="hidden" name="ubound" id="uboundIpt" value="<%=uboundDefault%>">
						</form>
					<%}%>
					<form action="/Messages/deleteToLendMessageInLRM" method="post" id="formID">
						<input type="hidden" name="JsonArrayString" id="hdnIpt">
					</form>
				<%}%>
				<br>
				<table align="center">
					<tr>
						<td>
							<nav>
							  <ul class="pagination">
								<li 
									<% if(targetPageNumber==1){%>
										class="disabled"
									<%}%>
								>
								<% if(targetPageNumber!=1){%>
									<a href="/lender/lenderSendMessages?msgKeyword=<%=encodeURIComponent(msgKeywordDefault)%>&filter=<%=encodeURIComponent(filterDefault)%>&sorter=<%=encodeURIComponent(sorterDefault)%>&director=<%=encodeURIComponent(directorDefault)%>&lbound=<%=encodeURIComponent(lboundDefault)%>&ubound=<%=encodeURIComponent(uboundDefault)%>&page=<%=targetPageNumber-1%>">
								<%}else{%>
									<a href="#" onclick="return false;">
								<%}%>
								<span>&laquo;</span></a></li>
								<% if(pageNumber<=10){%>
									<% for(var j=1; j<=pageNumber; j++) { %>
										<li 
											<% if(targetPageNumber==j){%>
												class="active"
											<%}%>
										><a href="/lender/lenderSendMessages?msgKeyword=<%=encodeURIComponent(msgKeywordDefault)%>&filter=<%=encodeURIComponent(filterDefault)%>&sorter=<%=encodeURIComponent(sorterDefault)%>&director=<%=encodeURIComponent(directorDefault)%>&lbound=<%=encodeURIComponent(lboundDefault)%>&ubound=<%=encodeURIComponent(uboundDefault)%>&page=<%=j%>"><%=j%></a></li>
									<%}%>
								<% }else{%>
									<% if(targetPageNumber>=pageNumber-3){%>
										<% for(var j=pageNumber-9; j<=pageNumber; j++) { %>
										<li 
											<% if(targetPageNumber==j){%>
												class="active"
											<%}%>
										><a href="/lender/lenderSendMessages?msgKeyword=<%=encodeURIComponent(msgKeywordDefault)%>&filter=<%=encodeURIComponent(filterDefault)%>&sorter=<%=encodeURIComponent(sorterDefault)%>&director=<%=encodeURIComponent(directorDefault)%>&lbound=<%=encodeURIComponent(lboundDefault)%>&ubound=<%=encodeURIComponent(uboundDefault)%>&page=<%=j%>"><%=j%></a></li>
										<%}%>
									<%}else if(targetPageNumber<=5){%>
										<% for(var j=1; j<=10; j++) { %>
										<li 
											<% if(targetPageNumber==j){%>
												class="active"
											<%}%>
										><a href="/lender/lenderSendMessages?msgKeyword=<%=encodeURIComponent(msgKeywordDefault)%>&filter=<%=encodeURIComponent(filterDefault)%>&sorter=<%=encodeURIComponent(sorterDefault)%>&director=<%=encodeURIComponent(directorDefault)%>&lbound=<%=encodeURIComponent(lboundDefault)%>&ubound=<%=encodeURIComponent(uboundDefault)%>&page=<%=j%>"><%=j%></a></li>
										<%}%>
									<%}else{%>
										<% for(var j=targetPageNumber-5; j<targetPageNumber; j++) { %>
										<li><a href="/lender/lenderSendMessages?msgKeyword=<%=encodeURIComponent(msgKeywordDefault)%>&filter=<%=encodeURIComponent(filterDefault)%>&sorter=<%=encodeURIComponent(sorterDefault)%>&director=<%=encodeURIComponent(directorDefault)%>&lbound=<%=encodeURIComponent(lboundDefault)%>&ubound=<%=encodeURIComponent(uboundDefault)%>%>&page=<%=j%>"><%=j%></a></li>
										<%}%>
										<li class="active"><a href="/lender/lenderSendMessages?msgKeyword=<%=encodeURIComponent(msgKeywordDefault)%>&filter=<%=encodeURIComponent(filterDefault)%>&sorter=<%=encodeURIComponent(sorterDefault)%>&director=<%=encodeURIComponent(directorDefault)%>&lbound=<%=encodeURIComponent(lboundDefault)%>&ubound=<%=encodeURIComponent(uboundDefault)%>&page=<%=targetPageNumber%>"><%=targetPageNumber%></a></li>
										<% for(var j=targetPageNumber+1; j<=targetPageNumber+4; j++) { %>
										<li><a href="/lender/lenderSendMessages?msgKeyword=<%=encodeURIComponent(msgKeywordDefault)%>&filter=<%=encodeURIComponent(filterDefault)%>&sorter=<%=encodeURIComponent(sorterDefault)%>&director=<%=encodeURIComponent(directorDefault)%>&lbound=<%=encodeURIComponent(lboundDefault)%>&ubound=<%=encodeURIComponent(uboundDefault)%>&page=<%=j%>"><%=j%></a></li>
										<%}%>
									<%}%>
								<%}%>
								<li 
									<% if(targetPageNumber==pageNumber){%>
										class="disabled"
									<%}%>
								>	
								<% if(targetPageNumber!=pageNumber){%>
									<a href="/lender/lenderSendMessages?msgKeyword=<%=encodeURIComponent(msgKeywordDefault)%>&filter=<%=encodeURIComponent(filterDefault)%>&sorter=<%=encodeURIComponent(sorterDefault)%>&director=<%=encodeURIComponent(directorDefault)%>&lbound=<%=encodeURIComponent(lboundDefault)%>&ubound=<%=encodeURIComponent(uboundDefault)%>&page=<%=targetPageNumber+1%>">
								<%}else{%>
									<a href="#" onclick="return false;">
								<%}%>
								<span>&raquo;</span></a></li>
							  </ul>
							</nav>
						</td>
					</tr>
				</table>
			<% }%>
		</div>
		<div class="col-md-3">
		</div>
	</div>
</div>
<script>
function filterSelector(index){
	$('#filterSelected').html('');
	$('#filterSelected').html($('#filter'+index).text());
	$('#filter0').html($('#filterSelected').text());
	$('#filterSelected').append(' <span class=\'caret\'><\/span>'); 
	for(i=1;i<=3;i++){
		$('#flis'+i).attr('class','');
	}
	$('#flis'+index).attr('class','active');
}

function sorterSelector(index){
	$('#lbound').val('');
	$('#ubound').val('');
	if(($('#sorter'+index).text()=='建立日期')||($('#sorter'+index).text()=='更新日期')){
		enableDater();
	}else{
		disableDater();
	}
	
	$('#sorterSelected').html('');
	$('#sorterSelected').html($('#sorter'+index).text());
	<% if((filterDefault=='未被確認')&&(pageNumber>1)){%>
		//$('#sorterIpt').val($('#sorterSelected').text());
	<%}%>
	$('#sorter0').html($('#sorterSelected').text());
	$('#sorterSelected').append(' <span class=\'caret\'><\/span>');
	
	for(i=1;i<=10;i++){
		$('#slis'+i).attr('class','');
	}
	$('#slis'+index).attr('class','active');
}

function directorSelector(index){
	$('#directorSelected').html('');
	$('#directorSelected').html($('#director'+index).text());
	<% if((filterDefault=='未被確認')&&(pageNumber>1)){%>
		//$('#directorIpt').val($('#directorSelected').text());
	<%}%>
	$('#director0').html($('#directorSelected').text());
	$('#directorSelected').append(' <span class=\'caret\'><\/span>');
	for(i=1;i<=2;i++){
		$('#dlis'+i).attr('class','');
	}
	$('#dlis'+index).attr('class','active');
}

<%if((sorterDefault=='建立日期')||(sorterDefault=='更新日期')){%>
	var ifDater=true;
<%}else{%>
	var ifDater=false;
<%}%>
function enableDater(){
	if(!ifDater){
		$('#lbound').attr('type','date');
		$('#ubound').attr('type','date');
		$('#lbound').attr('placeholder','');
		$('#ubound').attr('placeholder','');
		ifDater=true;
	}
}

function disableDater(){
	if(ifDater){
		$('#lbound').attr('type','text');
		$('#ubound').attr('type','text');
		$('#lbound').attr('placeholder','下限(元/%/個月/級)');
		$('#ubound').attr('placeholder','上限(元/%/個月/級)');
		ifDater=false;
	}
}

function linker(){
	window.open('/lender/lenderSendMessages?msgKeyword='+encodeURIComponent($('#msgKeywordIpt').val().trim())+'&filter='+encodeURIComponent($('#filter0').text())+'&sorter='+encodeURIComponent($('#sorter0').text())+'&director='+encodeURIComponent($('#director0').text())+'&lbound='+encodeURIComponent($('#lbound').val().trim())+'&ubound='+encodeURIComponent($('#ubound').val().trim())+'&page=1','_self');
}

<% if((filterDefault=='未被確認')&&(totalResultNum>0)){%>
$(document).ready(function(){
	$("#selectAll").prop("checked", false);
	$("input[name='selectCheckBox']").each(function() {
		$(this).prop("checked", false);
	});
});

function checkAndOpenModal(target){
	var ctr=0;
	$("input[name='selectCheckBox']").each(function() {
			if($(this).prop("checked")){
				ctr+=1;
			}
	});
	if(ctr>0){
		if(target=='#chkModal2'){
			$('#seCtr1').html(ctr);
		}
		$(target).modal('show');
	}else{
		$('#msgModal').modal('show');
	}
}

function selectAllFun(){
	if($("#selectAll").prop("checked"))
	{
		$("input[name='selectCheckBox']").each(function() {
			$(this).prop("checked", true);
		});
	}else{
		$("input[name='selectCheckBox']").each(function() {
			$(this).prop("checked", false);
		});
	}
}

function selectFun(index){
	if($("#selectCheckBoxId"+index).prop("checked"))
	{	
		var ctr=0;
		$("input[name='selectCheckBox']").each(function() {
			if($(this).prop("checked")){
				ctr+=1;
			}
		});
		if(ctr==$("input[name='selectCheckBox']").length){
			$("#selectAll").prop("checked", true);
		}
	}else{
		var ctr=0;
		$("input[name='selectCheckBox']").each(function() {
			if($(this).prop("checked")){
				ctr+=1;
			}
		});
		if(ctr<$("input[name='selectCheckBox']").length){
			$("#selectAll").prop("checked", false);
		}		
	}
}

<%if(pageNumber>1){%>
var deleteAllFlag=false;
function deleteAll(){
	if(!deleteAllFlag){
		$('#chkModal1').modal('hide');
		disableButton();
		var form=document.getElementById('formID0');
		form.submit();
	}
}
<%}%>

var deleteSelectedFlag=false;
function deleteSelected(){
	if(!deleteSelectedFlag){
		$('#chkModal2').modal('hide');
		disableButton();
		samepart(deleteInner);
	}
}

function disableButton(){
	deleteSelectedFlag=true;
	var orig=$('#deleteBtn').attr('class');
	if(orig.search(' disabled')<0){
		orig=orig+' disabled';
		$('#deleteBtn').attr('class',orig);
	}
	
	<%if(pageNumber>1){%>
	deleteAllFlag=true;
	orig=$('#deleteAllBtn').attr('class');
	if(orig.search(' disabled')<0){
		orig=orig+' disabled';
		$(deleteAllBtn).attr('class',orig);
	}
	<%}%>
}

function enableButton(){
	deleteSelectedFlag=false;
	var orig=$('#deleteBtn').attr('class');
	orig=orig.replace(/ disabled/g, '');
	$('#deleteBtn').attr('class',orig);
	
	<%if(pageNumber>1){%>
		deleteAllFlag=false;
		orig=$('#deleteAllBtn').attr('class');
		orig=orig.replace(/ disabled/g, '');
		$(deleteAllBtn).attr('class',orig);
	<%}%>
}


function deleteInner(){
	var form=document.getElementById('formID');
	form.submit();
}

function samepart(toDO){
	var JSONarrayString='{"array":['
	$("input[name='selectCheckBox']").each(function() {
			if($(this).prop("checked")){
				JSONarrayString+=$(this).val();
				JSONarrayString+=',';
			}
	});
	if(JSONarrayString!='{"array":['){
		JSONarrayString=JSONarrayString.substr(0,JSONarrayString.length-1);
		JSONarrayString+=']}';
		$("#hdnIpt").val(JSONarrayString);
		toDO();
	}
}
<%}%>
</script>
<%- include('layout_footer',{imgSettingCode:"var ifLoadedCount=0;",imgDrawingCode:""}); -%>