<%- include('layout_header',{nav_cur:'lend',actionDefault:'最新',keywordDefault:'',categoryDefault:'不分類'}); -%>
<div class="container">
	<div class="row">
		<div class="col-md-9">
				<div style="font-size:30pt;">自動借出設定</div>
				</br>
				<a href="/lender/lendsList?oneid=&sorter=<%=encodeURIComponent("最新");%>&page=1"><button type="button" class="btn btn-default">參考他人設定</button></a>
				</br>
				</br>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">銀行帳戶內餘額</h3>
					</div>
					<div style="color:#ccc;" class="panel-body">
						<input type="text" style="width:95%;" class="textForm" value="<%=MoneyInBankAccountValue.toFixed(0)%>" readonly="readonly" >&nbsp;元
					</div>					
				</div>
				</br>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">已借出金額</h3>
					</div>
					<div style="color:#ccc;" class="panel-body">
						<input type="text" style="width:95%;" class="textForm" value="<%=MoneyLended.toFixed(0)%>" readonly="readonly" >&nbsp;元
					</div>					
				</div>
				</br>
		<% if(!jsonLend){ %>
			<form action="/Lends/create" method="post" id="formID" onsubmit="return disableButton();">
		<% }else{ %>
			<form action="/Lends/update" method="post" id="formID" onsubmit="return disableButton();">
		<% } %>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">最大可借出金額<i style="color:red;">&nbsp;*</i><span id="s1" style="color:red;"><%if(lfJSON){%><%if(lfJSON.Target[0]){%>&nbsp;&nbsp;&nbsp;&nbsp;<%=lfJSON.Message[0]%><%}%><%}%></span></h3>
					</div>
					<div class="panel-body">
						<% if(!jsonLend){ %>
							<input id="f1" type="number" style="width:95%;" class="textForm" name="MaxMoneyToLend" required="required"<%if(lfJSON){%> value="<%=lfJSON.FormContent.F1%>"<%}%>>
						<% }else{ %>
							<input id="f1" type="number" style="width:95%;" class="textForm" name="MaxMoneyToLend" value="<%if(lfJSON){%><%=lfJSON.FormContent.F1%><%}else{%><%=jsonLend.MaxMoneyToLend.toFixed(0)%><%}%>" required="required">
						<% } %>
						&nbsp;元
					</div>					
				</div>
				</br>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">最低欲借出年利率<i style="color:red;">&nbsp;*</i><span id="s2" style="color:red;"><%if(lfJSON){%><%if(lfJSON.Target[1]){%>&nbsp;&nbsp;&nbsp;&nbsp;<%=lfJSON.Message[1]%><%}%><%}%></span></h3>
					</div>
					<div class="panel-body">
						<% if(!jsonLend){ %>
							<input id="f2" type="text" style="width:95%;" class="textForm" name="InterestRate" required="required"<%if(lfJSON){%> value="<%=lfJSON.FormContent.F2%>"<%}%>>
						<% }else{ %>
							<input id="f2" type="text" style="width:95%;" class="textForm" name="InterestRate" value="<%if(lfJSON){%><%=lfJSON.FormContent.F2%><%}else{%><%=(jsonLend.InterestRate*100).toFixed(2)%><%}%>" required="required">
						<% } %>
						%
					</div>
				</div>
				</br>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">最低欲借出期數（單位/月，最大36個月）<i style="color:red;">*</i><span id="s3" style="color:red;"><%if(lfJSON){%><%if(lfJSON.Target[2]){%>&nbsp;&nbsp;&nbsp;&nbsp;<%=lfJSON.Message[2]%><%}%><%}%></span></h3>
					</div>
					<div class="panel-body">
						<% if(!jsonLend){ %>
							<input id="f3" type="number" style="width:95%;" class="textForm" name="MonthPeriod" required="required"<%if(lfJSON){%> value="<%=lfJSON.FormContent.F3%>"<%}%>>
						<% }else{ %>
							<input id="f3" type="number" style="width:95%;" class="textForm" name="MonthPeriod" value="<%if(lfJSON){%><%=lfJSON.FormContent.F3%><%}else{%><%=jsonLend.MonthPeriod.toFixed(0)%><%}%>" required="required">
						<% } %>
						&nbsp;個月
					</div>
				</div>
				</br>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">最低可接受信用等級<span id="s4" style="color:red;"><%if(lfJSON){%><%if(lfJSON.Target[3]){%>&nbsp;&nbsp;&nbsp;&nbsp;<%=lfJSON.Message[3]%><%}%><%}%></span></h3>
					</div>
					<div class="panel-body">
						<% if(!jsonLend){ %>
							<input id="f4" type="number" style="width:95%;" class="textForm" name="MinLevelAccepted"<%if(lfJSON){%> value="<%=lfJSON.FormContent.F4%>"<%}%>>
						<% }else{ %>
							<input id="f4" type="number" style="width:95%;" class="textForm" name="MinLevelAccepted" value="<%if(lfJSON){%><%=lfJSON.FormContent.F4%><%}else{%><%=jsonLend.MinLevelAccepted.toFixed(0)%><%}%>">
						<% } %>
						&nbsp;級
					</div>
				</div>
				</br>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">最低可接受總利息<span id="s5" style="color:red;"><%if(lfJSON){%><%if(lfJSON.Target[4]){%>&nbsp;&nbsp;&nbsp;&nbsp;<%=lfJSON.Message[4]%><%}%><%}%></span></h3>
					</div>
					<div class="panel-body">
						<% if(!jsonLend){ %>
							<input id="f5" type="number" style="width:95%;" class="textForm" name="MinInterestInFuture"<%if(lfJSON){%> value="<%=lfJSON.FormContent.F5%>"<%}%>>
						<% }else{ %>
							<input id="f5" type="number" style="width:95%;" class="textForm" name="MinInterestInFuture" value="<%if(lfJSON){%><%=lfJSON.FormContent.F5%><%}else{%><%=jsonLend.MinInterestInFuture.toFixed(0)%><%}%>">
						<% } %>
						&nbsp;元
					</div>
				</div>
				</br>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">最低可接受每期平均利息<span id="s6" style="color:red;"><%if(lfJSON){%><%if(lfJSON.Target[5]){%>&nbsp;&nbsp;&nbsp;&nbsp;<%=lfJSON.Message[5]%><%}%><%}%></span></h3>
					</div>
					<div class="panel-body">
						<% if(!jsonLend){ %>
							<input id="f6" type="number" style="width:95%;" class="textForm" name="MinInterestInFutureMonth"<%if(lfJSON){%> value="<%=lfJSON.FormContent.F6%>"<%}%>>
						<% }else{ %>
							<input id="f6" type="number" style="width:95%;" class="textForm" name="MinInterestInFutureMonth" value="<%if(lfJSON){%><%=lfJSON.FormContent.F6%><%}else{%><%=jsonLend.MinInterestInFutureMonth.toFixed(0)%><%}%>">
						<% } %>
						&nbsp;元
					</div>
				</div>
				</br>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">最低可接受每期平均本利和<span id="s7" style="color:red;"><%if(lfJSON){%><%if(lfJSON.Target[6]){%>&nbsp;&nbsp;&nbsp;&nbsp;<%=lfJSON.Message[6]%><%}%><%}%></span></h3>
					</div>
					<div class="panel-body">
						<% if(!jsonLend){ %>
							<input id="f7" type="number" style="width:95%;" class="textForm" name="MinInterestInFutureMoneyMonth"<%if(lfJSON){%> value="<%=lfJSON.FormContent.F7%>"<%}%>>
						<% }else{ %>
							<input id="f7" type="number" style="width:95%;" class="textForm" name="MinInterestInFutureMoneyMonth" value="<%if(lfJSON){%><%=lfJSON.FormContent.F7%><%}else{%><%=jsonLend.MinInterestInFutureMoneyMonth.toFixed(0)%><%}%>">
						<% } %>
						&nbsp;元
					</div>
				</div>
				</br>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">最低可接受總利息/最初本金比<span id="s8" style="color:red;"><%if(lfJSON){%><%if(lfJSON.Target[7]){%>&nbsp;&nbsp;&nbsp;&nbsp;<%=lfJSON.Message[7]%><%}%><%}%></span></h3>
					</div>
					<div class="panel-body">
						<% if(!jsonLend){ %>
							<input id="f8" type="text" style="width:95%;" class="textForm" name="MinInterestInFutureDivMoney"<%if(lfJSON){%> value="<%=lfJSON.FormContent.F8%>"<%}%>>
						<% }else{ %>
							<input id="f8" type="text" style="width:95%;" class="textForm" name="MinInterestInFutureDivMoney" value="<%if(lfJSON){%><%=lfJSON.FormContent.F8%><%}else{%><%=(jsonLend.MinInterestInFutureDivMoney*100).toFixed(2)%><%}%>">
						<% } %>
						&nbsp;%
					</div>
				</div>
				</br>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">自動同意借款請求</h3>
					</div>
					<div class="panel-body">
						<% if(!jsonLend){ %>
							 <select class="textForm" name="AutoComfirmToBorrowMsgPeriod" id="periodSel" onchange="if($('#periodSel').val()>0){$('#sorterSel').prop('disabled', false);$('#sorterPnl').attr('style','');}else{$('#sorterSel').prop('disabled', true);$('#sorterSel').val('-InterestRate');$('#sorterPnl').attr('style','display:none;');}">
								<option value=-1<%if(lfJSON){%><%if(lfJSON.FormContent.F9==-1){%> selected<%}%><%}%>>永不自動同意</option>
								<option value=0<%if(lfJSON){%><%if(lfJSON.FormContent.F9==0){%> selected<%}%><%}%>>立即自動同意</option>
								<option value=1<%if(lfJSON){%><%if(lfJSON.FormContent.F9==1){%> selected<%}%><%}%>>每天自動同意一次</option>
								<option value=2<%if(lfJSON){%><%if(lfJSON.FormContent.F9==2){%> selected<%}%><%}%>>每兩天自動同意一次</option>
								<option value=3<%if(lfJSON){%><%if(lfJSON.FormContent.F9==3){%> selected<%}%><%}%>>每三天自動同意一次</option>
							  </select>
						<% }else{ %>
							<select class="textForm" name="AutoComfirmToBorrowMsgPeriod"  id="periodSel" onchange="if($('#periodSel').val()>0){$('#sorterSel').prop('disabled', false);$('#sorterPnl').attr('style','');}else{$('#sorterSel').prop('disabled', true);$('#sorterSel').val('-InterestRate');$('#sorterPnl').attr('style','display:none;');}">
								<option value=-1<%if(lfJSON){%><%if(lfJSON.FormContent.F9==-1){%> selected<%}%><%}else{%><%if(jsonLend.AutoComfirmToBorrowMsgPeriod==-1){%> selected<%}%><%}%>>永不自動同意</option>
								<option value=0<%if(lfJSON){%><%if(lfJSON.FormContent.F9==0){%> selected<%}%><%}else{%><%if(jsonLend.AutoComfirmToBorrowMsgPeriod==0){%> selected<%}%><%}%>>立即自動同意</option>
								<option value=1<%if(lfJSON){%><%if(lfJSON.FormContent.F9==1){%> selected<%}%><%}else{%><%if(jsonLend.AutoComfirmToBorrowMsgPeriod==1){%> selected<%}%><%}%>>每天自動同意一次</option>
								<option value=2<%if(lfJSON){%><%if(lfJSON.FormContent.F9==2){%> selected<%}%><%}else{%><%if(jsonLend.AutoComfirmToBorrowMsgPeriod==2){%> selected<%}%><%}%>>每兩天自動同意一次</option>
								<option value=3<%if(lfJSON){%><%if(lfJSON.FormContent.F9==3){%> selected<%}%><%}else{%><%if(jsonLend.AutoComfirmToBorrowMsgPeriod==3){%> selected<%}%><%}%>>每三天自動同意一次</option>
							  </select>
						<% } %>
					</div>
				</div>
				</br>
				<%if(!lfJSON){%>
					<div class="panel panel-default" id="sorterPnl"<% if(!jsonLend){%> style="display:none;"<%}else{%><% if(jsonLend.AutoComfirmToBorrowMsgPeriod<=0){ %> style="display:none;"<%}%><%}%>>
						<div class="panel-heading">
							<h3 class="panel-title">自動同意優先順序</h3>
						</div>
						<div class="panel-body">
							<% if(!jsonLend){ %>
								<select class="textForm" class="textForm" name="AutoComfirmToBorrowMsgSorter" id="sorterSel" disabled="disabled">
									<option value="-InterestRate">利率最高</option>
									<option value="-MoneyToLend">金額最高</option>
									<option value="-MonthPeriod">期數最多</option>
									<option value="-Level">信用等級最高</option>
									<option value="-SpecialA">預計總利息最高</option>
									<option value="-SpecialB">預計平均利息最高</option>
									<option value="-SpecialC">預計平均本利和最高</option>
									<option value="-SpecialD">預計利本比最高</option>
									<option value="-Updated">最新</option>
								 </select>
							<% }else{ %>
								<select class="textForm" class="textForm" name="AutoComfirmToBorrowMsgSorter" id="sorterSel"<% if(jsonLend.AutoComfirmToBorrowMsgPeriod<=0){ %> disabled="disabled"<%}%>>
									<option value="-InterestRate"<%if(jsonLend.AutoComfirmToBorrowMsgSorter=="-InterestRate"){%> selected<%}%>>利率最高</option>
									<option value="-MoneyToLend"<%if(jsonLend.AutoComfirmToBorrowMsgSorter=="-MoneyToLend"){%> selected<%}%>>金額最高</option>
									<option value="-MonthPeriod"<%if(jsonLend.AutoComfirmToBorrowMsgSorter=="-MonthPeriod"){%> selected<%}%>>期數最多</option>
									<option value="-Level"<%if(jsonLend.AutoComfirmToBorrowMsgSorter=="-Level"){%> selected<%}%>>信用等級最高</option>
									<option value="-SpecialA"<%if(jsonLend.AutoComfirmToBorrowMsgSorter=="-SpecialA"){%> selected<%}%>>預計總利息最高</option>
									<option value="-SpecialB"<%if(jsonLend.AutoComfirmToBorrowMsgSorter=="-SpecialB"){%> selected<%}%>>預計平均利息最高</option>
									<option value="-SpecialC"<%if(jsonLend.AutoComfirmToBorrowMsgSorter=="-SpecialC"){%> selected<%}%>>預計平均本利和最高</option>
									<option value="-SpecialD"<%if(jsonLend.AutoComfirmToBorrowMsgSorter=="-SpecialD"){%> selected<%}%>>預計利本比最高</option>
									<option value="-Updated"<%if(jsonLend.AutoComfirmToBorrowMsgSorter=="-Updated"){%> selected<%}%>>最新</option>
								  </select>
							<% } %>
						</div>
					</div>
				<%}else{%>
					<div class="panel panel-default" id="sorterPnl"<% if(lfJSON.FormContent.F9<=0){ %> style="display:none;"<%}%>>
						<div class="panel-heading">
							<h3 class="panel-title">自動同意優先順序</h3>
						</div>
						<div class="panel-body">
							<select class="textForm" class="textForm" name="AutoComfirmToBorrowMsgSorter" id="sorterSel"<% if(lfJSON.FormContent.F9<=0){ %> disabled="disabled"<%}%>>
								<option value="-InterestRate"<%if(lfJSON.FormContent.F10=="-InterestRate"){%> selected<%}%>>利率最高</option>
								<option value="-MoneyToLend"<%if(lfJSON.FormContent.F10=="-MoneyToLend"){%> selected<%}%>>金額最高</option>
								<option value="-MonthPeriod"<%if(lfJSON.FormContent.F10=="-MonthPeriod"){%> selected<%}%>>期數最多</option>
								<option value="-Level"<%if(lfJSON.FormContent.F10=="-Level"){%> selected<%}%>>信用等級最高</option>
								<option value="-SpecialA"<%if(lfJSON.FormContent.F10=="-SpecialA"){%> selected<%}%>>預計總利息最高</option>
								<option value="-SpecialB"<%if(lfJSON.FormContent.F10=="-SpecialB"){%> selected<%}%>>預計平均利息最高</option>
								<option value="-SpecialC"<%if(lfJSON.FormContent.F10=="-SpecialC"){%> selected<%}%>>預計平均本利和最高</option>
								<option value="-SpecialD"<%if(lfJSON.FormContent.F10=="-SpecialD"){%> selected<%}%>>預計利本比最高</option>
								<option value="-Updated"<%if(lfJSON.FormContent.F10=="-Updated"){%> selected<%}%>>最新</option>
							  </select>
						</div>
					</div>
				<%}%>
				</br>
				<% if(!jsonLend){ %>
					<div style="width:100%;text-align: center;">
						<div class="btn-group" role="group">
							<button type="button" class="btn btn-info" onclick="checkAndOpenModal(chkModal1,mdlCnt1,'您確定要新建自動出借設定嗎?',true);">
								新建
							</button>
						</div>
					</div>
					<div class="modal fade" id="chkModal1">
						<div class="modal-dialog modal-sm">
							<div class="modal-content">
								<div class="modal-header" style="text-align: center;">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
									<h4 class="modal-title">再次確認</h4>
								</div>
								<div id="mdlCnt1" class="modal-body" style="text-align: center;">
								</div>
								<div class="modal-footer" style="text-align: center;">
									<button type="submit" class="btn btn-primary" id="createBtnID" onclick="create();">確定</button>
									<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
								</div>
							</div>
						</div>
					</div>
				<% }else{ %>
					<input type="hidden" name="_id" value="<%=jsonLend._id%>">
					<div style="width:100%;text-align: center;">
						<div class="btn-group" role="group">
							<button type="button" class="btn btn-info" onclick="checkAndOpenModal(chkModal2,mdlCnt2,'您確定要更新自動出借設定嗎?',true);">
								更新
							</button>
						</div>
						&nbsp;
						<div class="btn-group" role="group">
							<button type="button" class="btn btn-danger" onclick="checkAndOpenModal(chkModal3,mdlCnt3,'您確定要刪除自動出借設定嗎?',false);">
								刪除
							</button>
						</div>
					</div>
					<div class="modal fade" id="chkModal2">
						<div class="modal-dialog modal-sm">
							<div class="modal-content">
								<div class="modal-header" style="text-align: center;">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
									<h4 class="modal-title">再次確認</h4>
								</div>
								<div id="mdlCnt2" class="modal-body" style="text-align: center;">
								</div>
								<div class="modal-footer" style="text-align: center;">
									<button type="submit" class="btn btn-primary" id="updateBtnID" onclick="update();">確定</button>
									<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
								</div>
							</div>
						</div>
					</div>
					<div class="modal fade" id="chkModal3">
						<div class="modal-dialog modal-sm">
							<div class="modal-content">
								<div class="modal-header" style="text-align: center;">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
									<h4 class="modal-title">再次確認</h4>
								</div>
								<div id="mdlCnt3" class="modal-body" style="text-align: center;">
								</div>
								<div class="modal-footer" style="text-align: center;">
									<button type="button" class="btn btn-danger" id="destroyBtnID" onclick="destroy();">確定</button>
									<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
								</div>
							</div>
						</div>
					</div>
				<% } %>
			</form>
			<div class="modal fade" id="msgModal">
				<div class="modal-dialog modal-sm">
					<div class="modal-content">
						<div class="modal-header" style="text-align: center;">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title">錯誤</h4>
						</div>
						<div class="modal-body" style="text-align: center;">
							<br>
							必填欄位未填或已填欄位數值錯誤
							<br>
							<br>
						</div>
						<div class="modal-footer" style="text-align: center;">
							<button type="button" class="btn btn-default" data-dismiss="modal">關閉</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-3">
		</div>
	</div>
</div>
<script>
<%if(lfJSON){%>
	$(document).ready(function (){
		<%for(i=0;i<lfJSON.Target.length;i++){%>
			<%if(lfJSON.Target[i]){%>
				$('#f<%=i+1%>').focus();
				<%break;%>
			<%}%>
		<%}%>
	});
<%}%>

function checkAndOpenModal(target,cntNumber,cntTail,flag){
	var a=$("input[name='MaxMoneyToLend']").val().trim();
	var b=$("input[name='InterestRate']").val().trim();
	var c=$("input[name='MonthPeriod']").val().trim();
	var d=$("input[name='MinLevelAccepted']").val().trim();
	var e=$("input[name='MinInterestInFuture']").val().trim();
	var f=$("input[name='MinInterestInFutureMonth']").val().trim();
	var g=$("input[name='MinInterestInFutureMoneyMonth']").val().trim();
	var h=$("input[name='MinInterestInFutureDivMoney']").val().trim();
	var aa=parseInt(a);
	var bb=parseFloat(b);
	var cc=parseInt(c);
	var dd;
	if(d==''){
		dd=1;
	}else{
		dd=parseInt(d);
	}
	var ee;
	if(e==''){
		ee=1;
	}else{
		ee=parseInt(e);
	}
	var ff;
	if(f==''){
		ff=1;
	}else{
		ff=parseInt(f);
	}
	var gg;
	if(g==''){
		gg=1;
	}else{
		gg=parseInt(g);
	}
	var hh;
	if(h==''){
		hh=1;
	}else{
		hh=parseFloat(h);
	}
	
	if(flag){
		if((a!='')&&(b!='')&&(c!='')&&(aa>=1)&&(bb>=0.01)&&(bb<=99)&&(cc>=1)&&(cc<=36)&&(dd>=0)&&(ee>=0)&&(ff>=0)&&(gg>=0)&&(hh>=0)&&(hh<=99)){
			$("input[name='MaxMoneyToLend']").val(aa);
			$("input[name='InterestRate']").val(bb);
			$("input[name='MonthPeriod']").val(cc);
			if(d!=''){
				$("input[name='MinLevelAccepted']").val(dd);
			}
			if(e!=''){
				$("input[name='MinInterestInFuture']").val(ee);
			}
			if(f!=''){
				$("input[name='MinInterestInFutureMonth']").val(ff);
			}
			if(g!=''){
				$("input[name='MinInterestInFutureMoneyMonth']").val(gg);
			}
			if(h!=''){
				$("input[name='MinInterestInFutureDivMoney']").val(hh);
			}
			
			$(cntNumber).html('<br>'+cntTail+'<br><br>');
			$(target).modal('show');
		}else{
			$('#msgModal').modal('show');
		}
	}else{
		$(cntNumber).html('<br>'+cntTail+'<br><br>');
		$(target).modal('show');
	}
}

<% if(!jsonLend){ %>
	function create(){
		$('#chkModal1').modal('hide');
	}
	
	var submitFlag=false;
	function disableButton(){
		if(!submitFlag){
			var orig=$('#createBtnID').attr('class');
			if(orig.search(' disabled')<0){
				orig=orig+' disabled';
				$('#createBtnID').attr('class',orig);
			}
			submitFlag=true;
			return true;
		}else{
			return false;
		}
	}
<% }else{%>
	function update(){
		$('#chkModal2').modal('hide');
	}
	
	var submitFlag=false;
	function disableButton(){
		if(!submitFlag){
			var orig=$('#destroyBtnID').attr('class');
			if(orig.search(' disabled')<0){
				orig=orig+' disabled';
				$('#destroyBtnID').attr('class',orig);
			}
			
			var orig=$('#updateBtnID').attr('class');
			if(orig.search(' disabled')<0){
				orig=orig+' disabled';
				$('#updateBtnID').attr('class',orig);
			}
			submitFlag=true;
			return true;
		}else{
			return false;
		}
	}
	
	function destroy(){
		$('#chkModal3').modal('hide');
		disableButton();
		
		var form=document.getElementById('formID');
		form.action="/Lends/destroy";
		form.submit();
	}
<% }%>
</script>
<%- include('layout_footer',{imgSettingCode:"var ifLoadedCount=0;",imgDrawingCode:""}); -%>