<%- include('layout_header',{nav_cur:'lend',actionDefault:'最新',keywordDefault:''}); -%>
<div class="container">
	<div class="row">
		<div class="col-md-9">
				<div style="font-size:30pt;color:#337ab7;">自動借出設定</div>
				</br>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">銀行帳戶內餘額</h3>
					</div>
					<div style="color:#ccc;" class="panel-body">
						<input type="text" class="textForm" value="<%=MoneyInBankAccountValue%>" readonly="readonly" >
					</div>					
				</div>
				</br>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">已借出金額</h3>
					</div>
					<div style="color:#ccc;" class="panel-body">
						<input type="text" class="textForm" value="<%=MoneyLended%>" readonly="readonly" >
					</div>					
				</div>
				</br>
		<% if(!jsonLend){ %>
			<form action="/Lends/create" method="post" id="formID">
		<% }else{ %>
			<form action="/Lends/update" method="post" id="formID">
		<% } %>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">最大可借出金額</h3>
					</div>
					<div class="panel-body">
						<% if(!jsonLend){ %>
							<input type="number" class="textForm" name="MaxMoneyToLend">
						<% }else{ %>
							<input type="number" class="textForm" name="MaxMoneyToLend" value="<%=jsonLend.MaxMoneyToLend%>">
						<% } %>
					</div>					
				</div>
				</br>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">欲借出利率</h3>
					</div>
					<div class="panel-body">
						<% if(!jsonLend){ %>
							<input type="text" class="textForm" name="InterestRate">
						<% }else{ %>
							<input type="text" class="textForm" name="InterestRate" value="<%=jsonLend.InterestRate%>">
						<% } %>
					</div>
				</div>
				</br>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">期數（單位/月）</h3>
					</div>
					<div class="panel-body">
						<% if(!jsonLend){ %>
							<input type="number" class="textForm" name="MonthPeriod">
						<% }else{ %>
							<input type="number" class="textForm" name="MonthPeriod" value="<%=jsonLend.MonthPeriod%>">
						<% } %>
					</div>
				</div>
				</br>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">自動同意借款請求</h3>
					</div>
					<div class="panel-body">
						<% if(!jsonLend){ %>
							 <select class="textForm" class="textForm" name="AutoComfirmToBorrowMsgPeriod" id="periodSel" onchange="if($('#periodSel').val()>0){$('#sorterSel').prop('disabled', false);$('#sorterPnl').attr('style','');}else{$('#sorterSel').prop('disabled', true);$('#sorterSel').val('-InterestRate');$('#sorterPnl').attr('style','display:none;');}">
								<option value=-1>永不自動同意</option>
								<option value=0>立即自動同意</option>
								<option value=1>每天自動同意一次</option>
								<option value=2>每兩天自動同意一次</option>
								<option value=3>每三天自動同意一次</option>
							  </select>
						<% }else{ %>
							<select class="textForm" class="textForm" name="AutoComfirmToBorrowMsgPeriod"  id="periodSel" onchange="if($('#periodSel').val()>0){$('#sorterSel').prop('disabled', false);$('#sorterPnl').attr('style','');}else{$('#sorterSel').prop('disabled', true);$('#sorterSel').val('-InterestRate');$('#sorterPnl').attr('style','display:none;');}">
								<option value=-1<%if(jsonLend.AutoComfirmToBorrowMsgPeriod==-1){%> selected<%}%>>永不自動同意</option>
								<option value=0<%if(jsonLend.AutoComfirmToBorrowMsgPeriod==0){%> selected<%}%>>立即自動同意</option>
								<option value=1<%if(jsonLend.AutoComfirmToBorrowMsgPeriod==1){%> selected<%}%>>每天自動同意一次</option>
								<option value=2<%if(jsonLend.AutoComfirmToBorrowMsgPeriod==2){%> selected<%}%>>每兩天自動同意一次</option>
								<option value=3<%if(jsonLend.AutoComfirmToBorrowMsgPeriod==3){%> selected<%}%>>每三天自動同意一次</option>
							  </select>
						<% } %>
					</div>
				</div>
				</br>
				<div class="panel panel-default" id="sorterPnl"<% if(!jsonLend){%> style="display:none;"<%}else{%><% if(jsonLend.AutoComfirmToBorrowMsgPeriod<=0){ %> style="display:none;"<%}%><%}%>>
					<div class="panel-heading">
						<h3 class="panel-title">自動同意優先順序</h3>
					</div>
					<div class="panel-body">
						<% if(!jsonLend){ %>
							 <select class="textForm" class="textForm" name="AutoComfirmToBorrowMsgSorter" id="sorterSel" disabled="disabled">
								<option value="-InterestRate">利率最高</option>
								<option value="-MoneyToLend">金額最高</option>
								<option value="MonthPeriod">期數最少</option>
								<option value="-Updated">最新</option>
							  </select>
						<% }else{ %>
							<select class="textForm" class="textForm" name="AutoComfirmToBorrowMsgSorter" id="sorterSel"<% if(jsonLend.AutoComfirmToBorrowMsgPeriod==-1){ %> disabled="disabled"<%}%>>
								<option value="-InterestRate"<%if(jsonLend.AutoComfirmToBorrowMsgSorter=="-InterestRate"){%> selected<%}%>>利率最高</option>
								<option value="-MoneyToLend"<%if(jsonLend.AutoComfirmToBorrowMsgSorter=="-MoneyToLend"){%> selected<%}%>>金額最高</option>
								<option value="MonthPeriod"<%if(jsonLend.AutoComfirmToBorrowMsgSorter=="MonthPeriod"){%> selected<%}%>>期數最少</option>
								<option value="-Updated"<%if(jsonLend.AutoComfirmToBorrowMsgSorter=="-Updated"){%> selected<%}%>>最新</option>
							  </select>
						<% } %>
					</div>
				</div>
				</br>
				<% if(!jsonLend){ %>
					<div class="btn-toolbar" role="toolbar">
						<div class="btn-group" role="group">
							<button type="submit" class="btn btn-info">新建</button>
						</div>
					</div>
				<% }else{ %>
					<input type="hidden" name="_id" value="<%=jsonLend._id%>">
					<div class="btn-toolbar" role="toolbar">
						<div class="btn-group" role="group">
							<button type="submit" class="btn btn-info">更新</button>
						</div>
						<div class="btn-group" role="group">
							<button type="button" class="btn btn-danger" onclick="destroy();">刪除</button>
						</div>
					</div>
				<% } %>
			</form>
		</div>
		<div class="col-md-3">
		</div>
	</div>
</div>
<% if(jsonLend){ %>
<script>
	function destroy(){
		var form=document.getElementById('formID');
		form.action="/Lends/destroy";
		form.submit();
	}
</script>
<% } %>
<%- include('layout_footer'); -%>