<%- include('layout_header',{nav_cur:'lendsList',actionDefault:'最新',keywordDefault:'',categoryDefault:'不分類'}); -%>
<div class="container">
	<div class="row">
		<div class="col-md-9">
			<div style="font-size:30pt;color:#337ab7;">自動借出設定列表</div>
				<div style="font-size:20pt;color:#0000D1;">&nbsp;<%=totalResultNum%> result</div>
				<br>
				<div class="btn-group">
					<div class="btn-group">
						<button type="button" style="height:40px;" class="btn btn-default dropdown-toggle" data-toggle="dropdown" id="sorterSelected">
							<%=sorterDefault%> <span class="caret"></span>
						</button>
						<ul class="dropdown-menu">
							<li style="display:none"><a href="#" id="sorter0"><%=sorterDefault%></a></li>
							<li><a href="#" onclick="$('#sorterSelected').html('');$('#sorterSelected').html($('#sorter1').text());$('#sorter0').html($('#sorterSelected').text());$('#sorterSelected').append(' <span class=\'caret\'><\/span>'); return false;" id="sorter1">最新</a></li>
							<li><a href="#" onclick="$('#sorterSelected').html('');$('#sorterSelected').html($('#sorter2').text());$('#sorter0').html($('#sorterSelected').text());$('#sorterSelected').append(' <span class=\'caret\'><\/span>'); return false;" id="sorter2">可借出金額最高</a></li>
							<li><a href="#" onclick="$('#sorterSelected').html('');$('#sorterSelected').html($('#sorter3').text());$('#sorter0').html($('#sorterSelected').text());$('#sorterSelected').append(' <span class=\'caret\'><\/span>'); return false;" id="sorter3">利率最高</a></li>
							<li><a href="#" onclick="$('#sorterSelected').html('');$('#sorterSelected').html($('#sorter4').text());$('#sorter0').html($('#sorterSelected').text());$('#sorterSelected').append(' <span class=\'caret\'><\/span>'); return false;" id="sorter4">期數最多</a></li>
							<li><a href="#" onclick="$('#sorterSelected').html('');$('#sorterSelected').html($('#sorter5').text());$('#sorter0').html($('#sorterSelected').text());$('#sorterSelected').append(' <span class=\'caret\'><\/span>'); return false;" id="sorter5">可接受信用等級最高</a></li>
							<li><a href="#" onclick="$('#sorterSelected').html('');$('#sorterSelected').html($('#sorter6').text());$('#sorter0').html($('#sorterSelected').text());$('#sorterSelected').append(' <span class=\'caret\'><\/span>'); return false;" id="sorter6">可接受總利息最高</a></li>
							<li><a href="#" onclick="$('#sorterSelected').html('');$('#sorterSelected').html($('#sorter7').text());$('#sorter0').html($('#sorterSelected').text());$('#sorterSelected').append(' <span class=\'caret\'><\/span>'); return false;" id="sorter7">可接受平均利息最高</a></li>
							<li><a href="#" onclick="$('#sorterSelected').html('');$('#sorterSelected').html($('#sorter8').text());$('#sorter0').html($('#sorterSelected').text());$('#sorterSelected').append(' <span class=\'caret\'><\/span>'); return false;" id="sorter8">可接受平均本利和最高</a></li>
							<li><a href="#" onclick="$('#sorterSelected').html('');$('#sorterSelected').html($('#sorter9').text());$('#sorter0').html($('#sorterSelected').text());$('#sorterSelected').append(' <span class=\'caret\'><\/span>'); return false;" id="sorter9">可接受利本比最高</a></li>
						</ul>
					</div>
					<button type="button" style="height:40px;" class="btn btn-default" onclick="window.open('/lender/lendsList?oneid=<%=oneidDefault%>&sorter='+encodeURIComponent($('#sorter0').text())+'&page=1','_self');">Go!</button>
				</div>
				<br>
				<br>
				<br>
				<% if(totalResultNum!=0){ %>
					<% for(var i=0; i<jsonLends.length; i++) { %>
						<div style="height: 350px;margin-bottom:0px;" class="panel panel-default pd">
							<div class="panel-body">
								<div style="font-size:25px;color:#0000D1;display:inline;"><%=jsonLends[i].CreatedBy.Username%></div>
								<br>
								<br>
								<div class="col-md-6">
									<table width="100%" height="250px">
										<tr>
											<td>
												<div style="color:#337ab7;">
													&nbsp;&nbsp;&nbsp;&nbsp;最大可借出金額：
												</div>
											</td>
										<tr>
										<tr>
											<td>
												<div>
													&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=jsonLends[i].MaxMoneyToLend.toFixed(0)%>元
												</div>	
											</td>
										<tr>
										<tr>
											<td>
												<div style="color:#337ab7;">
													&nbsp;&nbsp;&nbsp;&nbsp;最低欲借出利率：
												</div>
											</td>
										<tr>
										<tr>
											<td>
												<div>
													&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=(jsonLends[i].InterestRate*100).toFixed(2)%>%
												</div>	
											</td>
										<tr>
										<tr>
											<td>
												<div style="color:#337ab7;&nbsp;&nbsp;&nbsp;&nbsp;">
													&nbsp;&nbsp;&nbsp;&nbsp;最低欲借出期數：
												</div>
											</td>
										<tr>
										<tr>
											<td>
												<div>
													&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=jsonLends[i].MonthPeriod.toFixed(0)%>個月
												</div>	
											</td>
										<tr>
										<tr>
											<td>
												<div style="color:#337ab7;">
													&nbsp;&nbsp;&nbsp;&nbsp;最低可接受信用等級：
												</div>
											</td>
										<tr>
										<tr>
											<td>
												<div>
													&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=jsonLends[i].MinLevelAccepted.toFixed(0)%>級
												</div>	
											</td>
										<tr>
										<tr>
											<td>
												<div style="color:#337ab7;">
													&nbsp;&nbsp;&nbsp;&nbsp;最低可接受總利息
												</div>
											</td>
										<tr>
										<tr>
											<td>
												<div>
													&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=jsonLends[i].MinInterestInFuture.toFixed(0)%>元
												</div>	
											</td>
										<tr>
									</table>	
								</div>	
								<div class="col-md-6">
									<table width="100%" height="250px">		
										<tr>
											<td>
												<div style="color:#337ab7;">
													&nbsp;&nbsp;&nbsp;&nbsp;最低可接受每期平均利息
												</div>
											</td>
										<tr>
										<tr>
											<td>
												<div>
													&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=jsonLends[i].MinInterestInFutureMonth.toFixed(0)%>元
												</div>	
											</td>
										<tr>
										<tr>
											<td>
												<div style="color:#337ab7;">
													&nbsp;&nbsp;&nbsp;&nbsp;最低可接受每期平均本利和
												</div>
											</td>
										<tr>
										<tr>
											<td>
												<div>
													&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=jsonLends[i].MinInterestInFutureMoneyMonth.toFixed(0)%>元
												</div>	
											</td>
										<tr>
										<tr>
											<td>
												<div style="color:#337ab7;">
													&nbsp;&nbsp;&nbsp;&nbsp;最低可接受總利息/最初本金比
												</div>
											</td>
										<tr>
										<tr>
											<td>
												<div>
													&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=(jsonLends[i].MinInterestInFutureDivMoney*100).toFixed(2)%>%
												</div>	
											</td>
										<tr>
										<tr>
											<td>
												<div style="color:#337ab7;">
													&nbsp;&nbsp;&nbsp;&nbsp;自動同意借款請求：
												</div>
											</td>
										<tr>
										<tr>
											<td>
												<div>
													&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%if(jsonLends[i].AutoComfirmToBorrowMsgPeriod==-1){%>
																										永不自動同意
																									<%}else if(jsonLends[i].AutoComfirmToBorrowMsgPeriod==0){%>
																										立即自動同意
																									<%}else if(jsonLends[i].AutoComfirmToBorrowMsgPeriod==1){%>
																										每天自動同意一次
																									<%}else if(jsonLends[i].AutoComfirmToBorrowMsgPeriod==2){%>
																										每兩天自動同意一次
																									<%}else if(jsonLends[i].AutoComfirmToBorrowMsgPeriod==3){%>
																										每三天自動同意一次
																									<%}%>
												</div>	
											</td>
										<tr>
										<tr>
											<td>
												<div style="color:#337ab7;">
													&nbsp;&nbsp;&nbsp;&nbsp;自動同意優先順序:
												</div>
											</td>
										<tr>
										<tr>
											<td>
												<div>
													&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%if(jsonLends[i].AutoComfirmToBorrowMsgSorter=="invalid"){%>
																										無效
																									<%}else if(jsonLends[i].AutoComfirmToBorrowMsgSorter=="-InterestRate"){%>
																										利率最高
																									<%}else if(jsonLends[i].AutoComfirmToBorrowMsgSorter=="-MoneyToLend"){%>
																										金額最高
																									<%}else if(jsonLends[i].AutoComfirmToBorrowMsgSorter=="-MonthPeriod"){%>
																										期數最多
																									<%}else if(jsonLends[i].AutoComfirmToBorrowMsgSorter=="-Level"){%>
																										信用等級最高
																									<%}else if(jsonLends[i].AutoComfirmToBorrowMsgSorter=="-SpecialA"){%>
																										預計總利息最高
																									<%}else if(jsonLends[i].AutoComfirmToBorrowMsgSorter=="-SpecialB"){%>
																										預計平均利息最高
																									<%}else if(jsonLends[i].AutoComfirmToBorrowMsgSorter=="-SpecialC"){%>
																										預計平均本利和最高
																									<%}else if(jsonLends[i].AutoComfirmToBorrowMsgSorter=="-SpecialD"){%>
																										預計利本比最高
																									<%}else if(jsonLends[i].AutoComfirmToBorrowMsgSorter=="-Updated"){%>
																										最新
																									<%}%>
												</div>	
											</td>
										<tr>
									</table>
								</div>
							</div>
						</div>
					<table width="100%">
					<tr>
						<td align="right">
							<div style="color:#337ab7;">
								Updated：<%=jsonLends[i].Updated.getFullYear()%>/<%=jsonLends[i].Updated.getMonth()+1%>/<%=jsonLends[i].Updated.getDate()%>
							</div>
						</td>
					<tr>
					</table>
					<br>
					<br>
				<%}%>
				<br>
				<table align="center">
					<tr>
						<td>
							<nav>
							  <ul class="pagination">
								<li 
									<% if(targetPageNumber==1){%>
										class="disabled"
									<%}%>
								>
								<% if(targetPageNumber!=1){%>
									<a href="/lender/lendsList?oneid=<%=oneidDefault%>&sorter=<%=encodeURIComponent(sorterDefault)%>&page=<%=targetPageNumber-1%>">
								<%}else{%>
									<a href="#" onclick="return false;">
								<%}%>
								<span>&laquo;</span></a></li>
								<% if(pageNumber<=10){%>
									<% for(var j=1; j<=pageNumber; j++) { %>
										<li 
											<% if(targetPageNumber==j){%>
												class="active"
											<%}%>
										><a href="/lender/lendsList?oneid=<%=oneidDefault%>&sorter=<%=encodeURIComponent(sorterDefault)%>&page=<%=j%>"><%=j%></a></li>
									<%}%>
								<% }else{%>
									<% if(targetPageNumber>=pageNumber-3){%>
										<% for(var j=pageNumber-9; j<=pageNumber; j++) { %>
										<li 
											<% if(targetPageNumber==j){%>
												class="active"
											<%}%>
										><a href="/lender/lendsList?oneid=<%=oneidDefault%>&sorter=<%=encodeURIComponent(sorterDefault)%>&page=<%=j%>"><%=j%></a></li>
										<%}%>
									<%}else if(targetPageNumber<=5){%>
										<% for(var j=1; j<=10; j++) { %>
										<li 
											<% if(targetPageNumber==j){%>
												class="active"
											<%}%>
										><a href="/lender/lendsList?oneid=<%=oneidDefault%>&sorter=<%=encodeURIComponent(sorterDefault)%>&page=<%=j%>"><%=j%></a></li>
										<%}%>
									<%}else{%>
										<% for(var j=targetPageNumber-5; j<targetPageNumber; j++) { %>
										<li><a href="/lender/lendsList?oneid=<%=oneidDefault%>&sorter=<%=encodeURIComponent(sorterDefault)%>&page=<%=j%>"><%=j%></a></li>
										<%}%>
										<li class="active"><a href="/lender/lendsList?oneid=<%=oneidDefault%>&sorter=<%=encodeURIComponent(sorterDefault)%>&page=<%=targetPageNumber%>"><%=targetPageNumber%></a></li>
										<% for(var j=targetPageNumber+1; j<=targetPageNumber+4; j++) { %>
										<li><a href="/lender/lendsList?oneid=<%=oneidDefault%>&sorter=<%=encodeURIComponent(sorterDefault)%>&page=<%=j%>"><%=j%></a></li>
										<%}%>
									<%}%>
								<%}%>
								<li 
									<% if(targetPageNumber==pageNumber){%>
										class="disabled"
									<%}%>
								>	
								<% if(targetPageNumber!=pageNumber){%>
									<a href="/lender/lendsList?oneid=<%=oneidDefault%>&sorter=<%=encodeURIComponent(sorterDefault)%>&page=<%=targetPageNumber+1%>">
								<%}else{%>
									<a href="#" onclick="return false;">
								<%}%>
								<span>&raquo;</span></a></li>
							  </ul>
							</nav>
						</td>
					</tr>
				</table>
			<% }%>
		</div>
		<div class="col-md-3">
		</div>
	</div>
</div>
<%- include('layout_footer',{imgSettingCode:"var ifLoadedCount=0;",imgDrawingCode:""}); -%>