<%- include('layout_header',{searchTitle:oneidDefault,nav_cur:'lenderReturnRecord',actionDefault:'建立日期',directorDefault:'大至小',keywordDefault:'',categoryDefault:'不分類'}); -%>
<div class="container">
	<div class="row">
		<div class="col-md-9">
			<div style="font-size:30pt;"><%if(idDefault!=''){%>單筆交易<%}%>收款紀錄</div>
				<div style="font-size:20pt;">&nbsp;<%=totalResultNum%> result</div>
				<br>
				<%if(idDefault!=''){%>
					<div class="btn-group">
				<%}else{%>
				<div class="input-group">
					<input type="text" style="height:40px;" class="form-control" id="oneidIpt" placeholder="搜尋故事標題或用戶名稱" value="<%=oneidDefault%>" onkeypress="if(event.keyCode==13){linker();}">	
					<span class="input-group-btn">
				<%}%>
						<div class="btn-group">
							<button type="button" style="height:40px;" class="btn btn-default dropdown-toggle" data-toggle="dropdown" id="sorterSelected">
								<%=sorterDefault%> <span class="caret"></span>
							</button>
							<ul class="dropdown-menu">
								<li style="display:none"><a href="#" id="sorter0"><%=sorterDefault%></a></li>
								<li id="slis1"<%if(sorterDefault=='建立日期'){%> class="active"<%}%>><a href="#" onclick="sorterSelector(1);return false;" id="sorter1">建立日期</a></li>
								<li id="slis2"<%if(sorterDefault=='更新日期'){%> class="active"<%}%>><a href="#" onclick="sorterSelector(2);return false;" id="sorter2">更新日期</a></li>
								<li id="slis3"<%if(sorterDefault=='實收金額'){%> class="active"<%}%>><a href="#" onclick="sorterSelector(3);return false;" id="sorter3">實收金額</a></li>
								<li id="slis4"<%if(sorterDefault=='應收金額'){%> class="active"<%}%>><a href="#" onclick="sorterSelector(4);return false;" id="sorter4">應收金額</a></li>
								<li id="slis5"<%if(sorterDefault=='未收金額'){%> class="active"<%}%>><a href="#" onclick="sorterSelector(5);return false;" id="sorter5">未收金額</a></li>
								<li id="slis6"<%if(sorterDefault=='超收金額'){%> class="active"<%}%>><a href="#" onclick="sorterSelector(6);return false;" id="sorter6">超收金額</a></li>
								<li id="slis7"<%if(sorterDefault=='實收本金'){%> class="active"<%}%>><a href="#" onclick="sorterSelector(7);return false;" id="sorter7">實收本金</a></li>
								<li id="slis8"<%if(sorterDefault=='應收本金'){%> class="active"<%}%>><a href="#" onclick="sorterSelector(8);return false;" id="sorter8">應收本金</a></li>
								<li id="slis9"<%if(sorterDefault=='未收本金'){%> class="active"<%}%>><a href="#" onclick="sorterSelector(9);return false;" id="sorter9">未收本金</a></li>
								<li id="slis10"<%if(sorterDefault=='超收本金'){%> class="active"<%}%>><a href="#" onclick="sorterSelector(10);return false;" id="sorter10">超收本金</a></li>
								<li id="slis11"<%if(sorterDefault=='實收利息'){%> class="active"<%}%>><a href="#" onclick="sorterSelector(11);return false;" id="sorter11">實收利息</a></li>
								<li id="slis12"<%if(sorterDefault=='應收利息'){%> class="active"<%}%>><a href="#" onclick="sorterSelector(12);return false;" id="sorter12">應收利息</a></li>
								<li id="slis13"<%if(sorterDefault=='未收利息'){%> class="active"<%}%>><a href="#" onclick="sorterSelector(13);return false;" id="sorter13">未收利息</a></li>
								<li id="slis14"<%if(sorterDefault=='超收利息'){%> class="active"<%}%>><a href="#" onclick="sorterSelector(14);return false;" id="sorter14">超收利息</a></li>
								<li id="slis15"<%if(sorterDefault=='收款前未還本金'){%> class="active"<%}%>><a href="#" onclick="sorterSelector(15);return false;" id="sorter15">收款前未還本金</a></li>
								<li id="slis16"<%if(sorterDefault=='收款前已還本金'){%> class="active"<%}%>><a href="#" onclick="sorterSelector(16);return false;" id="sorter16">收款前已還本金</a></li>
								<li id="slis17"<%if(sorterDefault=='收款前累積利息'){%> class="active"<%}%>><a href="#" onclick="sorterSelector(17);return false;" id="sorter17">收款前累積利息</a></li>
								<li id="slis18"<%if(sorterDefault=='收款前累積本利和'){%> class="active"<%}%>><a href="#" onclick="sorterSelector(18);return false;" id="sorter18">收款前累積本利和</a></li>
								<li id="slis19"<%if(sorterDefault=='收款後未還本金'){%> class="active"<%}%>><a href="#" onclick="sorterSelector(19);return false;" id="sorter19">收款後未還本金</a></li>
								<li id="slis20"<%if(sorterDefault=='收款後已還本金'){%> class="active"<%}%>><a href="#" onclick="sorterSelector(20);return false;" id="sorter20">收款後已還本金</a></li>
								<li id="slis21"<%if(sorterDefault=='收款後累積利息'){%> class="active"<%}%>><a href="#" onclick="sorterSelector(21);return false;" id="sorter21">收款後累積利息</a></li>
								<li id="slis22"<%if(sorterDefault=='收款後累積本利和'){%> class="active"<%}%>><a href="#" onclick="sorterSelector(22);return false;" id="sorter22">收款後累積本利和</a></li>
								<li id="slis23"<%if(sorterDefault=='對方信用等級'){%> class="active"<%}%>><a href="#" onclick="sorterSelector(23);return false;" id="sorter23">對方信用等級</a></li>
							</ul>
						</div>
						<div class="btn-group">
							<button type="button" style="height:40px;" class="btn btn-default" id="directorSelected" data-toggle="dropdown" aria-expanded="false"><%=directorDefault%> <span class='caret'></span></button>
							<ul class="dropdown-menu" role="menu">
								<li style="display:none"><a href="#" id="director0"><%=directorDefault%></a></li>
								<li id="dlis1"<%if(directorDefault=='大至小'){%> class="active"<%}%>><a href="#" onclick="directorSelector(1);return false;" id="director1">大至小</a></li>
								<li id="dlis2"<%if(directorDefault=='小至大'){%> class="active"<%}%>><a href="#" onclick="directorSelector(2);return false;" id="director2">小至大</a></li>
							</ul>
						</div>
						<button type="button" style="height:40px;" class="btn btn-default" onclick="linker();">Go!</button>
				<%if(idDefault!=''){%>
					</div>
					<br>
				<%}else{%>
					</span>
				</div>
				<%}%>
				<br>
				<%if((sorterDefault=='建立日期')||(sorterDefault=='更新日期')){%>
					<input style="height:32px;width:180px;display:inline;" type="date" placeholder="下限(yyyy/mm/dd)" class="form-control" value="<%=lboundDefault%>" id="lbound" onkeypress="if(event.keyCode==13){linker();}">
					&nbsp;~&nbsp;
					<input style="height:32px;width:180px;display:inline;" type="date" placeholder="上限(yyyy/mm/dd)" class="form-control" value="<%=uboundDefault%>" id="ubound" onkeypress="if(event.keyCode==13){linker();}">
				<%}else{%>
					<input style="height:32px;width:180px;display:inline;" type="text" placeholder="下限(元/級)" class="form-control" value="<%=lboundDefault%>" id="lbound" onkeypress="if(event.keyCode==13){linker();}">
					&nbsp;~&nbsp;
					<input style="height:32px;width:180px;display:inline;" type="text" placeholder="上限(元/級)" class="form-control" value="<%=uboundDefault%>" id="ubound" onkeypress="if(event.keyCode==13){linker();}">
				<%}%>
				<br>
				<br>
				<% if(totalResultNum!=0){ %>
					<% for(var i=0; i<jsonReturns.length; i++) { %>
						<table width="100%">
							<tr>
								<td>
									<a style="font-size:15px;" href="/lender/lenderTransactionRecord?oneid=<%=jsonReturns[i].ToTransaction._id%>&filter=<%if(jsonReturns[i].ToTransaction.Principal>0){%><%if(jsonReturns[i].ToTransaction.InsuranceFeePaid>0){%><%=encodeURIComponent('已保險')%><%}else{%><%=encodeURIComponent('未保險')%><%}%><%}else{%><%=encodeURIComponent('已結清')%><%}%>&sorter=<%=encodeURIComponent("建立日期")%>&director=<%=encodeURIComponent("大至小");%>&lbound=&ubound=&page=1">查看來源交易</a>
								</td>
							</tr>
						</table>
						<div style="height: 520px;" class="panel panel-default pd">
							<div class="panel-body">
								<div style="font-size:25px;display:inline;">來自 </div>
								<div style="font-size:25px;display:inline;" class="myTitle"><%=jsonReturns[i].Borrower.Username%></div>
								<br>
								&nbsp;&nbsp;在 <a style="font-size:15px;" href="/lender/story?id=<%=jsonReturns[i].ToTransaction.CreatedFrom.FromBorrowRequest._id%>"><%-jsonReturns[i].ToTransaction.CreatedFrom.FromBorrowRequest.StoryTitle.replace(new RegExp(' ','g'),'&nbsp;')%></a>
								<br>
								<br>
								<div class="col-md-6">
									<table width="100%" height="240px">
										<tr>
											<td>
												<div class="myTitle">
													&nbsp;&nbsp;&nbsp;&nbsp;實收金額：
												</div>
											</td>
										</tr>
										<tr>
											<td>
												<div>
													&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=jsonReturns[i].MoneyReallyPaid.toFixed(0)%>元
												</div>	
											</td>
										</tr>
										<tr>
											<td>
												<div class="myTitle">
													&nbsp;&nbsp;&nbsp;&nbsp;應收金額：
												</div>
											</td>
										</tr>
										<tr>
											<td>
												<div>
													&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=jsonReturns[i].MoneyShouldPaid.toFixed(0)%>元
												</div>	
											</td>
										</tr>
										<tr>
											<td>
												<div class="myTitle">
													&nbsp;&nbsp;&nbsp;&nbsp;<%if(jsonReturns[i].MoneyNotPaid>=0){%>未收金額：<%}else{%>超收金額：<%}%>
												</div>
											</td>
										</tr>
										<tr>
											<td>
												<div>
													&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%if(jsonReturns[i].MoneyNotPaid>=0){%><%=jsonReturns[i].MoneyNotPaid.toFixed(0)%><%}else{%><%=(jsonReturns[i].MoneyNotPaid*-1).toFixed(0)%><%}%>元
												</div>	
											</td>
										</tr>
										<tr>
											<td>
												<div class="myTitle">
													&nbsp;&nbsp;&nbsp;&nbsp;實收本金：
												</div>
											</td>
										</tr>
										<tr>
											<td>
												<div>
													&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=(jsonReturns[i].PrincipalShouldPaid-jsonReturns[i].PrincipalNotPaid).toFixed(0)%>元
												</div>	
											</td>
										</tr>
										<tr>
											<td>
												<div class="myTitle">
													&nbsp;&nbsp;&nbsp;&nbsp;應收本金：
												</div>
											</td>
										</tr>
										<tr>
											<td>
												<div>
													&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=jsonReturns[i].PrincipalShouldPaid.toFixed(0)%>元
												</div>	
											</td>
										</tr>
										<tr>
											<td>
												<div class="myTitle">
													&nbsp;&nbsp;&nbsp;&nbsp;<%if(jsonReturns[i].PrincipalNotPaid>=0){%>未收本金：<%}else{%>超收本金：<%}%>
												</div>
											</td>
										</tr>
										<tr>
											<td>
												<div>
													&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%if(jsonReturns[i].PrincipalNotPaid>=0){%><%=jsonReturns[i].PrincipalNotPaid.toFixed(0)%><%}else{%><%=(jsonReturns[i].PrincipalNotPaid*-1).toFixed(0)%><%}%>元
												</div>	
											</td>
										</tr>
										<tr>
											<td>
												<div class="myTitle">
													&nbsp;&nbsp;&nbsp;&nbsp;實收利息：
												</div>
											</td>
										</tr>
										<tr>
											<td>
												<div>
													&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=(jsonReturns[i].InterestShouldPaid-jsonReturns[i].InterestNotPaid).toFixed(0)%>元
												</div>	
											</td>
										</tr>
										<tr>
											<td>
												<div class="myTitle">
													&nbsp;&nbsp;&nbsp;&nbsp;應收利息：
												</div>
											</td>
										</tr>
										<tr>
											<td>
												<div>
													&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=jsonReturns[i].InterestShouldPaid.toFixed(0)%>元
												</div>	
											</td>
										</tr>
										<tr>
											<td>
												<div class="myTitle">
													&nbsp;&nbsp;&nbsp;&nbsp;<%if(jsonReturns[i].InterestNotPaid>=0){%>未收利息：<%}else{%>超收利息：<%}%>
												</div>
											</td>
										</tr>
										<tr>
											<td>
												<div>
													&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%if(jsonReturns[i].InterestNotPaid>=0){%><%=jsonReturns[i].InterestNotPaid.toFixed(0)%><%}else{%><%=(jsonReturns[i].InterestNotPaid*-1).toFixed(0)%><%}%>元
												</div>	
											</td>
										</tr>
										<tr>
											<td>
												<div class="myTitle">
													&nbsp;&nbsp;&nbsp;&nbsp;收款日期:
												</div>
											</td>
										</tr>
										<tr>
											<td>
												<div>
													&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=jsonReturns[i].Created.getFullYear()%>/<%=jsonReturns[i].Created.getMonth()+1%>/<%=jsonReturns[i].Created.getDate()%>
												</div>	
											</td>
										</tr>
									</table>
								</div>
								<div class="col-md-6">
									<table width="100%" height="240px">
										<tr>
											<td>
												<div class="myTitle">
													&nbsp;&nbsp;&nbsp;&nbsp;收款前未還本金:
												</div>
											</td>
										</tr>
										<tr>
											<td>
												<div>
													&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=jsonReturns[i].PrincipalBeforePaid%>元
												</div>	
											</td>
										</tr>
										<tr>
											<td>
												<div class="myTitle">
													&nbsp;&nbsp;&nbsp;&nbsp;收款後未還本金:
												</div>
											</td>
										</tr>
										<tr>
											<td>
												<div>
													&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=jsonReturns[i].PrincipalAfterPaid%>元
												</div>	
											</td>
										</tr>
										<tr>
											<td>
												<div class="myTitle">
													&nbsp;&nbsp;&nbsp;&nbsp;收款前已還本金:
												</div>
											</td>
										</tr>
										<tr>
											<td>
												<div>
													&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=jsonReturns[i].PrincipalReturnedCumulatedBeforePaid%>元
												</div>	
											</td>
										</tr>
										<tr>
											<td>
												<div class="myTitle">
													&nbsp;&nbsp;&nbsp;&nbsp;收款後已還本金:
												</div>
											</td>
										</tr>
										<tr>
											<td>
												<div>
													&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=jsonReturns[i].PrincipalReturnedCumulatedAfterPaid%>元
												</div>	
											</td>
										</tr>
										<tr>
											<td>
												<div class="myTitle">
													&nbsp;&nbsp;&nbsp;&nbsp;收款前累積利息:
												</div>
											</td>
										</tr>
										<tr>
											<td>
												<div>
													&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=jsonReturns[i].InterestCumulatedBeforePaid%>元
												</div>	
											</td>
										</tr>
										<tr>
											<td>
												<div class="myTitle">
													&nbsp;&nbsp;&nbsp;&nbsp;收款後累積利息:
												</div>
											</td>
										</tr>
										<tr>
											<td>
												<div>
													&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=jsonReturns[i].InterestCumulatedAfterPaid%>元
												</div>	
											</td>
										</tr>
										<tr>
											<td>
												<div class="myTitle">
													&nbsp;&nbsp;&nbsp;&nbsp;收款前累積本利和:
												</div>
											</td>
										</tr>
										<tr>
											<td>
												<div>
													&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=jsonReturns[i].PICumulatedBeforePaid%>元
												</div>	
											</td>
										</tr>
										<tr>
											<td>
												<div class="myTitle">
													&nbsp;&nbsp;&nbsp;&nbsp;收款後累積本利和:
												</div>
											</td>
										</tr>
										<tr>
											<td>
												<div>
													&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=jsonReturns[i].PICumulatedAfterPaid%>元
												</div>	
											</td>
										</tr>
										<tr>
											<td>
												<div class="myTitle">
													&nbsp;&nbsp;&nbsp;&nbsp;對方信用等級:
												</div>
											</td>
										</tr>
										<tr>
											<td>
												<div>
													&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=jsonReturns[i].Level.toFixed(0)%>級
												</div>	
											</td>
										</tr>
										<tr>
											<td>
												<div class="myTitle">
													&nbsp;&nbsp;&nbsp;&nbsp;對方銀行帳號:
												</div>
											</td>
										</tr>
										<tr>
											<td>
												<div>
													&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=jsonReturns[i].BorrowerBankAccountNumber%>
												</div>	
											</td>
										</tr>
									</table>
								</div>
							</div>
						</div>
					<div style="border-top-style: none;border-right-style: none;border-bottom-style: none;border-left-style: none;margin-top: 0px;margin-bottom: 0px;" class="table-responsive">
						<table style="margin-bottom: 0px;margin-top: 0px;" class="table" width="100%">
						<tr>
							<td align="right" style="border-bottom-style: none;border-top-style: none;">
								<div style="font-size:15px;display:inline;">
									Updated：<%=jsonReturns[i].Updated.getFullYear()%>/<%=jsonReturns[i].Updated.getMonth()+1%>/<%=jsonReturns[i].Updated.getDate()%>
								</div>
								&nbsp;&nbsp;&nbsp;&nbsp;
								<div style="font-size:15px;display:inline;">
									Created：<%=jsonReturns[i].Created.getFullYear()%>/<%=jsonReturns[i].Created.getMonth()+1%>/<%=jsonReturns[i].Created.getDate()%>
								</div>
								&nbsp;&nbsp;&nbsp;&nbsp;
								<div style="font-size:15px;display:inline;">
									No.<%=i+1%>
								</div>
							</td>
						<tr>
						</table>
					</div>
					<br>
				<%}%>
				<br>
				<table align="center">
					<tr>
						<td>
							<nav>
							  <ul class="pagination">
								<li 
									<% if(targetPageNumber==1){%>
										class="disabled"
									<%}%>
								>
								<% if(targetPageNumber!=1){%>
									<a href="/lender/lenderReturnRecord?oneid=<%=encodeURIComponent(oneidDefault)%>&id=<%=encodeURIComponent(idDefault)%>&sorter=<%=encodeURIComponent(sorterDefault)%>&director=<%=encodeURIComponent(directorDefault)%>&lbound=<%=encodeURIComponent(lboundDefault)%>&ubound=<%=encodeURIComponent(uboundDefault)%>&page=<%=targetPageNumber-1%>">
								<%}else{%>
									<a href="#" onclick="return false;">
								<%}%>
								<span>&laquo;</span></a></li>
								<% if(pageNumber<=10){%>
									<% for(var j=1; j<=pageNumber; j++) { %>
										<li 
											<% if(targetPageNumber==j){%>
												class="active"
											<%}%>
										><a href="/lender/lenderReturnRecord?oneid=<%=encodeURIComponent(oneidDefault)%>&id=<%=encodeURIComponent(idDefault)%>&sorter=<%=encodeURIComponent(sorterDefault)%>&director=<%=encodeURIComponent(directorDefault)%>&lbound=<%=encodeURIComponent(lboundDefault)%>&ubound=<%=encodeURIComponent(uboundDefault)%>&page=<%=j%>"><%=j%></a></li>
									<%}%>
								<% }else{%>
									<% if(targetPageNumber>=pageNumber-3){%>
										<% for(var j=pageNumber-9; j<=pageNumber; j++) { %>
										<li 
											<% if(targetPageNumber==j){%>
												class="active"
											<%}%>
										><a href="/lender/lenderReturnRecord?oneid=<%=encodeURIComponent(oneidDefault)%>&id=<%=encodeURIComponent(idDefault)%>&sorter=<%=encodeURIComponent(sorterDefault)%>&director=<%=encodeURIComponent(directorDefault)%>&lbound=<%=encodeURIComponent(lboundDefault)%>&ubound=<%=encodeURIComponent(uboundDefault)%>&page=<%=j%>"><%=j%></a></li>
										<%}%>
									<%}else if(targetPageNumber<=5){%>
										<% for(var j=1; j<=10; j++) { %>
										<li 
											<% if(targetPageNumber==j){%>
												class="active"
											<%}%>
										><a href="/lender/lenderReturnRecord?oneid=<%=encodeURIComponent(oneidDefault)%>&id=<%=encodeURIComponent(idDefault)%>&sorter=<%=encodeURIComponent(sorterDefault)%>&director=<%=encodeURIComponent(directorDefault)%>&lbound=<%=encodeURIComponent(lboundDefault)%>&ubound=<%=encodeURIComponent(uboundDefault)%>&page=<%=j%>"><%=j%></a></li>
										<%}%>
									<%}else{%>
										<% for(var j=targetPageNumber-5; j<targetPageNumber; j++) { %>
										<li><a href="/lender/lenderReturnRecord?oneid=<%=encodeURIComponent(oneidDefault)%>&id=<%=encodeURIComponent(idDefault)%>&sorter=<%=encodeURIComponent(sorterDefault)%>&director=<%=encodeURIComponent(directorDefault)%>&lbound=<%=encodeURIComponent(lboundDefault)%>&ubound=<%=encodeURIComponent(uboundDefault)%>&page=<%=j%>"><%=j%></a></li>
										<%}%>
										<li class="active"><a href="/lender/lenderReturnRecord?oneid=<%=encodeURIComponent(oneidDefault)%>&id=<%=encodeURIComponent(idDefault)%>&sorter=<%=encodeURIComponent(sorterDefault)%>&director=<%=encodeURIComponent(directorDefault)%>&lbound=<%=encodeURIComponent(lboundDefault)%>&ubound=<%=encodeURIComponent(uboundDefault)%>&page=<%=targetPageNumber%>"><%=targetPageNumber%></a></li>
										<% for(var j=targetPageNumber+1; j<=targetPageNumber+4; j++) { %>
										<li><a href="/lender/lenderReturnRecord?oneid=<%=encodeURIComponent(oneidDefault)%>&id=<%=encodeURIComponent(idDefault)%>&sorter=<%=encodeURIComponent(sorterDefault)%>&director=<%=encodeURIComponent(directorDefault)%>&lbound=<%=encodeURIComponent(lboundDefault)%>&ubound=<%=encodeURIComponent(uboundDefault)%>&page=<%=j%>"><%=j%></a></li>
										<%}%>
									<%}%>
								<%}%>
								<li 
									<% if(targetPageNumber==pageNumber){%>
										class="disabled"
									<%}%>
								>	
								<% if(targetPageNumber!=pageNumber){%>
									<a href="/lender/lenderReturnRecord?oneid=<%=encodeURIComponent(oneidDefault)%>&id=<%=encodeURIComponent(idDefault)%>&sorter=<%=encodeURIComponent(sorterDefault)%>&director=<%=encodeURIComponent(directorDefault)%>&lbound=<%=encodeURIComponent(lboundDefault)%>&ubound=<%=encodeURIComponent(uboundDefault)%>&page=<%=targetPageNumber+1%>">
								<%}else{%>
									<a href="#" onclick="return false;">
								<%}%>
								<span>&raquo;</span></a></li>
							  </ul>
							</nav>
						</td>
					</tr>
				</table>
			<% }%>
		</div>
		<div class="col-md-3">
		</div>
	</div>
</div>
<script>
	function sorterSelector(index){
		$('#lbound').val('');
		$('#ubound').val('');
		if(($('#sorter'+index).text()=='建立日期')||($('#sorter'+index).text()=='更新日期')){
			enableDater();
		}else{
			disableDater();
		}
		$('#sorterSelected').html('');
		$('#sorterSelected').html($('#sorter'+index).text());
		$('#sorter0').html($('#sorterSelected').text());
		$('#sorterSelected').append(' <span class=\'caret\'><\/span>'); 
		for(i=1;i<=23;i++){
			$('#slis'+i).attr('class','');
		}
		$('#slis'+index).attr('class','active');
	}
	
	function directorSelector(index){
		$('#directorSelected').html('');
		$('#directorSelected').html($('#director'+index).text());
		$('#director0').html($('#directorSelected').text());
		$('#directorSelected').append(' <span class=\'caret\'><\/span>');
		for(i=1;i<=2;i++){
			$('#dlis'+i).attr('class','');
		}
		$('#dlis'+index).attr('class','active');
	}
	
	<%if((sorterDefault=='建立日期')||(sorterDefault=='更新日期')){%>
		var ifDater=true;
	<%}else{%>
		var ifDater=false;
	<%}%>
	function enableDater(){
		if(!ifDater){
			$('#lbound').attr('type','date');
			$('#ubound').attr('type','date');
			$('#lbound').attr('placeholder','下限(yyyy/mm/dd)');
			$('#ubound').attr('placeholder','上限(yyyy/mm/dd)');
			ifDater=true;
		}
	}
	
	function disableDater(){
		if(ifDater){
			$('#lbound').attr('type','text');
			$('#ubound').attr('type','text');
			$('#lbound').attr('placeholder','下限(元/級)');
			$('#ubound').attr('placeholder','上限(元/級)');
			ifDater=false;
		}
	}
	
	function linker(){
		<%if(idDefault!=''){%>
			window.open('/lender/lenderReturnRecord?oneid=<%=encodeURIComponent(oneidDefault)%>&id=<%=encodeURIComponent(idDefault)%>&sorter='+encodeURIComponent($('#sorter0').text())+'&director='+encodeURIComponent($('#director0').text())+'&lbound='+encodeURIComponent($('#lbound').val().trim())+'&ubound='+encodeURIComponent($('#ubound').val().trim())+'&page=1','_self');
		<%}else{%>
			window.open('/lender/lenderReturnRecord?oneid='+encodeURIComponent($('#oneidIpt').val())+'&id=<%=encodeURIComponent(idDefault)%>&sorter='+encodeURIComponent($('#sorter0').text())+'&director='+encodeURIComponent($('#director0').text())+'&lbound='+encodeURIComponent($('#lbound').val().trim())+'&ubound='+encodeURIComponent($('#ubound').val().trim())+'&page=1','_self');
		<%}%>
	}
</script>
<%- include('layout_footer',{imgSettingCode:"var ifLoadedCount=0;",imgDrawingCode:""}); -%>