<%- include('layout_header',{nav_cur:'lenderReceiveMessages',actionDefault:'最新',keywordDefault:'',categoryDefault:'不分類'}); -%>
<div class="container">
	<div class="row">
		<div class="col-md-9">
			<div style="font-size:30pt;">借出者收到之訊息 - <%=filterDefault%></div>
				<div style="font-size:20pt;">&nbsp;<%=totalResultNum%> result</div>
				<br>
				<div class="input-group">
					<input type="text" style="height:40px;" class="form-control" id="msgKeywordIpt" placeholder="搜尋訊息內容、故事標題或用戶名稱" value="<%=msgKeywordDefault%>" onkeypress="if(event.keyCode==13){ window.open('/lender/lenderReceiveMessages?msgKeyword='+encodeURIComponent($('#msgKeywordIpt').val().trim())+'&filter='+encodeURIComponent($('#filter0').text())+'&sorter='+encodeURIComponent($('#sorter0').text())+'&page=1','_self');}">
					<span class="input-group-btn">
						<div class="btn-group">
							<button type="button" style="height:40px;" class="btn btn-default dropdown-toggle" data-toggle="dropdown" id="filterSelected">
								<%=filterDefault%> <span class="caret"></span>
							</button>
							<ul class="dropdown-menu">
								<li style="display:none"><a href="#" id="filter0"><%=filterDefault%></a></li>
								<li><a href="#" onclick="$('#filterSelected').html('');$('#filterSelected').html($('#filter1').text());$('#filter0').html($('#filterSelected').text());$('#filterSelected').append(' <span class=\'caret\'><\/span>'); return false;" id="filter1">未確認</a></li>
								<li><a href="#" onclick="$('#filterSelected').html('');$('#filterSelected').html($('#filter2').text());$('#filter0').html($('#filterSelected').text());$('#filterSelected').append(' <span class=\'caret\'><\/span>'); return false;" id="filter2">已同意</a></li>
								<li><a href="#" onclick="$('#filterSelected').html('');$('#filterSelected').html($('#filter3').text());$('#filter0').html($('#filterSelected').text());$('#filterSelected').append(' <span class=\'caret\'><\/span>'); return false;" id="filter3">已婉拒</a></li>
							</ul>
						</div>
						<div class="btn-group">
							<button type="button" style="height:40px;" class="btn btn-default" id="sorterSelected" data-toggle="dropdown" aria-expanded="false"><%=sorterDefault%> <span class='caret'></span></button>
							<ul class="dropdown-menu" role="menu">
								<% if((filterDefault=='未確認')&&(pageNumber>1)){%>
								<li style="display:none"><a href="#" id="sorter0"><%=sorterDefault%></a></li>
								<li><a href="#" onclick="$('#sorterSelected').html('');$('#sorterSelected').html($('#sorter1').text());$('#cAll').attr('href','/Messages/confirmToBorrowMessageInLRMall?msgKeyword=<%=encodeURIComponent(msgKeywordDefault)%>&sorter='+encodeURIComponent($('#sorterSelected').text()));$('#rAll').attr('href','/Messages/rejectToBorrowMessageInLRMall?msgKeyword=<%=encodeURIComponent(msgKeywordDefault)%>&sorter='+encodeURIComponent($('#sorterSelected').text()));$('#sorter0').html($('#sorterSelected').text());$('#sorterSelected').append(' <span class=\'caret\'><\/span>');return false;" id="sorter1">最新</a></li>
								<li><a href="#" onclick="$('#sorterSelected').html('');$('#sorterSelected').html($('#sorter2').text());$('#cAll').attr('href','/Messages/confirmToBorrowMessageInLRMall?msgKeyword=<%=encodeURIComponent(msgKeywordDefault)%>&sorter='+encodeURIComponent($('#sorterSelected').text()));$('#rAll').attr('href','/Messages/rejectToBorrowMessageInLRMall?msgKeyword=<%=encodeURIComponent(msgKeywordDefault)%>&sorter='+encodeURIComponent($('#sorterSelected').text()));$('#sorter0').html($('#sorterSelected').text());$('#sorterSelected').append(' <span class=\'caret\'><\/span>');return false;" id="sorter2">利率最高</a></li>
								<li><a href="#" onclick="$('#sorterSelected').html('');$('#sorterSelected').html($('#sorter3').text());$('#cAll').attr('href','/Messages/confirmToBorrowMessageInLRMall?msgKeyword=<%=encodeURIComponent(msgKeywordDefault)%>&sorter='+encodeURIComponent($('#sorterSelected').text()));$('#rAll').attr('href','/Messages/rejectToBorrowMessageInLRMall?msgKeyword=<%=encodeURIComponent(msgKeywordDefault)%>&sorter='+encodeURIComponent($('#sorterSelected').text()));$('#sorter0').html($('#sorterSelected').text());$('#sorterSelected').append(' <span class=\'caret\'><\/span>');return false;" id="sorter3">金額最高</a></li>
								<li><a href="#" onclick="$('#sorterSelected').html('');$('#sorterSelected').html($('#sorter4').text());$('#cAll').attr('href','/Messages/confirmToBorrowMessageInLRMall?msgKeyword=<%=encodeURIComponent(msgKeywordDefault)%>&sorter='+encodeURIComponent($('#sorterSelected').text()));$('#rAll').attr('href','/Messages/rejectToBorrowMessageInLRMall?msgKeyword=<%=encodeURIComponent(msgKeywordDefault)%>&sorter='+encodeURIComponent($('#sorterSelected').text()));$('#sorter0').html($('#sorterSelected').text());$('#sorterSelected').append(' <span class=\'caret\'><\/span>');return false;" id="sorter4">期數最多</a></li>
								<li><a href="#" onclick="$('#sorterSelected').html('');$('#sorterSelected').html($('#sorter5').text());$('#cAll').attr('href','/Messages/confirmToBorrowMessageInLRMall?msgKeyword=<%=encodeURIComponent(msgKeywordDefault)%>&sorter='+encodeURIComponent($('#sorterSelected').text()));$('#rAll').attr('href','/Messages/rejectToBorrowMessageInLRMall?msgKeyword=<%=encodeURIComponent(msgKeywordDefault)%>&sorter='+encodeURIComponent($('#sorterSelected').text()));$('#sorter0').html($('#sorterSelected').text());$('#sorterSelected').append(' <span class=\'caret\'><\/span>');return false;" id="sorter5">信用等級最高</a></li>
								<li><a href="#" onclick="$('#sorterSelected').html('');$('#sorterSelected').html($('#sorter6').text());$('#cAll').attr('href','/Messages/confirmToBorrowMessageInLRMall?msgKeyword=<%=encodeURIComponent(msgKeywordDefault)%>&sorter='+encodeURIComponent($('#sorterSelected').text()));$('#rAll').attr('href','/Messages/rejectToBorrowMessageInLRMall?msgKeyword=<%=encodeURIComponent(msgKeywordDefault)%>&sorter='+encodeURIComponent($('#sorterSelected').text()));$('#sorter0').html($('#sorterSelected').text());$('#sorterSelected').append(' <span class=\'caret\'><\/span>');return false;" id="sorter6">預計總利息最高</a></li>
								<li><a href="#" onclick="$('#sorterSelected').html('');$('#sorterSelected').html($('#sorter7').text());$('#cAll').attr('href','/Messages/confirmToBorrowMessageInLRMall?msgKeyword=<%=encodeURIComponent(msgKeywordDefault)%>&sorter='+encodeURIComponent($('#sorterSelected').text()));$('#rAll').attr('href','/Messages/rejectToBorrowMessageInLRMall?msgKeyword=<%=encodeURIComponent(msgKeywordDefault)%>&sorter='+encodeURIComponent($('#sorterSelected').text()));$('#sorter0').html($('#sorterSelected').text());$('#sorterSelected').append(' <span class=\'caret\'><\/span>');return false;" id="sorter7">預計平均利息最高</a></li>
								<li><a href="#" onclick="$('#sorterSelected').html('');$('#sorterSelected').html($('#sorter8').text());$('#cAll').attr('href','/Messages/confirmToBorrowMessageInLRMall?msgKeyword=<%=encodeURIComponent(msgKeywordDefault)%>&sorter='+encodeURIComponent($('#sorterSelected').text()));$('#rAll').attr('href','/Messages/rejectToBorrowMessageInLRMall?msgKeyword=<%=encodeURIComponent(msgKeywordDefault)%>&sorter='+encodeURIComponent($('#sorterSelected').text()));$('#sorter0').html($('#sorterSelected').text());$('#sorterSelected').append(' <span class=\'caret\'><\/span>');return false;" id="sorter8">預計平均本利和最高</a></li>
								<li><a href="#" onclick="$('#sorterSelected').html('');$('#sorterSelected').html($('#sorter9').text());$('#cAll').attr('href','/Messages/confirmToBorrowMessageInLRMall?msgKeyword=<%=encodeURIComponent(msgKeywordDefault)%>&sorter='+encodeURIComponent($('#sorterSelected').text()));$('#rAll').attr('href','/Messages/rejectToBorrowMessageInLRMall?msgKeyword=<%=encodeURIComponent(msgKeywordDefault)%>&sorter='+encodeURIComponent($('#sorterSelected').text()));$('#sorter0').html($('#sorterSelected').text());$('#sorterSelected').append(' <span class=\'caret\'><\/span>');return false;" id="sorter9">預計利本比最高</a></li>
								<%}else{%>
								<li style="display:none"><a href="#" id="sorter0"><%=sorterDefault%></a></li>
								<li><a href="#" onclick="$('#sorterSelected').html('');$('#sorterSelected').html($('#sorter1').text());$('#sorter0').html($('#sorterSelected').text());$('#sorterSelected').append(' <span class=\'caret\'><\/span>');return false;" id="sorter1">最新</a></li>
								<li><a href="#" onclick="$('#sorterSelected').html('');$('#sorterSelected').html($('#sorter2').text());$('#sorter0').html($('#sorterSelected').text());$('#sorterSelected').append(' <span class=\'caret\'><\/span>');return false;" id="sorter2">利率最高</a></li>
								<li><a href="#" onclick="$('#sorterSelected').html('');$('#sorterSelected').html($('#sorter3').text());$('#sorter0').html($('#sorterSelected').text());$('#sorterSelected').append(' <span class=\'caret\'><\/span>');return false;" id="sorter3">金額最高</a></li>
								<li><a href="#" onclick="$('#sorterSelected').html('');$('#sorterSelected').html($('#sorter4').text());$('#sorter0').html($('#sorterSelected').text());$('#sorterSelected').append(' <span class=\'caret\'><\/span>');return false;" id="sorter4">期數最多</a></li>
								<li><a href="#" onclick="$('#sorterSelected').html('');$('#sorterSelected').html($('#sorter5').text());$('#sorter0').html($('#sorterSelected').text());$('#sorterSelected').append(' <span class=\'caret\'><\/span>');return false;" id="sorter5">信用等級最高</a></li>
								<li><a href="#" onclick="$('#sorterSelected').html('');$('#sorterSelected').html($('#sorter6').text());$('#sorter0').html($('#sorterSelected').text());$('#sorterSelected').append(' <span class=\'caret\'><\/span>');return false;" id="sorter6">預計總利息最高</a></li>
								<li><a href="#" onclick="$('#sorterSelected').html('');$('#sorterSelected').html($('#sorter7').text());$('#sorter0').html($('#sorterSelected').text());$('#sorterSelected').append(' <span class=\'caret\'><\/span>');return false;" id="sorter7">預計平均利息最高</a></li>
								<li><a href="#" onclick="$('#sorterSelected').html('');$('#sorterSelected').html($('#sorter8').text());$('#sorter0').html($('#sorterSelected').text());$('#sorterSelected').append(' <span class=\'caret\'><\/span>');return false;" id="sorter8">預計平均本利和最高</a></li>
								<li><a href="#" onclick="$('#sorterSelected').html('');$('#sorterSelected').html($('#sorter9').text());$('#sorter0').html($('#sorterSelected').text());$('#sorterSelected').append(' <span class=\'caret\'><\/span>');return false;" id="sorter9">預計利本比最高</a></li>
								<%}%>
							</ul>
						</div>
						<button type="button" style="height:40px;" class="btn btn-default" onclick="window.open('/lender/lenderReceiveMessages?msgKeyword='+encodeURIComponent($('#msgKeywordIpt').val().trim())+'&filter='+encodeURIComponent($('#filter0').text())+'&sorter='+encodeURIComponent($('#sorter0').text())+'&page=1','_self');">Go!</button>
					</span>
				</div> 
				<% if(totalResultNum>0){ %>
					<% if(filterDefault=='未確認'){%>
						<br>
						<table style="display:inline;" class="table">
							<thead class="myThead">
								<tr>
									<th>
									您目前的自動借出額度
									</th>
								</tr>
							</thead>
							<tbody class="myTbody">
								<tr>
									<td>
										<%if(jsonLend){%>
											<%=jsonLend.MaxMoneyToLend%>元
										<%}else{%>
											未找到自動出借設定！
										<%}%>
									</td>
								</tr>
							</tbody>
						</table>
						<%if(pageNumber>1){%>
						<br>
						<table style="display:inline;" class="table">
							<thead class="myThead">
								<tr>
									<th>
									全部合計借出金額
									</th>
									<th>
									全部合計總利息
									</th>
									<th>
									全部合計平均利息
									</th>
									<th>
									全部合計平均本利和
									</th>
									<th>
									全部合計利本比
									</th>
								</tr>
							</thead>
							<tbody class="myTbody">
								<tr>
									<td>
									<div style="display:inline;" id="value1All"><%=value1AllDefault.toFixed(0)%></div><div style="display:inline;">元</div>
									</td>
									<td>
									<div style="display:inline;" id="value2All"><%=value2AllDefault.toFixed(0)%></div><div style="display:inline;">元</div>
									</td>
									<td>
									<div style="display:inline;" id="value3All"><%=value3AllDefault.toFixed(0)%></div><div style="display:inline;">元</div>
									</td>
									<td>
									<div style="display:inline;" id="value4All"><%=value4AllDefault.toFixed(0)%></div><div style="display:inline;">元</div>
									</td>
									<td>
									<%if(value1AllDefault>0){%>
										<div style="display:inline;" id="value5All"><%=(value2AllDefault/value1AllDefault*100).toFixed(2)%></div><div style="display:inline;">%</div>
									<%}else{%>
										<div style="display:inline;" id="value5All">0.00</div><div style="display:inline;">%</div>
									<%}%>
									</td>
								</tr>
							</tbody>
						</table>
						<br>
						<button type="button" class="btn btn-info" data-toggle="modal" data-target="#chkModal1">
							同意全部收到之請求
						</button>
						<div class="modal fade" id="chkModal1">
							<div class="modal-dialog modal-sm">
								<div class="modal-content">
									<div class="modal-header" style="text-align: center;">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
										<h4 class="modal-title">再次確認</h4>
									</div>
									<div class="modal-body" style="text-align: center;">
										<br>
										您確定要同意全部收到之請求嗎?
										<br>
										<br>
									</div>
									<div class="modal-footer" style="text-align: center;">
										<a href="/Messages/confirmToBorrowMessageInLRMall?msgKeyword=<%=encodeURIComponent(msgKeywordDefault)%>&sorter=<%=encodeURIComponent(sorterDefault)%>" id="cAll">
											<button class="btn btn-primary" id="confirmAllBtn" onclick="confirmAll();">
												確定
											</button>
										</a>
										&nbsp;
										<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
									</div>
								</div>
							</div>
						</div>
						&nbsp;&nbsp;
						<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#chkModal2">
							婉拒全部收到之請求
						</button>
						<div class="modal fade" id="chkModal2">
							<div class="modal-dialog modal-sm">
								<div class="modal-content">
									<div class="modal-header" style="text-align: center;">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
										<h4 class="modal-title">再次確認</h4>
									</div>
									<div class="modal-body" style="text-align: center;">
										<br>
										您確定要婉拒全部收到之請求嗎?
										<br>
										<br>
									</div>
									<div class="modal-footer" style="text-align: center;">
										<a href="/Messages/rejectToBorrowMessageInLRMall?msgKeyword=<%=encodeURIComponent(msgKeywordDefault)%>&sorter=<%=encodeURIComponent(sorterDefault)%>" id="rAll">
											<button class="btn btn-danger" id="rejectAllBtn" onclick="rejectAll();">
												確定
											</button>
										</a>
										&nbsp;
										<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
									</div>
								</div>
							</div>
						</div>
						<br>
						<%}%>
						<br>
						<table style="display:inline;" class="table">
							<thead class="myThead">
								<tr>
									<th>
									已選合計借出金額
									</th>
									<th>
									已選合計總利息
									</th>
									<th>
									已選合計平均利息
									</th>
									<th>
									已選合計平均本利和
									</th>
									<th>
									已選合計利本比
									</th>
								</tr>
							</thead>
							<tbody class="myTbody">
								<tr>
									<td>
										<div style="display:inline;" id="value1">0</div><div style="display:none;" id="value1R">0</div><div style="display:inline;">元</div>
									</td>
									<td>
										<div style="display:inline;" id="value2">0</div><div style="display:none;" id="value2R">0</div><div style="display:inline;">元</div>
									</td>
									<td>
										<div style="display:inline;" id="value3">0</div><div style="display:none;" id="value3R">0</div><div style="display:inline;">元</div>
									</td>
									<td>
										<div style="display:inline;" id="value4">0</div><div style="display:none;" id="value4R">0</div><div style="display:inline;">元</div>
									</td>
									<td>
										<div style="display:inline;" id="value5">0.00</div><div style="display:inline;">%</div>
									</td>
								</tr>
							</tbody>
						</table>
						<br>
						<input type="checkbox" id="selectAll" onclick="selectAllFun();"> 全選&nbsp;&nbsp;&nbsp;&nbsp;
						<button type="button" class="btn btn-info" onclick="checkAndOpenModal('#chkModal3')">
							同意
						</button>
						<div class="modal fade" id="chkModal3">
							<div class="modal-dialog modal-sm">
								<div class="modal-content">
									<div class="modal-header" style="text-align: center;">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
										<h4 class="modal-title">再次確認</h4>
									</div>
									<div class="modal-body" style="text-align: center;">
										<br>
										您確定要同意已選之請求嗎?
										<br>
										<br>
									</div>
									<div class="modal-footer" style="text-align: center;">
										<button class="btn btn-primary" id="confirmBtn" onclick="confirm();">
											確定
										</button>
										<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
									</div>
								</div>
							</div>
						</div>
						&nbsp;&nbsp;
						<button type="button" class="btn btn-danger" onclick="checkAndOpenModal('#chkModal4')">
							婉拒
						</button>
						<div class="modal fade" id="chkModal4">
							<div class="modal-dialog modal-sm">
								<div class="modal-content">
									<div class="modal-header" style="text-align: center;">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
										<h4 class="modal-title">再次確認</h4>
									</div>
									<div class="modal-body" style="text-align: center;">
										<br>
										您確定要婉拒已選之請求嗎?
										<br>
										<br>
									</div>
									<div class="modal-footer" style="text-align: center;">
										<button class="btn btn-danger" id="rejectBtn" onclick="reject();">
											確定
										</button>
										<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
									</div>
								</div>
							</div>
						</div>
						<br>
						<br>
						<br>
						<div class="modal fade" id="msgModal">
							<div class="modal-dialog modal-sm">
								<div class="modal-content">
									<div class="modal-header" style="text-align: center;">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
										<h4 class="modal-title">訊息</h4>
									</div>
									<div class="modal-body" style="text-align: center;">
										<br>
										您未選擇訊息！
										<br>
										<br>
									</div>
									<div class="modal-footer" style="text-align: center;">
										<button type="button" class="btn btn-default" data-dismiss="modal">關閉</button>
									</div>
								</div>
							</div>
						</div>
					<% }else{%>
						<br>
						<br>
						<br>
					<%}%>
					<% for(var i=0; i<jsonMessage.length; i++) { %>
					<ul class="nav nav-tabs">
						<li class="active"><a href="#tab1<%=i%>" data-toggle="tab">訊息</a></li>
						<li><a href="#tab2<%=i%>" data-toggle="tab">資訊</a></li>
						<% if(filterDefault=='已同意'){%>
						<li><a href="#tab3<%=i%>" data-toggle="tab">交易紀錄</a></li>
						<% }%>
					</ul>
					<div style="height:340px;" class="tab-content my-tab-content">
						<div class="tab-pane active" id="tab1<%=i%>">
							<div style="font-size:25px;display:inline;">來自 </div>
							<div style="font-size:25px;display:inline;" class="myTitle"><%=jsonMessage[i].CreatedBy.Username%></div>
							<br>
							&nbsp;&nbsp;在 <a style="font-size:15px;" href="/lender/story?id=<%=jsonMessage[i].FromBorrowRequest._id%>"><%-jsonMessage[i].FromBorrowRequest.StoryTitle.replace(new RegExp(' ','g'),'&nbsp;')%></a>
							<br>
							<br>
							<div>	
								<%-jsonMessage[i].Message.replace(new RegExp('\n','g'),'<br>').replace(new RegExp(' ','g'),'&nbsp;')%>
							</div>
						</div>
						<div class="tab-pane" id="tab2<%=i%>">
							<div class="col-md-6">
								<table width="100%" height="310px">
									<tr>
										<td>
											<div  class="myTitle">
												欲借入金額：
											</div>
										</td>
									<tr>
									<tr>
										<td>
											<div>
												&nbsp;&nbsp;&nbsp;&nbsp;<div style="display:none;" id="value1<%=i%>"><%=jsonMessage[i].MoneyToLend%></div><%=jsonMessage[i].MoneyToLend.toFixed(0)%>元
											</div>	
										</td>
									<tr>
									<tr>
										<td>
											<div class="myTitle">
												欲借入年利率：
											</div>
										</td>
									<tr>
									<tr>
										<td>
											<div>
												&nbsp;&nbsp;&nbsp;&nbsp;<%=(jsonMessage[i].InterestRate*100).toFixed(2)%>%
											</div>	
										</td>
									<tr>
									<tr>
										<td>
											<div class="myTitle">
												欲借入期數：
											</div>
										</td>
									<tr>
									<tr>
										<td>
											<div>
												&nbsp;&nbsp;&nbsp;&nbsp;<%=jsonMessage[i].MonthPeriod.toFixed(0)%>個月
											</div>	
										</td>
									<tr>
									<tr>
										<td>
											<div class="myTitle">
												對方信用等級：
											</div>
										</td>
									<tr>
									<tr>
										<td>
											<div>
												&nbsp;&nbsp;&nbsp;&nbsp;<%=jsonMessage[i].Level.toFixed(0)%>級
											</div>	
										</td>
									<tr>
								</table>	
							</div>
							<div class="col-md-6">
								<table width="100%" height="310px">	
									<tr>
										<td>
											<div class="myTitle">
												預計總利息：
											</div>
										</td>
									<tr>
									<tr>
										<td>
											<div>
												&nbsp;&nbsp;&nbsp;&nbsp;<div style="display:none;" id="value2<%=i%>"><%=jsonMessage[i].InterestInFuture%></div><%=jsonMessage[i].InterestInFuture.toFixed(0)%>元
											</div>	
										</td>
									<tr>
									<tr>
										<td>
											<div class="myTitle">
												預計每期平均利息：
											</div>
										</td>
									<tr>
									<tr>
										<td>
											<div>
												&nbsp;&nbsp;&nbsp;&nbsp;<div style="display:none;" id="value3<%=i%>"><%=jsonMessage[i].InterestInFutureMonth%></div><%=jsonMessage[i].InterestInFutureMonth.toFixed(0)%>元
											</div>	
										</td>
									<tr>
									<tr>
										<td>
											<div class="myTitle">
												預計每期平均本利和：
											</div>
										</td>
									<tr>
									<tr>
										<td>
											<div>
												&nbsp;&nbsp;&nbsp;&nbsp;<div style="display:none;" id="value4<%=i%>"><%=jsonMessage[i].InterestInFutureMoneyMonth%></div><%=jsonMessage[i].InterestInFutureMoneyMonth.toFixed(0)%>元
											</div>	
										</td>
									<tr>
									<tr>
										<td>
											<div class="myTitle">
												預計總利息/最初本金比：
											</div>
										</td>
									<tr>
									<tr>
										<td>
											<div>
												&nbsp;&nbsp;&nbsp;&nbsp;<%=jsonMessage[i].InterestInFutureDivMoney.toFixed(2)%>%
											</div>	
										</td>
									<tr>
								</table>
							</div>
						</div>
						<% if(filterDefault=='已同意'){%>
							<div class="tab-pane" id="tab3<%=i%>">
								<div class="col-md-6">
									<table width="100%" height="270px">
										<tr>
											<td>
												<div class="myTitle">
													對方未還本金：
												</div>
											</td>
										<tr>
										<tr>
											<td>
												<div>
													&nbsp;&nbsp;&nbsp;&nbsp;<%=jsonMessage[i].Transaction[0].Principal.toFixed(0)%>元
												</div>	
											</td>
										<tr>
										<tr>
											<td>
												<div class="myTitle">
													對方已還本金：
												</div>
											</td>
										<tr>
										<tr>
											<td>
												<div>
													&nbsp;&nbsp;&nbsp;&nbsp;<%=jsonMessage[i].Transaction[0].PrincipalReturnedCumulated.toFixed(0)%>元
												</div>	
											</td>
										<tr>
										<tr>
											<td>
												<div class="myTitle">
													年利率：
												</div>
											</td>
										<tr>
										<tr>
											<td>
												<div>
													&nbsp;&nbsp;&nbsp;&nbsp;<%=(jsonMessage[i].Transaction[0].InterestRate*100).toFixed(2)%>%
												</div>	
											</td>
										<tr>
										<tr>
											<td>
												<div class="myTitle">
													已得利息：
												</div>
											</td>
										<tr>
										<tr>
											<td>
												<div>
													&nbsp;&nbsp;&nbsp;&nbsp;<%=jsonMessage[i].Transaction[0].InterestCumulated.toFixed(0)%>元
												</div>	
											</td>
										<tr>
										<tr>
											<td>
												<div class="myTitle">
													剩下期數：
												</div>
											</td>
										<tr>
										<tr>
											<td>
												<div>
													&nbsp;&nbsp;&nbsp;&nbsp;<%=jsonMessage[i].Transaction[0].MonthPeriod.toFixed(0)%>個月
												</div>	
											</td>
										<tr>
										<tr>
											<td>
												<div class="myTitle">
													已過期數:
												</div>
											</td>
										<tr>
										<tr>
											<td>
												<div>
													&nbsp;&nbsp;&nbsp;&nbsp;<%=jsonMessage[i].Transaction[0].MonthPeriodHasPast.toFixed(0)%>個月
												</div>	
											</td>
										<tr>
										<tr>
											<td>
												<div class="myTitle">
													成交日期:
												</div>
											</td>
										<tr>
										<tr>
											<td>
												<div>
													&nbsp;&nbsp;&nbsp;&nbsp;<%=jsonMessage[i].Transaction[0].Created.getFullYear()%>/<%=jsonMessage[i].Transaction[0].Created.getMonth()+1%>/<%=jsonMessage[i].Transaction[0].Created.getDate()%>
												</div>	
											</td>
										<tr>
										<tr>
											<td>
												<div class="myTitle">
													預計尚可收取利息：
												</div>
											</td>
										<tr>
										<tr>
											<td>
												<div>
													&nbsp;&nbsp;&nbsp;&nbsp;<%=jsonMessage[i].Transaction[0].InterestInFuture.toFixed(0)%>元
												</div>	
											</td>
										<tr>
									</table>
								</div>
								<div class="col-md-6">
									<table width="100%" height="270px">
										<tr>
											<td>
												<div class="myTitle">
													預計剩餘每期平均利息：
												</div>
											</td>
										<tr>
										<tr>
											<td>
												<div>
													&nbsp;&nbsp;&nbsp;&nbsp;<%=jsonMessage[i].Transaction[0].InterestInFutureMonth.toFixed(0)%>元
												</div>	
											</td>
										<tr>
										<tr>
											<td>
												<div class="myTitle">
													預計剩餘每期平均本利和：
												</div>
											</td>
										<tr>
										<tr>
											<td>
												<div>
													&nbsp;&nbsp;&nbsp;&nbsp;<%=jsonMessage[i].Transaction[0].InterestInFutureMoneyMonth.toFixed(0)%>元
												</div>	
											</td>
										<tr>
										<tr>
											<td>
												<div class="myTitle">
													預計尚可收取利息/目前本金比：
												</div>
											</td>
										<tr>
										<tr>
											<td>
												<div>
													&nbsp;&nbsp;&nbsp;&nbsp;<%=jsonMessage[i].Transaction[0].InterestInFutureDivMoney.toFixed(2)%>%
												</div>	
											</td>
										<tr>
										<tr>
											<td>
												<div class="myTitle">
													 上次成功收款日期:
												</div>
											</td>
										<tr>
										<tr>
											<td>
												<div>
													&nbsp;&nbsp;&nbsp;&nbsp;<%if(jsonMessage[i].Transaction[0].previousPayDate){%><%=jsonMessage[i].Transaction[0].previousPayDate.getFullYear()%>/<%=jsonMessage[i].Transaction[0].previousPayDate.getMonth()+1%>/<%=jsonMessage[i].Transaction[0].previousPayDate.getDate()%><%}else{%>無收款記錄<%}%>
												</div>	
											</td>
										<tr>
										<tr>
											<td>
												<div class="myTitle">
													下次應收款日期：
												</div>
											</td>
										<tr>
										<tr>
											<td>
												<div>
													&nbsp;&nbsp;&nbsp;&nbsp;<%if(jsonMessage[i].Transaction[0].nextPayDate){%><%=jsonMessage[i].Transaction[0].nextPayDate.getFullYear()%>/<%=jsonMessage[i].Transaction[0].nextPayDate.getMonth()+1%>/<%=jsonMessage[i].Transaction[0].nextPayDate.getDate()%><%}else{%>已還清<%}%>
												</div>	
											</td>
										<tr>
										<tr>
											<td>
												<div class="myTitle">
													保險所需費用：
												</div>
											</td>
										<tr>
										<tr>
											<td>
												<div>
													&nbsp;&nbsp;&nbsp;&nbsp;<%if(jsonMessage[i].Transaction[0].Principal*insuranceRate<1){%>1<%}else{%><%=(jsonMessage[i].Transaction[0].Principal*insuranceRate).toFixed(0)%><%}%>元
												</div>	
											</td>
										<tr>
										<tr>
											<td>
												<div class="myTitle">
													已付保險費用：
												</div>
											</td>
										<tr>
										<tr>
											<td>
												<div>
													&nbsp;&nbsp;&nbsp;&nbsp;<%=jsonMessage[i].Transaction[0].InsuranceFeePaid.toFixed(0)%>元
												</div>	
											</td>
										<tr>
										<tr>
											<td>
												<div class="myTitle">
													已收款次數：
												</div>
											</td>
										<tr>
										<tr>
											<td>
												<div>
													&nbsp;&nbsp;&nbsp;&nbsp;<%=jsonMessage[i].Transaction[0].ReturnCount.toFixed(0)%>次
												</div>	
											</td>
										<tr>
									</table>
								</div>	
							</div>
						<%}%>
					</div>
					<table width="100%">
						<tr>
							<%if(filterDefault=='未確認'){%>
								<td>
									<input type="checkbox" name="selectCheckBox" id="selectCheckBoxId<%=i%>" onclick="selectFun(<%=i%>);" value='{"FromBorrowRequest":"<%=jsonMessage[i].FromBorrowRequest._id%>","MessageID":"<%=jsonMessage[i]._id%>"}'> 選擇
								</td>
							<%}%>
							<td align="right">
								<div>
									<%if(filterDefault=='已同意'){%><a href="/lender/lenderTransactionRecord?oneid=<%=jsonMessage[i].Transaction[0]._id%>&filter=<%if(jsonMessage[i].Transaction[0].InsuranceFeePaid>0){%>已保險<%}else{%>未保險<%}%>&sorter=<%=encodeURIComponent("最新")%>&page=1">查詢該筆交易</a>&nbsp;&nbsp;&nbsp;&nbsp;<%}%>Updated：<%=jsonMessage[i].Updated.getFullYear()%>/<%=jsonMessage[i].Updated.getMonth()+1%>/<%=jsonMessage[i].Updated.getDate()%>
								</div>
							</td>
						<tr>
					</table>
					<br>
				<%}%>
				<%if(filterDefault=='未確認'){%>
					<form action="/Messages/confirmToBorrowMessageInLRM" method="post" id="formID">
						<input type="hidden" name="JsonArrayString" id="hdnIpt">
					</form>
				<%}%>
				<br>
				<table align="center">
					<tr>
						<td>
							<nav>
							  <ul class="pagination">
								<li 
									<% if(targetPageNumber==1){%>
										class="disabled"
									<%}%>
								>
								<% if(targetPageNumber!=1){%>
									<a href="/lender/lenderReceiveMessages?msgKeyword=<%=encodeURIComponent(msgKeywordDefault)%>&filter=<%=encodeURIComponent(filterDefault)%>&sorter=<%=encodeURIComponent(sorterDefault)%>&page=<%=targetPageNumber-1%>">
								<%}else{%>
									<a href="#" onclick="return false;">
								<%}%>
								<span>&laquo;</span></a></li>
								<% if(pageNumber<=10){%>
									<% for(var j=1; j<=pageNumber; j++) { %>
										<li 
											<% if(targetPageNumber==j){%>
												class="active"
											<%}%>
										><a href="/lender/lenderReceiveMessages?msgKeyword=<%=encodeURIComponent(msgKeywordDefault)%>&filter=<%=encodeURIComponent(filterDefault)%>&sorter=<%=encodeURIComponent(sorterDefault)%>&page=<%=j%>"><%=j%></a></li>
									<%}%>
								<% }else{%>
									<% if(targetPageNumber>=pageNumber-3){%>
										<% for(var j=pageNumber-9; j<=pageNumber; j++) { %>
										<li 
											<% if(targetPageNumber==j){%>
												class="active"
											<%}%>
										><a href="/lender/lenderReceiveMessages?msgKeyword=<%=encodeURIComponent(msgKeywordDefault)%>&filter=<%=encodeURIComponent(filterDefault)%>&sorter=<%=encodeURIComponent(sorterDefault)%>&page=<%=j%>"><%=j%></a></li>
										<%}%>
									<%}else if(targetPageNumber<=5){%>
										<% for(var j=1; j<=10; j++) { %>
										<li 
											<% if(targetPageNumber==j){%>
												class="active"
											<%}%>
										><a href="/lender/lenderReceiveMessages?msgKeyword=<%=encodeURIComponent(msgKeywordDefault)%>&filter=<%=encodeURIComponent(filterDefault)%>&sorter=<%=encodeURIComponent(sorterDefault)%>&page=<%=j%>"><%=j%></a></li>
										<%}%>
									<%}else{%>
										<% for(var j=targetPageNumber-5; j<targetPageNumber; j++) { %>
										<li><a href="/lender/lenderReceiveMessages?msgKeyword=<%=encodeURIComponent(msgKeywordDefault)%>&filter=<%=encodeURIComponent(filterDefault)%>&sorter=<%=encodeURIComponent(sorterDefault)%>&page=<%=j%>"><%=j%></a></li>
										<%}%>
										<li class="active"><a href="/lender/lenderReceiveMessages?msgKeyword=<%=encodeURIComponent(msgKeywordDefault)%>&filter=<%=encodeURIComponent(filterDefault)%>&sorter=<%=encodeURIComponent(sorterDefault)%>&page=<%=targetPageNumber%>"><%=targetPageNumber%></a></li>
										<% for(var j=targetPageNumber+1; j<=targetPageNumber+4; j++) { %>
										<li><a href="/lender/lenderReceiveMessages?msgKeyword=<%=encodeURIComponent(msgKeywordDefault)%>&filter=<%=encodeURIComponent(filterDefault)%>&sorter=<%=encodeURIComponent(sorterDefault)%>&page=<%=j%>"><%=j%></a></li>
										<%}%>
									<%}%>
								<%}%>
								<li 
									<% if(targetPageNumber==pageNumber){%>
										class="disabled"
									<%}%>
								>	
								<% if(targetPageNumber!=pageNumber){%>
									<a href="/lender/lenderReceiveMessages?msgKeyword=<%=encodeURIComponent(msgKeywordDefault)%>&filter=<%=encodeURIComponent(filterDefault)%>&sorter=<%=encodeURIComponent(sorterDefault)%>&page=<%=targetPageNumber+1%>">
								<%}else{%>
									<a href="#" onclick="return false;">
								<%}%>
								<span>&raquo;</span></a></li>
							  </ul>
							</nav>
						</td>
					</tr>
				</table>
			<% }%>
		</div>
		<div class="col-md-3">
		</div>
	</div>
</div>
<script>
<% if((filterDefault=='未確認')&&(totalResultNum>0)){%>
function checkAndOpenModal(target){
	var ctr=0;
	$("input[name='selectCheckBox']").each(function() {
			if($(this).prop("checked")){
				ctr+=1;
			}
	});
	if(ctr>0){
		$(target).modal('show');
	}else{
		$('#msgModal').modal('show');
	}
}

function selectAllFun(){
	if($("#selectAll").prop("checked"))
	{
		$("input[name='selectCheckBox']").each(function() {
			$(this).prop("checked", true);
		});
		var value1R=0;
		var value2R=0;
		var value3R=0;
		var value4R=0;
		var value5;
		for(i=0;i<<%=jsonMessage.length%>;i++){
			value1R+=parseFloat($("#value1"+i).text());
			value2R+=parseFloat($("#value2"+i).text());
			value3R+=parseFloat($("#value3"+i).text());
			value4R+=parseFloat($("#value4"+i).text());
		}
		
		if(value1R>0){
			value5=value2R/value1R*100;
		}else{
			value5=0;
		}
		$("#value1").text(Math.round(value1R).toFixed(0));
		$("#value2").text(Math.round(value2R).toFixed(0));
		$("#value3").text(Math.round(value3R).toFixed(0));
		$("#value4").text(Math.round(value4R).toFixed(0));
		$("#value1R").text(value1R);
		$("#value2R").text(value2R);
		$("#value3R").text(value3R);
		$("#value4R").text(value4R);
		$("#value5").text((Math.round(value5*100)/100).toFixed(2));
	}else{
		$("input[name='selectCheckBox']").each(function() {
			$(this).prop("checked", false);
		});
		$("#value1").text(0);
		$("#value2").text(0);
		$("#value3").text(0);
		$("#value4").text(0);
		$("#value1R").text(0);
		$("#value2R").text(0);
		$("#value3R").text(0);
		$("#value4R").text(0);
		$("#value5").text('0.00');		
	}
}

function selectFun(index){
	var value1R=parseFloat($("#value1R").text());
	var fee1=parseFloat($("#value1"+index).text());
	var value2R=parseFloat($("#value2R").text());
	var fee2=parseFloat($("#value2"+index).text());
	var value3R=parseFloat($("#value3R").text());
	var fee3=parseFloat($("#value3"+index).text());
	var value4R=parseFloat($("#value4R").text());
	var fee4=parseFloat($("#value4"+index).text());
	var value5;
	
	if($("#selectCheckBoxId"+index).prop("checked"))
	{
		value1R+=fee1;
		value2R+=fee2;
		value3R+=fee3;
		value4R+=fee4;
		if(value1R>0){
			value5=value2R/value1R*100;
		}else{
			value5=0;
		}
		$("#value1").text(Math.round(value1R).toFixed(0));
		$("#value2").text(Math.round(value2R).toFixed(0));
		$("#value3").text(Math.round(value3R).toFixed(0));
		$("#value4").text(Math.round(value4R).toFixed(0));
		$("#value1R").text(value1R);
		$("#value2R").text(value2R);
		$("#value3R").text(value3R);
		$("#value4R").text(value4R);
		$("#value5").text((Math.round(value5*100)/100).toFixed(2));
		
		var ctr=0;
		$("input[name='selectCheckBox']").each(function() {
			if($(this).prop("checked")){
				ctr+=1;
			}
		});
		if(ctr==$("input[name='selectCheckBox']").length){
			$("#selectAll").prop("checked", true);
		}
	}else{
		value1R-=fee1;
		value2R-=fee2;
		value3R-=fee3;
		value4R-=fee4;
		if(value1R>0){
			value5=value2R/value1R*100;
		}else{
			value5=0;
		}
		$("#value1").text(Math.round(value1R).toFixed(0));
		$("#value2").text(Math.round(value2R).toFixed(0));
		$("#value3").text(Math.round(value3R).toFixed(0));
		$("#value4").text(Math.round(value4R).toFixed(0));
		$("#value1R").text(value1R);
		$("#value2R").text(value2R);
		$("#value3R").text(value3R);
		$("#value4R").text(value4R);
		$("#value5").text((Math.round(value5*100)/100).toFixed(2));

		var ctr=0;
		$("input[name='selectCheckBox']").each(function() {
			if($(this).prop("checked")){
				ctr+=1;
			}
		});
		if(ctr<$("input[name='selectCheckBox']").length){
			$("#selectAll").prop("checked", false);
		}		
	}
}

<%if(pageNumber>1){%>
function confirmAll(){
	disableButton();
}

function rejectAll(){
	disableButton();
}
<%}%>

function confirm(){
	samepart(confirmInner);
}

function reject(){
	samepart(rejectInner);
}

function disableButton(){
	var orig=$('#confirmBtn').attr('class');
	if(orig.search(' disabled')<0){
		orig=orig+' disabled';
		$('#confirmBtn').attr('class',orig);
	}
	
	orig=$('#rejectBtn').attr('class');
	if(orig.search(' disabled')<0){
		orig=orig+' disabled';
		$(rejectBtn).attr('class',orig);
	}
	
	<%if(pageNumber>1){%>
	orig=$('#confirmAllBtn').attr('class');
	if(orig.search(' disabled')<0){
		orig=orig+' disabled';
		$('#confirmAllBtn').attr('class',orig);
	}

	orig=$('#rejectAllBtn').attr('class');
	if(orig.search(' disabled')<0){
		orig=orig+' disabled';
		$('#rejectAllBtn').attr('class',orig);
	}
	<%}%>
}

function confirmInner(){
	disableButton();
	var form=document.getElementById('formID');
	form.submit();
}

function rejectInner(){
	disableButton();
	var form=document.getElementById('formID');
	form.action="/Messages/rejectToBorrowMessageInLRM";
	form.submit();
}

function samepart(toDO){
	var JSONarrayString='{"array":['
	$("input[name='selectCheckBox']").each(function() {
			if($(this).prop("checked")){
				JSONarrayString+=$(this).val();
				JSONarrayString+=',';
			}
	});
	if(JSONarrayString!='{"array":['){
		JSONarrayString=JSONarrayString.substr(0,JSONarrayString.length-1);
		JSONarrayString+=']}';
		$("#hdnIpt").val(JSONarrayString);
		toDO();
	}
}
<%}%>
</script>
<%- include('layout_footer',{imgSettingCode:"var ifLoadedCount=0;",imgDrawingCode:""}); -%>