<%- include('layout_header',{searchTitle:oneidDefault,nav_cur:'lendsList',messengerDefault:'不分訊息狀態',actionDefault:'建立日期',directorDefault:'大至小',keywordDefault:'',categoryDefault:'不分類'}); -%>
<div class="container">
	<div class="row">
		<div class="col-md-9">
			<div class="bigTitle">自動借出設定列表</div>
				<div class="subTitle">&nbsp;<%=totalResultNum%> result</div>
				<br>
				<div class="input-group">
					<input type="text" class="form-control pageBar" id="oneidIpt" placeholder="搜尋用戶名稱或關鍵字設定" value="<%=oneidDefault%>" onkeypress="if(event.keyCode==13){linker();}">	
					<span class="input-group-btn">
						<div class="btn-group">
							<button type="button" class="btn btn-default dropdown-toggle pageBar" data-toggle="dropdown" id="classOneSelected">
								<%=classOneDefault%> <span class="caret"></span>
							</button>
							<ul class="dropdown-menu">
								<li style="display:none"><a href="#" id="classOne0"><%=classOneDefault%></a></li>
								<li id="colis1"<%if(classOneDefault=='不篩選自動同意設定'){%> class="active"<%}%>><a href="#" onclick="classOneSelector(1);return false;" id="classOne1">不篩選自動同意設定</a></li>
								<li id="colis2"<%if(classOneDefault=='永不自動同意'){%> class="active"<%}%>><a href="#" onclick="classOneSelector(2);return false;" id="classOne2">永不自動同意</a></li>
								<li id="colis3"<%if(classOneDefault=='立即自動同意'){%> class="active"<%}%>><a href="#" onclick="classOneSelector(3);return false;" id="classOne3">立即自動同意</a></li>
								<li id="colis4"<%if(classOneDefault=='每天自動同意一次'){%> class="active"<%}%>><a href="#" onclick="classOneSelector(4);return false;" id="classOne4">每天自動同意一次</a></li>
								<li id="colis5"<%if(classOneDefault=='每兩天自動同意一次'){%> class="active"<%}%>><a href="#" onclick="classOneSelector(5);return false;" id="classOne5">每兩天自動同意一次</a></li>
								<li id="colis6"<%if(classOneDefault=='每三天自動同意一次'){%> class="active"<%}%>><a href="#" onclick="classOneSelector(6);return false;" id="classOne6">每三天自動同意一次</a></li>
							</ul>
						</div>
						<div class="btn-group">
							<button type="button" class="btn btn-default dropdown-toggle pageBar" data-toggle="dropdown" id="classTwoSelected">
								<%=classTwoDefault%> <span class="caret"></span>
							</button>
							<ul class="dropdown-menu">
								<li style="display:none"><a href="#" id="classTwo0"><%=classTwoDefault%></a></li>
								<li id="ctlis1"<%if(classTwoDefault=='不篩選故事種類設定'){%> class="active"<%}%>><a href="#" onclick="classTwoSelector(1);return false;" id="classTwo1">不篩選故事種類設定</a></li>
								<li id="ctlis2"<%if(classTwoDefault=='不分類'){%> class="active"<%}%>><a href="#" onclick="classTwoSelector(2);return false;" id="classTwo2">不分類</a></li>
								<li id="ctlis3"<%if(classTwoDefault=='一般'){%> class="active"<%}%>><a href="#" onclick="classTwoSelector(3);return false;" id="classTwo3">一般</a></li>
								<li id="ctlis4"<%if(classTwoDefault=='教育'){%> class="active"<%}%>><a href="#" onclick="classTwoSelector(4);return false;" id="classTwo4">教育</a></li>
								<li id="ctlis5"<%if(classTwoDefault=='家庭'){%> class="active"<%}%>><a href="#" onclick="classTwoSelector(5);return false;" id="classTwo5">家庭</a></li>
								<li id="ctlis6"<%if(classTwoDefault=='旅遊'){%> class="active"<%}%>><a href="#" onclick="classTwoSelector(6);return false;" id="classTwo6">旅遊</a></li>
							</ul>
						</div>
						<div class="btn-group">
							<button type="button" class="btn btn-default dropdown-toggle pageBar" data-toggle="dropdown" id="sorterSelected">
								<%=sorterDefault%> <span class="caret"></span>
							</button>
							<ul class="dropdown-menu">
								<li style="display:none"><a href="#" id="sorter0"><%=sorterDefault%></a></li>
								<li id="slis1"<%if(sorterDefault=='更新日期'){%> class="active"<%}%>><a href="#" onclick="sorterSelector(1);return false;" id="sorter1">更新日期</a></li>
								<li id="slis2"<%if(sorterDefault=='建立日期'){%> class="active"<%}%>><a href="#" onclick="sorterSelector(2);return false;" id="sorter2">建立日期</a></li>
								<li id="slis3"<%if(sorterDefault=='最大可自動借出金額'){%> class="active"<%}%>><a href="#" onclick="sorterSelector(3);return false;" id="sorter3">最大可自動借出金額</a></li>
								<li id="slis4"<%if(sorterDefault=='可接受年利率'){%> class="active"<%}%>><a href="#" onclick="sorterSelector(4);return false;" id="sorter4">可接受年利率</a></li>
								<li id="slis5"<%if(sorterDefault=='可接受期數'){%> class="active"<%}%>><a href="#" onclick="sorterSelector(5);return false;" id="sorter5">可接受期數</a></li>
								<li id="slis6"<%if(sorterDefault=='可接受信用等級'){%> class="active"<%}%>><a href="#" onclick="sorterSelector(6);return false;" id="sorter6">可接受信用等級</a></li>
								<li id="slis7"<%if(sorterDefault=='可接受總利息'){%> class="active"<%}%>><a href="#" onclick="sorterSelector(7);return false;" id="sorter7">可接受總利息</a></li>
								<li id="slis8"<%if(sorterDefault=='可接受本利和'){%> class="active"<%}%>><a href="#" onclick="sorterSelector(8);return false;" id="sorter8">可接受本利和</a></li>
								<li id="slis9"<%if(sorterDefault=='可接受平均利息'){%> class="active"<%}%>><a href="#" onclick="sorterSelector(9);return false;" id="sorter9">可接受平均利息</a></li>
								<li id="slis10"<%if(sorterDefault=='可接受平均本利和'){%> class="active"<%}%>><a href="#" onclick="sorterSelector(10);return false;" id="sorter10">可接受平均本利和</a></li>
								<li id="slis11"<%if(sorterDefault=='可接受利本比'){%> class="active"<%}%>><a href="#" onclick="sorterSelector(11);return false;" id="sorter11">可接受利本比</a></li>
							</ul>
						</div>
						<div class="btn-group">
							<button type="button" class="btn btn-default pageBar" id="directorSelected" data-toggle="dropdown" aria-expanded="false"><%=directorDefault%> <span class='caret'></span></button>
							<ul class="dropdown-menu" role="menu">
								<li style="display:none"><a href="#" id="director0"><%=directorDefault%></a></li>
								<li id="dlis1"<%if(directorDefault=='大至小'){%> class="active"<%}%>><a href="#" onclick="directorSelector(1);return false;" id="director1">大至小</a></li>
								<li id="dlis2"<%if(directorDefault=='小至大'){%> class="active"<%}%>><a href="#" onclick="directorSelector(2);return false;" id="director2">小至大</a></li>
							</ul>
						</div>
						<button type="button" class="btn btn-default pageBar" onclick="linker();">Go!</button>
					</span>
				</div> 
				<br>
				<table width='100%'>
					<tr>
						<td>
							<%if((sorterDefault=='建立日期')||(sorterDefault=='更新日期')){%>
								<input type="date" placeholder="下限(年/月/日)" class="form-control boundIpt" value="<%=lboundDefault%>" id="lbound" onkeypress="if(event.keyCode==13){linker();}">&nbsp;&nbsp;<span style="display:inline;" id='lbd'></span>
								&nbsp;&nbsp;~&nbsp;&nbsp;
								<input type="date" placeholder="上限(年/月/日)" class="form-control boundIpt" value="<%=uboundDefault%>" id="ubound" onkeypress="if(event.keyCode==13){linker();}">&nbsp;&nbsp;<span style="display:inline;" id='ubd'></span>
							<%}else{%>
								<input type="text" placeholder="下限" class="form-control boundIpt" value="<%=lboundDefault%>" id="lbound" onkeypress="if(event.keyCode==13){linker();}">&nbsp;&nbsp;<span style="display:inline;" id='lbd'></span>
								&nbsp;&nbsp;~&nbsp;&nbsp;
								<input type="text" placeholder="上限" class="form-control boundIpt" value="<%=uboundDefault%>" id="ubound" onkeypress="if(event.keyCode==13){linker();}">&nbsp;&nbsp;<span style="display:inline;" id='ubd'></span>
							<%}%>
						</td>
						<%if((oneidDefault!=='')&&(totalResultNum>0)&&(!oflg)&&(pflg)){%>
							<td align="right">
								<button class="btn btn-default disabled" style="display:none;" id="highlightBtn" onclick="enableHighlight();">
									關鍵字上色
								</button>
								<button class="btn btn-default" style="" id="unhighlightBtn" onclick="disableHighlight();">
									關鍵字去色
								</button>
							</td>
						<%}%>
					</tr>
				</table>
				<br>
				<br>
				<% if(totalResultNum!=0){ %>
					<% for(var i=0; i<jsonLends.length; i++) { %>
						<div style="height: 410px;margin-bottom:0px;" class="panel panel-default pd">
							<div class="panel-body">
								<div style="font-size:25px;display:inline;" class="myTitle"><div class="colorCnt"><%=jsonLends[i].CreatedBy.Username%></div></div>
								<br>
								<br>
								<div class="col-md-6">
									<table width="100%" height="250px">
										<tr>
											<td>
												<div class="myTitle">
													&nbsp;&nbsp;&nbsp;&nbsp;<div style="display:inline;"<%if(sorterDefault=='最大可自動借出金額'){%> class="stronger"<%}%>>最大可自動借出金額：</div>
												</div>
											</td>
										</tr>
										<tr>
											<td>
												<div>
													&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=jsonLends[i].MaxMoneyToLend.toFixed(0)%>元
												</div>	
											</td>
										</tr>
										<tr>
											<td>
												<div class="myTitle">
													&nbsp;&nbsp;&nbsp;&nbsp;<div style="display:inline;"<%if(sorterDefault=='可接受年利率'){%> class="stronger"<%}%>>可接受年利率：</div>
												</div>
											</td>
										</tr>
										<tr>
											<td>
												<div>
													&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=((jsonLends[i].InterestRate-scr)*100).toFixed(2)%>%
												</div>	
											</td>
										</tr>
										<tr>
											<td>
												<div class="myTitle">
													&nbsp;&nbsp;&nbsp;&nbsp;<div style="display:inline;"<%if(sorterDefault=='可接受期數'){%> class="stronger"<%}%>>可接受期數：</div>
												</div>
											</td>
										</tr>
										<tr>
											<td>
												<div>
													&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=jsonLends[i].MonthPeriod.toFixed(0)%>個月
												</div>	
											</td>
										</tr>
										<tr>
											<td>
												<div class="myTitle">
													&nbsp;&nbsp;&nbsp;&nbsp;<div style="display:inline;"<%if(sorterDefault=='可接受信用等級'){%> class="stronger"<%}%>>可接受信用等級：</div>
												</div>
											</td>
										</tr>
										<tr>
											<td>
												<div>
													&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%if(jsonLends[i].MinLevelAccepted!==-1){%><%=jsonLends[i].MinLevelAccepted.toFixed(0)%>級<%}else{%>未設定<%}%>
												</div>	
											</td>
										</tr>
										<tr>
											<td>
												<div class="myTitle">
													&nbsp;&nbsp;&nbsp;&nbsp;<div style="display:inline;"<%if(sorterDefault=='可接受總利息'){%> class="stronger"<%}%>>可接受總利息：</div>
												</div>
											</td>
										</tr>
										<tr>
											<td>
												<div>
													&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%if(jsonLends[i].MinInterestInFuture!==-1){%><%=jsonLends[i].MinInterestInFuture.toFixed(0)%>元<%}else{%>未設定<%}%>
												</div>	
											</td>
										</tr>
										<tr>
											<td>
												<div class="myTitle">
													&nbsp;&nbsp;&nbsp;&nbsp;<div style="display:inline;"<%if(sorterDefault=='可接受本利和'){%> class="stronger"<%}%>>可接受本利和：</div>
												</div>
											</td>
										</tr>
										<tr>
											<td>
												<div>
													&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%if(jsonLends[i].MinMoneyFuture!==-1){%><%=jsonLends[i].MinMoneyFuture.toFixed(0)%>元<%}else{%>未設定<%}%>
												</div>	
											</td>
										</tr>
										<tr>
											<td>
												<div class="myTitle">
													&nbsp;&nbsp;&nbsp;&nbsp;<div style="display:inline;"<%if(sorterDefault=='可接受平均利息'){%> class="stronger"<%}%>>可接受平均利息：</div>
												</div>
											</td>
										</tr>
										<tr>
											<td>
												<div>
													&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%if(jsonLends[i].MinInterestInFutureMonth!==-1){%><%=jsonLends[i].MinInterestInFutureMonth.toFixed(0)%>元/月<%}else{%>未設定<%}%>
												</div>	
											</td>
										</tr>
										<tr>
											<td>
												<div class="myTitle">
													&nbsp;&nbsp;&nbsp;&nbsp;<div style="display:inline;"<%if(sorterDefault=='可接受平均本利和'){%> class="stronger"<%}%>>可接受平均本利和：</div>
												</div>
											</td>
										</tr>
										<tr>
											<td>
												<div>
													&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%if(jsonLends[i].MinInterestInFutureMoneyMonth!==-1){%><%=jsonLends[i].MinInterestInFutureMoneyMonth.toFixed(0)%>元/月<%}else{%>未設定<%}%>
												</div>	
											</td>
										</tr>
									</table>	
								</div>	
								<div class="col-md-6">
									<table width="100%" height="250px">
										<tr>
											<td>
												<div class="myTitle">
													&nbsp;&nbsp;&nbsp;&nbsp;<div style="display:inline;"<%if(sorterDefault=='可接受利本比'){%> class="stronger"<%}%>>可接受利本比：</div>
												</div>
											</td>
										</tr>
										<tr>
											<td>
												<div>
													&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%if(jsonLends[i].MinInterestInFutureDivMoney!==-1){%><%=(jsonLends[i].MinInterestInFutureDivMoney*100).toFixed(2)%>%<%}else{%>未設定<%}%>
												</div>	
											</td>
										</tr>
										<tr>
											<td>
												<div class="myTitle">
													&nbsp;&nbsp;&nbsp;&nbsp;<div style="display:inline;"<%if(classOneDefault!='不篩選自動同意設定'){%> class="stronger"<%}%>>自動同意借款請求：</div>
												</div>
											</td>
										</tr>
										<tr>
											<td>
												<div>
													&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
													<%if(jsonLends[i].AutoComfirmToBorrowMsgPeriod==-1){%>
														永不自動同意
													<%}else if(jsonLends[i].AutoComfirmToBorrowMsgPeriod==0){%>
														立即自動同意
													<%}else if(jsonLends[i].AutoComfirmToBorrowMsgPeriod==1){%>
														每天自動同意一次
													<%}else if(jsonLends[i].AutoComfirmToBorrowMsgPeriod==2){%>
														每兩天自動同意一次
													<%}else if(jsonLends[i].AutoComfirmToBorrowMsgPeriod==3){%>
														每三天自動同意一次
													<%}%>
												</div>	
											</td>
										</tr>
										<tr>
											<td>
												<div class="myTitle">
													&nbsp;&nbsp;&nbsp;&nbsp;<div style="display:inline;"<%if(classTwoDefault!='不篩選故事種類設定'){%> class="stronger"<%}%>>自動同意故事種類：</div>
												</div>
											</td>
										</tr>
										<tr>
											<td>
												<div>
													&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
													<%if(jsonLends[i].AutoComfirmToBorrowMsgClassor=="invalid"){%>
														無效
													<%}else if(jsonLends[i].AutoComfirmToBorrowMsgClassor=="none"){%>
														不分類
													<%}else if(jsonLends[i].AutoComfirmToBorrowMsgClassor=="general"){%>
														一般
													<%}else if(jsonLends[i].AutoComfirmToBorrowMsgClassor=="education"){%>
														教育
													<%}else if(jsonLends[i].AutoComfirmToBorrowMsgClassor=="family"){%>
														家庭
													<%}else if(jsonLends[i].AutoComfirmToBorrowMsgClassor=="tour"){%>
														旅遊
													<%}%>
												</div>	
											</td>
										</tr>
										<tr>
											<td>
												<div class="myTitle">
													&nbsp;&nbsp;&nbsp;&nbsp;自動同意排序依據：
												</div>
											</td>
										</tr>
										<tr>
											<td>
												<div>
													&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
													<%if(jsonLends[i].AutoComfirmToBorrowMsgSorter=="invalid"){%>
														無效
													<%}else if(jsonLends[i].AutoComfirmToBorrowMsgSorter=="InterestRate"){%>
														欲借入年利率
													<%}else if(jsonLends[i].AutoComfirmToBorrowMsgSorter=="MoneyToLend"){%>
														欲借入金額
													<%}else if(jsonLends[i].AutoComfirmToBorrowMsgSorter=="MonthPeriod"){%>
														欲借入期數
													<%}else if(jsonLends[i].AutoComfirmToBorrowMsgSorter=="Level"){%>
														信用等級
													<%}else if(jsonLends[i].AutoComfirmToBorrowMsgSorter=="InterestInFuture"){%>
														預計總利息
													<%}else if(jsonLends[i].AutoComfirmToBorrowMsgSorter=="MoneyFuture"){%>
														預計本利和
													<%}else if(jsonLends[i].AutoComfirmToBorrowMsgSorter=="InterestInFutureMonth"){%>
														預計平均利息
													<%}else if(jsonLends[i].AutoComfirmToBorrowMsgSorter=="InterestInFutureMoneyMonth"){%>
														預計平均本利和
													<%}else if(jsonLends[i].AutoComfirmToBorrowMsgSorter=="InterestInFutureDivMoney"){%>
														預計利本比
													<%}else if(jsonLends[i].AutoComfirmToBorrowMsgSorter=="Updated"){%>
														更新日期
													<%}else if(jsonLends[i].AutoComfirmToBorrowMsgSorter=="Created"){%>
														建立日期
													<%}%>
												</div>	
											</td>
										</tr>
										<tr>
											<td>
												<div class="myTitle">
													&nbsp;&nbsp;&nbsp;&nbsp;自動同意排序方向：
												</div>
											</td>
										</tr>
										<tr>
											<td>
												<div>
													&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
													<%if(jsonLends[i].AutoComfirmToBorrowMsgDirector=="invalid"){%>
														無效
													<%}else if(jsonLends[i].AutoComfirmToBorrowMsgDirector=="minus"){%>
														大至小
													<%}else if(jsonLends[i].AutoComfirmToBorrowMsgDirector=="plus"){%>
														小至大
													<%}%>
												</div>	
											</td>
										</tr>
										<tr>
											<td>
												<div class="myTitle">
													&nbsp;&nbsp;&nbsp;&nbsp;自動同意下限：
												</div>
											</td>
										</tr>
										<tr>
											<td>
												<div>
													<%if(jsonLends[i].AutoComfirmToBorrowMsgLbound==-1){%>
														&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;未設定
													<%}else{%>
														<%if(jsonLends[i].AutoComfirmToBorrowMsgSorter=='InterestRate'){%>
															&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=((jsonLends[i].AutoComfirmToBorrowMsgLbound-scr)*100).toFixed(2)%>%
														<%}else if(jsonLends[i].AutoComfirmToBorrowMsgSorter=='InterestInFutureDivMoney'){%>
															&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=(jsonLends[i].AutoComfirmToBorrowMsgLbound*100).toFixed(2)%>%
														<%}else if(jsonLends[i].AutoComfirmToBorrowMsgSorter=='Level'){%>
															&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=jsonLends[i].AutoComfirmToBorrowMsgLbound.toFixed(0)%>級
														<%}else if((jsonLends[i].AutoComfirmToBorrowMsgSorter=='Updated')||(jsonLends[i].AutoComfirmToBorrowMsgSorter=='Created')){%>
															&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=new Date(parseInt(jsonLends[i].AutoComfirmToBorrowMsgLbound)).getFullYear()%>/<%=new Date(parseInt(jsonLends[i].AutoComfirmToBorrowMsgLbound)).getMonth()+1%>/<%=new Date(parseInt(jsonLends[i].AutoComfirmToBorrowMsgLbound)).getDate()%>
														<%}else{%>
															&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=jsonLends[i].AutoComfirmToBorrowMsgLbound.toFixed(0)%>元
														<%}%>
													<%}%>
												</div>	
											</td>
										</tr>
										<tr>
											<td>
												<div class="myTitle">
													&nbsp;&nbsp;&nbsp;&nbsp;自動同意上限：
												</div>
											</td>
										</tr>
										<tr>
											<td>
												<div>
													<%if(jsonLends[i].AutoComfirmToBorrowMsgUbound==-1){%>
														&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;未設定
													<%}else{%>
														<%if(jsonLends[i].AutoComfirmToBorrowMsgSorter=='InterestRate'){%>
															&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=((jsonLends[i].AutoComfirmToBorrowMsgUbound-scr)*100).toFixed(2)%>%
														<%}else if(jsonLends[i].AutoComfirmToBorrowMsgSorter=='InterestInFutureDivMoney'){%>
															&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=(jsonLends[i].AutoComfirmToBorrowMsgUbound*100).toFixed(2)%>%
														<%}else if(jsonLends[i].AutoComfirmToBorrowMsgSorter=='Level'){%>
															&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=jsonLends[i].AutoComfirmToBorrowMsgUbound.toFixed(0)%>級
														<%}else if((jsonLends[i].AutoComfirmToBorrowMsgSorter=='Updated')||(jsonLends[i].AutoComfirmToBorrowMsgSorter=='Created')){%>
															&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=new Date(parseInt(jsonLends[i].AutoComfirmToBorrowMsgUbound)).getFullYear()%>/<%=new Date(parseInt(jsonLends[i].AutoComfirmToBorrowMsgUbound)).getMonth()+1%>/<%=new Date(parseInt(jsonLends[i].AutoComfirmToBorrowMsgUbound)).getDate()%>
														<%}else{%>
															&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=jsonLends[i].AutoComfirmToBorrowMsgUbound.toFixed(0)%>元
														<%}%>
													<%}%>
												</div>	
											</td>
										</tr>
										<tr>
											<td>
												<div class="myTitle">
													&nbsp;&nbsp;&nbsp;&nbsp;自動同意關鍵字：
												</div>
											</td>
										</tr>
										<tr>
											<td>
												<div>
													<%if(jsonLends[i].AutoComfirmToBorrowMsgKeyWord==''){%>
														&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;未設定
													<%}else{%>
														&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<div class="colorCnt"><%=jsonLends[i].AutoComfirmToBorrowMsgKeyWord%></div>
													<%}%>
												</div>	
											</td>
										</tr>
									</table>
								</div>
							</div>
						</div>
						<div style="border-top-style: none;border-right-style: none;border-bottom-style: none;border-left-style: none;margin-top: 0px;margin-bottom: 0px;" class="table-responsive">
							<table style="margin-bottom: 0px;margin-top: 0px;" class="table" width="100%">
								<tr>
									<td align="right" style="border-bottom-style: none;border-top-style: none;">
										<div style="font-size:15px;display:inline;">
											<div style="display:inline;<%if(sorterDefault=='更新日期'){%>color:red;<%}%>">Updated：</div><%=jsonLends[i].Updated.getFullYear()%>/<%=jsonLends[i].Updated.getMonth()+1%>/<%=jsonLends[i].Updated.getDate()%>
										</div>
										&nbsp;&nbsp;&nbsp;&nbsp;
										<div style="font-size:15px;display:inline;">
											<div style="display:inline;<%if(sorterDefault=='建立日期'){%>color:red;<%}%>">Creadted：</div><%=jsonLends[i].Created.getFullYear()%>/<%=jsonLends[i].Created.getMonth()+1%>/<%=jsonLends[i].Created.getDate()%>
										</div>
										&nbsp;&nbsp;&nbsp;&nbsp;
										<div style="font-size:15px;display:inline;">
											No.<%=i+1%>
										</div>
									</td>
								<tr>
							</table>
						</div>
						<br>
						<br>
					<%}%>
				<br>
				<table align="center">
					<tr>
						<td>
							<nav>
							  <ul class="pagination">
								<li 
									<% if(targetPageNumber==1){%>
										class="disabled"
									<%}%>
								>
								<% if(targetPageNumber!=1){%>
									<a href="/lender/lendsList?oneid=<%=encodeURIComponent(oneidDefault)%>&classOne=<%=encodeURIComponent(classOneDefault)%>&classTwo=<%=encodeURIComponent(classTwoDefault)%>&sorter=<%=encodeURIComponent(sorterDefault)%>&director=<%=encodeURIComponent(directorDefault)%>&lbound=<%=encodeURIComponent(lboundDefault)%>&ubound=<%=encodeURIComponent(uboundDefault)%>&page=<%=targetPageNumber-1%>">
								<%}else{%>
									<a href="#" onclick="return false;">
								<%}%>
								<span>&laquo;</span></a></li>
								<% if(pageNumber<=10){%>
									<% for(var j=1; j<=pageNumber; j++) { %>
										<li 
											<% if(targetPageNumber==j){%>
												class="active"
											<%}%>
										><a href="/lender/lendsList?oneid=<%=encodeURIComponent(oneidDefault)%>&classOne=<%=encodeURIComponent(classOneDefault)%>&classTwo=<%=encodeURIComponent(classTwoDefault)%>&sorter=<%=encodeURIComponent(sorterDefault)%>&director=<%=encodeURIComponent(directorDefault)%>&lbound=<%=encodeURIComponent(lboundDefault)%>&ubound=<%=encodeURIComponent(uboundDefault)%>&page=<%=j%>"><%=j%></a></li>
									<%}%>
								<% }else{%>
									<% if(targetPageNumber>=pageNumber-3){%>
										<% for(var j=pageNumber-9; j<=pageNumber; j++) { %>
										<li 
											<% if(targetPageNumber==j){%>
												class="active"
											<%}%>
										><a href="/lender/lendsList?oneid=<%=encodeURIComponent(oneidDefault)%>&classOne=<%=encodeURIComponent(classOneDefault)%>&classTwo=<%=encodeURIComponent(classTwoDefault)%>&sorter=<%=encodeURIComponent(sorterDefault)%>&director=<%=encodeURIComponent(directorDefault)%>&lbound=<%=encodeURIComponent(lboundDefault)%>&ubound=<%=encodeURIComponent(uboundDefault)%>&page=<%=j%>"><%=j%></a></li>
										<%}%>
									<%}else if(targetPageNumber<=5){%>
										<% for(var j=1; j<=10; j++) { %>
										<li 
											<% if(targetPageNumber==j){%>
												class="active"
											<%}%>
										><a href="/lender/lendsList?oneid=<%=encodeURIComponent(oneidDefault)%>&classOne=<%=encodeURIComponent(classOneDefault)%>&classTwo=<%=encodeURIComponent(classTwoDefault)%>&sorter=<%=encodeURIComponent(sorterDefault)%>&director=<%=encodeURIComponent(directorDefault)%>&lbound=<%=encodeURIComponent(lboundDefault)%>&ubound=<%=encodeURIComponent(uboundDefault)%>&page=<%=j%>"><%=j%></a></li>
										<%}%>
									<%}else{%>
										<% for(var j=targetPageNumber-5; j<targetPageNumber; j++) { %>
										<li><a href="/lender/lendsList?oneid=<%=encodeURIComponent(oneidDefault)%>&classOne=<%=encodeURIComponent(classOneDefault)%>&classTwo=<%=encodeURIComponent(classTwoDefault)%>&sorter=<%=encodeURIComponent(sorterDefault)%>&director=<%=encodeURIComponent(directorDefault)%>&lbound=<%=encodeURIComponent(lboundDefault)%>&ubound=<%=encodeURIComponent(uboundDefault)%>&page=<%=j%>"><%=j%></a></li>
										<%}%>
										<li class="active"><a href="/lender/lendsList?oneid=<%=encodeURIComponent(oneidDefault)%>&classOne=<%=encodeURIComponent(classOneDefault)%>&classTwo=<%=encodeURIComponent(classTwoDefault)%>&sorter=<%=encodeURIComponent(sorterDefault)%>&director=<%=encodeURIComponent(directorDefault)%>&lbound=<%=encodeURIComponent(lboundDefault)%>&ubound=<%=encodeURIComponent(uboundDefault)%>&page=<%=targetPageNumber%>"><%=targetPageNumber%></a></li>
										<% for(var j=targetPageNumber+1; j<=targetPageNumber+4; j++) { %>
										<li><a href="/lender/lendsList?oneid=<%=encodeURIComponent(oneidDefault)%>&classOne=<%=encodeURIComponent(classOneDefault)%>&classTwo=<%=encodeURIComponent(classTwoDefault)%>&sorter=<%=encodeURIComponent(sorterDefault)%>&director=<%=encodeURIComponent(directorDefault)%>&lbound=<%=encodeURIComponent(lboundDefault)%>&ubound=<%=encodeURIComponent(uboundDefault)%>&page=<%=j%>"><%=j%></a></li>
										<%}%>
									<%}%>
								<%}%>
								<li 
									<% if(targetPageNumber==pageNumber){%>
										class="disabled"
									<%}%>
								>	
								<% if(targetPageNumber!=pageNumber){%>
									<a href="/lender/lendsList?oneid=<%=encodeURIComponent(oneidDefault)%>&classOne=<%=encodeURIComponent(classOneDefault)%>&classTwo=<%=encodeURIComponent(classTwoDefault)%>&sorter=<%=encodeURIComponent(sorterDefault)%>&director=<%=encodeURIComponent(directorDefault)%>&lbound=<%=encodeURIComponent(lboundDefault)%>&ubound=<%=encodeURIComponent(uboundDefault)%>&page=<%=targetPageNumber+1%>">
								<%}else{%>
									<a href="#" onclick="return false;">
								<%}%>
								<span>&raquo;</span></a></li>
							  </ul>
							</nav>
						</td>
					</tr>
				</table>
			<% }%>
		</div>
		<div class="col-md-3">
		</div>
	</div>
</div>
<script>
	function sorterSelector(index){
		$('#lbound').val('');
		$('#ubound').val('');
		if(($('#sorter'+index).text()=='建立日期')||($('#sorter'+index).text()=='更新日期')){
			enableDater();
		}else{
			disableDater();
		}
		$('#sorterSelected').html('');
		$('#sorterSelected').html($('#sorter'+index).text());
		$('#sorter0').html($('#sorterSelected').text());
		$('#sorterSelected').append(' <span class=\'caret\'><\/span>'); 
		for(i=1;i<=11;i++){
			$('#slis'+i).attr('class','');
		}
		$('#slis'+index).attr('class','active');
		spanner($('#sorter0').text());
	}
	
	function directorSelector(index){
		$('#directorSelected').html('');
		$('#directorSelected').html($('#director'+index).text());
		$('#director0').html($('#directorSelected').text());
		$('#directorSelected').append(' <span class=\'caret\'><\/span>');
		for(i=1;i<=2;i++){
			$('#dlis'+i).attr('class','');
		}
		$('#dlis'+index).attr('class','active');
	}
	
	function classOneSelector(index){
		$('#classOneSelected').html('');
		$('#classOneSelected').html($('#classOne'+index).text());
		$('#classOne0').html($('#classOneSelected').text());
		$('#classOneSelected').append(' <span class=\'caret\'><\/span>');
		for(i=1;i<=6;i++){
			$('#colis'+i).attr('class','');
		}
		$('#colis'+index).attr('class','active');
	}
	
	function classTwoSelector(index){
		$('#classTwoSelected').html('');
		$('#classTwoSelected').html($('#classTwo'+index).text());
		$('#classTwo0').html($('#classTwoSelected').text());
		$('#classTwoSelected').append(' <span class=\'caret\'><\/span>');
		for(i=1;i<=6;i++){
			$('#ctlis'+i).attr('class','');
		}
		$('#ctlis'+index).attr('class','active');
	}
	
	<%if((sorterDefault=='建立日期')||(sorterDefault=='更新日期')){%>
		var ifDater=true;
	<%}else{%>
		var ifDater=false;
	<%}%>
	function enableDater(){
		if(!ifDater){
			$('#lbound').attr('type','date');
			$('#ubound').attr('type','date');
			$('#lbound').attr('placeholder','下限(年/月/日)');
			$('#ubound').attr('placeholder','上限(年/月/日)');
			ifDater=true;
		}
	}
	
	function disableDater(){
		if(ifDater){
			$('#lbound').attr('type','text');
			$('#ubound').attr('type','text');
			$('#lbound').attr('placeholder','下限');
			$('#ubound').attr('placeholder','上限');
			ifDater=false;
		}
	}
	
	function linker(){
		window.open('/lender/lendsList?oneid='+encodeURIComponent($('#oneidIpt').val())+'&classOne='+encodeURIComponent($('#classOne0').text())+'&classTwo='+encodeURIComponent($('#classTwo0').text())+'&sorter='+encodeURIComponent($('#sorter0').text())+'&director='+encodeURIComponent($('#director0').text())+'&lbound='+encodeURIComponent($('#lbound').val())+'&ubound='+encodeURIComponent($('#ubound').val())+'&page=1','_self');
	}
	
	<% if(totalResultNum>0){%>
		var stringPro='<%if((!oflg)&&(pflg)){%><%=kpr%><%}%>';
		var highLightFlag=false;
		var stringArray;
		function enableHighlight(){
			if(stringPro!==''){
				if(!highLightFlag){
					highLightFlag=true;
					$('.colorCnt').highlight(stringArray);
					$('#unhighlightBtn').removeClass('disabled');
					$('#unhighlightBtn').css('display','');
					$('#highlightBtn').addClass('disabled');
					$('#highlightBtn').css('display','none');
				}
			}
		}
		
		function disableHighlight(){
			if(stringPro!==''){
				if(highLightFlag){
					highLightFlag=false;
					$('.colorCnt').unhighlight();
					$('#highlightBtn').removeClass('disabled');
					$('#highlightBtn').css('display','');
					$('#unhighlightBtn').addClass('disabled');
					$('#unhighlightBtn').css('display','none');
				}
			}
		}
		function spanner(tgtString){
			if((tgtString=='建立日期')||(tgtString=='更新日期')){
				$('#lbd').html('');
				$('#ubd').html('');
			}else if(tgtString=='可接受期數'){
				$('#lbd').html('個月');
				$('#ubd').html('個月');
			}else if((tgtString=='可接受年利率')||(tgtString=='可接受利本比')){
				$('#lbd').html('%');
				$('#ubd').html('%');
			}else if((tgtString=='可接受平均本利和')||(tgtString=='可接受平均利息')){
				$('#lbd').html('元/月');
				$('#ubd').html('元/月');
			}else if(tgtString=='可接受信用等級'){
				$('#lbd').html('級');
				$('#ubd').html('級');
			}else{
				$('#lbd').html('元');
				$('#ubd').html('元');
			}
		}
		
		var toselect = [];
		function overlap(a, b) {
			var l = b.length,
				m = a.length;
			for (var j = 1; j < l; j++) {
				if (a.indexOf(b.substr(l - j)) === 0) {
					toselect.push(b.concat(a.substr(j)));
				} else if (a.substr(m - j).indexOf(b.substr(0, j)) === 0) {
					toselect.push(a.concat(b.substr(j)));
				}
			}
		}
		function overdiag(arr) {
			toselect = []; //empties to select
			$.each(arr, function (i) {
				$.each(arr.slice(i + 1), function (i, v) {
					overlap(arr[i], v);
				});
			});
		}
		
		$(document).ready(function(){
			spanner('<%=sorterDefault%>');
			if(stringPro!==''){
				stringPro=stringPro.replace(/\s\s+/g,' ');
				stringArray=stringPro.split(' ');
				for(j=stringArray.length-1;j>-1;j--){
					if(stringArray[j].charAt(0)=='-'){
						stringArray.splice(j,1);
					}
				}
				overdiag(stringArray);
				stringArray = stringArray.concat(toselect);
				stringArray = $.grep(stringArray, function (a, b) {
					return $.inArray(a,stringArray) === b;
				});
				stringArray.sort(function(a, b){
				  return b.length - a.length;
				});
				enableHighlight();
			}
		});
	<%}%>
</script>
<%- include('layout_footer',{imgSettingCode:"var ifLoadedCount=0;",imgDrawingCode:"",nav_cur:'lendsList'}); -%>