<%- include('layout_header',{searchTitle:oneidDefault,nav_cur:'lenderTransactionRecord',actionDefault:'建立日期',directorDefault:'大至小',keywordDefault:'',categoryDefault:'不分類'}); -%>
<div class="container">
	<div class="row">
		<div class="col-md-9">
			<div style="font-size:30pt;">借出紀錄</div>
				<div style="font-size:20pt;">&nbsp;<%=totalResultNum%> result</div>
				<br>
				<div class="input-group">
					<input type="text" style="height:40px;" class="form-control" id="oneidIpt" placeholder="搜尋故事標題或用戶名稱" value="<%=oneidDefault%>" onkeypress="if(event.keyCode==13){linker();}">	
					<span class="input-group-btn">
						<div class="btn-group">
							<button type="button" style="height:40px;" class="btn btn-default dropdown-toggle" data-toggle="dropdown" id="filterSelected">
								<%=filterDefault%> <span class="caret"></span>
							</button>
							<ul class="dropdown-menu">
								<li style="display:none"><a href="#" id="filter0"><%=filterDefault%></a></li>
								<li id="flis1"<%if(filterDefault=='未保險'){%> class="active"<%}%>><a href="#" onclick="filterSelector(1);return false;" id="filter1">未保險</a></li>
								<li id="flis2"<%if(filterDefault=='已保險'){%> class="active"<%}%>><a href="#" onclick="filterSelector(2);return false;" id="filter2">已保險</a></li>
							</ul>
						</div>
						<div class="btn-group">
							<button type="button" style="height:40px;" class="btn btn-default dropdown-toggle" data-toggle="dropdown" id="sorterSelected">
								<%=sorterDefault%> <span class="caret"></span>
							</button>
							<ul class="dropdown-menu">
								<li style="display:none"><a href="#" id="sorter0"><%=sorterDefault%></a></li>
								<li id="slis1"<%if(sorterDefault=='建立日期'){%> class="active"<%}%>><a href="#" onclick="sorterSelector(1);return false;" id="sorter1">建立日期</a></li>
								<li id="slis2"<%if(sorterDefault=='更新日期'){%> class="active"<%}%>><a href="#" onclick="sorterSelector(2);return false;" id="sorter2">更新日期</a></li>
								<li id="slis3"<%if(sorterDefault=='已獲利'){%> class="active"<%}%>><a href="#" onclick="sorterSelector(3);return false;" id="sorter3">已獲利</a></li>
								<li id="slis4"<%if(sorterDefault=='利率'){%> class="active"<%}%>><a href="#" onclick="sorterSelector(4);return false;" id="sorter4">利率</a></li>
								<li id="slis5"<%if(sorterDefault=='未還本金'){%> class="active"<%}%>><a href="#" onclick="sorterSelector(5);return false;" id="sorter5">未還本金</a></li>
								<li id="slis6"<%if(sorterDefault=='已還本金'){%> class="active"<%}%>><a href="#" onclick="sorterSelector(6);return false;" id="sorter6">已還本金</a></li>
								<li id="slis7"<%if(sorterDefault=='剩下期數'){%> class="active"<%}%>><a href="#" onclick="sorterSelector(7);return false;" id="sorter7">剩下期數</a></li>
								<li id="slis8"<%if(sorterDefault=='已過期數'){%> class="active"<%}%>><a href="#" onclick="sorterSelector(8);return false;" id="sorter8">已過期數</a></li>
								<li id="slis9"<%if(sorterDefault=='信用等級'){%> class="active"<%}%>><a href="#" onclick="sorterSelector(9);return false;" id="sorter9">信用等級</a></li>
								<li id="slis10"<%if(sorterDefault=='預計總利息'){%> class="active"<%}%>><a href="#" onclick="sorterSelector(10);return false;" id="sorter10">預計總利息</a></li>
								<li id="slis11"<%if(sorterDefault=='預計平均利息'){%> class="active"<%}%>><a href="#" onclick="sorterSelector(11);return false;" id="sorter11">預計平均利息</a></li>
								<li id="slis12"<%if(sorterDefault=='預計平均本利和'){%> class="active"<%}%>><a href="#" onclick="sorterSelector(12);return false;" id="sorter12">預計平均本利和</a></li>
								<li id="slis13"<%if(sorterDefault=='預計利本比'){%> class="active"<%}%>><a href="#" onclick="sorterSelector(13);return false;" id="sorter13">預計利本比</a></li>
								<li id="slis14"<%if(sorterDefault=='收款記錄'){%> class="active"<%}%>><a href="#" onclick="sorterSelector(14);return false;" id="sorter14">收款記錄</a></li>
								<li id="slis15"<%if(sorterDefault=='上次成功收款日期'){%> class="active"<%}%>><a href="#" onclick="sorterSelector(15);return false;" id="sorter15">上次成功收款日期</a></li>
								<li id="slis16"<%if(sorterDefault=='下次應收款日期'){%> class="active"<%}%>><a href="#" onclick="sorterSelector(16);return false;" id="sorter16">下次應收款日期</a></li>
								<% if(filterDefault=='已保險'){%>
									<li id="slis17"<%if(sorterDefault=='已付保險費用'){%> class="active"<%}%>><a href="#" onclick="sorterSelector(17);return false;" id="sorter17">已付保險費用</a></li>
								<%}else if(filterDefault=='未保險'){%>
									<li id="slis17"<%if(sorterDefault=='保險所需費用'){%> class="active"<%}%>><a href="#" onclick="sorterSelector(17);return false;" id="sorter17">保險所需費用</a></li>
								<%}%>
							</ul>
						</div>
						<div class="btn-group">
							<button type="button" style="height:40px;" class="btn btn-default" id="directorSelected" data-toggle="dropdown" aria-expanded="false"><%=directorDefault%> <span class='caret'></span></button>
							<ul class="dropdown-menu" role="menu">
								<li style="display:none"><a href="#" id="director0"><%=directorDefault%></a></li>
								<li id="dlis1"<%if(directorDefault=='大至小'){%> class="active"<%}%>><a href="#" onclick="directorSelector(1);return false;" id="director1">大至小</a></li>
								<li id="dlis2"<%if(directorDefault=='小至大'){%> class="active"<%}%>><a href="#" onclick="directorSelector(2);return false;" id="director2">小至大</a></li>
							</ul>
						</div>
						<button type="button" style="height:40px;" class="btn btn-default" onclick="linker();">Go!</button>
					</span>
				</div>
				<br>
				<%if((sorterDefault=='建立日期')||(sorterDefault=='更新日期')||(sorterDefault=='上次成功收款日期')||(sorterDefault=='下次應收款日期')){%>
					<input style="height:32px;width:180px;display:inline;" type="date" placeholder="" class="form-control" value="<%=lboundDefault%>" id="lbound" onkeypress="if(event.keyCode==13){linker();}">
					&nbsp;~&nbsp;
					<input style="height:32px;width:180px;display:inline;" type="date" placeholder="" class="form-control" value="<%=uboundDefault%>" id="ubound" onkeypress="if(event.keyCode==13){linker();}">
				<%}else{%>
					<input style="height:32px;width:180px;display:inline;" type="text" placeholder="下限(元/%/個月/級/筆)" class="form-control" value="<%=lboundDefault%>" id="lbound" onkeypress="if(event.keyCode==13){linker();}">
					&nbsp;~&nbsp;
					<input style="height:32px;width:180px;display:inline;" type="text" placeholder="上限(元/%/個月/級/筆)" class="form-control" value="<%=uboundDefault%>" id="ubound" onkeypress="if(event.keyCode==13){linker();}">
				<%}%>
				<br>
				<%if((biJSON)&&(filterDefault=='已保險')){%>
					<br>
					<%=biJSON.Contect%>
					<br>
					欲購買<%=biJSON.InfoJSON.counter1%>筆保險，其中<%=biJSON.InfoJSON.counter2%>筆成功，<%=biJSON.InfoJSON.counter1-biJSON.InfoJSON.counter2%>筆失敗
					<br>
					<table style="display:inline;" class="table">
						<thead class="myThead">
							<tr>
								<th>
								本次實際合計費用
								</th>
							</tr>
						</thead>
						<tbody class="myTbody">
							<tr>
								<td>
									<div style="display:inline;"><%=biJSON.InfoJSON.info1.toFixed(0)%></div><div style="display:inline;">元</div>
								</td>
							</tr>
						</tbody>
					</table>
				<%}%>
				<% if(totalResultNum!=0){ %>
					<% if(filterDefault=='未保險'){%>
						<%if(pageNumber>1){%>
						<br>
						<br>
						<table style="display:inline;" class="table">
							<thead class="myThead">
								<tr>
									<th>
									全部合計費用
									</th>
								</tr>
							</thead>
							<tbody class="myTbody">
								<tr>
									<td>
										<div style="display:inline;" id="selectedFeeAll"><%=selectedFeeAll.toFixed(0)%></div><div style="display:inline;">元</div>
									</td>
								</tr>
							</tbody>
						</table>
						<br>
						<button type="button" class="btn btn-default" data-toggle="modal" data-target="#chkModal1">
							<span class="myTitle2">為所有交易購買保險</span>
						</button>
						<div class="modal fade" id="chkModal1">
							<div class="modal-dialog modal-sm">
								<div class="modal-content">
									<div class="modal-header" style="text-align: center;">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
										<h4 class="modal-title">再次確認</h4>
									</div>
									<div class="modal-body" style="text-align: center;">
										<br>
										您確定要為所有交易購買保險嗎?
										<br>
										<br>
									</div>
									<div class="modal-footer" style="text-align: center;">
										<button class="btn btn-primary" id="buyBtnAll" onclick="buyAll();">
											確定
										</button>
										&nbsp;
										<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
									</div>
								</div>
							</div>
						</div>
						<%}%>
						<br>
						<br>
						<table style="display:inline;" class="table">
							<thead class="myThead">
								<tr>
									<th>
									已選合計費用
									</th>
								</tr>
							</thead>
							<tbody class="myTbody">
								<tr>
									<td>
										<div style="display:inline;" id="selectedFee">0</div><div style="display:none;" id="selectedFeeR">0</div><div style="display:inline;">元</div>
									</td>
								</tr>
							</tbody>
						</table>
						<br>
						<input type="checkbox" id="selectAll" onclick="selectAllFun();"> 全選&nbsp;&nbsp;&nbsp;&nbsp;
						<button type="button" class="btn btn-default" onclick="checkAndOpenModal('#chkModal2')">
							<span class="myTitle2">購買保險</span>
						</button>
						<div class="modal fade" id="chkModal2">
							<div class="modal-dialog modal-sm">
								<div class="modal-content">
									<div class="modal-header" style="text-align: center;">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
										<h4 class="modal-title">再次確認</h4>
									</div>
									<div class="modal-body" style="text-align: center;">
										<br>
										您確定要為已選之<div id="seCtr1" style="display:inline;"></div>筆交易購買保險嗎?
										<br>
										<br>
									</div>
									<div class="modal-footer" style="text-align: center;">
										<button class="btn btn-primary" id="buyBtn" onclick="buy();">
											確定
										</button>
										<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
									</div>
								</div>
							</div>
						</div>
						<br>
						<br>
						<br>
						<div class="modal fade" id="msgModal">
							<div class="modal-dialog modal-sm">
								<div class="modal-content">
									<div class="modal-header" style="text-align: center;">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
										<h4 class="modal-title">訊息</h4>
									</div>
									<div class="modal-body" style="text-align: center;">
										<br>
										您未選擇交易！
										<br>
										<br>
									</div>
									<div class="modal-footer" style="text-align: center;">
										<button type="button" class="btn btn-default" data-dismiss="modal">關閉</button>
									</div>
								</div>
							</div>
						</div>
					<% }else{%>
						<br>
						<br>
					<%}%>
					<% for(var i=0; i<jsonTransaction.length; i++) { %>
						<table width="100%">
							<tr>
								<td>
									<%if(jsonTransaction[i].CreatedFrom.Type=="toBorrow"){%>
										<a style="font-size:15px;" href="/lender/lenderReceiveMessages?msgKeyword=<%=jsonTransaction[i].CreatedFrom._id%>&filter=<%if(jsonTransaction[i].CreatedFrom.Status=="NotConfirmed"){%><%=encodeURIComponent('未確認')%><%}else if(jsonTransaction[i].CreatedFrom.Status=="Confirmed"){%><%=encodeURIComponent('已同意')%><%}else if(jsonTransaction[i].CreatedFrom.Status=="Rejected"){%><%=encodeURIComponent('已婉拒')%><%}%>&sorter=<%=encodeURIComponent("更新日期")%>&director=<%=encodeURIComponent("大至小");%>&lbound=&ubound=&page=1">查看來源訊息</a>
									<%}else if(jsonTransaction[i].CreatedFrom.Type=="toLend"){%>
										<a style="font-size:15px;" href="/lender/lenderSendMessages?msgKeyword=<%=jsonTransaction[i].CreatedFrom._id%>&filter=<%if(jsonTransaction[i].CreatedFrom.Status=="NotConfirmed"){%><%=encodeURIComponent('未被確認')%><%}else if(jsonTransaction[i].CreatedFrom.Status=="Confirmed"){%><%=encodeURIComponent('已被同意')%><%}else if(jsonTransaction[i].CreatedFrom.Status=="Rejected"){%><%=encodeURIComponent('已被婉拒')%><%}%>&sorter=<%=encodeURIComponent("更新日期")%>&director=<%=encodeURIComponent("大至小");%>&lbound=&ubound=&page=1">查看來源訊息</a>
									<%}%>
								</td>
							</tr>
						</table>
						<div style="height: 420px;" class="panel panel-default pd">
							<div class="panel-body">
								<div style="font-size:25px;display:inline;">借給 </div>
								<div style="font-size:25px;display:inline;" class="myTitle"><%=jsonTransaction[i].Borrower.Username%></div>
								<br>
								&nbsp;&nbsp;在 <a style="font-size:15px;" href="/lender/story?id=<%=jsonTransaction[i].CreatedFrom.FromBorrowRequest._id%>"><%-jsonTransaction[i].CreatedFrom.FromBorrowRequest.StoryTitle.replace(new RegExp(' ','g'),'&nbsp;')%></a>
								<br>
								<br>
								<div class="col-md-6">
									<table width="100%" height="240px">
										<tr>
											<td>
												<div class="myTitle">
													&nbsp;&nbsp;&nbsp;&nbsp;對方未還本金：
												</div>
											</td>
										<tr>
										<tr>
											<td>
												<div>
													&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=jsonTransaction[i].Principal.toFixed(0)%>元
												</div>	
											</td>
										<tr>
										<tr>
											<td>
												<div class="myTitle">
													&nbsp;&nbsp;&nbsp;&nbsp;對方已還本金：
												</div>
											</td>
										<tr>
										<tr>
											<td>
												<div>
													&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=jsonTransaction[i].PrincipalReturnedCumulated.toFixed(0)%>元
												</div>	
											</td>
										<tr>
										<tr>
											<td>
												<div class="myTitle">
													&nbsp;&nbsp;&nbsp;&nbsp;年利率：
												</div>
											</td>
										<tr>
										<tr>
											<td>
												<div>
													&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=(jsonTransaction[i].InterestRate*100).toFixed(2)%>%
												</div>	
											</td>
										<tr>
										<tr>
											<td>
												<div class="myTitle">
													&nbsp;&nbsp;&nbsp;&nbsp;已得利息：
												</div>
											</td>
										<tr>
										<tr>
											<td>
												<div>
													&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=jsonTransaction[i].InterestCumulated.toFixed(0)%>元
												</div>	
											</td>
										<tr>
										<tr>
											<td>
												<div class="myTitle">
													&nbsp;&nbsp;&nbsp;&nbsp;剩下期數：
												</div>
											</td>
										<tr>
										<tr>
											<td>
												<div>
													&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=jsonTransaction[i].MonthPeriod.toFixed(0)%>個月
												</div>	
											</td>
										<tr>
										<tr>
											<td>
												<div class="myTitle">
													&nbsp;&nbsp;&nbsp;&nbsp;已過期數:
												</div>
											</td>
										<tr>
										<tr>
											<td>
												<div>
													&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=jsonTransaction[i].MonthPeriodHasPast.toFixed(0)%>個月
												</div>	
											</td>
										<tr>
										<tr>
											<td>
												<div class="myTitle">
													&nbsp;&nbsp;&nbsp;&nbsp;對方信用等級:
												</div>
											</td>
										<tr>
										<tr>
											<td>
												<div>
													&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=jsonTransaction[i].Level.toFixed(0)%>級
												</div>	
											</td>
										<tr>
										<tr>
											<td>
												<div class="myTitle">
													&nbsp;&nbsp;&nbsp;&nbsp;成交日期:
												</div>
											</td>
										<tr>
										<tr>
											<td>
												<div>
													&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=jsonTransaction[i].Created.getFullYear()%>/<%=jsonTransaction[i].Created.getMonth()+1%>/<%=jsonTransaction[i].Created.getDate()%>
												</div>	
											</td>
										<tr>
									</table>
								</div>	
								<div class="col-md-6">	
									<table width="100%" height="240px">
										<tr>
											<td>
												<div class="myTitle">
													&nbsp;&nbsp;&nbsp;&nbsp;預計尚可收取利息：
												</div>
											</td>
										<tr>
										<tr>
											<td>
												<div>
													&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=jsonTransaction[i].InterestInFuture.toFixed(0)%>元
												</div>	
											</td>
										<tr>
										<tr>
											<td>
												<div class="myTitle">
													&nbsp;&nbsp;&nbsp;&nbsp;預計剩餘每期平均利息：
												</div>
											</td>
										<tr>
										<tr>
											<td>
												<div>
													&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=jsonTransaction[i].InterestInFutureMonth.toFixed(0)%>元
												</div>	
											</td>
										<tr>
										<tr>
											<td>
												<div class="myTitle">
													&nbsp;&nbsp;&nbsp;&nbsp;預計剩餘每期平均本利和：
												</div>
											</td>
										<tr>
										<tr>
											<td>
												<div>
													&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=jsonTransaction[i].InterestInFutureMoneyMonth.toFixed(0)%>元
												</div>	
											</td>
										<tr>
										<tr>
											<td>
												<div class="myTitle">
													&nbsp;&nbsp;&nbsp;&nbsp;預計尚可收取利息/目前本金比：
												</div>
											</td>
										<tr>
										<tr>
											<td>
												<div>
													&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=jsonTransaction[i].InterestInFutureDivMoney.toFixed(2)%>%
												</div>	
											</td>
										<tr>
										<tr>
											<td>
												<div class="myTitle">
													&nbsp;&nbsp;&nbsp;&nbsp;上次成功收款日期：
												</div>
											</td>
										<tr>
										<tr>
											<td>
												<div>
													&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%if(jsonTransaction[i].previousPayDate){%><%=jsonTransaction[i].previousPayDate.getFullYear()%>/<%=jsonTransaction[i].previousPayDate.getMonth()+1%>/<%=jsonTransaction[i].previousPayDate.getDate()%><%}else{%>無收款記錄<%}%>
																									
												</div>	
											</td>
										<tr>
										<tr>
											<td>
												<div class="myTitle">
													&nbsp;&nbsp;&nbsp;&nbsp;下次應收款日期：
												</div>
											</td>
										<tr>
										<tr>
											<td>
												<div>
													&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%if(jsonTransaction[i].nextPayDate){%><%=jsonTransaction[i].nextPayDate.getFullYear()%>/<%=jsonTransaction[i].nextPayDate.getMonth()+1%>/<%=jsonTransaction[i].nextPayDate.getDate()%><%}else{%>已還清<%}%>
												</div>	
											</td>
										<tr>
										<tr>
											<td>
												<div class="myTitle">
													&nbsp;&nbsp;&nbsp;&nbsp;保險所需費用：
												</div>
											</td>
										<tr>
										<tr>
											<td>
												<div>
													&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<div style="display:none;" id="value1<%=i%>"><%if(jsonTransaction[i].Principal*insuranceRate<1){%>1<%}else{%><%=jsonTransaction[i].Principal*insuranceRate%><%}%></div><%if(jsonTransaction[i].Principal*insuranceRate<1){%>1<%}else{%><%=(jsonTransaction[i].Principal*insuranceRate).toFixed(0)%><%}%>元
												</div>	
											</td>
										<tr>
										<tr>
											<td>
												<div class="myTitle">
													&nbsp;&nbsp;&nbsp;&nbsp;已付保險費用：
												</div>
											</td>
										<tr>
										<tr>
											<td>
												<div>
													&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=jsonTransaction[i].InsuranceFeePaid.toFixed(0)%>元
												</div>	
											</td>
										<tr>
									</table>
								</div>
							</div>
						</div>
					
					<div style="border-top-style: none;border-right-style: none;border-bottom-style: none;border-left-style: none;margin-top: 0px;margin-bottom: 0px;" class="table-responsive">
						<table style="margin-bottom: 0px;margin-top: 0px;" class="table" width="100%">
						<tr>
							<%if(filterDefault=='未保險'){%>
							<td style="border-bottom-style: none;border-top-style: none;">
								<div>
									<input type="checkbox" name="selectCheckBox" id="selectCheckBoxId<%=i%>" onclick="selectFun(<%=i%>);" value='{"TransactionID":"<%=jsonTransaction[i]._id%>"}'> 選擇
								</div>
							</td>
							<%}%>
							<td align="right" style="border-bottom-style: none;border-top-style: none;">
								<div>
									<a href="/lender/lenderReturnRecord?oneid=&id=<%=jsonTransaction[i]._id%>&sorter=<%=encodeURIComponent("建立日期")%>&director=<%=encodeURIComponent("大至小");%>&lbound=&ubound=&page=1">該交易有<%=jsonTransaction[i].ReturnCount%>筆收款記錄</a>&nbsp;&nbsp;&nbsp;&nbsp;Updated：<%=jsonTransaction[i].Updated.getFullYear()%>/<%=jsonTransaction[i].Updated.getMonth()+1%>/<%=jsonTransaction[i].Updated.getDate()%>&nbsp;&nbsp;&nbsp;&nbsp;Created：<%=jsonTransaction[i].Created.getFullYear()%>/<%=jsonTransaction[i].Created.getMonth()+1%>/<%=jsonTransaction[i].Created.getDate()%>
								</div>
							</td>
						<tr>
						</table>
					</div>
					<br>
				<%}%>
				<%if(filterDefault=='未保險'){%>
					<%if(pageNumber>1){%>
						<form action="/Transactions/buyInsuranceAll" method="post" id="formID0">
							<input type="hidden" name="oneid" id="oneidIpt" value="<%=oneidDefault%>">
							<input type="hidden" name="sorter" id="sorterIpt" value="<%=sorterDefault%>">
							<input type="hidden" name="director" id="directorIpt" value="<%=directorDefault%>">
							<input type="hidden" name="lbound" id="lboundIpt" value="<%=lboundDefault%>">
							<input type="hidden" name="ubound" id="uboundIpt" value="<%=uboundDefault%>">
						</form>
					<%}%>
					<form action="/Transactions/buyInsurance" method="post" id="formID">
						<input type="hidden" name="JsonArrayString" id="hdnIpt">
					</form>
				<%}%>
				<br>
				<table align="center">
					<tr>
						<td>
							<nav>
							  <ul class="pagination">
								<li 
									<% if(targetPageNumber==1){%>
										class="disabled"
									<%}%>
								>
								<% if(targetPageNumber!=1){%>
									<a href="/lender/lenderTransactionRecord?oneid=<%=encodeURIComponent(oneidDefault)%>&filter=<%=encodeURIComponent(filterDefault)%>&sorter=<%=encodeURIComponent(sorterDefault)%>&director=<%=encodeURIComponent(directorDefault)%>&lbound=<%=encodeURIComponent(lboundDefault)%>&ubound=<%=encodeURIComponent(uboundDefault)%>&page=<%=targetPageNumber-1%>">
								<%}else{%>
									<a href="#" onclick="return false;">
								<%}%>
								<span>&laquo;</span></a></li>
								<% if(pageNumber<=10){%>
									<% for(var j=1; j<=pageNumber; j++) { %>
										<li 
											<% if(targetPageNumber==j){%>
												class="active"
											<%}%>
										><a href="/lender/lenderTransactionRecord?oneid=<%=encodeURIComponent(oneidDefault)%>&filter=<%=encodeURIComponent(filterDefault)%>&sorter=<%=encodeURIComponent(sorterDefault)%>&director=<%=encodeURIComponent(directorDefault)%>&lbound=<%=encodeURIComponent(lboundDefault)%>&ubound=<%=encodeURIComponent(uboundDefault)%>&page=<%=j%>"><%=j%></a></li>
									<%}%>
								<% }else{%>
									<% if(targetPageNumber>=pageNumber-3){%>
										<% for(var j=pageNumber-9; j<=pageNumber; j++) { %>
										<li 
											<% if(targetPageNumber==j){%>
												class="active"
											<%}%>
										><a href="/lender/lenderTransactionRecord?oneid=<%=encodeURIComponent(oneidDefault)%>&filter=<%=encodeURIComponent(filterDefault)%>&sorter=<%=encodeURIComponent(sorterDefault)%>&director=<%=encodeURIComponent(directorDefault)%>&lbound=<%=encodeURIComponent(lboundDefault)%>&ubound=<%=encodeURIComponent(uboundDefault)%>&page=<%=j%>"><%=j%></a></li>
										<%}%>
									<%}else if(targetPageNumber<=5){%>
										<% for(var j=1; j<=10; j++) { %>
										<li 
											<% if(targetPageNumber==j){%>
												class="active"
											<%}%>
										><a href="/lender/lenderTransactionRecord?oneid=<%=encodeURIComponent(oneidDefault)%>&filter=<%=encodeURIComponent(filterDefault)%>&sorter=<%=encodeURIComponent(sorterDefault)%>&director=<%=encodeURIComponent(directorDefault)%>&lbound=<%=encodeURIComponent(lboundDefault)%>&ubound=<%=encodeURIComponent(uboundDefault)%>&page=<%=j%>"><%=j%></a></li>
										<%}%>
									<%}else{%>
										<% for(var j=targetPageNumber-5; j<targetPageNumber; j++) { %>
										<li><a href="/lender/lenderTransactionRecord?oneid=<%=encodeURIComponent(oneidDefault)%>&filter=<%=encodeURIComponent(filterDefault)%>&sorter=<%=encodeURIComponent(sorterDefault)%>&director=<%=encodeURIComponent(directorDefault)%>&lbound=<%=encodeURIComponent(lboundDefault)%>&ubound=<%=encodeURIComponent(uboundDefault)%>&page=<%=j%>"><%=j%></a></li>
										<%}%>
										<li class="active"><a href="/lender/lenderTransactionRecord?oneid=<%=encodeURIComponent(oneidDefault)%>&filter=<%=encodeURIComponent(filterDefault)%>&sorter=<%=encodeURIComponent(sorterDefault)%>&director=<%=encodeURIComponent(directorDefault)%>&lbound=<%=encodeURIComponent(lboundDefault)%>&ubound=<%=encodeURIComponent(uboundDefault)%>&page=<%=targetPageNumber%>"><%=targetPageNumber%></a></li>
										<% for(var j=targetPageNumber+1; j<=targetPageNumber+4; j++) { %>
										<li><a href="/lender/lenderTransactionRecord?oneid=<%=encodeURIComponent(oneidDefault)%>&filter=<%=encodeURIComponent(filterDefault)%>&sorter=<%=encodeURIComponent(sorterDefault)%>&director=<%=encodeURIComponent(directorDefault)%>&lbound=<%=encodeURIComponent(lboundDefault)%>&ubound=<%=encodeURIComponent(uboundDefault)%>&page=<%=j%>"><%=j%></a></li>
										<%}%>
									<%}%>
								<%}%>
								<li 
									<% if(targetPageNumber==pageNumber){%>
										class="disabled"
									<%}%>
								>	
								<% if(targetPageNumber!=pageNumber){%>
									<a href="/lender/lenderTransactionRecord?oneid=<%=encodeURIComponent(oneidDefault)%>&filter=<%=encodeURIComponent(filterDefault)%>&sorter=<%=encodeURIComponent(sorterDefault)%>&director=<%=encodeURIComponent(directorDefault)%>&lbound=<%=encodeURIComponent(lboundDefault)%>&ubound=<%=encodeURIComponent(uboundDefault)%>&page=<%=targetPageNumber+1%>">
								<%}else{%>
									<a href="#" onclick="return false;">
								<%}%>
								<span>&raquo;</span></a></li>
							  </ul>
							</nav>
						</td>
					</tr>
				</table>
			<% }%>
		</div>
		<div class="col-md-3">
		</div>
	</div>
</div>
<script>
function filterSelector(index){
	$('#filterSelected').html('');
	$('#filterSelected').html($('#filter'+index).text());
	$('#filter0').html($('#filterSelected').text());
	$('#filterSelected').append(' <span class=\'caret\'><\/span>'); 
	for(i=1;i<=2;i++){
		$('#flis'+i).attr('class','');
	}
	$('#flis'+index).attr('class','active');
}

function sorterSelector(index){
	$('#lbound').val('');
	$('#ubound').val('');
	if(($('#sorter'+index).text()=='建立日期')||($('#sorter'+index).text()=='更新日期')||($('#sorter'+index).text()=='上次成功收款日期')||($('#sorter'+index).text()=='下次應收款日期')){
		enableDater();
	}else{
		disableDater();
	}
	
	$('#sorterSelected').html('');
	$('#sorterSelected').html($('#sorter'+index).text());
	<% if((filterDefault=='未保險')&&(pageNumber>1)){%>
		//$('#sorterIpt').val($('#sorterSelected').text());
	<%}%>
	$('#sorter0').html($('#sorterSelected').text());
	$('#sorterSelected').append(' <span class=\'caret\'><\/span>');
	
	for(i=1;i<=17;i++){
		$('#slis'+i).attr('class','');
	}
	$('#slis'+index).attr('class','active');
}

function directorSelector(index){
	$('#directorSelected').html('');
	$('#directorSelected').html($('#director'+index).text());
	<% if((filterDefault=='未保險')&&(pageNumber>1)){%>
		//$('#directorIpt').val($('#directorSelected').text());
	<%}%>
	$('#director0').html($('#directorSelected').text());
	$('#directorSelected').append(' <span class=\'caret\'><\/span>');
	for(i=1;i<=2;i++){
		$('#dlis'+i).attr('class','');
	}
	$('#dlis'+index).attr('class','active');
}

<%if((sorterDefault=='建立日期')||(sorterDefault=='更新日期')||(sorterDefault=='上次成功收款日期')||(sorterDefault=='下次應收款日期')){%>
	var ifDater=true;
<%}else{%>
	var ifDater=false;
<%}%>
function enableDater(){
	if(!ifDater){
		$('#lbound').attr('type','date');
		$('#ubound').attr('type','date');
		$('#lbound').attr('placeholder','');
		$('#ubound').attr('placeholder','');
		ifDater=true;
	}
}

function disableDater(){
	if(ifDater){
		$('#lbound').attr('type','text');
		$('#ubound').attr('type','text');
		$('#lbound').attr('placeholder','下限(元/%/個月/級/筆)');
		$('#ubound').attr('placeholder','上限(元/%/個月/級/筆)');
		ifDater=false;
	}
}

function linker(){
	window.open('/lender/lenderTransactionRecord?oneid='+encodeURIComponent($('#oneidIpt').val())+'&filter='+encodeURIComponent($('#filter0').text())+'&sorter='+encodeURIComponent($('#sorter0').text())+'&director='+encodeURIComponent($('#director0').text())+'&lbound='+encodeURIComponent($('#lbound').val().trim())+'&ubound='+encodeURIComponent($('#ubound').val().trim())+'&page=1','_self');
}


<% if((filterDefault=='未保險')&&(totalResultNum>0)){%>
$(document).ready(function(){
	$("#selectAll").prop("checked", false);
	$("input[name='selectCheckBox']").each(function() {
		$(this).prop("checked", false);
	});
});

function checkAndOpenModal(target){
	var ctr=0;
	$("input[name='selectCheckBox']").each(function() {
			if($(this).prop("checked")){
				ctr+=1;
			}
	});
	if(ctr>0){
		if(target=='#chkModal2'){
			$('#seCtr1').html(ctr);
		}
		$(target).modal('show');
	}else{
		$('#msgModal').modal('show');
	}
}

function selectAllFun(){
	if($("#selectAll").prop("checked"))
	{
		$("input[name='selectCheckBox']").each(function() {
			$(this).prop("checked", true);
		});
		var valueR=0;
		for(i=0;i<<%=jsonTransaction.length%>;i++){
			valueR+=parseFloat($("#value1"+i).text());
		}
		$("#selectedFee").text(Math.round(valueR).toFixed(0));
		$("#selectedFeeR").text(valueR);
	}else{
		$("input[name='selectCheckBox']").each(function() {
			$(this).prop("checked", false);
		});
		$("#selectedFee").text(0);	
		$("#selectedFeeR").text(0);		
	}
}

function selectFun(index){
	var valueR=parseFloat($("#selectedFeeR").text());
	var fee=parseFloat($("#value1"+index).text());
	
	if($("#selectCheckBoxId"+index).prop("checked"))
	{
		valueR+=fee;
		$("#selectedFee").text(Math.round(valueR).toFixed(0));
		$("#selectedFeeR").text(valueR);
		
		var ctr=0;
		$("input[name='selectCheckBox']").each(function() {
			if($(this).prop("checked")){
				ctr+=1;
			}
		});
		if(ctr==$("input[name='selectCheckBox']").length){
			$("#selectAll").prop("checked", true);
		}
	}else{
		valueR-=fee;
		$("#selectedFee").text(Math.round(valueR).toFixed(0));
		$("#selectedFeeR").text(valueR);

		var ctr=0;
		$("input[name='selectCheckBox']").each(function() {
			if($(this).prop("checked")){
				ctr+=1;
			}
		});
		if(ctr<$("input[name='selectCheckBox']").length){
			$("#selectAll").prop("checked", false);
		}
	}
}

<%if(pageNumber>1){%>
var buyAllFlag=false;
function buyAll(){
	if(!buyAllFlag){
		$('#chkModal1').modal('hide');
		disableButton();
		var form=document.getElementById('formID0');
		form.submit();
	}
}
<%}%>

var buyFlag=false;
function buy(){
	if(!buyFlag){
		$('#chkModal2').modal('hide');
		disableButton();
		samepart(buyInner);
	}
}

function disableButton(){
	buyFlag=true;
	var orig=$('#buyBtn').attr('class');
	if(orig.search(' disabled')<0){
		orig=orig+' disabled';
		$('#buyBtn').attr('class',orig);
	}
	
	<%if(pageNumber>1){%>
		buyAllFlag=true;
		orig=$('#buyBtnAll').attr('class');
		if(orig.search(' disabled')<0){
			orig=orig+' disabled';
			$(buyBtnAll).attr('class',orig);
		}
	<%}%>
}

function enableButton(){
	buyFlag=false;
	var orig=$('#buyBtn').attr('class');
	orig=orig.replace(/ disabled/g, '');
	$('#buyBtn').attr('class',orig);
	
	<%if(pageNumber>1){%>
		buyAllFlag=false;
		orig=$('#buyBtnAll').attr('class');
		orig=orig.replace(/ disabled/g, '');
		$('#buyBtnAll').attr('class',orig);
	<%}%>
}

function buyInner(){
	var form=document.getElementById('formID');
	form.submit();
}

function samepart(toDO){
	var JSONarrayString='{"array":['
	$("input[name='selectCheckBox']").each(function() {
			if($(this).prop("checked")){
				JSONarrayString+=$(this).val();
				JSONarrayString+=',';
			}
	});
	if(JSONarrayString!='{"array":['){
		JSONarrayString=JSONarrayString.substr(0,JSONarrayString.length-1);
		JSONarrayString+=']}';
		$("#hdnIpt").val(JSONarrayString);
		toDO();
	}
}
<%}%>
</script>
<%- include('layout_footer',{imgSettingCode:"var ifLoadedCount=0;",imgDrawingCode:""}); -%>