<%- include('layout_header',{searchTitle:null,nav_cur:'lend',messengerDefault:'不分訊息狀態',actionDefault:'建立日期',directorDefault:'大至小',keywordDefault:'',categoryDefault:'不分類'}); -%>
<div class="container">
	<div class="row">
		<div class="col-md-9">
				<div class="bigTitle">自動借出設定</div>
				<br>
				<a href="/lender/lendsList?oneid=&classOne=<%=encodeURIComponent('不篩選自動同意設定');%>&classTwo=<%=encodeURIComponent('不篩選故事種類設定')%>&sorter=<%=encodeURIComponent('更新日期');%>&director=<%=encodeURIComponent('大至小');%>&lbound=&ubound=&page=1"><button type="button" class="btn btn-default">參考他人設定</button></a>
				<br>
				<br>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">銀行帳戶內餘額</h3>
					</div>
					<div class="panel-body disableText">
						<input type="text" style="width:90%;" class="textForm" value="<%=MoneyInBankAccountValue.toFixed(0)%>" readonly="readonly" >&nbsp;元
					</div>					
				</div>
				<br>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">已借出總金額</h3>
					</div>
					<div class="panel-body disableText">
						<input type="text" style="width:90%;" class="textForm" value="<%=MoneyLended.moneyLendedCumulated.toFixed(0)%>" readonly="readonly" >&nbsp;元
					</div>					
				</div>
				<br>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">已手動借出金額</h3>
					</div>
					<div class="panel-body disableText">
						<input type="text" style="width:90%;" class="textForm" value="<%=MoneyLended.hendLendCumulated.toFixed(0)%>" readonly="readonly" >&nbsp;元
					</div>					
				</div>
				<br>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">尚可手動借出金額</h3>
					</div>
					<div class="panel-body disableText">
						<input type="text" style="width:90%;" class="textForm" value="<%=MoneyLended.moneyLeftToHendLend.toFixed(0)%>" readonly="readonly" >&nbsp;元
					</div>					
				</div>
				<br>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">已自動借出金額</h3>
					</div>
					<div class="panel-body disableText">
						<input type="text" style="width:90%;" class="textForm" value="<%=MoneyLended.autoLendCumulated.toFixed(0)%>" readonly="readonly" >&nbsp;元
					</div>					
				</div>
				<br>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">尚可自動借出金額</h3>
					</div>
					<div class="panel-body disableText">
						<input type="text" style="width:90%;" class="textForm" value="<%=MoneyLended.moneyLeftToAutoLend.toFixed(0)%>" readonly="readonly" >&nbsp;元
					</div>					
				</div>
				<br>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">目前最高可設定自動借出金額</h3>
					</div>
					<div class="panel-body disableText">
						<input type="text" style="width:90%;" class="textForm" value="<%=MoneyLended.maxSettingAutoLend.toFixed(0)%>" readonly="readonly" >&nbsp;元
					</div>					
				</div>
				<br>
				<div class="my-divider"></div>
				<br>
		<% if(!jsonLend){ %>
			<form action="/Lends/create" method="post" id="formID" onsubmit="return disableButton();">
		<% }else{ %>
			<form action="/Lends/update" method="post" id="formID" onsubmit="return disableButton();">
		<% } %>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">最大可自動借出金額<i class="red">&nbsp;*</i><span id="s1" class="red"><%if(lfJSON){%><%if(lfJSON.Target[0]){%>&nbsp;&nbsp;&nbsp;&nbsp;<%=lfJSON.Message[0]%><%}%><%}%></span></h3>
					</div>
					<div class="panel-body">
						<% if(!jsonLend){ %>
							<input id="f1" type="number" style="width:90%;" class="textForm" name="MaxMoneyToLend" required="required"<%if(lfJSON){%> value="<%=lfJSON.FormContent.F1%>"<%}%>>
						<% }else{ %>
							<input id="f1" type="number" style="width:90%;" class="textForm" name="MaxMoneyToLend" value="<%if(lfJSON){%><%=lfJSON.FormContent.F1%><%}else{%><%=jsonLend.MaxMoneyToLend.toFixed(0)%><%}%>" required="required">
						<% } %>
						&nbsp;元
					</div>					
				</div>
				<br>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">可接受年利率<i class="red">&nbsp;*</i><span id="s2" class="red"><%if(lfJSON){%><%if(lfJSON.Target[1]){%>&nbsp;&nbsp;&nbsp;&nbsp;<%=lfJSON.Message[1]%><%}%><%}%></span></h3>
					</div>
					<div class="panel-body">
						<% if(!jsonLend){ %>
							<input id="f2" type="text" style="width:90%;" class="textForm" name="InterestRate" required="required"<%if(lfJSON){%> value="<%=lfJSON.FormContent.F2%>"<%}%>>
						<% }else{ %>
							<input id="f2" type="text" style="width:90%;" class="textForm" name="InterestRate" value="<%if(lfJSON){%><%=lfJSON.FormContent.F2%><%}else{%><%=(jsonLend.InterestRate*100).toFixed(2)%><%}%>" required="required">
						<% } %>
						%
					</div>
				</div>
				<br>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">可接受期數（單位/月，最大36個月）<i class="red">*</i><span id="s3" class="red"><%if(lfJSON){%><%if(lfJSON.Target[2]){%>&nbsp;&nbsp;&nbsp;&nbsp;<%=lfJSON.Message[2]%><%}%><%}%></span></h3>
					</div>
					<div class="panel-body">
						<% if(!jsonLend){ %>
							<input id="f3" type="number" style="width:90%;" class="textForm" name="MonthPeriod" required="required"<%if(lfJSON){%> value="<%=lfJSON.FormContent.F3%>"<%}%>>
						<% }else{ %>
							<input id="f3" type="number" style="width:90%;" class="textForm" name="MonthPeriod" value="<%if(lfJSON){%><%=lfJSON.FormContent.F3%><%}else{%><%=jsonLend.MonthPeriod.toFixed(0)%><%}%>" required="required">
						<% } %>
						&nbsp;個月
					</div>
				</div>
				<br>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">可接受信用等級<span id="s4" class="red"><%if(lfJSON){%><%if(lfJSON.Target[3]){%>&nbsp;&nbsp;&nbsp;&nbsp;<%=lfJSON.Message[3]%><%}%><%}%></span></h3>
					</div>
					<div class="panel-body">
						<% if(!jsonLend){ %>
							<input id="f4" type="number" style="width:90%;" class="textForm" name="MinLevelAccepted"<%if(lfJSON){%> value="<%=lfJSON.FormContent.F4%>"<%}%>>
						<% }else{ %>
							<input id="f4" type="number" style="width:90%;" class="textForm" name="MinLevelAccepted" value="<%if(lfJSON){%><%=lfJSON.FormContent.F4%><%}else{%><%if(jsonLend.MinLevelAccepted!==-1){%><%=jsonLend.MinLevelAccepted.toFixed(0)%><%}%><%}%>">
						<% } %>
						&nbsp;級
					</div>
				</div>
				<br>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">可接受總利息<span id="s5" class="red"><%if(lfJSON){%><%if(lfJSON.Target[4]){%>&nbsp;&nbsp;&nbsp;&nbsp;<%=lfJSON.Message[4]%><%}%><%}%></span></h3>
					</div>
					<div class="panel-body">
						<% if(!jsonLend){ %>
							<input id="f5" type="number" style="width:90%;" class="textForm" name="MinInterestInFuture"<%if(lfJSON){%> value="<%=lfJSON.FormContent.F5%>"<%}%>>
						<% }else{ %>
							<input id="f5" type="number" style="width:90%;" class="textForm" name="MinInterestInFuture" value="<%if(lfJSON){%><%=lfJSON.FormContent.F5%><%}else{%><%if(jsonLend.MinInterestInFuture!==-1){%><%=jsonLend.MinInterestInFuture.toFixed(0)%><%}%><%}%>">
						<% } %>
						&nbsp;元
					</div>
				</div>
				<br>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">可接受本利和<span id="s6" class="red"><%if(lfJSON){%><%if(lfJSON.Target[5]){%>&nbsp;&nbsp;&nbsp;&nbsp;<%=lfJSON.Message[5]%><%}%><%}%></span></h3>
					</div>
					<div class="panel-body">
						<% if(!jsonLend){ %>
							<input id="f6" type="number" style="width:90%;" class="textForm" name="MinMoneyFuture"<%if(lfJSON){%> value="<%=lfJSON.FormContent.F6%>"<%}%>>
						<% }else{ %>
							<input id="f6" type="number" style="width:90%;" class="textForm" name="MinMoneyFuture" value="<%if(lfJSON){%><%=lfJSON.FormContent.F6%><%}else{%><%if(jsonLend.MinMoneyFuture!==-1){%><%=jsonLend.MinMoneyFuture.toFixed(0)%><%}%><%}%>">
						<% } %>
						&nbsp;元
					</div>
				</div>
				<br>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">可接受平均利息<span id="s7" class="red"><%if(lfJSON){%><%if(lfJSON.Target[6]){%>&nbsp;&nbsp;&nbsp;&nbsp;<%=lfJSON.Message[6]%><%}%><%}%></span></h3>
					</div>
					<div class="panel-body">
						<% if(!jsonLend){ %>
							<input id="f7" type="number" style="width:90%;" class="textForm" name="MinInterestInFutureMonth"<%if(lfJSON){%> value="<%=lfJSON.FormContent.F7%>"<%}%>>
						<% }else{ %>
							<input id="f7" type="number" style="width:90%;" class="textForm" name="MinInterestInFutureMonth" value="<%if(lfJSON){%><%=lfJSON.FormContent.F7%><%}else{%><%if(jsonLend.MinInterestInFutureMonth!==-1){%><%=jsonLend.MinInterestInFutureMonth.toFixed(0)%><%}%><%}%>">
						<% } %>
						&nbsp;元/月
					</div>
				</div>
				<br>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">可接受平均本利和<span id="s8" class="red"><%if(lfJSON){%><%if(lfJSON.Target[7]){%>&nbsp;&nbsp;&nbsp;&nbsp;<%=lfJSON.Message[7]%><%}%><%}%></span></h3>
					</div>
					<div class="panel-body">
						<% if(!jsonLend){ %>
							<input id="f8" type="number" style="width:90%;" class="textForm" name="MinInterestInFutureMoneyMonth"<%if(lfJSON){%> value="<%=lfJSON.FormContent.F8%>"<%}%>>
						<% }else{ %>
							<input id="f8" type="number" style="width:90%;" class="textForm" name="MinInterestInFutureMoneyMonth" value="<%if(lfJSON){%><%=lfJSON.FormContent.F8%><%}else{%><%if(jsonLend.MinInterestInFutureMoneyMonth!==-1){%><%=jsonLend.MinInterestInFutureMoneyMonth.toFixed(0)%><%}%><%}%>">
						<% } %>
						&nbsp;元/月
					</div>
				</div>
				<br>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">可接受利本比<span id="s9" class="red"><%if(lfJSON){%><%if(lfJSON.Target[8]){%>&nbsp;&nbsp;&nbsp;&nbsp;<%=lfJSON.Message[8]%><%}%><%}%></span></h3>
					</div>
					<div class="panel-body">
						<% if(!jsonLend){ %>
							<input id="f9" type="text" style="width:90%;" class="textForm" name="MinInterestInFutureDivMoney"<%if(lfJSON){%> value="<%=lfJSON.FormContent.F9%>"<%}%>>
						<% }else{ %>
							<input id="f9" type="text" style="width:90%;" class="textForm" name="MinInterestInFutureDivMoney" value="<%if(lfJSON){%><%=lfJSON.FormContent.F9%><%}else{%><%if(jsonLend.MinInterestInFutureDivMoney!==-1){%><%=(jsonLend.MinInterestInFutureDivMoney*100).toFixed(2)%><%}%><%}%>">
						<% } %>
						&nbsp;%
					</div>
				</div>
				<br>
				<div class="my-divider"></div>
				<br>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">自動同意借款請求<span id="s10" class="red"><%if(lfJSON){%><%if(lfJSON.Target[9]){%>&nbsp;&nbsp;&nbsp;&nbsp;<%=lfJSON.Message[9]%><%}%><%}%></span></h3>
					</div>
					<div class="panel-body">
						<% if(!jsonLend){ %>
							 <select class="textForm" name="AutoComfirmToBorrowMsgPeriod" id="periodSel" onchange="autoChanger();">
								<option value="-1"<%if(lfJSON){%><%if(lfJSON.FormContent.F10==-1){%> selected<%}%><%}%>>永不自動同意</option>
								<option value="0"<%if(lfJSON){%><%if(lfJSON.FormContent.F10==0){%> selected<%}%><%}%>>立即自動同意</option>
								<option value="1"<%if(lfJSON){%><%if(lfJSON.FormContent.F10==1){%> selected<%}%><%}%>>每天自動同意一次</option>
								<option value="2"<%if(lfJSON){%><%if(lfJSON.FormContent.F10==2){%> selected<%}%><%}%>>每兩天自動同意一次</option>
								<option value="3"<%if(lfJSON){%><%if(lfJSON.FormContent.F10==3){%> selected<%}%><%}%>>每三天自動同意一次</option>
							  </select>
						<% }else{ %>
							<select class="textForm" name="AutoComfirmToBorrowMsgPeriod"  id="periodSel" onchange="autoChanger();">
								<option value="-1"<%if(lfJSON){%><%if(lfJSON.FormContent.F10==-1){%> selected<%}%><%}else{%><%if(jsonLend.AutoComfirmToBorrowMsgPeriod===-1){%> selected<%}%><%}%>>永不自動同意</option>
								<option value="0"<%if(lfJSON){%><%if(lfJSON.FormContent.F10==0){%> selected<%}%><%}else{%><%if(jsonLend.AutoComfirmToBorrowMsgPeriod===0){%> selected<%}%><%}%>>立即自動同意</option>
								<option value="1"<%if(lfJSON){%><%if(lfJSON.FormContent.F10==1){%> selected<%}%><%}else{%><%if(jsonLend.AutoComfirmToBorrowMsgPeriod===1){%> selected<%}%><%}%>>每天自動同意一次</option>
								<option value="2"<%if(lfJSON){%><%if(lfJSON.FormContent.F10==2){%> selected<%}%><%}else{%><%if(jsonLend.AutoComfirmToBorrowMsgPeriod===2){%> selected<%}%><%}%>>每兩天自動同意一次</option>
								<option value="3"<%if(lfJSON){%><%if(lfJSON.FormContent.F10==3){%> selected<%}%><%}else{%><%if(jsonLend.AutoComfirmToBorrowMsgPeriod===3){%> selected<%}%><%}%>>每三天自動同意一次</option>
							  </select>
						<% } %>
					</div>
				</div>
				<br>
				<%if(!lfJSON){%>
					<div class="panel panel-default" id="classorPnl"<% if(!jsonLend){%> style="display:none;"<%}else{%><% if(jsonLend.AutoComfirmToBorrowMsgPeriod<=0){ %> style="display:none;"<%}%><%}%>>
						<div class="panel-heading">
							<h3 class="panel-title">自動同意故事種類</h3>
						</div>
						<div class="panel-body">
							<% if(!jsonLend){ %>
								<select class="textForm" class="textForm" name="AutoComfirmToBorrowMsgClassor" id="classorSel" disabled="disabled">
									<option value="none">不分類</option>
									<option value="general">一般</option>
									<option value="education">教育</option>
									<option value="family">家庭</option>
									<option value="tour">旅遊</option>
								 </select>
							<% }else{ %>
								<select class="textForm" class="textForm" name="AutoComfirmToBorrowMsgClassor" id="classorSel"<% if(jsonLend.AutoComfirmToBorrowMsgPeriod<=0){ %> disabled="disabled"<%}%>>
									<option value="none"<%if(jsonLend.AutoComfirmToBorrowMsgClassor==="none"){%> selected<%}%>>不分類</option>
									<option value="general"<%if(jsonLend.AutoComfirmToBorrowMsgClassor==="general"){%> selected<%}%>>一般</option>
									<option value="education"<%if(jsonLend.AutoComfirmToBorrowMsgClassor==="education"){%> selected<%}%>>教育</option>
									<option value="family"<%if(jsonLend.AutoComfirmToBorrowMsgClassor==="family"){%> selected<%}%>>家庭</option>
									<option value="tour"<%if(jsonLend.AutoComfirmToBorrowMsgClassor==="tour"){%> selected<%}%>>旅遊</option>
								</select>
							<% } %>
						</div>
					</div>
				<%}else{%>
					<div class="panel panel-default" id="classorPnl"<% if(lfJSON.FormContent.F10<=0){ %> style="display:none;"<%}%>>
						<div class="panel-heading">
							<h3 class="panel-title">自動同意故事種類<span id="s11" class="red"><%if(lfJSON){%><%if(lfJSON.Target[10]){%>&nbsp;&nbsp;&nbsp;&nbsp;<%=lfJSON.Message[10]%><%}%><%}%></span></h3>
						</div>
						<div class="panel-body">
							<select class="textForm" class="textForm" name="AutoComfirmToBorrowMsgClassor" id="classorSel"<% if(lfJSON.FormContent.F10<=0){ %> disabled="disabled"<%}%>>
								<option value="none"<%if(lfJSON.FormContent.F11==="none"){%> selected<%}%>>不分類</option>
								<option value="general"<%if(lfJSON.FormContent.F11==="general"){%> selected<%}%>>一般</option>
								<option value="education"<%if(lfJSON.FormContent.F11==="education"){%> selected<%}%>>教育</option>
								<option value="family"<%if(lfJSON.FormContent.F11==="family"){%> selected<%}%>>家庭</option>
								<option value="tour"<%if(lfJSON.FormContent.F11==="tour"){%> selected<%}%>>旅遊</option>
							</select>
						</div>
					</div>
				<%}%>
				<br class="brr">
				<%if(!lfJSON){%>
					<div class="panel panel-default" id="sorterPnl"<% if(!jsonLend){%> style="display:none;"<%}else{%><% if(jsonLend.AutoComfirmToBorrowMsgPeriod<=0){ %> style="display:none;"<%}%><%}%>>
						<div class="panel-heading">
							<h3 class="panel-title">自動同意排序依據</h3>
						</div>
						<div class="panel-body">
							<% if(!jsonLend){ %>
								<select class="textForm" class="textForm" name="AutoComfirmToBorrowMsgSorter" id="sorterSel" disabled="disabled" onchange="autoSorter('','');">
									<option value="InterestRate">欲借入年利率</option>
									<option value="MoneyToLend">欲借入金額</option>
									<option value="MonthPeriod">欲借入期數</option>
									<option value="Level">信用等級</option>
									<option value="InterestInFuture">預計總利息</option>
									<option value="MoneyFuture">預計本利和</option>
									<option value="InterestInFutureMonth">預計平均利息</option>
									<option value="InterestInFutureMoneyMonth">預計平均本利和</option>
									<option value="InterestInFutureDivMoney">預計利本比</option>
									<option value="Updated">更新日期</option>
									<option value="Created">建立日期</option>
								 </select>
							<% }else{ %>
								<select class="textForm" class="textForm" name="AutoComfirmToBorrowMsgSorter" id="sorterSel"<% if(jsonLend.AutoComfirmToBorrowMsgPeriod<=0){ %> disabled="disabled"<%}%> onchange="autoSorter('','');">
									<option value="InterestRate"<%if(jsonLend.AutoComfirmToBorrowMsgSorter==="InterestRate"){%> selected<%}%>>欲借入年利率</option>
									<option value="MoneyToLend"<%if(jsonLend.AutoComfirmToBorrowMsgSorter==="MoneyToLend"){%> selected<%}%>>欲借入金額</option>
									<option value="MonthPeriod"<%if(jsonLend.AutoComfirmToBorrowMsgSorter==="MonthPeriod"){%> selected<%}%>>欲借入期數</option>
									<option value="Level"<%if(jsonLend.AutoComfirmToBorrowMsgSorter==="Level"){%> selected<%}%>>信用等級</option>
									<option value="InterestInFuture"<%if(jsonLend.AutoComfirmToBorrowMsgSorter==="InterestInFuture"){%> selected<%}%>>預計總利息</option>
									<option value="MoneyFuture"<%if(jsonLend.AutoComfirmToBorrowMsgSorter==="MoneyFuture"){%> selected<%}%>>預計本利和</option>
									<option value="InterestInFutureMonth"<%if(jsonLend.AutoComfirmToBorrowMsgSorter==="InterestInFutureMonth"){%> selected<%}%>>預計平均利息</option>
									<option value="InterestInFutureMoneyMonth"<%if(jsonLend.AutoComfirmToBorrowMsgSorter==="InterestInFutureMoneyMonth"){%> selected<%}%>>預計平均本利和</option>
									<option value="InterestInFutureDivMoney"<%if(jsonLend.AutoComfirmToBorrowMsgSorter==="InterestInFutureDivMoney"){%> selected<%}%>>預計利本比</option>
									<option value="Updated"<%if(jsonLend.AutoComfirmToBorrowMsgSorter==="Updated"){%> selected<%}%>>更新日期</option>
									<option value="Created"<%if(jsonLend.AutoComfirmToBorrowMsgSorter==="Created"){%> selected<%}%>>建立日期</option>
								  </select>
							<% } %>
						</div>
					</div>
				<%}else{%>
					<div class="panel panel-default" id="sorterPnl"<% if(lfJSON.FormContent.F10<=0){ %> style="display:none;"<%}%>>
						<div class="panel-heading">
							<h3 class="panel-title">自動同意排序依據<span id="s12" class="red"><%if(lfJSON){%><%if(lfJSON.Target[11]){%>&nbsp;&nbsp;&nbsp;&nbsp;<%=lfJSON.Message[11]%><%}%><%}%></span></h3>
						</div>
						<div class="panel-body">
							<select class="textForm" class="textForm" name="AutoComfirmToBorrowMsgSorter" id="sorterSel"<% if(lfJSON.FormContent.F10<=0){ %> disabled="disabled"<%}%> onchange="autoSorter('','');">
								<option value="InterestRate"<%if(lfJSON.FormContent.F12==="InterestRate"){%> selected<%}%>>欲借入年利率</option>
								<option value="MoneyToLend"<%if(lfJSON.FormContent.F12==="MoneyToLend"){%> selected<%}%>>欲借入金額</option>
								<option value="MonthPeriod"<%if(lfJSON.FormContent.F12==="MonthPeriod"){%> selected<%}%>>欲借入期數</option>
								<option value="Level"<%if(lfJSON.FormContent.F12==="Level"){%> selected<%}%>>信用等級</option>
								<option value="InterestInFuture"<%if(lfJSON.FormContent.F12==="InterestInFuture"){%> selected<%}%>>預計總利息</option>
								<option value="MoneyFuture"<%if(lfJSON.FormContent.F12==="MoneyFuture"){%> selected<%}%>>預計本利和</option>
								<option value="InterestInFutureMonth"<%if(lfJSON.FormContent.F12==="InterestInFutureMonth"){%> selected<%}%>>預計平均利息</option>
								<option value="InterestInFutureMoneyMonth"<%if(lfJSON.FormContent.F12==="InterestInFutureMoneyMonth"){%> selected<%}%>>預計平均本利和</option>
								<option value="InterestInFutureDivMoney"<%if(lfJSON.FormContent.F12==="InterestInFutureDivMoney"){%> selected<%}%>>預計利本比</option>
								<option value="Updated"<%if(lfJSON.FormContent.F12==="Updated"){%> selected<%}%>>更新日期</option>
								<option value="Created"<%if(lfJSON.FormContent.F12==="Created"){%> selected<%}%>>建立日期</option>
							</select>
						</div>
					</div>
				<%}%>
				<br class="brr">
				<%if(!lfJSON){%>
					<div class="panel panel-default" id="directorPnl"<% if(!jsonLend){%> style="display:none;"<%}else{%><% if(jsonLend.AutoComfirmToBorrowMsgPeriod<=0){ %> style="display:none;"<%}%><%}%>>
						<div class="panel-heading">
							<h3 class="panel-title">自動同意排序方向</h3>
						</div>
						<div class="panel-body">
							<% if(!jsonLend){ %>
								<select class="textForm" class="textForm" name="AutoComfirmToBorrowMsgDirector" id="directorSel" disabled="disabled">
									<option value="minus">大至小</option>
									<option value="plus">小至大</option>
								 </select>
							<% }else{ %>
								<select class="textForm" class="textForm" name="AutoComfirmToBorrowMsgDirector" id="directorSel"<% if(jsonLend.AutoComfirmToBorrowMsgPeriod<=0){ %> disabled="disabled"<%}%>>
									<option value="minus"<%if(jsonLend.AutoComfirmToBorrowMsgDirector==="minus"){%> selected<%}%>>大至小</option>
									<option value="plus"<%if(jsonLend.AutoComfirmToBorrowMsgDirector==="plus"){%> selected<%}%>>小至大</option>
								  </select>
							<% } %>
						</div>
					</div>
				<%}else{%>
					<div class="panel panel-default" id="directorPnl"<% if(lfJSON.FormContent.F10<=0){ %> style="display:none;"<%}%>>
						<div class="panel-heading">
							<h3 class="panel-title">自動同意排序方向<span id="s13" class="red"><%if(lfJSON){%><%if(lfJSON.Target[12]){%>&nbsp;&nbsp;&nbsp;&nbsp;<%=lfJSON.Message[12]%><%}%><%}%></span></h3>
						</div>
						<div class="panel-body">
							<select class="textForm" class="textForm" name="AutoComfirmToBorrowMsgDirector" id="directorSel"<% if(lfJSON.FormContent.F10<=0){ %> disabled="disabled"<%}%>>
								<option value="minus"<%if(lfJSON.FormContent.F13==="minus"){%> selected<%}%>>大至小</option>
								<option value="plus"<%if(lfJSON.FormContent.F13==="plus"){%> selected<%}%>>小至大</option>
							</select>
						</div>
					</div>
				<%}%>
				<br class="brr">
				<%if(!lfJSON){%>
					<div class="panel panel-default" id="lboundPnl"<% if(!jsonLend){%> style="display:none;"<%}else{%><% if(jsonLend.AutoComfirmToBorrowMsgPeriod<=0){ %> style="display:none;"<%}%><%}%>>
						<div class="panel-heading">
							<h3 class="panel-title">自動同意下限</h3>
						</div>
						<div class="panel-body">
							<%if(!jsonLend){%>
								<input id="lboundSel" style="width:90%;" type="text" placeholder="" class="textForm" name="AutoComfirmToBorrowMsgLbound" disabled="disabled">
							<%}else{%>
								<%if((jsonLend.AutoComfirmToBorrowMsgSorter==="Updated")||(jsonLend.AutoComfirmToBorrowMsgSorter==="Created")){%>
									<input id="lboundSel" style="width:90%;" type="text" placeholder="年/月/日" class="textForm" name="AutoComfirmToBorrowMsgLbound"<%if(jsonLend.AutoComfirmToBorrowMsgLbound!==-1){%> value="<%=new Date(parseInt(jsonLend.AutoComfirmToBorrowMsgLbound)).getFullYear()%>/<%if(new Date(parseInt(jsonLend.AutoComfirmToBorrowMsgLbound)).getMonth()<9){%>0<%}%><%=new Date(parseInt(jsonLend.AutoComfirmToBorrowMsgLbound)).getMonth()+1%>/<%if(new Date(parseInt(jsonLend.AutoComfirmToBorrowMsgLbound)).getDate()<10){%>0<%}%><%=new Date(parseInt(jsonLend.AutoComfirmToBorrowMsgLbound)).getDate()%>"<%}%><% if(jsonLend.AutoComfirmToBorrowMsgPeriod<=0){ %> disabled="disabled"<%}%>>
								<%}else if(jsonLend.AutoComfirmToBorrowMsgSorter==="InterestRate"){%>
									<input id="lboundSel" style="width:90%;" type="text" placeholder="" class="textForm" name="AutoComfirmToBorrowMsgLbound"<%if(jsonLend.AutoComfirmToBorrowMsgLbound!==-1){%> value="<%=((jsonLend.AutoComfirmToBorrowMsgLbound-scr)*100).toFixed(2)%>"<%}%><% if(jsonLend.AutoComfirmToBorrowMsgPeriod<=0){ %> disabled="disabled"<%}%>>
								<%}else if(jsonLend.AutoComfirmToBorrowMsgSorter==="InterestInFutureDivMoney"){%>
									<input id="lboundSel" style="width:90%;" type="text" placeholder="" class="textForm" name="AutoComfirmToBorrowMsgLbound"<%if(jsonLend.AutoComfirmToBorrowMsgLbound!==-1){%> value="<%=(jsonLend.AutoComfirmToBorrowMsgLbound*100).toFixed(2)%>"<%}%><% if(jsonLend.AutoComfirmToBorrowMsgPeriod<=0){ %> disabled="disabled"<%}%>>
								<%}else{%>
									<input id="lboundSel" style="width:90%;" type="text" placeholder="" class="textForm" name="AutoComfirmToBorrowMsgLbound"<%if(jsonLend.AutoComfirmToBorrowMsgLbound!==-1){%> value="<%=jsonLend.AutoComfirmToBorrowMsgLbound.toFixed(0)%>"<%}%><% if(jsonLend.AutoComfirmToBorrowMsgPeriod<=0){ %> disabled="disabled"<%}%>>
								<%}%>
							<%}%>
							&nbsp;<span id='lbd'></span>
						</div>
					</div>
				<%}else{%>
					<div class="panel panel-default" id="lboundPnl"<% if(lfJSON.FormContent.F10<=0){ %> style="display:none;"<%}%>>
						<div class="panel-heading">
							<h3 class="panel-title">自動同意下限<span id="s14" class="red"><%if(lfJSON){%><%if(lfJSON.Target[13]){%>&nbsp;&nbsp;&nbsp;&nbsp;<%=lfJSON.Message[13]%><%}%><%}%></span></h3>
						</div>
						<div class="panel-body">
							<%if((lfJSON.FormContent.F12==="Updated")||(lfJSON.FormContent.F12==="Created")){%>
								<input id="lboundSel" style="width:90%;" type="text" placeholder="年/月/日" class="textForm" name="AutoComfirmToBorrowMsgLbound" value="<%=lfJSON.FormContent.F14%>"<% if(lfJSON.FormContent.F10<=0){ %> disabled="disabled"<%}%>>
							<%}else{%>
								<input id="lboundSel" style="width:90%;" type="text" placeholder="" class="textForm" name="AutoComfirmToBorrowMsgLbound" value="<%=lfJSON.FormContent.F14%>"<% if(lfJSON.FormContent.F10<=0){ %> disabled="disabled"<%}%>>
							<%}%>
							&nbsp;<span id='lbd'></span>
						</div>
					</div>
				<%}%>
				<br class="brr">
				<%if(!lfJSON){%>
					<div class="panel panel-default" id="uboundPnl"<% if(!jsonLend){%> style="display:none;"<%}else{%><% if(jsonLend.AutoComfirmToBorrowMsgPeriod<=0){ %> style="display:none;"<%}%><%}%>>
						<div class="panel-heading">
							<h3 class="panel-title">自動同意上限</h3>
						</div>
						<div class="panel-body">
							<%if(!jsonLend){%>
								<input id="uboundSel" style="width:90%;" type="text" placeholder="" class="textForm" name="AutoComfirmToBorrowMsgUbound" disabled="disabled">
							<%}else{%>
								<%if((jsonLend.AutoComfirmToBorrowMsgSorter==="Updated")||(jsonLend.AutoComfirmToBorrowMsgSorter==="Created")){%>
									<input id="uboundSel" style="width:90%;" type="text" placeholder="年/月/日" class="textForm" name="AutoComfirmToBorrowMsgUbound"<%if(jsonLend.AutoComfirmToBorrowMsgUbound!==-1){%> value="<%=new Date(parseInt(jsonLend.AutoComfirmToBorrowMsgUbound)).getFullYear()%>/<%if(new Date(parseInt(jsonLend.AutoComfirmToBorrowMsgUbound)).getMonth()<9){%>0<%}%><%=new Date(parseInt(jsonLend.AutoComfirmToBorrowMsgUbound)).getMonth()+1%>/<%if(new Date(parseInt(jsonLend.AutoComfirmToBorrowMsgUbound)).getDate()<10){%>0<%}%><%=new Date(parseInt(jsonLend.AutoComfirmToBorrowMsgUbound)).getDate()%>"<%}%><% if(jsonLend.AutoComfirmToBorrowMsgPeriod<=0){ %> disabled="disabled"<%}%>>
								<%}else if(jsonLend.AutoComfirmToBorrowMsgSorter==="InterestRate"){%>
									<input id="uboundSel" style="width:90%;" type="text" placeholder="" class="textForm" name="AutoComfirmToBorrowMsgUbound"<%if(jsonLend.AutoComfirmToBorrowMsgUbound!==-1){%> value="<%=((jsonLend.AutoComfirmToBorrowMsgUbound-scr)*100).toFixed(2)%>"<%}%><% if(jsonLend.AutoComfirmToBorrowMsgPeriod<=0){ %> disabled="disabled"<%}%>>
								<%}else if(jsonLend.AutoComfirmToBorrowMsgSorter==="InterestInFutureDivMoney"){%>
									<input id="uboundSel" style="width:90%;" type="text" placeholder="" class="textForm" name="AutoComfirmToBorrowMsgUbound"<%if(jsonLend.AutoComfirmToBorrowMsgUbound!==-1){%> value="<%=(jsonLend.AutoComfirmToBorrowMsgUbound*100).toFixed(2)%>"<%}%><% if(jsonLend.AutoComfirmToBorrowMsgPeriod<=0){ %> disabled="disabled"<%}%>>
								<%}else{%>
									<input id="uboundSel" style="width:90%;" type="text" placeholder="" class="textForm" name="AutoComfirmToBorrowMsgUbound"<%if(jsonLend.AutoComfirmToBorrowMsgUbound!==-1){%> value="<%=jsonLend.AutoComfirmToBorrowMsgUbound.toFixed(0)%>"<%}%><% if(jsonLend.AutoComfirmToBorrowMsgPeriod<=0){ %> disabled="disabled"<%}%>>
								<%}%>
							<%}%>
							&nbsp;<span id='ubd'></span>
						</div>
					</div>
				<%}else{%>
					<div class="panel panel-default" id="uboundPnl"<% if(lfJSON.FormContent.F10<=0){ %> style="display:none;"<%}%>>
						<div class="panel-heading">
							<h3 class="panel-title">自動同意上限<span id="s15" class="red"><%if(lfJSON){%><%if(lfJSON.Target[14]){%>&nbsp;&nbsp;&nbsp;&nbsp;<%=lfJSON.Message[14]%><%}%><%}%></span></h3>
						</div>
						<div class="panel-body">
							<%if((lfJSON.FormContent.F12==="Updated")||(lfJSON.FormContent.F12==="Created")){%>
								<input id="uboundSel" style="width:90%;" type="text" placeholder="年/月/日" class="textForm" name="AutoComfirmToBorrowMsgUbound" value="<%=lfJSON.FormContent.F15%>"<% if(lfJSON.FormContent.F10<=0){ %> disabled="disabled"<%}%>>
							<%}else{%>
								<input id="uboundSel" style="width:90%;" type="text" placeholder="" class="textForm" name="AutoComfirmToBorrowMsgUbound" value="<%=lfJSON.FormContent.F15%>"<% if(lfJSON.FormContent.F10<=0){ %> disabled="disabled"<%}%>>
							<%}%>
							&nbsp;<span id='ubd'></span>
						</div>
					</div>
				<%}%>
				<br class="brr">
				<%if(!lfJSON){%>
					<div class="panel panel-default" id="keywordPnl"<% if(!jsonLend){%> style="display:none;"<%}else{%><% if(jsonLend.AutoComfirmToBorrowMsgPeriod<=0){ %> style="display:none;"<%}%><%}%>>
						<div class="panel-heading">
							<h3 class="panel-title">自動同意關鍵字</h3>
						</div>
						<div class="panel-body">
							<%if(!jsonLend){%>
								<input id="keywordSel" type="text" class="textForm" name="AutoComfirmToBorrowMsgKeyWord" disabled="disabled">
							<%}else{%>
								<input id="keywordSel" type="text" class="textForm" name="AutoComfirmToBorrowMsgKeyWord" value="<%=jsonLend.AutoComfirmToBorrowMsgKeyWord%>"<% if(jsonLend.AutoComfirmToBorrowMsgPeriod<=0){ %> disabled="disabled"<%}%>>
							<%}%>
						</div>
					</div>
				<%}else{%>
					<div class="panel panel-default" id="keywordPnl"<% if(lfJSON.FormContent.F10<=0){ %> style="display:none;"<%}%>>
						<div class="panel-heading">
							<h3 class="panel-title">自動同意關鍵字<span id="s16" class="red"><%if(lfJSON){%><%if(lfJSON.Target[15]){%>&nbsp;&nbsp;&nbsp;&nbsp;<%=lfJSON.Message[15]%><%}%><%}%></span></h3>
						</div>
						<div class="panel-body">
							<input id="keywordSel" type="text" class="textForm" name="AutoComfirmToBorrowMsgKeyWord" value="<%=lfJSON.FormContent.F16%>"<% if(lfJSON.FormContent.F10<=0){ %> disabled="disabled"<%}%>>
						</div>
					</div>
				<%}%>
				<br class="brr">
				<% if(!jsonLend){ %>
					<div style="width:100%;text-align: center;">
						<div class="btn-group" role="group">
							<button type="button" class="btn btn-info" onclick="checkAndOpenModal(chkModal1,mdlCnt1,'您確定要新建自動出借設定嗎?',true);">
								新建
							</button>
						</div>
					</div>
					<div class="modal fade" id="chkModal1">
						<div class="modal-dialog modal-sm">
							<div class="modal-content">
								<div class="modal-header" style="text-align: center;">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
									<h4 class="modal-title">再次確認</h4>
								</div>
								<div id="mdlCnt1" class="modal-body" style="text-align: center;">
								</div>
								<div class="modal-footer" style="text-align: center;">
									<button type="submit" class="btn btn-primary" id="createBtnID" onclick="create();">確定</button>
									<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
								</div>
							</div>
						</div>
					</div>
				<% }else{ %>
					<input type="hidden" name="_id" value="<%=jsonLend._id%>">
					<div style="width:100%;text-align: center;">
						<div class="btn-group" role="group">
							<button type="button" class="btn btn-info" onclick="checkAndOpenModal(chkModal2,mdlCnt2,'您確定要更新自動出借設定嗎?',true);">
								更新
							</button>
						</div>
						&nbsp;
						<div class="btn-group" role="group">
							<button type="button" class="btn btn-danger" onclick="checkAndOpenModal(chkModal3,mdlCnt3,'您確定要刪除自動出借設定嗎?',false);">
								刪除
							</button>
						</div>
					</div>
					<div class="modal fade" id="chkModal2">
						<div class="modal-dialog modal-sm">
							<div class="modal-content">
								<div class="modal-header" style="text-align: center;">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
									<h4 class="modal-title">再次確認</h4>
								</div>
								<div id="mdlCnt2" class="modal-body" style="text-align: center;">
								</div>
								<div class="modal-footer" style="text-align: center;">
									<button type="submit" class="btn btn-primary" id="updateBtnID" onclick="update();">確定</button>
									<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
								</div>
							</div>
						</div>
					</div>
					<div class="modal fade" id="chkModal3">
						<div class="modal-dialog modal-sm">
							<div class="modal-content">
								<div class="modal-header" style="text-align: center;">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
									<h4 class="modal-title">再次確認</h4>
								</div>
								<div id="mdlCnt3" class="modal-body" style="text-align: center;">
								</div>
								<div class="modal-footer" style="text-align: center;">
									<button type="button" class="btn btn-danger" id="destroyBtnID" onclick="destroy();">確定</button>
									<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
								</div>
							</div>
						</div>
					</div>
				<%}%>
			</form>
			<div class="modal fade" id="msgModal">
				<div class="modal-dialog modal-sm">
					<div class="modal-content">
						<div class="modal-header" style="text-align: center;">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title">錯誤</h4>
						</div>
						<div class="modal-body" style="text-align: center;">
							<br>
							必填欄位未填或已填欄位數值錯誤
							<br>
							<br>
						</div>
						<div class="modal-footer" style="text-align: center;">
							<button type="button" class="btn btn-default" data-dismiss="modal">關閉</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-3">
		</div>
	</div>
</div>
<script>
	$(document).ready(function (){
		<%if(lfJSON){%>
			<%for(i=0;i<lfJSON.Target.length;i++){%>
				<%if(lfJSON.Target[i]){%>
					<%if(i===9){%>
						$('#periodSel').focus();
					<%}else if(i===10){%>
						$('#classorSel').focus();
					<%}else if(i===11){%>
						$('#sorterSel').focus();
					<%}else if(i===12){%>
						$('#directorSel').focus();
					<%}else if(i===13){%>
						$('#lboundSel').focus();
					<%}else if(i===14){%>
						$('#uboundSel').focus();
					<%}else if(i===15){%>
						$('#keywordSel').focus();
					<%}else{%>
						$('#f<%=i+1%>').focus();
					<%}%>
					<%break;%>
				<%}%>
			<%}%>
		<%}%>
		
		if($('#periodSel').val()>0){
			if(($('#sorterSel').val()==='Updated')||($('#sorterSel').val()==='Created')){
				enableDaterInner();
			}else{
				disableDaterInner();
			}
		}else{
			disableDaterInner();
		}
		autoSorter($('#lboundSel').val(),$('#uboundSel').val());
		autoChanger();
	});

function autoSorter(defaultValuel,defaultValueu){
	$('#lboundSel').val(defaultValuel);
	$('#uboundSel').val(defaultValueu);
	if(($('#sorterSel').val()==='Updated')||($('#sorterSel').val()==='Created')){
		$('#lbd').html('');
		$('#ubd').html('');
		enableDater();
	}else{
		if(($('#sorterSel').val()==='InterestInFutureDivMoney')||($('#sorterSel').val()==='InterestRate')){
			$('#lbd').html('%');
			$('#ubd').html('%');
		}else if($('#sorterSel').val()==='MonthPeriod'){
			$('#lbd').html('個月');
			$('#ubd').html('個月');
		}else if($('#sorterSel').val()==='Level'){
			$('#lbd').html('級');
			$('#ubd').html('級');
		}else if(($('#sorterSel').val()==='InterestInFutureMoneyMonth')||($('#sorterSel').val()==='InterestInFutureMonth')){
			$('#lbd').html('元/月');
			$('#ubd').html('元/月');
		}else{
			$('#lbd').html('元');
			$('#ubd').html('元');
		}
		disableDater();
	}
}

function autoChanger(){
	if($('#periodSel').val()>0){
		$('#nav_down').show();
		$('.brr').show();
		
		$('#sorterSel').prop('disabled', false);
		$('#sorterPnl').show();
		
		$('#directorSel').prop('disabled', false);
		$('#directorPnl').show();
		
		$('#classorSel').prop('disabled', false);
		$('#classorPnl').show();
		
		$('#lboundSel').prop('disabled', false);
		$('#lboundPnl').show();
		
		$('#uboundSel').prop('disabled', false);
		$('#uboundPnl').show();
		
		$('#keywordSel').prop('disabled', false);
		$('#keywordPnl').show();
	}else{
		$('#nav_down').hide();
		$('.brr').hide();
		
		$('#sorterSel').prop('disabled', true);
		$('#sorterSel').val('InterestRate');
		$('#lbd').html('%');
		$('#ubd').html('%');
		$('#sorterPnl').hide();
		
		$('#directorSel').prop('disabled', true);
		$('#directorSel').val('minus');
		$('#directorPnl').hide();
		
		$('#classorSel').prop('disabled', true);
		$('#classorSel').val('none');
		$('#classorPnl').hide();
		
		$('#lboundSel').prop('disabled', true);
		$('#lboundPnl').hide();
		
		$('#uboundSel').prop('disabled', true);
		$('#uboundPnl').hide();
		
		$('#keywordSel').prop('disabled', true);
		$('#keywordPnl').hide();
		
		$('#lboundSel').val('');
		$('#uboundSel').val('');
		$('#keywordSel').val('');
		disableDater();
	}
}

var ifDater=false;

function enableDater(){
	if(!ifDater){
		enableDaterInner();
	}
}

function enableDaterInner(){
	$('#lboundSel').attr('placeholder','年/月/日');
	$('#uboundSel').attr('placeholder','年/月/日');
	$("#lboundSel").datepicker();
	$("#uboundSel").datepicker();
	ifDater=true;
}

function disableDater(){
	if(ifDater){
		disableDaterInner();
	}
}

function disableDaterInner(){
	$('#lboundSel').attr('placeholder','');
	$('#uboundSel').attr('placeholder','');
	$('#lboundSel').datepicker( "destroy" );
	$('#lboundSel').removeClass("hasDatepicker");
	$('#uboundSel').datepicker( "destroy" );
	$('#uboundSel').removeClass("hasDatepicker");
	ifDater=false;
}

function checkAndOpenModal(target,cntNumber,cntTail,flag){
	var a=$("input[name='MaxMoneyToLend']").val().toString().trim();
	var b=$("input[name='InterestRate']").val().toString().trim();
	var c=$("input[name='MonthPeriod']").val().toString().trim();
	var d=$("input[name='MinLevelAccepted']").val().toString().trim();
	var e=$("input[name='MinInterestInFuture']").val().toString().trim();
	var f=$("input[name='MinMoneyFuture']").val().toString().trim();
	var g=$("input[name='MinInterestInFutureMonth']").val().toString().trim();
	var h=$("input[name='MinInterestInFutureMoneyMonth']").val().toString().trim();
	var i=$("input[name='MinInterestInFutureDivMoney']").val().toString().trim();
	var aa=parseInt(a);
	var bb=parseFloat(b);
	var cc=parseInt(c);
	var dd;
	if(d===''){
		dd=1;
	}else{
		dd=parseInt(d);
	}
	var ee;
	if(e===''){
		ee=1;
	}else{
		ee=parseInt(e);
	}
	var ff;
	if(f===''){
		ff=1;
	}else{
		ff=parseInt(f);
	}
	var gg;
	if(g===''){
		gg=1;
	}else{
		gg=parseInt(g);
	}
	var hh;
	if(h===''){
		hh=1;
	}else{
		hh=parseInt(h);
	}
	var ii;
	if(i===''){
		ii=1;
	}else{
		ii=parseFloat(i);
	}
	
	var keepFlag=true;
	var period=$("select[name='AutoComfirmToBorrowMsgPeriod']").val();
	if(period>0){
		var sorter=$("select[name='AutoComfirmToBorrowMsgSorter']").val();
		var lbound=$("input[name='AutoComfirmToBorrowMsgLbound']").val().toString().trim();
		var ubound=$("input[name='AutoComfirmToBorrowMsgUbound']").val().toString().trim();
		if(lbound!==''){
			if((sorter==='Updated')||(sorter==='Created')){
				var tester=Date.parse(lbound);
				if(isNaN(tester)){
					keepFlag=false;
				}
			}else if((sorter==='InterestRate')||(sorter==='InterestInFutureDivMoney')){
				var tester=parseFloat(lbound);
				if((tester<0)||(tester>99)){
					keepFlag=false;
				}else{
					$("input[name='AutoComfirmToBorrowMsgLbound']").val(tester);
				}
			}else{
				var tester=parseInt(lbound);
				if(tester<0){
					keepFlag=false;
				}else{
					$("input[name='AutoComfirmToBorrowMsgLbound']").val(tester);
				}
			}
		}
		
		if(ubound!==''){
			if((sorter==='Updated')||(sorter==='Created')){
				var tester=Date.parse(ubound);
				if(isNaN(tester)){
					keepFlag=false;
				}
			}else if((sorter==='InterestRate')||(sorter==='InterestInFutureDivMoney')){
				var tester=parseFloat(ubound);
				if((tester<0)||(tester>99)){
					keepFlag=false;
				}else{
					$("input[name='AutoComfirmToBorrowMsgUbound']").val(tester);
				}
			}else{
				var tester=parseInt(ubound);
				if(tester<0){
					keepFlag=false;
				}else{
					$("input[name='AutoComfirmToBorrowMsgUbound']").val(tester);
				}
			}
		}
	}
	
	if(flag){
		if((a!=='')&&(b!=='')&&(c!=='')&&(aa>=1)&&(bb>=0.01)&&(bb<=99)&&(cc>=1)&&(cc<=36)&&(dd>=1)&&(ee>=1)&&(ff>=1)&&(gg>=1)&&(hh>=1)&&(ii>=0.01)&&(ii<=99)&&(keepFlag)){
			$("input[name='MaxMoneyToLend']").val(aa);
			$("input[name='InterestRate']").val(bb);
			$("input[name='MonthPeriod']").val(cc);
			if(d!==''){
				$("input[name='MinLevelAccepted']").val(dd);
			}
			if(e!==''){
				$("input[name='MinInterestInFuture']").val(ee);
			}
			if(f!==''){
				$("input[name='MinMoneyFuture']").val(ff);
			}
			if(g!==''){
				$("input[name='MinInterestInFutureMonth']").val(gg);
			}
			if(h!==''){
				$("input[name='MinInterestInFutureMoneyMonth']").val(hh);
			}
			if(i!==''){
				$("input[name='MinInterestInFutureDivMoney']").val(ii);
			}
			
			$(cntNumber).html('<br>'+cntTail+'<br><br>');
			$(target).modal('show');
		}else{
			$('#msgModal').modal('show');
		}
	}else{
		$(cntNumber).html('<br>'+cntTail+'<br><br>');
		$(target).modal('show');
	}
}

<% if(!jsonLend){ %>
	function create(){
		$('#chkModal1').modal('hide');
	}
	
	var submitFlag=false;
	function disableButton(){
		if(!submitFlag){
			submitFlag=true;
			$('#createBtnID').addClass('disabled');
			return true;
		}else{
			return false;
		}
	}
<% }else{%>
	function update(){
		$('#chkModal2').modal('hide');
	}
	
	var submitFlag=false;
	function disableButton(){
		if(!submitFlag){
			submitFlag=true;
			$('#destroyBtnID').addClass('disabled');
			$('#updateBtnID').addClass('disabled');
			
			return true;
		}else{
			return false;
		}
	}
	
	function destroy(){
		$('#chkModal3').modal('hide');
		disableButton();
		
		var form=document.getElementById('formID');
		form.action="/Lends/destroy";
		form.submit();
	}
<% }%>
</script>
<%- include('layout_footer',{imgSettingCode:"var ifLoadedCount=0;",imgDrawingCode:"",nav_cur:'lend'}); -%>