<%- include('layout_header',{nav_cur:'message',actionDefault:'最新',keywordDefault:'',categoryDefault:'不分類'}); -%>
<div class="container">
	<div class="row">
		<div class="col-md-9">
			<%=content%>
			<%if((if1!==null)&&(if2!==null)&&(if3!==null)&&(if4!==null)&&(ifB===null)){%>
			<br>
			<br>
			<table style="display:inline;" class="table">
				<thead class="myThead">
					<tr>
						<th>
						本次實際借出金額
						</th>
						<th>
						本次實際合計總利息
						</th>
						<th>
						本次實際合計平均利息
						</th>
						<th>
						本次實際合計平均本利和
						</th>
						<th>
						本次實際合計利本比
						</th>
					</tr>
				</thead>
				<tbody class="myTbody">
					<tr>
						<td>
							<div style="display:inline;"><%=if1.toFixed(0)%></div><div style="display:inline;">元</div>
						</td>
						<td>
							<div style="display:inline;"><%=if2.toFixed(0)%></div><div style="display:inline;">元</div>
						</td>
						<td>
							<div style="display:inline;"><%=if3.toFixed(0)%></div><div style="display:inline;">元</div>
						</td>
						<td>
							<div style="display:inline;"><%=if4.toFixed(0)%></div><div style="display:inline;">元</div>
						</td>
						<td>
							<%if(if1>0){%>
								<div style="display:inline;"><%=(if2/if1*100).toFixed(2)%></div><div style="display:inline;">%</div>
							<%}else{%>
								<div style="display:inline;">0.00</div><div style="display:inline;">%</div>
							<%}%>
						</td>
					</tr>
				</tbody>
			</table>
			<%}else if((if1===null)&&(if2===null)&&(if3===null)&&(if4===null)&&(ifB!==null)){%>
			<br>
			<br>
			<table style="display:inline;" class="table">
				<thead class="myThead">
					<tr>
						<th>
						本次實際合計費用
						</th>
					</tr>
				</thead>
				<tbody class="myTbody">
					<tr>
						<td>
							<div style="display:inline;"><%=ifB.toFixed(0)%></div><div style="display:inline;">元</div>
						</td>
					</tr>
				</tbody>
			</table>
			<%}%>
		</div>
		<div class="col-md-3">
		</div>
	</div>
</div>
<%- include('layout_footer',{imgSettingCode:"var ifLoadedCount=0;",imgDrawingCode:""}); -%>