<%- include('layout_header',{searchTitle:null,nav_cur:'profile',messengerDefault:'不分訊息狀態',actionDefault:'建立日期',directorDefault:'大至小',keywordDefault:'',categoryDefault:'不分類'}); -%>
<div class="container">
	<div class="row">
		<center>
			<form enctype="multipart/form-data" method="post" action="/signup/changeData" onsubmit="return disableButton();">
				<h3>查看/修改個人資料<br></h3>
				<%if(mvString!==null){%>
					<br>
					<h4>
						<%-mvString%>
					</h4>
					<br>
				<%}%>
				<div class="resp">
					<table class="table table-hover myTbody" style="width:70%">
						<tr>
							<td align = "right" style = "width:15%">
								姓名<br>
								<span id="s1" class="red"><%if(dcdJSON){%><%if(dcdJSON.Target[0]){%>&nbsp;&nbsp;&nbsp;&nbsp;<%=dcdJSON.Message[0]%><%}%><%}%></span>
							</td>
							<td><input type="text" class="form-control" id="f1" name="Name" placeholder="姓名" required="required" value="<%if(dcdJSON){%><%=dcdJSON.FormContent.F1%><%}else{%><%=user.Name%><%}%>"></td>
						</tr>
						<tr>
							<td align = "right" style = "width:15%">
								性別<br>
								<span id="s2" class="red"><%if(dcdJSON){%><%if(dcdJSON.Target[1]){%>&nbsp;&nbsp;&nbsp;&nbsp;<%=dcdJSON.Message[1]%><%}%><%}%></span>
							</td>
							<td><label class="radio-inline">
							<input type="radio" name="Gender" id="f2a" value="Male" required="required"<%if(dcdJSON){%><%if(dcdJSON.FormContent.F2==='Male'){%> checked="true"<%}%><%}else{%><%if(user.Gender==='Male'){%> checked="true"<%}%><%}%>> 男性</label>
							<label class="radio-inline">
							<input type="radio" name="Gender" id="f2b" value="Female" required="required"<%if(dcdJSON){%><%if(dcdJSON.FormContent.F2==='Female'){%> checked="true"<%}%><%}else{%><%if(user.Gender==='Female'){%> checked="true"<%}%><%}%>> 女性</label></td>
						</tr>
						<tr>
							<td align = "right" style = "width:15%">
								生日<br>
								<span id="s3" class="red"><%if(dcdJSON){%><%if(dcdJSON.Target[2]){%>&nbsp;&nbsp;&nbsp;&nbsp;<%=dcdJSON.Message[2]%><%}%><%}%></span>
							</td>
							<td><input type="text" class="form-control" id="f3" name="BirthDay" placeholder="生日(年/月/日)" required="required" value="<%if(dcdJSON){%><%=dcdJSON.FormContent.F3%><%}else{%><%=user.BirthDay.getFullYear()%>/<%if(user.BirthDay.getMonth()<9){%>0<%}%><%=user.BirthDay.getMonth()+1%>/<%if(user.BirthDay.getDate()<10){%>0<%}%><%=user.BirthDay.getDate()%><%}%>"></td>
						</tr>
						<tr>
							<td align = "right" style = "width:15%">
								身分證字號<br>
								<span id="s4" class="red"><%if(dcdJSON){%><%if(dcdJSON.Target[3]){%>&nbsp;&nbsp;&nbsp;&nbsp;<%=dcdJSON.Message[3]%><%}%><%}%></span>
							</td>
							<td><input type="text" class="form-control" id="f4" name="IdCardNumber" placeholder="身分證字號" required="required" value="<%if(dcdJSON){%><%=dcdJSON.FormContent.F4%><%}else{%><%=user.IdCardNumber%><%}%>"></td>
						</tr>
						<tr>
							<td align = "right" style="width:15%">
								身分證圖檔<br>
								<span id="s5" class="red"><%if(dcdJSON){%><%if(dcdJSON.Target[4]){%>&nbsp;&nbsp;&nbsp;&nbsp;<%=dcdJSON.Message[4]%><%}%><%}%></span>
							</td>
							<td>
								<table>
									<tr>
										<td>
											<img style="width:120px;" src="/Users/IdCard?id=<%=user._id%>">
										</td>
									</tr>
									<tr>
										<td>
											<br>
											<input type="file" id="f5" name="IdCard" accept="image/png,image/jpeg">
											<p class="help-block">如您需要修改請重新選擇檔案</p>
										</td>
									</tr>
								</table>
							</td>
						</tr>
						<tr>
							<td align = "right" style = "width:15%">
								第二證件圖檔<br>
								<span id="s6" class="red"><%if(dcdJSON){%><%if(dcdJSON.Target[5]){%>&nbsp;&nbsp;&nbsp;&nbsp;<%=dcdJSON.Message[5]%><%}%><%}%></span>
							</td>
							<td>
								<table>
									<tr>
										<td>
											<img style="width:120px;" src="/Users/SecondCard?id=<%=user._id%>">
										</td>
									</tr>
									<tr>
										<td>
											<br>
											<input type="file" id="f6" name="SecondCard" accept="image/png,image/jpeg">
											<p class="help-block">如您需要修改請重新選擇檔案</p>
										</td>
									</tr>
								</table>
							</td>
						</tr>
						<tr>
							<td align = "right" style = "width:15%">
								行動電話<br>
								<span id="s7" class="red"><%if(dcdJSON){%><%if(dcdJSON.Target[6]){%>&nbsp;&nbsp;&nbsp;&nbsp;<%=dcdJSON.Message[6]%><%}%><%}%></span>
							</td>
							<td><input type="text" class="form-control" id="f7" name="Phone" placeholder="行動電話" required="required" value="<%if(dcdJSON){%><%=dcdJSON.FormContent.F7%><%}else{%><%=user.Phone%><%}%>"></td>
						</tr>
						<tr>
							<td align = "right" style = "width:15%">
								E-mail<br>
								<span id="s8" class="red"><%if(dcdJSON){%><%if(dcdJSON.Target[7]){%>&nbsp;&nbsp;&nbsp;&nbsp;<%=dcdJSON.Message[7]%><%}%><%}%></span>
							</td>
							<td>
								<table width="100%">
									<tr>
										<td>
											<input type="email" class="form-control" id="f8" name="Email" placeholder="E-mail" required="required" value="<%if(dcdJSON){%><%=dcdJSON.FormContent.F8%><%}else{%><%=user.Email%><%}%>">
										</td>
									</tr>
									<tr>
										<td>
											<br>
											<%if(!user.ifMailValid){%>
												<h5 style="color:red;display:inline;">未認證</h5>&nbsp;&nbsp;&nbsp;&nbsp;
												<button type="button" class="btn btn-default" data-toggle="modal" data-target="#chkModal2">
													重發認證信
												</button>
												<div class="modal fade" id="chkModal2">
													<div class="modal-dialog modal-sm">
														<div class="modal-content">
															<div class="modal-header" style="text-align: center;">
																<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
																<h4 class="modal-title">再次確認</h4>
															</div>
															<div class="modal-body" style="text-align: center;">
																<br>
																您確定要重發認證信嗎？
																<br>
																<br>
															</div>
															<div class="modal-footer" style="text-align: center;">
																<a href="/signup/resendValidMail">
																	<button type="button" class="btn btn-default" id="resendBtn" onclick="$('#chkModal2').modal('hide');disableButton();">
																		確定
																	</button>
																</a>
																&nbsp;
																<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
															</div>
														</div>
													</div>
												</div>
											<%}else{%>
												<h5 style="color:blue;display:inline;">已認證</h5>
											<%}%>
										</td>
									</tr>
								</table>
							</td>
						</tr>
						<tr>
							<td align = "right" style = "width:15%">
								住址<br>
								<span id="s9" class="red"><%if(dcdJSON){%><%if(dcdJSON.Target[8]){%>&nbsp;&nbsp;&nbsp;&nbsp;<%=dcdJSON.Message[8]%><%}%><%}%></span>
							</td>
							<td><input type="text" class="form-control" id="f9" name="Address" placeholder="住址" required="required" value="<%if(dcdJSON){%><%=dcdJSON.FormContent.F9%><%}else{%><%=user.Address%><%}%>"></td>
						</tr>
						<tr>
							<td align = "right" style = "width:15%">
								卡片卡號<br>
								<span id="s10" class="red"><%if(dcdJSON){%><%if(dcdJSON.Target[9]){%>&nbsp;&nbsp;&nbsp;&nbsp;<%=dcdJSON.Message[9]%><%}%><%}%></span>
							</td>
							<td><input type="text" class="form-control" id="f10" name="BankAccountNumber" placeholder="欲使用卡片之卡號" required="required" value="<%if(dcdJSON){%><%=dcdJSON.FormContent.F10%><%}else{%><%=account.BankAccountNumber%><%}%>"></td>
						</tr>
						<tr>
							<td align = "right" style = "width:15%">
								卡片密碼<br>
								<span id="s11" class="red"><%if(dcdJSON){%><%if(dcdJSON.Target[10]){%>&nbsp;&nbsp;&nbsp;&nbsp;<%=dcdJSON.Message[10]%><%}%><%}%></span>
							</td>
							<td><input type="password" class="form-control" id="f11" name="BankAccountPassword" placeholder="卡片密碼" required="required" value="<%if(dcdJSON){%><%=dcdJSON.FormContent.F11%><%}else{%><%=account.BankAccountPassword%><%}%>"></td>
						</tr>
					</table>
				</div>
				<div class="btn-toolbar" role="toolbar" style = "margin-top: 10px;">
					<button type="button" class="btn btn-primary" onclick="checkAndOpenModal('#chkModal1');">
					  <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> 更新
					</button>
					&nbsp;
					<a href="/signup/changePWpage">
						<button type="button" class="btn btn-danger" onclick="disableButton();">
							<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> 變更密碼
						</button>
					</a>
					&nbsp;
					<a href="/signup/changeUsernamePage">
						<button type="button" class="btn btn-danger" onclick="disableButton();">
							<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> 變更帳號
						</button>
					</a>
				</div>
				<div class="modal fade" id="chkModal1">
					<div class="modal-dialog modal-sm">
						<div class="modal-content">
							<div class="modal-header" style="text-align: center;">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								<h4 class="modal-title">再次確認</h4>
							</div>
							<div class="modal-body" style="text-align: center;">
								<br>
								您確定要更新個人資料嗎？
								<br>
								<br>
							</div>
							<div class="modal-footer" style="text-align: center;">
								<button type="submit" class="btn btn-primary" id="sbmtBtn" onclick="$('#chkModal1').modal('hide');">
									確定
								</button>
								&nbsp;
								<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
							</div>
						</div>
					</div>
				</div>
				<div class="modal fade" id="msgModal">
					<div class="modal-dialog modal-sm">
						<div class="modal-content">
							<div class="modal-header" style="text-align: center;">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								<h4 class="modal-title">錯誤</h4>
							</div>
							<div class="modal-body" style="text-align: center;">
								<br>
								必填欄位未填或錯誤
								<br>
								<br>
							</div>
							<div class="modal-footer" style="text-align: center;">
								<button type="button" class="btn btn-default" data-dismiss="modal">關閉</button>
							</div>
						</div>
					</div>
				</div>
			</form>		
		</center>
	</div>
</div>
<script>
	var submitFlag=false;
	function disableButton(){
		if(!submitFlag){
			$('#sbmtBtn').addClass('disabled');
			<%if(!user.ifMailValid){%>
				$('#resendBtn').addClass('disabled');
			<%}%>
			submitFlag=true;
			return true;
		}else{
			return false;
		}
	}
	
	function checkAndOpenModal(target){
		var a=$("input[name='Name']").val().toString().trim();
		var b=$("input[name='Gender']:checked").val();
		var c=$("input[name='BirthDay']").val().toString().trim();
		var d=$("input[name='IdCardNumber']").val().toString().trim();
		var e=$("input[name='Phone']").val().toString().trim();
		var f=$("input[name='Email']").val().toString().trim();
		var g=$("input[name='Address']").val().toString().trim();
		var h=$("input[name='BankAccountNumber']").val().toString().trim();
		var i=$("input[name='BankAccountPassword']").val().toString().trim();
		
		
		if((a!=='')&&(b!==null)&&(c!=='')&&(d!=='')&&(e!=='')&&(f!=='')&&(g!=='')&&(h!=='')&&(i!=='')){
			var tester=Date.parse(c);
			var tLimitFlag=true;
			if(isNaN(tester)){
				tLimitFlag=false;
			}else{
				var tomorrow=new Date();
				tomorrow.setHours(0);
				tomorrow.setMinutes(0);
				tomorrow.setSeconds(0);
				tomorrow.setMilliseconds(0);
				tomorrow.setTime(tomorrow.getTime()+86400000);
				if(tester>=tomorrow.getTime()){
					tLimitFlag=false;
				}
			}
			
			var emailFlag=false;
			if(f.search(/^[\w-]+(\.[\w-]+)*@[\w-]+(\.[\w-]+)+$/)>-1){
				emailFlag=true;
			}
			var fileFlag1=true;
			var fileFlag2=true;
			var filePath1=$("input[name='IdCard']").val().toString().trim();
			var filePath2=$("input[name='SecondCard']").val().toString().trim();
			
			if(filePath1!==''){
				var tempArray1=filePath1.split('.');
				var fileTemper1=tempArray1[tempArray1.length-1].toUpperCase();
				if((fileTemper1!=='PNG')&&(fileTemper1!=='JPG')&&(fileTemper1!=='JPEG')&&(fileTemper1!=='JPE')&&(fileTemper1!=='JFIF')){
					fileFlag1=false;
				}
			}
			if(filePath2!==''){
				var tempArray2=filePath2.split('.');
				var fileTemper2=tempArray2[tempArray2.length-1].toUpperCase();
				if((fileTemper2!=='PNG')&&(fileTemper2!=='JPG')&&(fileTemper2!=='JPEG')&&(fileTemper2!=='JPE')&&(fileTemper2!=='JFIF')){
					fileFlag2=false;
				}
			}
			
			if((tLimitFlag)&&(emailFlag)&&(checkSsnID(d))&&(fileFlag1)&&(fileFlag2)){
				$(target).modal('show');
			}else{
				$('#msgModal').modal('show');
			}
		}else{
			$('#msgModal').modal('show');
		}
	}
	
	function checkSsnID(id){
		var ifDoThis=false;
		if(ifDoThis){
			tab = "ABCDEFGHJKLMNPQRSTUVXYWZIO"                     
			A1 = new Array (1,1,1,1,1,1,1,1,1,1,2,2,2,2,2,2,2,2,2,2,3,3,3,3,3,3 );
			A2 = new Array (0,1,2,3,4,5,6,7,8,9,0,1,2,3,4,5,6,7,8,9,0,1,2,3,4,5 );
			Mx = new Array (9,8,7,6,5,4,3,2,1,1);

			if ( id.length !== 10 ) return false;
			i = tab.search(new RegExp(id.charAt(0),'i'));
			if ( i === -1 ) return false;
			sum = A1[i] + A2[i]*9;

			for ( i=1; i<10; i++ ) {
				v = parseInt( id.charAt(i) );
				if ( isNaN(v) ) return false;
				sum = sum + v * Mx[i];
			}
			if ( sum % 10 !== 0 ) return false;
			return true;
		}else{
			return true;
		}
	}
	
	$(document).ready(function (){
		<%if(dcdJSON){%>
			<%for(i=0;i<dcdJSON.Target.length;i++){%>
				<%if(dcdJSON.Target[i]){%>
					<%if(i!==1){%>
						$('#f<%=i+1%>').focus();
					<%}%>
					<%break;%>
				<%}%>
			<%}%>
		<%}%>
		
		$("#f3").datepicker({yearRange: '-100:+0',minDate: '-100Y', maxDate: +0});
	});

</script>
<%- include('layout_footer',{imgSettingCode:"var ifLoadedCount=0;",imgDrawingCode:"",nav_cur:'profile'}); -%>