<%- include('layout_header',{searchTitle:null,nav_cur:'resetPWpage',messengerDefault:'不分訊息狀態',actionDefault:'建立日期',directorDefault:'大至小',keywordDefault:'',categoryDefault:'不分類'}); -%>
<div class="container">
	<div class="row">
		<center>
			<form method = "post" action= "/Users/resetPW" onsubmit="return disableButton();">
				<h3>重設密碼</h3>
				<br>
				<div class="input-group" style="text-align:center;">
					<label for="PwdIpt">新密碼</label>
					<input type="password" class="form-control" id="PwdIpt" name="Password" placeholder="新密碼" required="required" onkeyup="value=value.replace(/[^\w]/ig,'');checkLength();checkPwd(); return false;"<%if(fJSON){%> value="<%=fJSON.FormContent.F1%>"<%}%>><br><span id="confirmMessage1" class="confirmMessage1 red"></span>
				</div>
				<br>
				<div class="input-group" style="text-align:center;">
					<label for="2PwdIpt">新密碼確認</label>
					<input type="password" class="form-control" id="2PwdIpt" name="Password2nd" placeholder="新密碼確認" required="required" onkeyup="value=value.replace(/[^\w]/ig,'');checkPwd(); return false;"<%if(fJSON){%> value="<%=fJSON.FormContent.F2%>"<%}%>> <br><span id="confirmMessage2" class="confirmMessage2 red"></span>
				</div>
				<br>
				<input type="hidden" name="Token" value="<%=tk%>">
				<div class="btn-toolbar" role="toolbar" style = "margin-top: 10px;">
					<button id="openModalBtn" type="button" class="btn btn-default btn-lg" onclick="checkAndOpenModal('#chkModal');">
						  <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> 確認
					</button>
					<button id="cancelBtnID" type="button" class="btn btn-default btn-lg" onClick = "javascript:location.href='/'" >
						  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> 關閉
					</button>
				</div>
				<div class="modal fade" id="chkModal">
					<div class="modal-dialog modal-sm">
						<div class="modal-content">
							<div class="modal-header" style="text-align: center;">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								<h4 class="modal-title">再次確認</h4>
							</div>
							<div class="modal-body" style="text-align: center;">
								<br>
								您確定要重設密碼嗎？
								<br>
								<br>
							</div>
							<div class="modal-footer" style="text-align: center;">
								<button id="subBtnID" type="submit" class="btn btn-danger" onclick="$('#chkModal').modal('hide');">
									確定
								</button>
								&nbsp;
								<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
							</div>
						</div>
					</div>
				</div>
			</form>
		</center>
	</div>
</div>
<script>
	var valiFlag1=false;
	var valiFlag2=false;
	var submitFlag=false;
	
	function start(){
		$('#subBtnID').addClass('disabled');
		$('#cancelBtnID').addClass('disabled');
		$('#openModalBtn').addClass('disabled');
	}
	
	function end(){
		$('#subBtnID').removeClass('disabled');
		$('#cancelBtnID').removeClass('disabled');
		$('#openModalBtn').removeClass('disabled');
	}
	
	function disableButton(){
		if(!submitFlag){
			submitFlag=true;
			start();
			checkLength();
			checkPwd();
			if(!valiFlag1){
				$('#PwdIpt').focus();
				submitFlag=false;
				end();
				return false;
			}else if(!valiFlag2){
				$('#2PwdIpt').focus();
				submitFlag=false;
				end();
				return false;
			}else{
				return true;
			}
		}else{
			return false;
		}
	}
	
	function checkLength(){
	    var pwd1 = $('#PwdIpt').val().toString().trim();
	    if(pwd1!==''){
			if(pwd1.search(/[^\w]/ig)===-1){
				if(pwd1.length<=6){
					$('#confirmMessage1').html('密碼須大於六碼');
					$('#confirmMessage1').addClass('red');
					valiFlag1=false;
				}else{
					$('#confirmMessage1').html('密碼長度符合條件');
					$('#confirmMessage1').removeClass('red');
					valiFlag1=true;
				}
			}else{
				$('#confirmMessage1').html('錯誤格式！');
				$('#confirmMessage1').addClass('red');
				valiFlag1=false;
			}
		}else{
			$('#confirmMessage1').html('必填欄位！');
			$('#confirmMessage1').addClass('red');
			valiFlag1=false;
		}
	}
	
	function checkPwd(){
	    var pwd1 = $('#PwdIpt').val().toString().trim();
	    var pwd2 = $('#2PwdIpt').val().toString().trim();
	    if(pwd2!==''){
			if(pwd2.search(/[^\w]/ig)===-1){
				if(pwd1 === pwd2){
					$('#confirmMessage2').html('輸入密碼相同');
					$('#confirmMessage2').removeClass('red');
					valiFlag2=true;
				}else{
					$('#confirmMessage2').html('請再次確認您輸入的密碼是否相同');
					$('#confirmMessage2').addClass('red');
					valiFlag2=false;
				}
			}else{
				$('#confirmMessage2').html('錯誤格式！');
				$('#confirmMessage2').addClass('red');
				valiFlag2=true;
			}
		}else{
			$('#confirmMessage2').html('必填欄位！');
			$('#confirmMessage2').addClass('red');
			valiFlag2=true;
		}
	}
	
	function checkAndOpenModal(target){
		submitFlag=true;
		start();
		checkLength();
		checkPwd();
		submitFlag=false;
		end();
		if(!valiFlag1){
			$('#PwdIpt').focus();
		}else if(!valiFlag2){
			$('#2PwdIpt').focus();
		}else{
			$(target).modal('show');
		}
	}
	
	<%if(fJSON){%>
		$(document).ready(function (){
			submitFlag=true;
			start();
			checkLength();
			checkPwd();
			if(!valiFlag1){
				$('#PwdIpt').focus();
			}else if(!valiFlag2){
				$('#2PwdIpt').focus();
			}
			submitFlag=false;
			end();
		});
	<%}%>
</script>
<%- include('layout_footer',{imgSettingCode:"var ifLoadedCount=0;",imgDrawingCode:"",nav_cur:'resetPWpage'}); -%>