<%- include('layout_header',{nav_cur:'search'}); -%>

<div class="container">
	<div class="row">
		<div class="col-md-9">
			<div style="font-size:30pt;color:#337ab7;">搜尋結果</div>
			<% if(totalResultNum==0){ %>
				<div style="font-size:20pt;color:#0000D1;">&nbsp;0 result</div>
				<br>
			<% }else{ %>
				<div style="font-size:20pt;color:#0000D1;">&nbsp;<%=totalResultNum%> result</div>
				<br>
				<% for(var i=0; i<jsonArray.length; i++) { %>
					<table width="100%">
						<tr>
							<td align="right">
								<div style="font-size:15px;color:#337ab7;display:inline;">
									Deadline：<%=jsonArray[i].TimeLimit.getFullYear()%>/<%=jsonArray[i].TimeLimit.getMonth()+1%>/<%=jsonArray[i].TimeLimit.getDate()%>
								</div>
								&nbsp;&nbsp;&nbsp;&nbsp;
								<div style="font-size:15px;color:#337ab7;display:inline;">
									Updated：<%=jsonArray[i].Updated.getFullYear()%>/<%=jsonArray[i].Updated.getMonth()+1%>/<%=jsonArray[i].Updated.getDate()%>
								</div>
							</td>
						<tr>
					</table>
					<div class="panel panel-default pd">
						<div class="panel-body">
							<table width="100%">
								<tr>
									<td>
										<a style="font-size:25px;" href="/story?id=<%=jsonArray[i]._id%>"><%=jsonArray[i].StoryTitle%></a>
										<div style="font-size:15px;color:#0000D1;">by <%=jsonArray[i].CreatedBy.Username%></div>
									</td>
									<td align="right">
										<div style="font-size:20px;display:inline;color:#337ab7;">
											<span class="glyphicon glyphicon-thumbs-up"></span>
										</div>
										<div style="font-size:25px;color: red;display:inline;">
											&nbsp;<%=jsonArray[i].LikeNumber%>
										</div>
									</td>
								<tr>
							</table>
							<br>
							<div>
								 <%=jsonArray[i].Story%>
							</div>
						</div>
					</div>
					<br>
				<% } %>
				<table align="center">
					<tr>
						<td>
							<nav>
							  <ul class="pagination">
								<li 
									<% if(targetPageNumber==1){%>
										class="disabled"
									<%}%>
								>
								<% if(targetPageNumber!=1){%>
									<a href="/search?keyword=<%=keywordDefault%>&action=<%=actionDefault%>&page=<%=targetPageNumber-1%>">
								<%}else{%>
									<a href="#" onclick="return false;">
								<%}%>
								<span>&laquo;</span></a></li>
								<% if(pageNumber<=10){%>
									<% for(var j=1; j<=pageNumber; j++) { %>
										<li 
											<% if(targetPageNumber==j){%>
												class="active"
											<%}%>
										><a href="/search?keyword=<%=keywordDefault%>&action=<%=actionDefault%>&page=<%=j%>"><%=j%></a></li>
									<%}%>
								<% }else{%>
									<% if(targetPageNumber>=pageNumber-3){%>
										<% for(var j=pageNumber-9; j<=pageNumber; j++) { %>
										<li 
											<% if(targetPageNumber==j){%>
												class="active"
											<%}%>
										><a href="/search?keyword=<%=keywordDefault%>&action=<%=actionDefault%>&page=<%=j%>"><%=j%></a></li>
										<%}%>
									<%}else if(targetPageNumber<=5){%>
										<% for(var j=1; j<=10; j++) { %>
										<li 
											<% if(targetPageNumber==j){%>
												class="active"
											<%}%>
										><a href="/search?keyword=<%=keywordDefault%>&action=<%=actionDefault%>&page=<%=j%>"><%=j%></a></li>
										<%}%>
									<%}else{%>
										<% for(var j=targetPageNumber-5; j<targetPageNumber; j++) { %>
										<li><a href="/search?keyword=<%=keywordDefault%>&action=<%=actionDefault%>&page=<%=j%>"><%=j%></a></li>
										<%}%>
										<li class="active"><a href="/search?keyword=<%=keywordDefault%>&action=<%=actionDefault%>&page=<%=targetPageNumber%>"><%=targetPageNumber%></a></li>
										<% for(var j=targetPageNumber+1; j<=targetPageNumber+4; j++) { %>
										<li><a href="/search?keyword=<%=keywordDefault%>&action=<%=actionDefault%>&page=<%=j%>"><%=j%></a></li>
										<%}%>
									<%}%>
								<%}%>
								<li 
									<% if(targetPageNumber==pageNumber){%>
										class="disabled"
									<%}%>
								>
								<% if(targetPageNumber!=pageNumber){%>
									<a href="/search?keyword=<%=keywordDefault%>&action=<%=actionDefault%>&page=<%=targetPageNumber+1%>">
								<%}else{%>
									<a href="#" onclick="return false;">
								<%}%>
								<span>&raquo;</span></a></li>
							  </ul>
							</nav>
						</td>
					</tr>
				</table>
			<%}%>
		</div>
		<div class="col-md-3">
		</div>
	</div>
</div>
<%- include('layout_footer'); -%>