<%- include('layout_header',{searchTitle:keywordDefault,nav_cur:'search'}); -%>

<div class="container">
	<div class="row">
		<div class="col-md-9">
			<div style="font-size:30pt;"><img src="/images/search.png " height="40px" width="40px"/>&nbsp;故事列表</div>
				<div style="font-size:20pt;">&nbsp;<%=totalResultNum%> result</div>
				<br>
				<div class="input-group">
					<input type="text" style="height:40px;" class="form-control" id="subKeywordIpt" placeholder="搜尋借入者的名稱或故事標題、內容" value="<%=keywordDefault%>" onkeypress="if(event.keyCode==13){linker();}" onkeyup="$('#keywordIpt').val($('#subKeywordIpt').val());">
					<span class="input-group-btn">
						<div class="btn-group">
							<button type="button" style="height:40px;" class="btn btn-default dropdown-toggle" data-toggle="dropdown" id="subCategorySelected">
								<%=categoryDefault%> <span class="caret"></span>
							</button>
							<ul class="dropdown-menu">
								<li style="display:none"><a href="#" id="subCategory0"><%=categoryDefault%></a></li>
								<li id="clis1"<%if(categoryDefault=='不分類'){%> class="active"<%}%>><a href="#" onclick="categorySelector(1);subCategorySelector(1);return false;" id="subCategory1">不分類</a></li>
								<li id="clis2"<%if(categoryDefault=='一般'){%> class="active"<%}%>><a href="#" onclick="categorySelector(2);subCategorySelector(2);return false;" id="subCategory2">一般</a></li>
								<li id="clis3"<%if(categoryDefault=='教育'){%> class="active"<%}%>><a href="#" onclick="categorySelector(3);subCategorySelector(3);return false;" id="subCategory3">教育</a></li>
								<li id="clis4"<%if(categoryDefault=='家庭'){%> class="active"<%}%>><a href="#" onclick="categorySelector(4);subCategorySelector(4);return false;" id="subCategory4">家庭</a></li>
								<li id="clis5"<%if(categoryDefault=='旅遊'){%> class="active"<%}%>><a href="#" onclick="categorySelector(5);subCategorySelector(5);return false;" id="subCategory5">旅遊</a></li>
							</ul>
						</div>
						<div class="btn-group">
							<button type="button" style="height:40px;" class="btn btn-default" id="sorterSelected" data-toggle="dropdown" aria-expanded="false"><%=actionDefault%> <span class='caret'></span></button>
							<ul class="dropdown-menu" role="menu">
								<li style="display:none"><a href="#" id="sorter0"><%=actionDefault%></a></li>
								<li id="alis1"<%if(actionDefault=='建立日期'){%> class="active"<%}%>><a href="#" onclick="searchActionSelector(1);sorterSelector(1);return false;" id="sorter1">建立日期</a></li>
								<li id="alis2"<%if(actionDefault=='更新日期'){%> class="active"<%}%>><a href="#" onclick="searchActionSelector(2);sorterSelector(2);return false;" id="sorter2">更新日期</a></li>
								<li id="alis3"<%if(actionDefault=='最晚媒合日期'){%> class="active"<%}%>><a href="#" onclick="searchActionSelector(3);sorterSelector(3);return false;" id="sorter3">最晚媒合日期</a></li>
								<li id="alis4"<%if(actionDefault=='金額'){%> class="active"<%}%>><a href="#" onclick="searchActionSelector(4);sorterSelector(4);return false;" id="sorter4">金額</a></li>
								<li id="alis5"<%if(actionDefault=='利率'){%> class="active"<%}%>><a href="#" onclick="searchActionSelector(5);sorterSelector(5);return false;" id="sorter5">利率</a></li>
								<li id="alis6"<%if(actionDefault=='期數'){%> class="active"<%}%>><a href="#" onclick="searchActionSelector(6);sorterSelector(6);return false;" id="sorter6">期數</a></li>
								<li id="alis7"<%if(actionDefault=='信用等級'){%> class="active"<%}%>><a href="#" onclick="searchActionSelector(7);sorterSelector(7);return false;" id="sorter7">信用等級</a></li>
								<li id="alis8"<%if(actionDefault=='按讚次數'){%> class="active"<%}%>><a href="#" onclick="searchActionSelector(8);sorterSelector(8);return false;" id="sorter8">按讚次數</a></li>
							</ul>
						</div>
						<div class="btn-group">
							<button type="button" style="height:40px;" class="btn btn-default" id="directorSelected" data-toggle="dropdown" aria-expanded="false"><%=directorDefault%> <span class='caret'></span></button>
							<ul class="dropdown-menu" role="menu">
								<li style="display:none"><a href="#" id="director0"><%=directorDefault%></a></li>
								<li id="dlis1"<%if(directorDefault=='大至小'){%> class="active"<%}%>><a href="#" onclick="directorMainSelector(1);directorSelector(1);return false;" id="director1">大至小</a></li>
								<li id="dlis2"<%if(directorDefault=='小至大'){%> class="active"<%}%>><a href="#" onclick="directorMainSelector(2);directorSelector(2);return false;" id="director2">小至大</a></li>
							</ul>
						</div>
						<button type="button" style="height:40px;" class="btn btn-default" onclick="linker();"><span class="glyphicon glyphicon-search"></span></button>
					</span>
				</div> 
				<br>
				<%if((actionDefault=='建立日期')||(actionDefault=='更新日期')||(actionDefault=='最晚媒合日期')){%>
					<input style="height:32px;width:180px;display:inline;" type="date" placeholder="" class="form-control" value="<%=lboundDefault%>" id="lbound" onkeypress="if(event.keyCode==13){ linker();}">
					&nbsp;~&nbsp;
					<input style="height:32px;width:180px;display:inline;" type="date" placeholder="" class="form-control" value="<%=uboundDefault%>" id="ubound" onkeypress="if(event.keyCode==13){ linker();}">
				<%}else{%>
					<input style="height:32px;width:180px;display:inline;" type="text" placeholder="下限(元/%/個月/級/次)" class="form-control" value="<%=lboundDefault%>" id="lbound" onkeypress="if(event.keyCode==13){ linker();}">
					&nbsp;~&nbsp;
					<input style="height:32px;width:180px;display:inline;" type="text" placeholder="上限(元/%/個月/級/次)" class="form-control" value="<%=uboundDefault%>" id="ubound" onkeypress="if(event.keyCode==13){ linker();}">
				<%}%>
				<br>
				<br>
			<% if(totalResultNum>0){%>
				<% for(var i=0; i<jsonArray.length; i++) { %>
					<div style="border-top-style: none;border-right-style: none;border-bottom-style: none;border-left-style: none;margin-top: 0px;margin-bottom: 0px;" class="table-responsive">
						<table style="margin-bottom: 0px;margin-top: 0px;" class="table" width="100%">
							<tr>
								<td style="border-bottom-style: none;border-top-style: none;">
									<div style="font-size:15px;display:inline;">
										金額：<%=jsonArray[i].MoneyToBorrow.toFixed(0)%>元
									</div>&nbsp;&nbsp;&nbsp;&nbsp;
									<div style="font-size:15px;display:inline;">
										年利率：<%=(jsonArray[i].MaxInterestRateAccepted*100).toFixed(2)%>%
									</div>&nbsp;&nbsp;&nbsp;&nbsp;
									<div style="font-size:15px;display:inline;">
										期數：<%=jsonArray[i].MonthPeriodAccepted.toFixed(0)%>個月
									</div>&nbsp;&nbsp;&nbsp;&nbsp;
									<div style="font-size:15px;display:inline;">
										信用：<%=jsonArray[i].Level.toFixed(0)%>級
									</div>
								</td>
							</tr>
						</table>
					</div>
					<div style="height:300px;" class="panel panel-default pd">
						<div class="panel-body">
							<table width="100%">
								<tr>
									<td style="width:90%;">
										<a style="font-size:25px;" <%if(jsonArray[i].TitleColor=="color1"){%>class="color1"<%}else if(jsonArray[i].TitleColor=="color3"){%>class="color3"<%}else if(jsonArray[i].TitleColor=="color2"){%>class="color2"<%}else if(jsonArray[i].TitleColor=="color4"){%>class="color4"<%}%> href="/lender/story?id=<%=jsonArray[i]._id%>">[<%if(jsonArray[i].Category=='general'){%>一般<%}else if(jsonArray[i].Category=='education'){%>教育<%}else if(jsonArray[i].Category=='family'){%>家庭<%}else if(jsonArray[i].Category=='tour'){%>旅遊<%}%>]&nbsp;&nbsp;<%-jsonArray[i].StoryTitle.replace(new RegExp(' ','g'),'&nbsp;')%></a>
										<div style="font-size:15px;" class="myTitle">by <%=jsonArray[i].CreatedBy.Username%></div>
									</td>
									<td align="right">
										<div style="font-size:20px;display:inline;" class="myTitle2" id="likeBtn<%=i%>">
											<%if(userName===null){ %>
												<button class="btn btn-default" data-toggle="modal" data-target="#myModal" id="btnID<%=i%>">
													<span class="glyphicon glyphicon-thumbs-up myTitle2"></span>
												</button>
											<% }else{ %>
												<%if(jsonArray[i].TitleColor!="gray"){ %>
													<%if(!jsonArray[i].ifLiked){ %>
														<button class="btn btn-default" onclick="like(<%=i%>);" id="btnID<%=i%>">
															<span class="glyphicon glyphicon-thumbs-up myTitle2"></span>
														</button>
													<% }else{ %>
														<button class="btn btn-default" onclick="unlike(<%=i%>);" id="btnID<%=i%>">
															<span class="glyphicon glyphicon-remove myTitle2"></span>
														</button>
													<%}%>
												<% }else{ %>
													<button class="btn btn-default disabled" id="btnID<%=i%>">
														<span class="glyphicon glyphicon-thumbs-up myTitle2"></span>
													</button>
												<%}%>
											<%}%>
										</div>
										<div style="font-size:20px;color: red;display:inline;" id="likeNum<%=i%>">
											&nbsp;<%=jsonArray[i].LikeNumber%>
										</div>
									</td>
								<tr>
							</table>
							<br>
							<div>
								 <%-jsonArray[i].Story.replace(new RegExp('\n','g'),'<br>').replace(new RegExp(' ','g'),'&nbsp;')%>
							</div>
						</div>
					</div>
					<div style="border-top-style: none;border-right-style: none;border-bottom-style: none;border-left-style: none;margin-top: 0px;margin-bottom: 0px;" class="table-responsive">
						<table style="margin-bottom: 0px;margin-top: 0px;" class="table" width="100%">
							<tr>
								<td align="right" style="border-bottom-style: none;border-top-style: none;">
									<div style="font-size:15px;display:inline;">
										Deadline：<%=jsonArray[i].TimeLimit.getFullYear()%>/<%=jsonArray[i].TimeLimit.getMonth()+1%>/<%=jsonArray[i].TimeLimit.getDate()%>
									</div>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<div style="font-size:15px;display:inline;">
										Created：<%=jsonArray[i].Created.getFullYear()%>/<%=jsonArray[i].Created.getMonth()+1%>/<%=jsonArray[i].Created.getDate()%>
									</div>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<div style="font-size:15px;display:inline;">
										Updated：<%=jsonArray[i].Updated.getFullYear()%>/<%=jsonArray[i].Updated.getMonth()+1%>/<%=jsonArray[i].Updated.getDate()%>
									</div>
								</td>
							</tr>
						</table>
					</div>
					<input type="hidden" id="borrowID<%=i%>" value="<%=jsonArray[i]._id%>">
					<br>
					<br>
				<% } %>
				<br>
				<table align="center">
					<tr>
						<td>
							<nav>
							  <ul class="pagination">
								<li 
									<% if(targetPageNumber==1){%>
										class="disabled"
									<%}%>
								>
								<% if(targetPageNumber!=1){%>
									<a href="/lender/search?keyword=<%=encodeURIComponent(keywordDefault)%>&category=<%=encodeURIComponent(categoryDefault)%>&action=<%=encodeURIComponent(actionDefault)%>&director=<%=encodeURIComponent(directorDefault)%>&lbound=<%=encodeURIComponent(lboundDefault)%>&ubound=<%=encodeURIComponent(uboundDefault)%>&page=<%=targetPageNumber-1%>">
								<%}else{%>
									<a href="#" onclick="return false;">
								<%}%>
								<span>&laquo;</span></a></li>
								<% if(pageNumber<=10){%>
									<% for(var j=1; j<=pageNumber; j++) { %>
										<li 
											<% if(targetPageNumber==j){%>
												class="active"
											<%}%>
										><a href="/lender/search?keyword=<%=encodeURIComponent(keywordDefault)%>&category=<%=encodeURIComponent(categoryDefault)%>&action=<%=encodeURIComponent(actionDefault)%>&director=<%=encodeURIComponent(directorDefault)%>&lbound=<%=encodeURIComponent(lboundDefault)%>&ubound=<%=encodeURIComponent(uboundDefault)%>&page=<%=j%>"><%=j%></a></li>
									<%}%>
								<% }else{%>
									<% if(targetPageNumber>=pageNumber-3){%>
										<% for(var j=pageNumber-9; j<=pageNumber; j++) { %>
										<li 
											<% if(targetPageNumber==j){%>
												class="active"
											<%}%>
										><a href="/lender/search?keyword=<%=encodeURIComponent(keywordDefault)%>&category=<%=encodeURIComponent(categoryDefault)%>&action=<%=encodeURIComponent(actionDefault)%>&director=<%=encodeURIComponent(directorDefault)%>&lbound=<%=encodeURIComponent(lboundDefault)%>&ubound=<%=encodeURIComponent(uboundDefault)%>&page=<%=j%>"><%=j%></a></li>
										<%}%>
									<%}else if(targetPageNumber<=5){%>
										<% for(var j=1; j<=10; j++) { %>
										<li 
											<% if(targetPageNumber==j){%>
												class="active"
											<%}%>
										><a href="/lender/search?keyword=<%=encodeURIComponent(keywordDefault)%>&category=<%=encodeURIComponent(categoryDefault)%>&action=<%=encodeURIComponent(actionDefault)%>&director=<%=encodeURIComponent(directorDefault)%>&lbound=<%=encodeURIComponent(lboundDefault)%>&ubound=<%=encodeURIComponent(uboundDefault)%>&page=<%=j%>"><%=j%></a></li>
										<%}%>
									<%}else{%>
										<% for(var j=targetPageNumber-5; j<targetPageNumber; j++) { %>
										<li><a href="/lender/search?keyword=<%=encodeURIComponent(keywordDefault)%>&category=<%=encodeURIComponent(categoryDefault)%>&action=<%=encodeURIComponent(actionDefault)%>&director=<%=encodeURIComponent(directorDefault)%>&lbound=<%=encodeURIComponent(lboundDefault)%>&ubound=<%=encodeURIComponent(uboundDefault)%>&page=<%=j%>"><%=j%></a></li>
										<%}%>
										<li class="active"><a href="/lender/search?keyword=<%=encodeURIComponent(keywordDefault)%>&category=<%=encodeURIComponent(categoryDefault)%>&action=<%=encodeURIComponent(actionDefault)%>&director=<%=encodeURIComponent(directorDefault)%>&lbound=<%=encodeURIComponent(lboundDefault)%>&ubound=<%=encodeURIComponent(uboundDefault)%>&page=<%=targetPageNumber%>"><%=targetPageNumber%></a></li>
										<% for(var j=targetPageNumber+1; j<=targetPageNumber+4; j++) { %>
										<li><a href="/lender/search?keyword=<%=encodeURIComponent(keywordDefault)%>&category=<%=encodeURIComponent(categoryDefault)%>&action=<%=encodeURIComponent(actionDefault)%>&director=<%=encodeURIComponent(directorDefault)%>&lbound=<%=encodeURIComponent(lboundDefault)%>&ubound=<%=encodeURIComponent(uboundDefault)%>&page=<%=j%>"><%=j%></a></li>
										<%}%>
									<%}%>
								<%}%>
								<li 
									<% if(targetPageNumber==pageNumber){%>
										class="disabled"
									<%}%>
								>
								<% if(targetPageNumber!=pageNumber){%>
									<a href="/lender/search?keyword=<%=encodeURIComponent(keywordDefault)%>&category=<%=encodeURIComponent(categoryDefault)%>&action=<%=encodeURIComponent(actionDefault)%>&director=<%=encodeURIComponent(directorDefault)%>&lbound=<%=encodeURIComponent(lboundDefault)%>&ubound=<%=encodeURIComponent(uboundDefault)%>&page=<%=targetPageNumber+1%>">
								<%}else{%>
									<a href="#" onclick="return false;">
								<%}%>
								<span>&raquo;</span></a></li>
							  </ul>
							</nav>
						</td>
					</tr>
				</table>
			<%}%>
		</div>
		<div class="col-md-3">
		</div>
	</div>
</div>
<script>
	function linker(){
		window.open('/lender/search?keyword='+encodeURIComponent($('#subKeywordIpt').val().trim())+'&category='+encodeURIComponent($('#subCategory0').text())+'&action='+encodeURIComponent($('#sorter0').text())+'&director='+encodeURIComponent($('#director0').text())+'&lbound='+encodeURIComponent($('#lbound').val().trim())+'&ubound='+encodeURIComponent($('#ubound').val().trim())+'&page=1','_self');
	}
	
	function subCategorySelector(index){
		$('#subCategorySelected').html('');
		$('#subCategorySelected').html($('#subCategory'+index).text());
		$('#subCategory0').html($('#subCategorySelected').text());
		$('#subCategorySelected').append(' <span class=\'caret\'><\/span>');
		for(i=1;i<=5;i++){
			$('#clis'+i).attr('class','');
		}
		$('#clis'+index).attr('class','active');
	}

	function sorterSelector(index){
		$('#lbound').val('');
		$('#ubound').val('');
		if(($('#sorter'+index).text()=='建立日期')||($('#sorter'+index).text()=='更新日期')||($('#sorter'+index).text()=='最晚媒合日期')){
			enableDater();
		}else{
			disableDater();
		}
		$('#sorterSelected').html('');
		$('#sorterSelected').html($('#sorter'+index).text());
		$('#sorter0').html($('#sorterSelected').text());
		$('#sorterSelected').append(' <span class=\'caret\'><\/span>');
		for(i=1;i<=8;i++){
			$('#alis'+i).attr('class','');
		}
		$('#alis'+index).attr('class','active');
	}
	
	function directorSelector(index){
		$('#directorSelected').html('');
		$('#directorSelected').html($('#director'+index).text());
		$('#director0').html($('#directorSelected').text());
		$('#directorSelected').append(' <span class=\'caret\'><\/span>');
		for(i=1;i<=2;i++){
			$('#dlis'+i).attr('class','');
		}
		$('#dlis'+index).attr('class','active');
	}

	<%if((actionDefault=='建立日期')||(actionDefault=='更新日期')||(actionDefault=='最晚媒合日期')){%>
		var ifDater=true;
	<%}else{%>
		var ifDater=false;
	<%}%>
	function enableDater(){
		if(!ifDater){
			$('#lbound').attr('type','date');
			$('#ubound').attr('type','date');
			$('#lbound').attr('placeholder','');
			$('#ubound').attr('placeholder','');
			ifDater=true;
		}
	}
	
	function disableDater(){
		if(ifDater){
			$('#lbound').attr('type','text');
			$('#ubound').attr('type','text');
			$('#lbound').attr('placeholder','下限(元/%/個月/級/次)');
			$('#ubound').attr('placeholder','上限(元/%/個月/級/次)');
			ifDater=false;
		}
	}
	<%if(userName!==null){%>
		$(document).ready(function (){
			for(i=0;i<<%=jsonArray.length%>;i++){
				var orig=$('#btnID'+i).attr('class');
				if(orig.search(' disabled')<0){
					orig=orig+' disabled';
					$('#btnID'+i).attr('class',orig);
				}
			}
			recursiveAjax(0,<%=jsonArray.length%>);	
		});
		
		function recursiveAjax(ctr,ctrTarget){
			$.ajax({ 
				url: '/Borrows/iflike',
				type: 'POST',
				data:{_id:$('#borrowID'+ctr).val()},
				dataType: 'json',
				success: function(Jdata) {
					if(Jdata.success){
						if(Jdata.status==-1){
							$('#likeBtn'+ctr).html('<button class="btn btn-default" data-toggle="modal" data-target="#myModal" id="btnID'+ctr+'"><span class="glyphicon glyphicon-thumbs-up myTitle2"></span></button>');	
						}else if(Jdata.status==0){
							$('#likeBtn'+ctr).html('<button class="btn btn-default" onclick="like('+ctr+');" id="btnID'+ctr+'"><span class="glyphicon glyphicon-thumbs-up myTitle2"></span></button>');	
						}else if(Jdata.status==1){
							$('#likeBtn'+ctr).html('<button class="btn btn-default" onclick="unlike('+ctr+');" id="btnID'+ctr+'"><span class="glyphicon glyphicon-remove myTitle2"></span></button>');	
						}else if(Jdata.status==2){
							$('#likeBtn'+ctr).html('<button class="btn btn-default disabled" id="btnID'+ctr+'"><span class="glyphicon glyphicon-thumbs-up myTitle2"></span></button>');	
						}
						$('#likeNum'+ctr).html('&nbsp;'+Jdata.result);
						ctr++
						if(ctr<ctrTarget){
							recursiveAjax(ctr,ctrTarget);
						}
					}else{
						ctr++
						if(ctr<ctrTarget){
							recursiveAjax(ctr,ctrTarget);
						}
					}
				},
				error: function() {
					ctr++
					if(ctr<ctrTarget){
						recursiveAjax(ctr,ctrTarget);
					}
				}
			});
		}
	
		function like(index){
			var orig=$('#btnID'+index).attr('class');
			if(orig.search(' disabled')<0){
				orig=orig+' disabled';
				$('#btnID'+index).attr('class',orig);
			}
			$.ajax({ 
					url: '/Borrows/like',
					type: 'POST',
					data:{_id:$('#borrowID'+index).val()},
					dataType: 'json',
					success: function(Jdata) {
						if(Jdata.success){
							$('#likeBtn'+index).html('<button class="btn btn-default" onclick="unlike('+index+');" id="btnID'+index+'"><span class="glyphicon glyphicon-remove myTitle2"></span></button>');
							$('#likeNum'+index).html('&nbsp;'+Jdata.result);
						}else{
							alert('something wrong.');
							var origInner=$('#btnID'+index).attr('class');
							origInner=origInner.replace(/ disabled/g, '');
							$('#btnID'+index).attr('class',origInner);
						}
					},
					error: function() {
						alert('something wrong.');
						var origInner=$('#btnID'+index).attr('class');
						origInner=origInner.replace(/ disabled/g, '');
						$('#btnID'+index).attr('class',origInner);
					}
			});	
		}
		
		function unlike(index){
			var orig=$('#btnID'+index).attr('class');
			if(orig.search(' disabled')<0){
				orig=orig+' disabled';
				$('#btnID'+index).attr('class',orig);
			}
			$.ajax({ 
					url: '/Borrows/unlike',
					type: 'POST',
					data:{_id:$('#borrowID'+index).val()},
					dataType: 'json',
					success: function(Jdata) {
						if(Jdata.success){
							$('#likeBtn'+index).html('<button class="btn btn-default" onclick="like('+index+');" id="btnID'+index+'"><span class="glyphicon glyphicon-thumbs-up myTitle2"></span></button>');
							$('#likeNum'+index).html('&nbsp;'+Jdata.result);
						}else{
							alert('something wrong.');
							var origInner=$('#btnID'+index).attr('class');
							origInner=origInner.replace(/ disabled/g, '');
							$('#btnID'+index).attr('class',origInner);
						}
					},
					error: function() {
						alert('something wrong.');
						var origInner=$('#btnID'+index).attr('class');
						origInner=origInner.replace(/ disabled/g, '');
						$('#btnID'+index).attr('class',origInner);
					}
			});	
		}
	<%}%>
</script>
<%- include('layout_footer',{imgSettingCode:"var ifLoadedCount=0;",imgDrawingCode:""}); -%>