<%- include('layout_header',{nav_cur:'search'}); -%>

<div class="container">
	<div class="row">
		<div class="col-md-9">
			<div style="font-size:30pt;"><img src="/images/search.png " height="40px" width="40px"/>&nbsp;故事列表</div>
				<div style="font-size:20pt;">&nbsp;<%=totalResultNum%> result</div>
				<br>
				<div class="input-group">
					<input type="text" style="height:40px;" class="form-control" id="subKeywordIpt" placeholder="搜尋借入者的名稱或故事標題、內容" value="<%=keywordDefault%>" onkeypress="if(event.keyCode==13){ window.open('/lender/search?keyword='+encodeURIComponent($('#subKeywordIpt').val())+'&action='+encodeURIComponent($('#sorter0').text())+'&category='+encodeURIComponent($('#subCategory0').text())+'&filter='+encodeURIComponent($('#filter0').text())+'&lbound='+encodeURIComponent($('#lbound').val())+'&ubound='+encodeURIComponent($('#ubound').val())+'&page=1','_self');}">
					<span class="input-group-btn">
						<div class="btn-group">
							<button type="button" style="height:40px;" class="btn btn-default dropdown-toggle" data-toggle="dropdown" id="subCategorySelected">
								<%=categoryDefault%> <span class="caret"></span>
							</button>
							<ul class="dropdown-menu">
								<li style="display:none"><a href="#" id="subCategory0"><%=categoryDefault%></a></li>
								<li><a href="#" onclick="$('#subCategorySelected').html('');$('#subCategorySelected').html($('#subCategory1').text());$('#subCategory0').html($('#subCategorySelected').text());$('#subCategorySelected').append(' <span class=\'caret\'><\/span>'); return false;" id="subCategory1">不分類</a></li>
								<li><a href="#" onclick="$('#subCategorySelected').html('');$('#subCategorySelected').html($('#subCategory2').text());$('#subCategory0').html($('#subCategorySelected').text());$('#subCategorySelected').append(' <span class=\'caret\'><\/span>'); return false;" id="subCategory2">一般</a></li>
								<li><a href="#" onclick="$('#subCategorySelected').html('');$('#subCategorySelected').html($('#subCategory3').text());$('#subCategory0').html($('#subCategorySelected').text());$('#subCategorySelected').append(' <span class=\'caret\'><\/span>'); return false;" id="subCategory3">教育</a></li>
								<li><a href="#" onclick="$('#subCategorySelected').html('');$('#subCategorySelected').html($('#subCategory4').text());$('#subCategory0').html($('#subCategorySelected').text());$('#subCategorySelected').append(' <span class=\'caret\'><\/span>'); return false;" id="subCategory4">家庭</a></li>
								<li><a href="#" onclick="$('#subCategorySelected').html('');$('#subCategorySelected').html($('#subCategory5').text());$('#subCategory0').html($('#subCategorySelected').text());$('#subCategorySelected').append(' <span class=\'caret\'><\/span>'); return false;" id="subCategory5">旅行</a></li>
							</ul>
						</div>
						<div class="btn-group">
							<button type="button" style="height:40px;" class="btn btn-default" id="sorterSelected" data-toggle="dropdown" aria-expanded="false"><%=actionDefault%> <span class='caret'></span></button>
							<ul class="dropdown-menu" role="menu">
								<li style="display:none"><a href="#" id="sorter0"><%=actionDefault%></a></li>
								<li><a href="#" onclick="$('#sorterSelected').html('');$('#sorterSelected').html($('#sorter1').text());$('#sorter0').html($('#sorterSelected').text());$('#sorterSelected').append(' <span class=\'caret\'><\/span>');return false;" id="sorter1">最新</a></li>
								<li><a href="#" onclick="$('#sorterSelected').html('');$('#sorterSelected').html($('#sorter2').text());$('#sorter0').html($('#sorterSelected').text());$('#sorterSelected').append(' <span class=\'caret\'><\/span>');return false;" id="sorter2">最緊急</a></li>
								<li><a href="#" onclick="$('#sorterSelected').html('');$('#sorterSelected').html($('#sorter3').text());$('#sorter0').html($('#sorterSelected').text());$('#sorterSelected').append(' <span class=\'caret\'><\/span>');return false;" id="sorter3">最熱門</a></li>
								<li><a href="#" onclick="$('#sorterSelected').html('');$('#sorterSelected').html($('#sorter4').text());$('#sorter0').html($('#sorterSelected').text());$('#sorterSelected').append(' <span class=\'caret\'><\/span>');return false;" id="sorter4">金額最高</a></li>
								<li><a href="#" onclick="$('#sorterSelected').html('');$('#sorterSelected').html($('#sorter5').text());$('#sorter0').html($('#sorterSelected').text());$('#sorterSelected').append(' <span class=\'caret\'><\/span>');return false;" id="sorter5">利率最高</a></li>
								<li><a href="#" onclick="$('#sorterSelected').html('');$('#sorterSelected').html($('#sorter6').text());$('#sorter0').html($('#sorterSelected').text());$('#sorterSelected').append(' <span class=\'caret\'><\/span>');return false;" id="sorter6">期數最多</a></li>
								<li><a href="#" onclick="$('#sorterSelected').html('');$('#sorterSelected').html($('#sorter7').text());$('#sorter0').html($('#sorterSelected').text());$('#sorterSelected').append(' <span class=\'caret\'><\/span>');return false;" id="sorter7">信用等級最高</a></li>
							</ul>
						</div>
						<button type="button" style="height:40px;" class="btn btn-default" onclick="window.open('/lender/search?keyword='+encodeURIComponent($('#subKeywordIpt').val())+'&action='+encodeURIComponent($('#sorter0').text())+'&category='+encodeURIComponent($('#subCategory0').text())+'&filter='+encodeURIComponent($('#filter0').text())+'&lbound='+encodeURIComponent($('#lbound').val())+'&ubound='+encodeURIComponent($('#ubound').val())+'&page=1','_self');"><span class="glyphicon glyphicon-search"></span></button>
					</span>
				</div> 
				<br>
				<table width="100%">
					<tr>
						<td>
							<input style="height:32px;width:150px;display:inline;" type="text" placeholder="下限(元/%/個月/級)" class="form-control" value="<%=lboundDefault%>" id="lbound" onkeypress="if(event.keyCode==13){ window.open('/lender/search?keyword='+encodeURIComponent($('#subKeywordIpt').val())+'&action='+encodeURIComponent($('#sorter0').text())+'&category='+encodeURIComponent($('#subCategory0').text())+'&filter='+encodeURIComponent($('#filter0').text())+'&lbound='+encodeURIComponent($('#lbound').val())+'&ubound='+encodeURIComponent($('#ubound').val())+'&page=1','_self');}">
							&nbsp;~&nbsp;
							<input style="height:32px;width:150px;display:inline;" type="text" placeholder="上限(元/%/個月/級)" class="form-control" value="<%=uboundDefault%>" id="ubound" onkeypress="if(event.keyCode==13){ window.open('/lender/search?keyword='+encodeURIComponent($('#subKeywordIpt').val())+'&action='+encodeURIComponent($('#sorter0').text())+'&category='+encodeURIComponent($('#subCategory0').text())+'&filter='+encodeURIComponent($('#filter0').text())+'&lbound='+encodeURIComponent($('#lbound').val())+'&ubound='+encodeURIComponent($('#ubound').val())+'&page=1','_self');}">
							&nbsp;&nbsp;&nbsp;&nbsp;
							<div class="btn-group">
								<button type="button" style="height:32px;" class="btn btn-default dropdown-toggle" data-toggle="dropdown" id="filterSelected">
									<%=filterDefault%> <span class="caret"></span>
								</button>
								<ul class="dropdown-menu">
									<li style="display:none"><a href="#" id="filter0"><%=filterDefault%></a></li>
									<li><a href="#" onclick="$('#filterSelected').html('');$('#filterSelected').html($('#filter1').text());$('#filter0').html($('#filterSelected').text());$('#filterSelected').append(' <span class=\'caret\'><\/span>'); return false;" id="filter1">未選擇濾鏡</a></li>
									<li><a href="#" onclick="$('#filterSelected').html('');$('#filterSelected').html($('#filter2').text());$('#filter0').html($('#filterSelected').text());$('#filterSelected').append(' <span class=\'caret\'><\/span>'); return false;" id="filter2">金額</a></li>
									<li><a href="#" onclick="$('#filterSelected').html('');$('#filterSelected').html($('#filter3').text());$('#filter0').html($('#filterSelected').text());$('#filterSelected').append(' <span class=\'caret\'><\/span>'); return false;" id="filter3">利率</a></li>
									<li><a href="#" onclick="$('#filterSelected').html('');$('#filterSelected').html($('#filter4').text());$('#filter0').html($('#filterSelected').text());$('#filterSelected').append(' <span class=\'caret\'><\/span>'); return false;" id="filter4">期數</a></li>
									<li><a href="#" onclick="$('#filterSelected').html('');$('#filterSelected').html($('#filter5').text());$('#filter0').html($('#filterSelected').text());$('#filterSelected').append(' <span class=\'caret\'><\/span>'); return false;" id="filter5">信用等級</a></li>
								</ul>
							</div>
						</td>
					<tr>
				</table>
				<br>
				<br>
			<% if(totalResultNum>0){%>
				<% for(var i=0; i<jsonArray.length; i++) { %>
					<div style="border-top-style: none;border-right-style: none;border-bottom-style: none;border-left-style: none;margin-bottom: 0px;" class="table-responsive">
					<table style="margin-bottom: 0px;" class="table" width="100%">
						<tr>
							<td style="border-top-style: none;">
								<div style="font-size:15px;display:inline;">
									金額：<%=jsonArray[i].MoneyToBorrow.toFixed(0)%>元
								</div>&nbsp;&nbsp;&nbsp;&nbsp;
								<div style="font-size:15px;display:inline;">
									年利率：<%=(jsonArray[i].MaxInterestRateAccepted*100).toFixed(2)%>%
								</div>&nbsp;&nbsp;&nbsp;&nbsp;
								<div style="font-size:15px;display:inline;">
									期數：<%=jsonArray[i].MonthPeriodAccepted.toFixed(0)%>個月
								</div>&nbsp;&nbsp;&nbsp;&nbsp;
								<div style="font-size:15px;display:inline;">
									信用：<%=jsonArray[i].Level.toFixed(0)%>級
								</div>
							</td>
							<td style="border-top-style: none;" align="right">
								<div style="font-size:15px;display:inline;">
									Deadline：<%=jsonArray[i].TimeLimit.getFullYear()%>/<%=jsonArray[i].TimeLimit.getMonth()+1%>/<%=jsonArray[i].TimeLimit.getDate()%>
								</div>
								&nbsp;&nbsp;&nbsp;&nbsp;
								<div style="font-size:15px;display:inline;">
									Created：<%=jsonArray[i].Created.getFullYear()%>/<%=jsonArray[i].Created.getMonth()+1%>/<%=jsonArray[i].Created.getDate()%>
								</div>
							</td>
						<tr>
					</table>
					</div>
					<div style="height:300px;" class="panel panel-default pd">
						<div class="panel-body">
							<table width="100%">
								<tr>
									<td style="width:90%;">
										<a style="font-size:25px;" <%if(jsonArray[i].TitleColor=="color1"){%>class="color1"<%}else if(jsonArray[i].TitleColor=="color3"){%>class="color3"<%}else if(jsonArray[i].TitleColor=="color2"){%>class="color2"<%}else if(jsonArray[i].TitleColor=="color4"){%>class="color4"<%}%> href="/lender/story?id=<%=jsonArray[i]._id%>">[<%if(jsonArray[i].Category=='general'){%>一般<%}else if(jsonArray[i].Category=='education'){%>教育<%}else if(jsonArray[i].Category=='family'){%>家庭<%}else if(jsonArray[i].Category=='tour'){%>旅遊<%}%>]&nbsp;&nbsp;<%=jsonArray[i].StoryTitle%></a>
										<div style="font-size:15px;" class="myTitle">by <%=jsonArray[i].CreatedBy.Username%></div>
									</td>
									<td align="right">
										<div style="font-size:20px;display:inline;" class="myTitle2" id="likeBtn<%=i%>">
											<%if(!userName){ %>
												<button class="btn btn-default" data-toggle="modal" data-target="#myModal" id="btnID<%=i%>">
													<span class="glyphicon glyphicon-thumbs-up myTitle2"></span>
												</button>
											<% }else{ %>
												<%if(jsonArray[i].TitleColor!="gray"){ %>
													<%if(!jsonArray[i].ifLiked){ %>
														<button class="btn btn-default" onclick="like(<%=i%>);" id="btnID<%=i%>">
															<span class="glyphicon glyphicon-thumbs-up myTitle2"></span>
														</button>
													<% }else{ %>
														<button class="btn btn-default" onclick="unlike(<%=i%>);" id="btnID<%=i%>">
															<span class="glyphicon glyphicon-remove myTitle2"></span>
														</button>
													<%}%>
												<% }else{ %>
													<button class="btn btn-default disabled" id="btnID<%=i%>">
														<span class="glyphicon glyphicon-thumbs-up myTitle2"></span>
													</button>
												<%}%>
											<%}%>
										</div>
										<div style="font-size:20px;color: red;display:inline;" id="likeNum<%=i%>">
											&nbsp;<%=jsonArray[i].LikeNumber%>
										</div>
									</td>
								<tr>
							</table>
							<br>
							<div>
								 <%-jsonArray[i].Story.replace(new RegExp('\n','g'),'<br>')%>
							</div>
						</div>
					</div>
					<input type="hidden" id="borrowID<%=i%>" value="<%=jsonArray[i]._id%>">
					<br>
				<% } %>
				<br>
				<table align="center">
					<tr>
						<td>
							<nav>
							  <ul class="pagination">
								<li 
									<% if(targetPageNumber==1){%>
										class="disabled"
									<%}%>
								>
								<% if(targetPageNumber!=1){%>
									<a href="/lender/search?keyword=<%=encodeURIComponent(keywordDefault)%>&action=<%=encodeURIComponent(actionDefault)%>&category=<%=encodeURIComponent(categoryDefault)%>&filter=<%=encodeURIComponent(filterDefault)%>&lbound=<%=encodeURIComponent(lboundDefault)%>&ubound=<%=encodeURIComponent(uboundDefault)%>&page=<%=targetPageNumber-1%>">
								<%}else{%>
									<a href="#" onclick="return false;">
								<%}%>
								<span>&laquo;</span></a></li>
								<% if(pageNumber<=10){%>
									<% for(var j=1; j<=pageNumber; j++) { %>
										<li 
											<% if(targetPageNumber==j){%>
												class="active"
											<%}%>
										><a href="/lender/search?keyword=<%=encodeURIComponent(keywordDefault)%>&action=<%=encodeURIComponent(actionDefault)%>&category=<%=encodeURIComponent(categoryDefault)%>&filter=<%=encodeURIComponent(filterDefault)%>&lbound=<%=encodeURIComponent(lboundDefault)%>&ubound=<%=encodeURIComponent(uboundDefault)%>&page=<%=j%>"><%=j%></a></li>
									<%}%>
								<% }else{%>
									<% if(targetPageNumber>=pageNumber-3){%>
										<% for(var j=pageNumber-9; j<=pageNumber; j++) { %>
										<li 
											<% if(targetPageNumber==j){%>
												class="active"
											<%}%>
										><a href="/lender/search?keyword=<%=encodeURIComponent(keywordDefault)%>&action=<%=encodeURIComponent(actionDefault)%>&category=<%=encodeURIComponent(categoryDefault)%>&filter=<%=encodeURIComponent(filterDefault)%>&lbound=<%=encodeURIComponent(lboundDefault)%>&ubound=<%=encodeURIComponent(uboundDefault)%>&page=<%=j%>"><%=j%></a></li>
										<%}%>
									<%}else if(targetPageNumber<=5){%>
										<% for(var j=1; j<=10; j++) { %>
										<li 
											<% if(targetPageNumber==j){%>
												class="active"
											<%}%>
										><a href="/lender/search?keyword=<%=encodeURIComponent(keywordDefault)%>&action=<%=encodeURIComponent(actionDefault)%>&category=<%=encodeURIComponent(categoryDefault)%>&filter=<%=encodeURIComponent(filterDefault)%>&lbound=<%=encodeURIComponent(lboundDefault)%>&ubound=<%=encodeURIComponent(uboundDefault)%>&page=<%=j%>"><%=j%></a></li>
										<%}%>
									<%}else{%>
										<% for(var j=targetPageNumber-5; j<targetPageNumber; j++) { %>
										<li><a href="/lender/search?keyword=<%=encodeURIComponent(keywordDefault)%>&action=<%=encodeURIComponent(actionDefault)%>&category=<%=encodeURIComponent(categoryDefault)%>&filter=<%=encodeURIComponent(filterDefault)%>&lbound=<%=encodeURIComponent(lboundDefault)%>&ubound=<%=encodeURIComponent(uboundDefault)%>&page=<%=j%>"><%=j%></a></li>
										<%}%>
										<li class="active"><a href="/lender/search?keyword=<%=encodeURIComponent(keywordDefault)%>&action=<%=encodeURIComponent(actionDefault)%>&category=<%=encodeURIComponent(categoryDefault)%>&filter=<%=encodeURIComponent(filterDefault)%>&lbound=<%=encodeURIComponent(lboundDefault)%>&ubound=<%=encodeURIComponent(uboundDefault)%>&page=<%=targetPageNumber%>"><%=targetPageNumber%></a></li>
										<% for(var j=targetPageNumber+1; j<=targetPageNumber+4; j++) { %>
										<li><a href="/lender/search?keyword=<%=encodeURIComponent(keywordDefault)%>&action=<%=encodeURIComponent(actionDefault)%>&category=<%=encodeURIComponent(categoryDefault)%>&filter=<%=encodeURIComponent(filterDefault)%>&lbound=<%=encodeURIComponent(lboundDefault)%>&ubound=<%=encodeURIComponent(uboundDefault)%>&page=<%=j%>"><%=j%></a></li>
										<%}%>
									<%}%>
								<%}%>
								<li 
									<% if(targetPageNumber==pageNumber){%>
										class="disabled"
									<%}%>
								>
								<% if(targetPageNumber!=pageNumber){%>
									<a href="/lender/search?keyword=<%=encodeURIComponent(keywordDefault)%>&action=<%=encodeURIComponent(actionDefault)%>&category=<%=encodeURIComponent(categoryDefault)%>&filter=<%=encodeURIComponent(filterDefault)%>&lbound=<%=encodeURIComponent(lboundDefault)%>&ubound=<%=encodeURIComponent(uboundDefault)%>&page=<%=targetPageNumber+1%>">
								<%}else{%>
									<a href="#" onclick="return false;">
								<%}%>
								<span>&raquo;</span></a></li>
							  </ul>
							</nav>
						</td>
					</tr>
				</table>
			<%}%>
		</div>
		<div class="col-md-3">
		</div>
	</div>
</div>
<script>
	<%if(userName){%>
		$(document).ready(function (){
			for(i=0;i<<%=jsonArray.length%>;i++){
				var orig=$('#btnID'+i).attr('class');
				if(orig.search(' disabled')<0){
					orig=orig+' disabled';
					$('#btnID'+i).attr('class',orig);
				}
			}
			recursiveAjax(0,<%=jsonArray.length%>);	
		});
		
		function recursiveAjax(ctr,ctrTarget){
			$.ajax({ 
				url: '/Borrows/iflike',
				type: 'POST',
				data:{_id:$('#borrowID'+ctr).val()},
				dataType: 'json',
				success: function(Jdata) {
					if(Jdata.success){
						if(Jdata.status==-1){
							$('#likeBtn'+ctr).html('<button class="btn btn-default" data-toggle="modal" data-target="#myModal" id="btnID'+ctr+'"><span class="glyphicon glyphicon-thumbs-up myTitle2"></span></button>');	
						}else if(Jdata.status==0){
							$('#likeBtn'+ctr).html('<button class="btn btn-default" onclick="like('+ctr+');" id="btnID'+ctr+'"><span class="glyphicon glyphicon-thumbs-up myTitle2"></span></button>');	
						}else if(Jdata.status==1){
							$('#likeBtn'+ctr).html('<button class="btn btn-default" onclick="unlike('+ctr+');" id="btnID'+ctr+'"><span class="glyphicon glyphicon-remove myTitle2"></span></button>');	
						}else if(Jdata.status==2){
							$('#likeBtn'+ctr).html('<button class="btn btn-default disabled" id="btnID'+ctr+'"><span class="glyphicon glyphicon-thumbs-up myTitle2"></span></button>');	
						}
						$('#likeNum'+ctr).html('&nbsp;'+Jdata.result);
						ctr++
						if(ctr<ctrTarget){
							recursiveAjax(ctr,ctrTarget);
						}
					}else{
						ctr++
						if(ctr<ctrTarget){
							recursiveAjax(ctr,ctrTarget);
						}
					}
				},
				error: function() {
					ctr++
					if(ctr<ctrTarget){
						recursiveAjax(ctr,ctrTarget);
					}
				}
			});
		}
	
		function like(index){
			var orig=$('#btnID'+index).attr('class');
			if(orig.search(' disabled')<0){
				orig=orig+' disabled';
				$('#btnID'+index).attr('class',orig);
			}
			$.ajax({ 
					url: '/Borrows/like',
					type: 'POST',
					data:{_id:$('#borrowID'+index).val()},
					dataType: 'json',
					success: function(Jdata) {
						if(Jdata.success){
							$('#likeBtn'+index).html('<button class="btn btn-default" onclick="unlike('+index+');" id="btnID'+index+'"><span class="glyphicon glyphicon-remove myTitle2"></span></button>');
							$('#likeNum'+index).html('&nbsp;'+Jdata.result);
						}else{
							alert('something wrong.');
							var origInner=$('#btnID'+index).attr('class');
							origInner=origInner.replace(/ disabled/g, '');
							$('#btnID'+index).attr('class',origInner);
						}
					},
					error: function() {
						alert('something wrong.');
						var origInner=$('#btnID'+index).attr('class');
						origInner=origInner.replace(/ disabled/g, '');
						$('#btnID'+index).attr('class',origInner);
					}
			});	
		}
		
		function unlike(index){
			var orig=$('#btnID'+index).attr('class');
			if(orig.search(' disabled')<0){
				orig=orig+' disabled';
				$('#btnID'+index).attr('class',orig);
			}
			$.ajax({ 
					url: '/Borrows/unlike',
					type: 'POST',
					data:{_id:$('#borrowID'+index).val()},
					dataType: 'json',
					success: function(Jdata) {
						if(Jdata.success){
							$('#likeBtn'+index).html('<button class="btn btn-default" onclick="like('+index+');" id="btnID'+index+'"><span class="glyphicon glyphicon-thumbs-up myTitle2"></span></button>');
							$('#likeNum'+index).html('&nbsp;'+Jdata.result);
						}else{
							alert('something wrong.');
							var origInner=$('#btnID'+index).attr('class');
							origInner=origInner.replace(/ disabled/g, '');
							$('#btnID'+index).attr('class',origInner);
						}
					},
					error: function() {
						alert('something wrong.');
						var origInner=$('#btnID'+index).attr('class');
						origInner=origInner.replace(/ disabled/g, '');
						$('#btnID'+index).attr('class',origInner);
					}
			});	
		}
	<%}%>
</script>
<%- include('layout_footer',{imgSettingCode:"var ifLoadedCount=0;",imgDrawingCode:""}); -%>