<%- include('layout_header',{searchTitle:keywordDefault,nav_cur:'search'}); -%>

<div class="container">
	<div class="row">
		<div class="col-md-9">
			<div class="bigTitle"><img src="/images/search.png " height="40px" width="40px"/>&nbsp;故事列表</div>
				<div class="subTitle">&nbsp;<%=totalResultNum%> result</div>
				<br>
				<div class="input-group">
					<input type="text" class="form-control pageBar" id="keywordIpt" placeholder="搜尋借入者的名稱或故事標題、內容" value="<%=keywordDefault%>" onkeypress="if(event.keyCode==13){linker();}" onkeyup="$('#keywordIptMain').val($('#keywordIpt').val());">
					<span class="input-group-btn">
						<div class="btn-group">
							<button type="button" class="btn btn-default dropdown-toggle pageBar" data-toggle="dropdown" id="categorySelected">
								<%=categoryDefault%> <span class="caret"></span>
							</button>
							<ul class="dropdown-menu">
								<li style="display:none"><a href="#" id="category0"><%=categoryDefault%></a></li>
								<li id="clis1"<%if(categoryDefault=='不分類'){%> class="active"<%}%>><a href="#" onclick="categoryMainSelector(1);categorySelector(1);return false;" id="category1">不分類</a></li>
								<li id="clis2"<%if(categoryDefault=='一般'){%> class="active"<%}%>><a href="#" onclick="categoryMainSelector(2);categorySelector(2);return false;" id="category2">一般</a></li>
								<li id="clis3"<%if(categoryDefault=='教育'){%> class="active"<%}%>><a href="#" onclick="categoryMainSelector(3);categorySelector(3);return false;" id="category3">教育</a></li>
								<li id="clis4"<%if(categoryDefault=='家庭'){%> class="active"<%}%>><a href="#" onclick="categoryMainSelector(4);categorySelector(4);return false;" id="category4">家庭</a></li>
								<li id="clis5"<%if(categoryDefault=='旅遊'){%> class="active"<%}%>><a href="#" onclick="categoryMainSelector(5);categorySelector(5);return false;" id="category5">旅遊</a></li>
							</ul>
						</div>
						<div class="btn-group">
							<button type="button" class="btn btn-default dropdown-toggle pageBar" data-toggle="dropdown" id="messengerSelected">
								<%=messengerDefault%> <span class="caret"></span>
							</button>
							<ul class="dropdown-menu">
								<li style="display:none"><a href="#" id="messenger0"><%=messengerDefault%></a></li>
								<li id="mlis1"<%if(messengerDefault=='不分訊息狀態'){%> class="active"<%}%>><a href="#" onclick="messengerMainSelector(1);messengerSelector(1);return false;" id="messenger1">不分訊息狀態</a></li>
								<%if(userName!==null){%><li id="mlis2"<%if(messengerDefault=='無訊息'){%> class="active"<%}%>><a href="#" onclick="messengerMainSelector(2);messengerSelector(2);return false;" id="messenger2">無訊息</a></li><%}%>
								<%if(userName!==null){%><li id="mlis3"<%if(messengerDefault=='有訊息'){%> class="active"<%}%>><a href="#" onclick="messengerMainSelector(3);messengerSelector(3);return false;" id="messenger3">有訊息</a></li><%}%>
								<%if(userName!==null){%><li id="mlis4"<%if(messengerDefault=='訊息未確認或未被確認'){%> class="active"<%}%>><a href="#" onclick="messengerMainSelector(4);messengerSelector(4);return false;" id="messenger4">訊息未確認或未被確認</a></li><%}%>
								<%if(userName!==null){%><li id="mlis5"<%if(messengerDefault=='訊息已同意或已被同意'){%> class="active"<%}%>><a href="#" onclick="messengerMainSelector(5);messengerSelector(5);return false;" id="messenger5">訊息已同意或已被同意</a></li><%}%>
								<%if(userName!==null){%><li id="mlis6"<%if(messengerDefault=='訊息已婉拒或已被婉拒'){%> class="active"<%}%>><a href="#" onclick="messengerMainSelector(6);messengerSelector(6);return false;" id="messenger6">訊息已婉拒或已被婉拒</a></li><%}%>
								<%if(userName!==null){%><li id="mlis7"<%if(messengerDefault=='收到訊息未確認'){%> class="active"<%}%>><a href="#" onclick="messengerMainSelector(7);messengerSelector(7);return false;" id="messenger7">收到訊息未確認</a></li><%}%>
								<%if(userName!==null){%><li id="mlis8"<%if(messengerDefault=='收到訊息已同意'){%> class="active"<%}%>><a href="#" onclick="messengerMainSelector(8);messengerSelector(8);return false;" id="messenger8">收到訊息已同意</a></li><%}%>
								<%if(userName!==null){%><li id="mlis9"<%if(messengerDefault=='收到訊息已婉拒'){%> class="active"<%}%>><a href="#" onclick="messengerMainSelector(9);messengerSelector(9);return false;" id="messenger9">收到訊息已婉拒</a></li><%}%>
								<%if(userName!==null){%><li id="mlis10"<%if(messengerDefault=='送出訊息未被確認'){%> class="active"<%}%>><a href="#" onclick="messengerMainSelector(10);messengerSelector(10);return false;" id="messenger10">送出訊息未被確認</a></li><%}%>
								<%if(userName!==null){%><li id="mlis11"<%if(messengerDefault=='送出訊息已被同意'){%> class="active"<%}%>><a href="#" onclick="messengerMainSelector(11);messengerSelector(11);return false;" id="messenger11">送出訊息已被同意</a></li><%}%>
								<%if(userName!==null){%><li id="mlis12"<%if(messengerDefault=='送出訊息已被婉拒'){%> class="active"<%}%>><a href="#" onclick="messengerMainSelector(12);messengerSelector(12);return false;" id="messenger12">送出訊息已被婉拒</a></li><%}%>
								<%if(userName!==null){%><li id="mlis13"<%if(messengerDefault=='屬於我'){%> class="active"<%}%>><a href="#" onclick="messengerMainSelector(13);messengerSelector(13);return false;" id="messenger13">屬於我</a></li><%}%>
							</ul>
						</div>
						<div class="btn-group">
							<button type="button" class="btn btn-default pageBar" id="sorterSelected" data-toggle="dropdown" aria-expanded="false"><%=actionDefault%> <span class='caret'></span></button>
							<ul class="dropdown-menu" role="menu">
								<li style="display:none"><a href="#" id="sorter0"><%=actionDefault%></a></li>
								<li id="alis1"<%if(actionDefault=='建立日期'){%> class="active"<%}%>><a href="#" onclick="searchActionSelector(1);sorterSelector(1);return false;" id="sorter1">建立日期</a></li>
								<li id="alis2"<%if(actionDefault=='更新日期'){%> class="active"<%}%>><a href="#" onclick="searchActionSelector(2);sorterSelector(2);return false;" id="sorter2">更新日期</a></li>
								<li id="alis3"<%if(actionDefault=='最晚媒合日期'){%> class="active"<%}%>><a href="#" onclick="searchActionSelector(3);sorterSelector(3);return false;" id="sorter3">最晚媒合日期</a></li>
								<li id="alis4"<%if(actionDefault=='原始需要金額'){%> class="active"<%}%>><a href="#" onclick="searchActionSelector(4);sorterSelector(4);return false;" id="sorter4">原始需要金額</a></li>
								<li id="alis5"<%if(actionDefault=='已經借到金額'){%> class="active"<%}%>><a href="#" onclick="searchActionSelector(5);sorterSelector(5);return false;" id="sorter5">已經借到金額</a></li>
								<li id="alis6"<%if(actionDefault=='還需要金額'){%> class="active"<%}%>><a href="#" onclick="searchActionSelector(6);sorterSelector(6);return false;" id="sorter6">還需要金額</a></li>
								<li id="alis7"<%if(actionDefault=='年利率'){%> class="active"<%}%>><a href="#" onclick="searchActionSelector(7);sorterSelector(7);return false;" id="sorter7">年利率</a></li>
								<li id="alis8"<%if(actionDefault=='最低期數'){%> class="active"<%}%>><a href="#" onclick="searchActionSelector(8);sorterSelector(8);return false;" id="sorter8">最低期數</a></li>
								<li id="alis9"<%if(actionDefault=='最高期數'){%> class="active"<%}%>><a href="#" onclick="searchActionSelector(9);sorterSelector(9);return false;" id="sorter9">最高期數</a></li>
								<li id="alis10"<%if(actionDefault=='信用等級'){%> class="active"<%}%>><a href="#" onclick="searchActionSelector(10);sorterSelector(10);return false;" id="sorter10">信用等級</a></li>
								<li id="alis11"<%if(actionDefault=='按讚次數'){%> class="active"<%}%>><a href="#" onclick="searchActionSelector(11);sorterSelector(11);return false;" id="sorter11">按讚次數</a></li>
							</ul>
						</div>
						<div class="btn-group">
							<button type="button" class="btn btn-default pageBar" id="directorSelected" data-toggle="dropdown" aria-expanded="false"><%=directorDefault%> <span class='caret'></span></button>
							<ul class="dropdown-menu" role="menu">
								<li style="display:none"><a href="#" id="director0"><%=directorDefault%></a></li>
								<li id="dlis1"<%if(directorDefault=='大至小'){%> class="active"<%}%>><a href="#" onclick="directorMainSelector(1);directorSelector(1);return false;" id="director1">大至小</a></li>
								<li id="dlis2"<%if(directorDefault=='小至大'){%> class="active"<%}%>><a href="#" onclick="directorMainSelector(2);directorSelector(2);return false;" id="director2">小至大</a></li>
							</ul>
						</div>
						<button type="button" class="btn btn-default pageBar" onclick="linker();"><span class="glyphicon glyphicon-search"></span></button>
					</span>
				</div> 
				<br>
				<table width='100%'>
					<tr>
						<td>
							<%if((actionDefault=='建立日期')||(actionDefault=='更新日期')||(actionDefault=='最晚媒合日期')){%>
								<input type="date" placeholder="下限(年/月/日)" class="form-control boundIpt" value="<%=lboundDefault%>" id="lbound" onkeypress="if(event.keyCode==13){ linker();}">&nbsp;&nbsp;<span style="display:inline;" id='lbd'></span>
								&nbsp;&nbsp;~&nbsp;&nbsp;
								<input type="date" placeholder="上限(年/月/日)" class="form-control boundIpt" value="<%=uboundDefault%>" id="ubound" onkeypress="if(event.keyCode==13){ linker();}">&nbsp;&nbsp;<span style="display:inline;" id='ubd'></span>
							<%}else{%>
								<input type="text" placeholder="下限" class="form-control boundIpt" value="<%=lboundDefault%>" id="lbound" onkeypress="if(event.keyCode==13){ linker();}">&nbsp;&nbsp;<span style="display:inline;" id='lbd'></span>
								&nbsp;&nbsp;~&nbsp;&nbsp;
								<input type="text" placeholder="上限" class="form-control boundIpt" value="<%=uboundDefault%>" id="ubound" onkeypress="if(event.keyCode==13){ linker();}">&nbsp;&nbsp;<span style="display:inline;" id='ubd'></span>
							<%}%>
						</td>
						<%if((kpr!=='')&&(totalResultNum>0)&&(!oflg)&&(pflg)){%>
							<td align="right">
								<button class="btn btn-default disabled" style="display:none;" id="highlightBtn" onclick="enableHighlight();">
									關鍵字上色
								</button>
								<button class="btn btn-default" style="" id="unhighlightBtn" onclick="disableHighlight();">
									關鍵字去色
								</button>
							</td>
						<%}%>
					</tr>
				</table>
				<br>
				<br>
			<% if(totalResultNum>0){%>
				<% for(var i=0; i<jsonArray.length; i++) { %>
					<div style="border-top-style: none;border-right-style: none;border-bottom-style: none;border-left-style: none;margin-top: 0px;margin-bottom: 0px;" class="table-responsive">
						<table style="margin-bottom: 0px;margin-top: 0px;" class="table" width="100%">
							<tr>
								<td style="border-bottom-style: none;border-top-style: none;">
									<div style="font-size:15px;display:inline;">
										<div style="display:inline;"<%if(actionDefault=='原始需要金額'){%> class="stronger"<%}%>>原始需要：</div><%=jsonArray[i].MoneyToBorrow.toFixed(0)%>元
									</div>&nbsp;&nbsp;
									<div style="font-size:15px;display:inline;">
										<div style="display:inline;"<%if(actionDefault=='已經借到金額'){%> class="stronger"<%}%>>已經借到：</div><%=jsonArray[i].Got.toFixed(0)%>元
									</div>&nbsp;&nbsp;
									<div style="font-size:15px;display:inline;">
										<div style="display:inline;"<%if(actionDefault=='還需要金額'){%> class="stronger"<%}%>>還需要：</div><%=jsonArray[i].Need.toFixed(0)%>元
									</div>&nbsp;&nbsp;
									<div style="font-size:15px;display:inline;">
										<div style="display:inline;"<%if(actionDefault=='最低期數'){%> class="stronger"<%}%>>最低期數：</div><%=jsonArray[i].MonthPeriodAcceptedLowest.toFixed(0)%>個月
									</div>&nbsp;&nbsp;
									<div style="font-size:15px;display:inline;">
										<div style="display:inline;"<%if(actionDefault=='最高期數'){%> class="stronger"<%}%>>最高期數：</div><%=jsonArray[i].MonthPeriodAccepted.toFixed(0)%>個月
									</div>
								</td>
							</tr>
						</table>
					</div>
					<div style="height:300px;" class="panel panel-default pd">
						<div class="panel-body">
							<table width="100%">
								<tr>
									<td style="width:90%;">
										<a style="font-size:25px;"<%if(jsonArray[i].TitleColor=="color1"){%> class="color1"<%}else if(jsonArray[i].TitleColor=="color2"){%> class="color2"<%}else if(jsonArray[i].TitleColor=="color3"){%> class="color3"<%}else if(jsonArray[i].TitleColor=="color4"){%> class="color4"<%}else if(jsonArray[i].TitleColor=="color5"){%> class="color5"<%}else if(jsonArray[i].TitleColor=="color6"){%> class="color6"<%}else if(jsonArray[i].TitleColor=="color7"){%> class="color7"<%}%> href="/lender/story?id=<%=jsonArray[i]._id%>">[<%if(jsonArray[i].Category=='general'){%>一般<%}else if(jsonArray[i].Category=='education'){%>教育<%}else if(jsonArray[i].Category=='family'){%>家庭<%}else if(jsonArray[i].Category=='tour'){%>旅遊<%}%>]&nbsp;&nbsp;<%if(jsonArray[i].StoryTitle.StoryTitle!==''){%><div class="colorCnt"><%-jsonArray[i].StoryTitle.replace(new RegExp(' ','g'),'&nbsp;')%></div><%}else{%>無標題<%}%></a>
										<div style="font-size:15px;" class="myTitle">by <div class="colorCnt"><%=jsonArray[i].CreatedBy.Username%></div></div>
									</td>
									<td align="right">
										<div style="font-size:20px;display:inline;" class="myTitle2" id="likeBtn<%=i%>">
											<%if(userName===null){ %>
												<button class="btn btn-default" data-toggle="modal" data-target="#myModal" id="btnID<%=i%>">
													<span class="glyphicon glyphicon-thumbs-up myTitle2"></span>
												</button>
											<% }else{ %>
												<%if(jsonArray[i].TitleColor!="color4"){ %>
													<%if(!jsonArray[i].ifLiked){ %>
														<button class="btn btn-default" onclick="like(<%=i%>);" id="btnID<%=i%>">
															<span class="glyphicon glyphicon-thumbs-up myTitle2"></span>
														</button>
													<% }else{ %>
														<button class="btn btn-default" onclick="unlike(<%=i%>);" id="btnID<%=i%>">
															<span class="glyphicon glyphicon-remove myTitle2"></span>
														</button>
													<%}%>
												<% }else{ %>
													<button class="btn btn-default disabled" id="btnID<%=i%>">
														<span class="glyphicon glyphicon-thumbs-up myTitle2"></span>
													</button>
												<%}%>
											<%}%>
										</div>
										<div style="font-size:20px;color: red;display:inline;" id="likeNum<%=i%>">
											&nbsp;<%=jsonArray[i].LikeNumber%>
										</div>
									</td>
								<tr>
							</table>
							<br>
							<div>
								 <%if(jsonArray[i].Story!==''){%><div class="colorCnt"><%-jsonArray[i].Story.replace(new RegExp('\n','g'),'<br>').replace(new RegExp(' ','g'),'&nbsp;')%></div><%}else{%>無內容<%}%>
							</div>
						</div>
					</div>
					<div style="border-top-style: none;border-right-style: none;border-bottom-style: none;border-left-style: none;margin-top: 0px;margin-bottom: 0px;" class="table-responsive">
						<table style="margin-bottom: 0px;margin-top: 0px;" class="table" width="100%">
							<tr>
								<td align="right" style="border-bottom-style: none;border-top-style: none;">
									<div style="font-size:15px;display:inline;">
										<div style="display:inline;"<%if(actionDefault=='年利率'){%> class="stronger"<%}%>>年利率：</div><%=(jsonArray[i].MaxInterestRateAccepted*100).toFixed(2)%>%
									</div>
									&nbsp;&nbsp;
									<div style="font-size:15px;display:inline;">
										<div style="display:inline;"<%if(actionDefault=='信用等級'){%> class="stronger"<%}%>>信用：</div><%=jsonArray[i].Level.toFixed(0)%>級
									</div>
									&nbsp;&nbsp;
									<div style="font-size:15px;display:inline;">
										<div style="display:inline;"<%if(actionDefault=='最晚媒合日期'){%> class="stronger"<%}%>>Deadline：</div><%=jsonArray[i].TimeLimit.getFullYear()%>/<%=jsonArray[i].TimeLimit.getMonth()+1%>/<%=jsonArray[i].TimeLimit.getDate()%>
									</div>
									&nbsp;&nbsp;
									<div style="font-size:15px;display:inline;">
										<div style="display:inline;"<%if(actionDefault=='建立日期'){%> class="stronger"<%}%>>Created：</div><%=jsonArray[i].Created.getFullYear()%>/<%=jsonArray[i].Created.getMonth()+1%>/<%=jsonArray[i].Created.getDate()%>
									</div>
									&nbsp;&nbsp;
									<div style="font-size:15px;display:inline;">
										<div style="display:inline;"<%if(actionDefault=='更新日期'){%> class="stronger"<%}%>>Updated：</div><%=jsonArray[i].Updated.getFullYear()%>/<%=jsonArray[i].Updated.getMonth()+1%>/<%=jsonArray[i].Updated.getDate()%>
									</div>
									&nbsp;&nbsp;
									<div style="font-size:15px;display:inline;">
										No.<%=i+1%>
									</div>
								</td>
							</tr>
						</table>
					</div>
					<input type="hidden" id="borrowID<%=i%>" value="<%=jsonArray[i]._id%>">
					<br>
					<br>
				<% } %>
				<br>
				<table align="center">
					<tr>
						<td>
							<nav>
							  <ul class="pagination">
								<li 
									<% if(targetPageNumber==1){%>
										class="disabled"
									<%}%>
								>
								<% if(targetPageNumber!=1){%>
									<a href="/lender/search?keyword=<%=encodeURIComponent(keywordDefault)%>&category=<%=encodeURIComponent(categoryDefault)%>&messenger=<%=encodeURIComponent(messengerDefault)%>&action=<%=encodeURIComponent(actionDefault)%>&director=<%=encodeURIComponent(directorDefault)%>&lbound=<%=encodeURIComponent(lboundDefault)%>&ubound=<%=encodeURIComponent(uboundDefault)%>&page=<%=targetPageNumber-1%>">
								<%}else{%>
									<a href="#" onclick="return false;">
								<%}%>
								<span>&laquo;</span></a></li>
								<% if(pageNumber<=10){%>
									<% for(var j=1; j<=pageNumber; j++) { %>
										<li 
											<% if(targetPageNumber==j){%>
												class="active"
											<%}%>
										><a href="/lender/search?keyword=<%=encodeURIComponent(keywordDefault)%>&category=<%=encodeURIComponent(categoryDefault)%>&messenger=<%=encodeURIComponent(messengerDefault)%>&action=<%=encodeURIComponent(actionDefault)%>&director=<%=encodeURIComponent(directorDefault)%>&lbound=<%=encodeURIComponent(lboundDefault)%>&ubound=<%=encodeURIComponent(uboundDefault)%>&page=<%=j%>"><%=j%></a></li>
									<%}%>
								<% }else{%>
									<% if(targetPageNumber>=pageNumber-3){%>
										<% for(var j=pageNumber-9; j<=pageNumber; j++) { %>
										<li 
											<% if(targetPageNumber==j){%>
												class="active"
											<%}%>
										><a href="/lender/search?keyword=<%=encodeURIComponent(keywordDefault)%>&category=<%=encodeURIComponent(categoryDefault)%>&messenger=<%=encodeURIComponent(messengerDefault)%>&action=<%=encodeURIComponent(actionDefault)%>&director=<%=encodeURIComponent(directorDefault)%>&lbound=<%=encodeURIComponent(lboundDefault)%>&ubound=<%=encodeURIComponent(uboundDefault)%>&page=<%=j%>"><%=j%></a></li>
										<%}%>
									<%}else if(targetPageNumber<=5){%>
										<% for(var j=1; j<=10; j++) { %>
										<li 
											<% if(targetPageNumber==j){%>
												class="active"
											<%}%>
										><a href="/lender/search?keyword=<%=encodeURIComponent(keywordDefault)%>&category=<%=encodeURIComponent(categoryDefault)%>&messenger=<%=encodeURIComponent(messengerDefault)%>&action=<%=encodeURIComponent(actionDefault)%>&director=<%=encodeURIComponent(directorDefault)%>&lbound=<%=encodeURIComponent(lboundDefault)%>&ubound=<%=encodeURIComponent(uboundDefault)%>&page=<%=j%>"><%=j%></a></li>
										<%}%>
									<%}else{%>
										<% for(var j=targetPageNumber-5; j<targetPageNumber; j++) { %>
										<li><a href="/lender/search?keyword=<%=encodeURIComponent(keywordDefault)%>&category=<%=encodeURIComponent(categoryDefault)%>&messenger=<%=encodeURIComponent(messengerDefault)%>&action=<%=encodeURIComponent(actionDefault)%>&director=<%=encodeURIComponent(directorDefault)%>&lbound=<%=encodeURIComponent(lboundDefault)%>&ubound=<%=encodeURIComponent(uboundDefault)%>&page=<%=j%>"><%=j%></a></li>
										<%}%>
										<li class="active"><a href="/lender/search?keyword=<%=encodeURIComponent(keywordDefault)%>&category=<%=encodeURIComponent(categoryDefault)%>&messenger=<%=encodeURIComponent(messengerDefault)%>&action=<%=encodeURIComponent(actionDefault)%>&director=<%=encodeURIComponent(directorDefault)%>&lbound=<%=encodeURIComponent(lboundDefault)%>&ubound=<%=encodeURIComponent(uboundDefault)%>&page=<%=targetPageNumber%>"><%=targetPageNumber%></a></li>
										<% for(var j=targetPageNumber+1; j<=targetPageNumber+4; j++) { %>
										<li><a href="/lender/search?keyword=<%=encodeURIComponent(keywordDefault)%>&category=<%=encodeURIComponent(categoryDefault)%>&messenger=<%=encodeURIComponent(messengerDefault)%>&action=<%=encodeURIComponent(actionDefault)%>&director=<%=encodeURIComponent(directorDefault)%>&lbound=<%=encodeURIComponent(lboundDefault)%>&ubound=<%=encodeURIComponent(uboundDefault)%>&page=<%=j%>"><%=j%></a></li>
										<%}%>
									<%}%>
								<%}%>
								<li 
									<% if(targetPageNumber==pageNumber){%>
										class="disabled"
									<%}%>
								>
								<% if(targetPageNumber!=pageNumber){%>
									<a href="/lender/search?keyword=<%=encodeURIComponent(keywordDefault)%>&category=<%=encodeURIComponent(categoryDefault)%>&messenger=<%=encodeURIComponent(messengerDefault)%>&action=<%=encodeURIComponent(actionDefault)%>&director=<%=encodeURIComponent(directorDefault)%>&lbound=<%=encodeURIComponent(lboundDefault)%>&ubound=<%=encodeURIComponent(uboundDefault)%>&page=<%=targetPageNumber+1%>">
								<%}else{%>
									<a href="#" onclick="return false;">
								<%}%>
								<span>&raquo;</span></a></li>
							  </ul>
							</nav>
						</td>
					</tr>
				</table>
			<%}%>
		</div>
		<div class="col-md-3">
		</div>
	</div>
</div>
<script>
	function linker(){
		window.open('/lender/search?keyword='+encodeURIComponent($('#keywordIpt').val())+'&category='+encodeURIComponent($('#category0').text())+'&messenger='+encodeURIComponent($('#messenger0').text())+'&action='+encodeURIComponent($('#sorter0').text())+'&director='+encodeURIComponent($('#director0').text())+'&lbound='+encodeURIComponent($('#lbound').val())+'&ubound='+encodeURIComponent($('#ubound').val())+'&page=1','_self');
	}
	
	function messengerSelector(index){
		$('#messengerSelected').html('');
		$('#messengerSelected').html($('#messenger'+index).text());
		$('#messenger0').html($('#messengerSelected').text());
		$('#messengerSelected').append(' <span class=\'caret\'><\/span>');
		for(i=1;i<=<%if(userName!==null){%>13<%}else{%>1<%}%>;i++){
			$('#mlis'+i).attr('class','');
		}
		$('#mlis'+index).attr('class','active');
	}
	
	function categorySelector(index){
		$('#categorySelected').html('');
		$('#categorySelected').html($('#category'+index).text());
		$('#category0').html($('#categorySelected').text());
		$('#categorySelected').append(' <span class=\'caret\'><\/span>');
		for(i=1;i<=5;i++){
			$('#clis'+i).attr('class','');
		}
		$('#clis'+index).attr('class','active');
	}

	function sorterSelector(index){
		$('#lbound').val('');
		$('#ubound').val('');
		if(($('#sorter'+index).text()=='建立日期')||($('#sorter'+index).text()=='更新日期')||($('#sorter'+index).text()=='最晚媒合日期')){
			enableDater();
		}else{
			disableDater();
		}
		$('#sorterSelected').html('');
		$('#sorterSelected').html($('#sorter'+index).text());
		$('#sorter0').html($('#sorterSelected').text());
		$('#sorterSelected').append(' <span class=\'caret\'><\/span>');
		for(i=1;i<=11;i++){
			$('#alis'+i).attr('class','');
		}
		$('#alis'+index).attr('class','active');
		spanner($('#sorter0').text());
	}
	
	function directorSelector(index){
		$('#directorSelected').html('');
		$('#directorSelected').html($('#director'+index).text());
		$('#director0').html($('#directorSelected').text());
		$('#directorSelected').append(' <span class=\'caret\'><\/span>');
		for(i=1;i<=2;i++){
			$('#dlis'+i).attr('class','');
		}
		$('#dlis'+index).attr('class','active');
	}

	<%if((actionDefault=='建立日期')||(actionDefault=='更新日期')||(actionDefault=='最晚媒合日期')){%>
		var ifDater=true;
	<%}else{%>
		var ifDater=false;
	<%}%>
	function enableDater(){
		if(!ifDater){
			$('#lbound').attr('type','date');
			$('#ubound').attr('type','date');
			$('#lbound').attr('placeholder','下限(年/月/日)');
			$('#ubound').attr('placeholder','上限(年/月/日)');
			ifDater=true;
		}
	}
	
	function disableDater(){
		if(ifDater){
			$('#lbound').attr('type','text');
			$('#ubound').attr('type','text');
			$('#lbound').attr('placeholder','下限');
			$('#ubound').attr('placeholder','上限');
			ifDater=false;
		}
	}
		
	<% if(totalResultNum>0){ %>
		var stringPro='<%if((!oflg)&&(pflg)){%><%-kpr%><%}%>';
		var highLightFlag=false;
		var stringArray=[];
		var stringArray2=[];
		var stringArrayRegex=[];
		var stringArray2Regex=[];

		function enableHighlight(){
			if(stringPro!==''){
				if(!highLightFlag){
					highLightFlag=true;
					for(we=0;we<stringArray2Regex.length;we++){
						$('.colorCnt').highlightRegex(stringArray2Regex[we]);
					}
					for(we=0;we<stringArrayRegex.length;we++){
						$('.colorCnt').highlightRegex(stringArrayRegex[we]);
					}
					$('#unhighlightBtn').removeClass('disabled');
					$('#unhighlightBtn').css('display','');
					$('#highlightBtn').addClass('disabled');
					$('#highlightBtn').css('display','none');
				}
			}
		}
		
		function disableHighlight(){
			if(stringPro!==''){
				if(highLightFlag){
					highLightFlag=false;
					$('.colorCnt').highlightRegex();
					$('#highlightBtn').removeClass('disabled');
					$('#highlightBtn').css('display','');
					$('#unhighlightBtn').addClass('disabled');
					$('#unhighlightBtn').css('display','none');
				}
			}
		}
		
		function spanner(tgtString){
			if((tgtString=='建立日期')||(tgtString=='更新日期')||(tgtString=='最晚媒合日期')){
				$('#lbd').html('');
				$('#ubd').html('');
			}else if((tgtString=='最低期數')||(tgtString=='最高期數')){
				$('#lbd').html('個月');
				$('#ubd').html('個月');
			}else if(tgtString=='年利率'){
				$('#lbd').html('%');
				$('#ubd').html('%');
			}else if(tgtString=='信用等級'){
				$('#lbd').html('級');
				$('#ubd').html('級');
			}else if(tgtString=='按讚次數'){
				$('#lbd').html('次');
				$('#ubd').html('次');
			}else{
				$('#lbd').html('元');
				$('#ubd').html('元');
			}
		}
		
		var toselect = [];
		function overlap(a, b) {
			var l = b.length,
				m = a.length;
			for (var j = 1; j < l; j++) {
				if (a.indexOf(b.substr(l - j)) === 0) {
					toselect.push(b.concat(a.substr(j)));
				} else if (a.substr(m - j).indexOf(b.substr(0, j)) === 0) {
					toselect.push(a.concat(b.substr(j)));
				}
			}
		}
		function overdiag(arr) {
			toselect = []; //empties to select
			$.each(arr, function (i) {
				$.each(arr.slice(i + 1), function (i, v) {
					overlap(arr[i], v);
				});
			});
		}
		
		$(document).ready(function (){
			<%if(userName!==null){%>
				for(i=0;i<<%=jsonArray.length%>;i++){
					$('#btnID'+i).addClass('disabled');
				}
				recursiveAjax(0,<%=jsonArray.length%>);	
			<%}%>
			
			spanner('<%=actionDefault%>');
			if(stringPro!==''){
				stringPro=stringPro.replace(/\s\s+/g,' ');
				stringArray=stringPro.split(' ');
				for(j=stringArray.length-1;j>-1;j--){
					if(stringArray[j].charAt(0)=='-'){
						stringArray.splice(j,1);
					}else if((stringArray[j].charAt(0)=='"')&&(stringArray[j].charAt(stringArray[j].length-1)=='"')){
						var tempCnt=stringArray[j].substring(1);
						tempCnt=tempCnt.substring(0,tempCnt.length-1);
						stringArray2.push(tempCnt);
						stringArray.splice(j,1);
					}
				}
				overdiag(stringArray);
				stringArray = stringArray.concat(toselect);
				stringArray = $.grep(stringArray, function (a, b) {
					return $.inArray(a,stringArray) === b;
				});
				stringArray.sort(function(a, b){
					return b.length - a.length;
				});
				stringArray2.sort(function(a, b){
					return b.length - a.length;
				});
				for(we=0;we<stringArray.length;we++){
					stringArrayRegex.push(new RegExp(stringArray[we].replace(/\./g,'\\.'),'ig'));
				}
				for(we=0;we<stringArray2.length;we++){
					var temperrr=stringArray2[we].replace(/%/g,'[^\\w\\u0800-\\u9fa5]+').replace(/\./g,'\\.');
					stringArray2Regex.push(new RegExp('(^|[^\\w\\u0800-\\u9fa5])'+temperrr+'($|[^\\w\\u0800-\\u9fa5])','ig'));
				}
				enableHighlight();
			}
		});
		
		<%if(userName!==null){%>
			function recursiveAjax(ctr,ctrTarget){
				$.ajax({ 
					url: '/Borrows/iflike',
					type: 'POST',
					data:{_id:$('#borrowID'+ctr).val()},
					dataType: 'json',
					success: function(Jdata) {
						if(Jdata.success){
							if(Jdata.status==-1){
								$('#likeBtn'+ctr).html('<button class="btn btn-default" data-toggle="modal" data-target="#myModal" id="btnID'+ctr+'"><span class="glyphicon glyphicon-thumbs-up myTitle2"></span></button>');	
							}else if(Jdata.status==0){
								$('#likeBtn'+ctr).html('<button class="btn btn-default" onclick="like('+ctr+');" id="btnID'+ctr+'"><span class="glyphicon glyphicon-thumbs-up myTitle2"></span></button>');	
							}else if(Jdata.status==1){
								$('#likeBtn'+ctr).html('<button class="btn btn-default" onclick="unlike('+ctr+');" id="btnID'+ctr+'"><span class="glyphicon glyphicon-remove myTitle2"></span></button>');	
							}else if(Jdata.status==2){
								$('#likeBtn'+ctr).html('<button class="btn btn-default disabled" id="btnID'+ctr+'"><span class="glyphicon glyphicon-thumbs-up myTitle2"></span></button>');	
							}
							$('#likeNum'+ctr).html('&nbsp;'+Jdata.result);
							ctr++
							if(ctr<ctrTarget){
								recursiveAjax(ctr,ctrTarget);
							}
						}else{
							ctr++
							if(ctr<ctrTarget){
								recursiveAjax(ctr,ctrTarget);
							}
						}
					},
					error: function() {
						ctr++
						if(ctr<ctrTarget){
							recursiveAjax(ctr,ctrTarget);
						}
					}
				});
			}
		
			function like(index){
				$('#btnID'+index).addClass('disabled');
				$.ajax({ 
						url: '/Borrows/like',
						type: 'POST',
						data:{_id:$('#borrowID'+index).val()},
						dataType: 'json',
						success: function(Jdata) {
							if(Jdata.success){
								$('#likeBtn'+index).html('<button class="btn btn-default" onclick="unlike('+index+');" id="btnID'+index+'"><span class="glyphicon glyphicon-remove myTitle2"></span></button>');
								$('#likeNum'+index).html('&nbsp;'+Jdata.result);
							}else{
								alert('something wrong.');
								$('#btnID'+index).removeClass('disabled');
							}
						},
						error: function() {
							alert('something wrong.');
							$('#btnID'+index).removeClass('disabled');
						}
				});	
			}
			
			function unlike(index){
				$('#btnID'+index).addClass('disabled');
				$.ajax({ 
						url: '/Borrows/unlike',
						type: 'POST',
						data:{_id:$('#borrowID'+index).val()},
						dataType: 'json',
						success: function(Jdata) {
							if(Jdata.success){
								$('#likeBtn'+index).html('<button class="btn btn-default" onclick="like('+index+');" id="btnID'+index+'"><span class="glyphicon glyphicon-thumbs-up myTitle2"></span></button>');
								$('#likeNum'+index).html('&nbsp;'+Jdata.result);
							}else{
								alert('something wrong.');
								$('#btnID'+index).removeClass('disabled');
							}
						},
						error: function() {
							alert('something wrong.');
							$('#btnID'+index).removeClass('disabled');
						}
				});	
			}
		<%}%>
	<%}%>
</script>
<%- include('layout_footer',{imgSettingCode:"var ifLoadedCount=0;",imgDrawingCode:"",nav_cur:'search'}); -%>