<%- include('layout_header',{nav_cur:'story',actionDefault:'最新',keywordDefault:'',categoryDefault:'不分類'}); -%>
<div class="container">
	<div class="row">
		<div class="col-md-9">
			<table width="100%">
				<tr>
					<td>
						<div style="font-size:30px;color:#337ab7;"><%=json.StoryTitle%></div>
						<div style="font-size:20px;color:#0000D1;"> by <%=json.CreatedBy.Username%></div>
					</td>
					<td align="right">
						<div style="font-size:20px;display:inline;color:#337ab7;" id="likeBtn">
							<%if(!userName){ %>
								<button class="btn btn-default" data-toggle="modal" data-target="#myModal">
									<span style="color:#337ab7;" class="glyphicon glyphicon-thumbs-up"></span>
								</button>
							<% }else{ %>
								<%if(!ifSelf){ %>
									<%if(!ifLiked){ %>
										<button class="btn btn-default" onclick="like();" id="btnID">
											<span style="color:#337ab7;" class="glyphicon glyphicon-thumbs-up"></span>
										</button>
									<% }else{ %>
										<button class="btn btn-default" onclick="unlike();" id="btnID">
											<span style="color:#337ab7;" class="glyphicon glyphicon-remove"></span>
										</button>
									<%}%>
								<% }else{ %>
									<button class="btn btn-default disabled">
										<span style="color:#337ab7;" class="glyphicon glyphicon-thumbs-up"></span>
									</button>
								<%}%>
							<%}%>
						</div>
						<div style="font-size:20px;color:red;display:inline;" id="likeNum">&nbsp;<%=json.LikeNumber%></div>
					</td>
				<tr>
			</table>
			<br>
			<ul class="nav nav-tabs">
				<li class="active"><a href="#tab1" data-toggle="tab">故事</a></li>
				<li><a href="#tab2" data-toggle="tab">資訊</a></li>
				<li><a href="#tab3" data-toggle="tab">留言</a></li>
            </ul>
            <div class="tab-content my-tab-content">
				<div class="tab-pane active" id="tab1">
					<%=json.Story%>
				</div>
				<div class="tab-pane" id="tab2">
					<table width="100%" height="275px">
						<tr>
							<td>
								<div style="color:#337ab7;">
									需要金額：
								</div>
							</td>
						<tr>
						<tr>
							<td>
								<div>
									&nbsp;&nbsp;&nbsp;&nbsp;<%=json.MoneyToBorrow.toFixed(0)%>元
								</div>	
							</td>
						<tr>
						<tr>
							<td>
								<div style="color:#337ab7;">
									已經借到：
								</div>
							</td>
						<tr>
						<tr>
							<td>
								<div>
									&nbsp;&nbsp;&nbsp;&nbsp;<%=json.MoneyToBorrowCumulated.toFixed(0)%>元
								</div>	
							</td>
						<tr>
						<tr>
							<td>
								<div style="color:#337ab7;">
									還需要：
								</div>
							</td>
						<tr>
						<tr>
							<td>
								<div>
									&nbsp;&nbsp;&nbsp;&nbsp;<%=json.MoneyToBorrow-json.MoneyToBorrowCumulated.toFixed(0)%>元
								</div>	
							</td>
						<tr>
						<tr>
							<td>
								<div style="color:#337ab7;">
									可接受利率：
								</div>							
							</td>
						<tr>
						<tr>
							<td>
								<div>
									&nbsp;&nbsp;&nbsp;&nbsp;<%=(json.MaxInterestRateAccepted*100).toFixed(2)%>%
								</div>		
							</td>
						<tr>
						<tr>
							<td>
								<div style="color:#337ab7;">
									可接受期數（單位/月）:
								</div>
							</td>
						<tr>
						<tr>
							<td>
								<div>
									&nbsp;&nbsp;&nbsp;&nbsp;<%=json.MonthPeriodAccepted.toFixed(0)%>個月
								</div>
							</td>
						<tr>
						<tr>
							<td>
								<div style="color:#337ab7;">
									希望於幾號前借到錢：
								</div>
							</td>
						<tr>
						<tr>
							<td>
								<div>
									&nbsp;&nbsp;&nbsp;&nbsp;<%=json.TimeLimit.getFullYear()%>/<%=json.TimeLimit.getMonth()+1%>/<%=json.TimeLimit.getDate()%>
								</div>
							</td>
						<tr>
						<tr>
							<td>
								<div style="color:#337ab7;">
									信用等級：
								</div>
							</td>
						<tr>
						<tr>
							<td>
								<div>
									&nbsp;&nbsp;&nbsp;&nbsp;<%=json.Level.toFixed(0)%>級
								</div>
							</td>
						<tr>
					</table>
				</div>
				<div class="tab-pane" id="tab3">
					<div class="my_discussion" id="discussionDiv">
						<%for(i=0;i<jsonComment.length;i++){%>
							<%=jsonComment[i].CreatedBy.Username%>：
							<br>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=jsonComment[i].Content%>
							<br>
							<%=jsonComment[i].Updated.getFullYear()%>/<%=jsonComment[i].Updated.getMonth()+1%>/<%=jsonComment[i].Updated.getDate()%>
							<br>
							<br>
						<%}%>
					</div>
					<div class="input-group my_discussion_ipt">
						<%if(!userName){ %>
							<input style="height:35px;" type="text" placeholder="留言..." class="form-control" onkeypress="if(event.keyCode==13){$('#myModal').modal('show');}">
							<span class="input-group-btn">
								<button style="height:35px;" class="btn btn-default" type="button" id="sendButton" data-toggle="modal" data-target="#myModal">
									<span style="color:#337ab7;" class="glyphicon glyphicon-comment"></span>
								</button>
							</span>
						<% }else{ %>
							<input id="iptCtr" style="height:35px;" type="text" placeholder="留言..." class="form-control" onkeypress="if(event.keyCode==13){sendComment();}">
							<span class="input-group-btn">
								<button style="height:35px;" onclick="sendComment();" class="btn btn-default" type="button" id="sendButton">
									<span style="color:#337ab7;" class="glyphicon glyphicon-comment"></span>
								</button>
							</span>
						<%}%>
					</div>
				</div>
            </div>
			<br>
			<table width="100%">
				<tr>
					<td>
						<%if(!userName){ %>
							<button class="btn btn-default" data-toggle="modal" data-target="#myModal">
								<span style="color:#337ab7;">我想借錢給此人</span>
							</button>
						<% }else{ %>
							<%if(!ifSelf){ %>
								<%if(!jsonBorrowMessage){%>
									<%if(!json.IfReadable){ %>
											<button class="btn btn-default disabled">
													<span style="color:#337ab7;">現在無法出借</span>
											</button>
									<%}else{%>
										<%if(!jsonMessage){ %>
											<button class="btn btn-default" data-toggle="modal" data-target="#hendLendModal">
												<span style="color:#337ab7;">我想借錢給此人</span>
											</button>
										<% }else{ %>
											<%if(jsonMessage.Status=='Confirmed'){ %>
												<button class="btn btn-default disabled">
													<span style="color:#337ab7;">您的出借訊息已被同意</span>
												</button>
											<% }else if(jsonMessage.Status=='Rejected'){ %>
												<button class="btn btn-default disabled">
													<span style="color:#337ab7;">您的出借訊息已被婉拒</span>
												</button>
											<% }else if(jsonMessage.Status=='NotConfirmed'){ %>
												<button class="btn btn-default" data-toggle="modal" data-target="#hendLendModal">
													<span style="color:#337ab7;">我想更新出借訊息</span>
												</button>
											<%}%>
										<%}%>
									<%}%>
								<%}else{%>
									<%if(jsonBorrowMessage.Status=='Confirmed'){ %>
										<button class="btn btn-default disabled">
											<span style="color:#337ab7;">您已同意來自此人的借款請求</span>
										</button>
									<% }else if(jsonBorrowMessage.Status=='Rejected'){ %>
										<button class="btn btn-default disabled">
											<span style="color:#337ab7;">您已拒絕來自此人的借款請求</span>
										</button>
									<% }else if(jsonBorrowMessage.Status=='NotConfirmed'){ %>
										<button class="btn btn-default" data-toggle="modal" data-target="#confirmModal">
											<span style="color:#337ab7;">查看來自此人的訊息</span>
										</button>
									<%}%>
								<%}%>
							<%}else{%>
								<button class="btn btn-default disabled">
										<span style="color:#337ab7;">此故事為您所有</span>
								</button>
							<%}%>
						<%}%>
					</td>
					<td align="right">
						<div style="color:#337ab7;">
							Updated：<%=json.Updated.getFullYear()%>/<%=json.Updated.getMonth()+1%>/<%=json.Updated.getDate()%>
						</div>
					</td>
				<tr>
			</table>
		</div>
		<div class="col-md-3">
		</div>
	</div>
</div>
<%if(userName){ %>
	<%if(!ifSelf){ %>
		<%if(!jsonBorrowMessage){%>
			<%if(json.IfReadable){ %>
				<%if(!jsonMessage){ %>
					<div class="modal fade" id="hendLendModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-dialog modal-md">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
									<h4 class="modal-title" id="myModalLabel">欲借出訊息 - 新建</h4>
								</div>
								<div class="modal-body">
									<h4>銀行帳戶內餘額：</h4>
									<div class="input-group">
										<input type="text" class="form-control" readonly="readonly" value="<%=MoneyInBankAccountValue.toFixed(0)%>">
										<span class="input-group-addon">元</span>
									</div>
									<br>
									<h4>已借出金額：</h4>
									<div class="input-group">
										<input type="text" class="form-control" readonly="readonly" value="<%=MoneyLended.toFixed(0)%>">
										<span class="input-group-addon">元</span>
									</div>
									<br>
									<h4>預計總利息：</h4>
									<div class="input-group">
										<input type="text" class="form-control" id="interestFuture" readonly="readonly" value="0">
										<span class="input-group-addon">元</span>
									</div>
									<br>
									<h4>預計每期平均利息：</h4>
									<div class="input-group">
										<input type="text" class="form-control" id="interestFutureMonth" readonly="readonly" value="0">
										<span class="input-group-addon">元</span>
									</div>
									<br>
									<h4>預計每期平均本利和：</h4>
									<div class="input-group">
										<input type="text" class="form-control" id="interestFutureMoneyMonth" readonly="readonly" value="0">
										<span class="input-group-addon">元</span>
									</div>
									<br>
									<h4>預計總利息/最初本金比：</h4>
									<div class="input-group">
										<input type="text" class="form-control" id="interestFutureDivMoney" readonly="readonly" value="0">
										<span class="input-group-addon">%</span>
									</div>
									<br>
									<button type="button" class="btn btn-default" onclick="interestInFutureCalculator();">試算</button>
									<br>
								<form action="/Messages/toLendCreate" method="post">
									<h4>本次欲借出金額：</h4>
									<div class="input-group">
										<input type="number" class="form-control" name="MoneyToLend">
										<span class="input-group-addon">元</span>
									</div>
									<br>
									<h4>本次欲借出利率：</h4>
									<div class="input-group">	
										<input type="text" class="form-control" name="InterestRate">
										<span class="input-group-addon">%</span>
									</div>
									<br>
									<h4>本次欲借出期數（單位/月）：</h4>
									<div class="input-group">
										<input type="number" class="form-control" name="MonthPeriod">
										<span class="input-group-addon">個月</span>
									</div>
									<br>
									<h4>訊息：</h4>
									<textarea class="form-control" name="Message" rows="3"></textarea>
									</div>
									<input type="hidden" name="FromBorrowRequest" value="<%=json._id%>">
									<div class="modal-footer">
										<div class="btn-toolbar" role="toolbar">
											<div class="btn-group" role="group">
												<button type="submit" class="btn btn-info" id="createBtnID" onclick="create()">新建</button>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				<%}else{%>
					<%if(jsonMessage.Status=='NotConfirmed'){ %>
						<div class="modal fade" id="hendLendModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
							<div class="modal-dialog modal-md">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
										<h4 class="modal-title" id="myModalLabel">欲借出訊息 - 更新/刪除</h4>
									</div>
									<div class="modal-body">
										<h4>您銀行帳戶內的餘額：</h4>
										<div class="input-group">
											<input type="text" class="form-control" readonly="readonly" value="<%=MoneyInBankAccountValue.toFixed(0)%>">
											<span class="input-group-addon">元</span>
										</div>
										<br>
										<h4>您已借出的金額：</h4>
										<div class="input-group">
											<input type="text" class="form-control" readonly="readonly" value="<%=MoneyLended.toFixed(0)%>">
											<span class="input-group-addon">元</span>
										</div>
										<br>
										<h4>預計總利息：</h4>
										<div class="input-group">
											<input type="text" class="form-control" id="interestFuture" readonly="readonly" value="<%=jsonMessage.InterestInFuture.toFixed(0)%>">
											<span class="input-group-addon">元</span>
										</div>
										<br>
										<h4>預計每期平均利息：</h4>
										<div class="input-group">
											<input type="text" class="form-control" id="interestFutureMonth" readonly="readonly" value="<%=jsonMessage.InterestInFutureMonth.toFixed(0)%>">
											<span class="input-group-addon">元</span>
										</div>
										<br>
										<h4>預計每期平均本利和：</h4>
										<div class="input-group">
											<input type="text" class="form-control" id="interestFutureMoneyMonth" readonly="readonly" value="<%=jsonMessage.InterestInFutureMoneyMonth.toFixed(0)%>">
											<span class="input-group-addon">元</span>
										</div>
										<br>
										<h4>預計總利息/最初本金比：</h4>
										<div class="input-group">
											<input type="text" class="form-control" id="interestFutureDivMoney" readonly="readonly" value="<%=jsonMessage.InterestInFutureDivMoney.toFixed(2)%>">
											<span class="input-group-addon">%</span>
										</div>
										<br>
										<button type="button" class="btn btn-default" onclick="interestInFutureCalculator();">重新試算</button>
										<br>
									<form action="/Messages/toLendUpdate" method="post" id="formID">
										<h4>本次欲借出金額：</h4>
										<div class="input-group">
											<input type="number" class="form-control" name="MoneyToLend" value="<%=jsonMessage.MoneyToLend.toFixed(0)%>">
											<span class="input-group-addon">元</span>
										</div>
										<br>
										<h4>本次欲借出利率：</h4>
										<div class="input-group">
											<input type="text" class="form-control" name="InterestRate" value="<%=(jsonMessage.InterestRate*100).toFixed(2)%>">
											<span class="input-group-addon">%</span>
										</div>
										<br>
										<h4>本次欲借出期數（單位/月）：</h4>
										<div class="input-group">
											<input type="number" class="form-control" name="MonthPeriod" value="<%=jsonMessage.MonthPeriod.toFixed(0)%>">
											<span class="input-group-addon">個月</span>
										</div>
										<br>
										<h4>訊息：</h4>
										<textarea class="form-control" name="Message" rows="3"><%=jsonMessage.Message%></textarea>
										</div>
										<input type="hidden" name="FromBorrowRequest" value="<%=json._id%>">
										<input type="hidden" name="_id" value="<%=jsonMessage._id%>">
										<div class="modal-footer">
											<div class="btn-toolbar" role="toolbar">
												<div class="btn-group" role="group">
													<button type="submit" class="btn btn-info" id="updateBtnID" onclick="update()">更新</button>
												</div>
												<div class="btn-group" role="group">
													<button type="button" class="btn btn-danger" id="destroyBtnID" onclick="destroy();">刪除</button>
												</div>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>	
					<%}%>	
				<%}%>	
			<%}%>	
		<%}else{%>
			<%if(jsonBorrowMessage.Status=='NotConfirmed'){ %>
				<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-dialog modal-md">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
								<h4 class="modal-title" id="myModalLabel">回覆借款請求</h4>
							</div>
							<div class="modal-body">
								<h4>您銀行帳戶內的餘額：</h4>
								<div class="input-group">
									<input type="text" class="form-control" readonly="readonly" value="<%=MoneyInBankAccountValue.toFixed(0)%>">
									<span class="input-group-addon">元</span>
								</div>
								<br>
								<h4>您已借出的金額：</h4>
								<div class="input-group">
									<input type="text" class="form-control" readonly="readonly" value="<%=MoneyLended.toFixed(0)%>">
									<span class="input-group-addon">元</span>
								</div>
								<br>
								<h4>預計總利息：</h4>
								<div class="input-group">
									<input type="text" class="form-control" id="interestFuture" readonly="readonly" value="<%=jsonBorrowMessage.InterestInFuture.toFixed(0)%>">
									<span class="input-group-addon">元</span>
								</div>
								<br>
								<h4>預計每期平均利息：</h4>
								<div class="input-group">
									<input type="text" class="form-control" id="interestFutureMonth" readonly="readonly" value="<%=jsonBorrowMessage.InterestInFutureMonth.toFixed(0)%>">
									<span class="input-group-addon">元</span>
								</div>
								<br>
								<h4>預計每期平均本利和：</h4>
								<div class="input-group">
									<input type="text" class="form-control" id="interestFutureMoneyMonth" readonly="readonly" value="<%=jsonBorrowMessage.InterestInFutureMoneyMonth.toFixed(0)%>">
									<span class="input-group-addon">元</span>
								</div>
								<br>
								<h4>預計總利息/最初本金比：</h4>
								<div class="input-group">
									<input type="text" class="form-control" id="interestFutureDivMoney" readonly="readonly" value="<%=jsonBorrowMessage.InterestInFutureDivMoney.toFixed(2)%>">
									<span class="input-group-addon">%</span>
								</div>
								<br>
								<button type="button" class="btn btn-default" onclick="interestInFutureCalculator();">重新試算</button>
								<br>
							<form action="/Messages/confirmToBorrowMessageInStory" method="post" id="confirmFormID">
								<h4>金額：</h4>
								<div class="input-group">
									<input type="number" class="form-control" name="MoneyToLend" value="<%=jsonBorrowMessage.MoneyToLend.toFixed(0)%>">
									<span class="input-group-addon">元</span>
								</div>
								<br>
								<h4>利率：</h4>
								<div class="input-group">
									<input type="text" class="form-control" name="InterestRate" value="<%=(jsonBorrowMessage.InterestRate*100).toFixed(2)%>">
									<span class="input-group-addon">%</span>
								</div>
								<br>
								<h4>期數（單位/月）：</h4>
								<div class="input-group">
									<input type="number" class="form-control" name="MonthPeriod" value="<%=jsonBorrowMessage.MonthPeriod.toFixed(0)%>">
									<span class="input-group-addon">個月</span>
								</div>
								<br>
								<h4>訊息：</h4>
								<textarea class="form-control" name="Message" rows="3" readonly="readonly"><%=jsonBorrowMessage.Message%></textarea>
								</div>
								<input type="hidden" name="FromBorrowRequest" value="<%=json._id%>">
								<input type="hidden" name="MessageID" value="<%=jsonBorrowMessage._id%>">
								<div class="modal-footer">
									<div class="btn-toolbar" role="toolbar">
										<div class="btn-group" role="group">
											<button type="submit" class="btn btn-info"  onclick="agree();" id="argBtnID">同意</button>
										</div>
										<div class="btn-group" role="group">
											<button type="button" class="btn btn-danger" onclick="refuse();" id="rfsBtnID">拒絕</button>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			<%}%>
		<%}%>
	<%}%>	
<%}%>
<script>
	<%if(userName){%>
		function sendComment(){
			if($('#iptCtr').val()!==''){
				$('#iptCtr').attr('onkeypress','');
				$('#iptCtr').attr('readonly','readonly');
				var orig=$('#sendButton').attr('class');
				if(orig.search(' disabled')<0){
					orig=orig+' disabled';
					$('#sendButton').attr('class',orig);
				}
				
				$.ajax({ 
						url: '/Discussions/create',
						type: 'POST',
						data:{Content:$('#iptCtr').val(),BelongTo:"<%=json._id%>"},
						dataType: 'json',
						success: function(Jdata) {
							var origInner;
							if(Jdata.success){
								$('#discussionDiv').html('');
								for(i=0;i<Jdata.result.length;i++){
									var dateObj=new Date(Jdata.result[i].Updated);
									var year=dateObj.getFullYear();
									var month=dateObj.getMonth()+1;
									var date=dateObj.getDate();
									$('#discussionDiv').append(Jdata.result[i].CreatedBy.Username+'：<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'+Jdata.result[i].Content+'<br>'+year+'/'+month+'/'+date+'<br><br>');
								}
								$('#discussionDiv').stop().animate({
								  scrollTop: $("#discussionDiv")[0].scrollHeight
								}, 800);
								$('#iptCtr').val('');
								$('#iptCtr').attr('onkeypress','if(event.keyCode==13){sendComment();}');
								$('#iptCtr').removeAttr("readonly");
								origInner=$('#sendButton').attr('class');
								origInner=origInner.replace(/ disabled/g, '');
								$('#sendButton').attr('class',origInner);
							}else{
								alert('something wrong.');
								$('#iptCtr').attr('onkeypress','if(event.keyCode==13){sendComment();}');
								$('#iptCtr').removeAttr("readonly");
								origInner=$('#sendButton').attr('class');
								origInner=origInner.replace(/ disabled/g, '');
								$('#sendButton').attr('class',origInner);
							}
						},
						error: function() {
							alert('something wrong.');
							$('#iptCtr').attr('onkeypress','if(event.keyCode==13){sendComment();}');
							$('#iptCtr').removeAttr("readonly");
							var origInner=$('#sendButton').attr('class');
							origInner=origInner.replace(/ disabled/g, '');
							$('#sendButton').attr('class',origInner);
						}
				});	
			}
		}

		<%if(!ifSelf){ %>
			function like(){
				var orig=$('#btnID').attr('class');
				if(orig.search(' disabled')<0){
					orig=orig+' disabled';
					$('#btnID').attr('class',orig);
				}
				$.ajax({ 
						url: '/Borrows/like',
						type: 'POST',
						data:{_id:"<%=json._id%>"},
						dataType: 'json',
						success: function(Jdata) {
							if(Jdata.success){
								$('#likeBtn').html('<button class="btn btn-default" onclick="unlike();" id="btnID"><span style="color:#337ab7;" class="glyphicon glyphicon-remove"></span></button>');
								$('#likeNum').html('&nbsp;'+Jdata.result);
							}else{
								alert('something wrong.');
								var origInner=$('#btnID').attr('class');
								origInner=origInner.replace(/ disabled/g, '');
								$('#btnID').attr('class',origInner);
							}
						},
						error: function() {
							alert('something wrong.');
							var origInner=$('#btnID').attr('class');
							origInner=origInner.replace(/ disabled/g, '');
							$('#btnID').attr('class',origInner);
						}
				});	
			}
			
			function unlike(){
				var orig=$('#btnID').attr('class');
				if(orig.search(' disabled')<0){
					orig=orig+' disabled';
					$('#btnID').attr('class',orig);
				}
				$.ajax({ 
						url: '/Borrows/unlike',
						type: 'POST',
						data:{_id:"<%=json._id%>"},
						dataType: 'json',
						success: function(Jdata) {
							if(Jdata.success){
								$('#likeBtn').html('<button class="btn btn-default" onclick="like();" id="btnID"><span style="color:#337ab7;" class="glyphicon glyphicon-thumbs-up"></span></button>');
								$('#likeNum').html('&nbsp;'+Jdata.result);
							}else{
								alert('something wrong.');
								var origInner=$('#btnID').attr('class');
								origInner=origInner.replace(/ disabled/g, '');
								$('#btnID').attr('class',origInner);
							}
						},
						error: function() {
							alert('something wrong.');
							var origInner=$('#btnID').attr('class');
							origInner=origInner.replace(/ disabled/g, '');
							$('#btnID').attr('class',origInner);
						}
				});	
			}
			
			function interestInFutureCalculator(){
				if(($("input[name='MoneyToLend']").val()!='')&&($("input[name='InterestRate']").val()!='')&&($("input[name='MonthPeriod']").val()!='')){
					var money=parseInt($("input[name='MoneyToLend']").val());
					var rate=parseFloat($("input[name='InterestRate']").val())/100;
					var month=parseInt($("input[name='MonthPeriod']").val());
					
					var monthlyPaid=money/month;
					var tempMoney=money;
					var interestFuture=0;
					for(i=0;i<month;i++){
						if(tempMoney>0){
							interestFuture+=tempMoney*rate;
							tempMoney-=monthlyPaid;
							if(tempMoney<0){
								tempMoney=0;
							}
						}
					}
					var interestFutureDivMoney=interestFuture/money*100;
					var interestFutureMonth=interestFuture/month;
					var interestFutureMoneyMonth=(interestFuture+money)/month;
					$("#interestFuture").val(interestFuture.toFixed(0));
					$("#interestFutureMonth").val(interestFutureMonth.toFixed(0));
					$("#interestFutureMoneyMonth").val(interestFutureMoneyMonth.toFixed(0));
					$("#interestFutureDivMoney").val(interestFutureDivMoney.toFixed(2));					
				}else{
					$("#interestFuture").val('必要參數未填，無法進行試算!');
					$("#interestFutureMonth").val('必要參數未填，無法進行試算!');
					$("#interestFutureMoneyMonth").val('必要參數未填，無法進行試算!');
					$("#interestFutureDivMoney").val('必要參數未填，無法進行試算!');
				}
			}
			
			<%if(!jsonBorrowMessage){%>
				<%if(json.IfReadable){ %>
					<% if(jsonMessage){ %>
						<% if(jsonMessage.Status=='NotConfirmed'){ %>
							function destroy(){
								var orig=$('#destroyBtnID').attr('class');
								if(orig.search(' disabled')<0){
									orig=orig+' disabled';
									$('#destroyBtnID').attr('class',orig);
								}
								
								var orig=$('#updateBtnID').attr('class');
								if(orig.search(' disabled')<0){
									orig=orig+' disabled';
									$('#updateBtnID').attr('class',orig);
								}
								
								var form=document.getElementById('formID');
								form.action="/Messages/destroy";
								form.submit();
							}
							
							function update(){
								var orig=$('#destroyBtnID').attr('class');
								if(orig.search(' disabled')<0){
									orig=orig+' disabled';
									$('#destroyBtnID').attr('class',orig);
								}
								
								var orig=$('#updateBtnID').attr('class');
								if(orig.search(' disabled')<0){
									orig=orig+' disabled';
									$('#updateBtnID').attr('class',orig);
								}
							}
						<%}%>
					<%}else{%>
						function create(){
							var orig=$('#createBtnID').attr('class');
							if(orig.search(' disabled')<0){
								orig=orig+' disabled';
								$('#createBtnID').attr('class',orig);
							}
						}
					<%}%>
				<%}%>
			<%}else{%>
				<%if(jsonBorrowMessage.Status=='NotConfirmed'){ %>
					function agree(){
						var orig=$('#argBtnID').attr('class');
						if(orig.search(' disabled')<0){
							orig=orig+' disabled';
							$('#argBtnID').attr('class',orig);
						}
						
						var orig=$('#rfsBtnID').attr('class');
						if(orig.search(' disabled')<0){
							orig=orig+' disabled';
							$('#rfsBtnID').attr('class',orig);
						}
					}
					
					function refuse(){
						var orig=$('#argBtnID').attr('class');
						if(orig.search(' disabled')<0){
							orig=orig+' disabled';
							$('#argBtnID').attr('class',orig);
						}
						
						var orig=$('#rfsBtnID').attr('class');
						if(orig.search(' disabled')<0){
							orig=orig+' disabled';
							$('#rfsBtnID').attr('class',orig);
						}
						
						var form=document.getElementById('confirmFormID');
						form.action="/Messages/rejectToBorrowMessageInStory";
						form.submit();
					}
				<%}%>
			<%}%>
		<%}%>
	<%}%>
</script>
<%- include('layout_footer',{imgSettingCode:"var ifLoadedCount=0;",imgDrawingCode:""}); -%>