<%- include('layout_header',{nav_cur:'story',actionDefault:'最新',keywordDefault:'',categoryDefault:'不分類'}); -%>
<div class="container">
	<div class="row">
		<div class="col-md-9">
			<table width="100%">
				<tr>
					<td>
						<div style="font-size:30px;" <%if(json.TitleColor=="default"){%>class="default"<%}else if(json.TitleColor=="color1"){%>class="color1"<%}else if(json.TitleColor=="color3"){%>class="color3"<%}else if(json.TitleColor=="color2"){%>class="color2"<%}else if(json.TitleColor=="color4"){%>class="color4"<%}%>>[<%if(json.Category=='general'){%>一般<%}else if(json.Category=='education'){%>教育<%}else if(json.Category=='family'){%>家庭<%}else if(json.Category=='tour'){%>旅遊<%}%>]&nbsp;&nbsp;<%=json.StoryTitle%></div>
						<div style="font-size:20px;"> by <div id="aiteName" style="display:inline;"><%=json.CreatedBy.Username%></div></div>
					</td>
					<td align="right">
						<div style="font-size:20px;display:inline;" class="myTitle2" id="likeBtn">
							<%if(!userName){ %>
								<button class="btn btn-default" data-toggle="modal" data-target="#myModal" id="btnID">
									<span class="glyphicon glyphicon-thumbs-up myTitle2"></span>
								</button>
							<% }else{ %>
								<%if(!ifSelf){ %>
									<%if(!ifLiked){ %>
										<button class="btn btn-default" onclick="like();" id="btnID">
											<span class="glyphicon glyphicon-thumbs-up myTitle2"></span>
										</button>
									<% }else{ %>
										<button class="btn btn-default" onclick="unlike();" id="btnID">
											<span class="glyphicon glyphicon-remove myTitle2"></span>
										</button>
									<%}%>
								<% }else{ %>
									<button class="btn btn-default disabled" id="btnID">
										<span class="glyphicon glyphicon-thumbs-up myTitle2"></span>
									</button>
								<%}%>
							<%}%>
						</div>
						<div style="font-size:20px;color:red;display:inline;" id="likeNum">&nbsp;<%=json.LikeNumber%></div>
					</td>
				<tr>
			</table>
			<br>
			<ul class="nav nav-tabs">
				<li class="active"><a href="#tab1" data-toggle="tab">故事</a></li>
				<li><a href="#tab2" data-toggle="tab">資訊</a></li>
				<li><a href="#tab3" data-toggle="tab">留言</a></li>
            </ul>
            <div class="tab-content my-tab-content">
				<div class="tab-pane active" id="tab1">
					<%=json.Story%>
				</div>
				<div class="tab-pane" id="tab2">
					<table width="100%" height="275px">
						<tr>
							<td>
								<div class="myTitle">
									需要金額：
								</div>
							</td>
						<tr>
						<tr>
							<td>
								<div>
									&nbsp;&nbsp;&nbsp;&nbsp;<%=json.MoneyToBorrow.toFixed(0)%>元
								</div>	
							</td>
						<tr>
						<tr>
							<td>
								<div class="myTitle">
									已經借到：
								</div>
							</td>
						<tr>
						<tr>
							<td>
								<div>
									&nbsp;&nbsp;&nbsp;&nbsp;<%=json.MoneyToBorrowCumulated.toFixed(0)%>元
								</div>	
							</td>
						<tr>
						<tr>
							<td>
								<div class="myTitle">
									還需要：
								</div>
							</td>
						<tr>
						<tr>
							<td>
								<div>
									&nbsp;&nbsp;&nbsp;&nbsp;<%=json.MoneyToBorrow-json.MoneyToBorrowCumulated.toFixed(0)%>元
								</div>	
							</td>
						<tr>
						<tr>
							<td>
								<div class="myTitle">
									可接受年利率：
								</div>							
							</td>
						<tr>
						<tr>
							<td>
								<div>
									&nbsp;&nbsp;&nbsp;&nbsp;<%=(json.MaxInterestRateAccepted*100).toFixed(2)%>%
								</div>		
							</td>
						<tr>
						<tr>
							<td>
								<div class="myTitle">
									可接受期數（單位/月）:
								</div>
							</td>
						<tr>
						<tr>
							<td>
								<div>
									&nbsp;&nbsp;&nbsp;&nbsp;<%=json.MonthPeriodAccepted.toFixed(0)%>個月
								</div>
							</td>
						<tr>
						<tr>
							<td>
								<div class="myTitle">
									希望於幾號前借到錢：
								</div>
							</td>
						<tr>
						<tr>
							<td>
								<div>
									&nbsp;&nbsp;&nbsp;&nbsp;<%=json.TimeLimit.getFullYear()%>/<%=json.TimeLimit.getMonth()+1%>/<%=json.TimeLimit.getDate()%>
								</div>
							</td>
						<tr>
						<tr>
							<td>
								<div class="myTitle">
									信用等級：
								</div>
							</td>
						<tr>
						<tr>
							<td>
								<div>
									&nbsp;&nbsp;&nbsp;&nbsp;<%=json.Level.toFixed(0)%>級
								</div>
							</td>
						<tr>
					</table>
				</div>
				<div class="tab-pane" id="tab3">
					<div class="my_discussion" id="discussionDiv">
						<%for(i=0;i<json.Discussion.length;i++){%>
							<div style="display:inline;" class="myTitle"><%=json.Discussion[i].CreatedBy.Username%>：</div>
							<br>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=json.Discussion[i].Content%>
							<br>
							<div style="display:inline;" class="myTitle"><%=json.Discussion[i].Updated.getFullYear()%>/<%=json.Discussion[i].Updated.getMonth()+1%>/<%=json.Discussion[i].Updated.getDate()%></div>
							<br>
							<br>
						<%}%>
					</div>
					<div class="input-group my_discussion_ipt">
						<%if(!userName){ %>
							<input style="height:35px;" type="text" placeholder="留言..." class="form-control" onkeypress="if(event.keyCode==13){$('#myModal').modal('show');}">
							<span class="input-group-btn">
								<button style="height:35px;" class="btn btn-default" type="button" id="sendButton" data-toggle="modal" data-target="#myModal">
									<span class="glyphicon glyphicon-comment myTitle2"></span>
								</button>
							</span>
						<% }else{ %>
							<input id="iptCtr" style="height:35px;" type="text" placeholder="留言..." class="form-control" onkeypress="if(event.keyCode==13){sendComment();}">
							<span class="input-group-btn">
								<button style="height:35px;" onclick="sendComment();" class="btn btn-default" type="button" id="sendButton">
									<span class="glyphicon glyphicon-comment myTitle2"></span>
								</button>
							</span>
						<%}%>
					</div>
				</div>
            </div>
			<br>
			<table width="100%">
				<tr>
					<td>
						<%if(!userName){ %>
							<button class="btn btn-default" data-toggle="modal" data-target="#myModal">
								<span class="myTitle2">我想借錢給此人</span>
							</button>
						<% }else{ %>
							<%if(!ifSelf){ %>
								<%if(!jsonBorrowMessage){%>
									<%if(!jsonMessage){ %>
										<%if(!json.IfReadable){ %>
											<button class="btn btn-default disabled">
												<span class="myTitle2">該故事已封存</span>
											</button>
										<%}else{%>
											<button class="btn btn-default" data-toggle="modal" data-target="#hendLendModal">
												<span class="myTitle2">我想借錢給此人</span>
											</button>
										<%}%>
									<% }else{ %>
										<%if(!json.IfReadable){ %>
											<button class="btn btn-default" data-toggle="modal" data-target="#hendLendModal">
												<span class="myTitle2">該故事已封存，但您仍可查看訊息</span>
											</button>
										<%}else{%>
											<%if(jsonMessage.Status=='Confirmed'){ %>
												<button class="btn btn-default" data-toggle="modal" data-target="#hendLendModal">
													<span class="myTitle2">您的出借訊息已被同意</span>
												</button>
											<% }else if(jsonMessage.Status=='Rejected'){ %>
												<button class="btn btn-default" data-toggle="modal" data-target="#hendLendModal">
													<span class="myTitle2">您的出借訊息已被婉拒</span>
												</button>
											<% }else if(jsonMessage.Status=='NotConfirmed'){ %>
												<button class="btn btn-default" data-toggle="modal" data-target="#hendLendModal">
													<span class="myTitle2">我想更新出借訊息</span>
												</button>
											<%}%>
										<%}%>
									<%}%>
								<%}else{%>
									<%if(!json.IfReadable){ %>
										<button class="btn btn-default"  data-toggle="modal" data-target="#confirmModal">
											<span class="myTitle2">該故事已封存，但您仍可查看訊息</span>
										</button>
									<%}else{%>
										<%if(jsonBorrowMessage.Status=='Confirmed'){ %>
											<button class="btn btn-default" data-toggle="modal" data-target="#confirmModal">
												<span class="myTitle2">您已同意來自此人的借款請求</span>
											</button>
										<% }else if(jsonBorrowMessage.Status=='Rejected'){ %>
											<button class="btn btn-default" data-toggle="modal" data-target="#confirmModal">
												<span class="myTitle2">您已婉拒來自此人的借款請求</span>
											</button>
										<% }else if(jsonBorrowMessage.Status=='NotConfirmed'){ %>
											<button class="btn btn-default" data-toggle="modal" data-target="#confirmModal">
												<span class="myTitle2">查看來自此人的訊息</span>
											</button>
										<%}%>
									<%}%>
								<%}%>
							<%}else{%>
								<button class="btn btn-default disabled">
										<span class="myTitle2">此故事為您所有</span>
								</button>
							<%}%>
						<%}%>
					</td>
					<td align="right">
						<div>
							Updated：<div style="display:inline;" id="updatedDate"><%=json.Updated.getFullYear()%>/<%=json.Updated.getMonth()+1%>/<%=json.Updated.getDate()%></div>
						</div>
						<div>
							Created：<%=json.Created.getFullYear()%>/<%=json.Created.getMonth()+1%>/<%=json.Created.getDate()%></div>
						</div>
					</td>
				</tr>
				<tr>
					<td align="center">
						<div style="display:inline;"><img src="/images/icon.png" class="hastip" title="喜歡這個故事的話可以<br>主動借款給他喔！"/></div>
					</td>
				</tr>
			</table>
		</div>
		<div class="col-md-3">
		</div>
	</div>
</div>
<%if(userName){ %>
	<%if(!ifSelf){ %>
		<div class="modal fade" id="msgModal">
			<div class="modal-dialog modal-sm"">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title">錯誤</h4>
					</div>
					<div class="modal-body">
						<br>
						必填欄位未填或數值小於等於0
						<br>
						<br>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">關閉</button>
					</div>
				</div>
			</div>
		</div>
		<%if(!jsonBorrowMessage){%>
			<%if(!jsonMessage){ %>
				<%if(json.IfReadable){ %>
					<div class="modal fade" id="hendLendModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-dialog modal-md">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
									<h4 class="modal-title" id="myModalLabel">欲借出訊息 - 新建</h4>
								</div>
								<div class="modal-body">
									<h4>銀行帳戶內餘額：</h4>
									<div class="input-group">
										<input type="text" class="form-control" readonly="readonly" value="<%=MoneyInBankAccountValue.toFixed(0)%>">
										<span class="input-group-addon">元</span>
									</div>
									<br>
									<h4>已借出金額：</h4>
									<div class="input-group">
										<input type="text" class="form-control" readonly="readonly" value="<%=MoneyLended.toFixed(0)%>">
										<span class="input-group-addon">元</span>
									</div>
									<br>
								<form action="/Messages/toLendCreate" method="post">
									<h4>本次欲借出金額：</h4>
									<div class="input-group">
										<input type="number" class="form-control" name="MoneyToLend">
										<span class="input-group-addon">元</span>
									</div>
									<br>
									<h4>本次欲借出年利率：</h4>
									<div class="input-group">	
										<input type="text" class="form-control" name="InterestRate">
										<span class="input-group-addon">%</span>
									</div>
									<br>
									<h4>本次欲借出期數（單位/月）：</h4>
									<div class="input-group">
										<input type="number" class="form-control" name="MonthPeriod">
										<span class="input-group-addon">個月</span>
									</div>
									<br>
									<button type="button" class="btn btn-default" onclick="interestInFutureCalculator();">試算</button>
									<br>
									<h4>預計總利息：</h4>
									<div class="input-group">
										<input type="text" class="form-control" id="interestFuture" readonly="readonly" value="0">
										<span class="input-group-addon">元</span>
									</div>
									<br>
									<h4>預計每期平均利息：</h4>
									<div class="input-group">
										<input type="text" class="form-control" id="interestFutureMonth" readonly="readonly" value="0">
										<span class="input-group-addon">元</span>
									</div>
									<br>
									<h4>預計每期平均本利和：</h4>
									<div class="input-group">
										<input type="text" class="form-control" id="interestFutureMoneyMonth" readonly="readonly" value="0">
										<span class="input-group-addon">元</span>
									</div>
									<br>
									<h4>預計總利息/最初本金比：</h4>
									<div class="input-group">
										<input type="text" class="form-control" id="interestFutureDivMoney" readonly="readonly" value="0">
										<span class="input-group-addon">%</span>
									</div>
									<br>
									<h4>訊息（選填）：</h4>
									<textarea class="form-control" name="Message" rows="3"></textarea>
								</div>
									<input type="hidden" name="FromBorrowRequest" value="<%=json._id%>">
									<div class="modal-footer">
										<div class="btn-toolbar" role="toolbar">
											<div class="btn-group" role="group">
												<button type="button" class="btn btn-info" onclick="checkAndOpenModal(chkModal1,mdlCnt1,'送出欲借出訊息嗎?',true);">
													新建
												</button>
											</div>
											<div class="btn-group" role="group">
												<button type="button" class="btn btn-default" data-dismiss="modal">關閉</button>
											</div>
										</div>
									</div>
							</div>
						</div>
					</div>
					<div class="modal fade" id="chkModal1">
						<div class="modal-dialog modal-sm"">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
									<h4 class="modal-title">再次確認</h4>
								</div>
								<div id="mdlCnt1" class="modal-body">
								</div>
								<div class="modal-footer">
									<button type="submit" class="btn btn-primary" id="createBtnID" onclick="create()">確定</button>
									<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
								</div>
							</div>
						</div>
					</div>
					</form>
				<%}%>
			<%}else{%>
				<%if((!json.IfReadable)||(jsonMessage.Status=='Confirmed')||(jsonMessage.Status=='Rejected')){ %>
					<div class="modal fade" id="hendLendModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-dialog modal-md">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
									<h4 class="modal-title" id="myModalLabel">欲借出訊息 - <%if(jsonMessage.Status=='Confirmed'){ %>已被同意<%}else if(jsonMessage.Status=='NotConfirmed'){%>未被確認<%}else if(jsonMessage.Status=='Rejected'){%>已被婉拒<%}%></h4>
								</div>
								<div class="modal-body">
									<h4>本次欲借出金額：</h4>
									<div class="input-group">
										<input type="number" class="form-control" name="MoneyToLend" readonly="readonly" value="<%=jsonMessage.MoneyToLend.toFixed(0)%>">
										<span class="input-group-addon">元</span>
									</div>
									<br>
									<h4>本次欲借出年利率：</h4>
									<div class="input-group">
										<input type="text" class="form-control" name="InterestRate" readonly="readonly" value="<%=(jsonMessage.InterestRate*100).toFixed(2)%>">
										<span class="input-group-addon">%</span>
									</div>
									<br>
									<h4>本次欲借出期數（單位/月）：</h4>
									<div class="input-group">
										<input type="number" class="form-control" name="MonthPeriod" readonly="readonly" value="<%=jsonMessage.MonthPeriod.toFixed(0)%>">
										<span class="input-group-addon">個月</span>
									</div>
									<br>
									<h4>預計總利息：</h4>
									<div class="input-group">
										<input type="text" class="form-control" id="interestFuture" readonly="readonly" value="<%=jsonMessage.InterestInFuture.toFixed(0)%>">
										<span class="input-group-addon">元</span>
									</div>
									<br>
									<h4>預計每期平均利息：</h4>
									<div class="input-group">
										<input type="text" class="form-control" id="interestFutureMonth" readonly="readonly" value="<%=jsonMessage.InterestInFutureMonth.toFixed(0)%>">
										<span class="input-group-addon">元</span>
									</div>
									<br>
									<h4>預計每期平均本利和：</h4>
									<div class="input-group">
										<input type="text" class="form-control" id="interestFutureMoneyMonth" readonly="readonly" value="<%=jsonMessage.InterestInFutureMoneyMonth.toFixed(0)%>">
										<span class="input-group-addon">元</span>
									</div>
									<br>
									<h4>預計總利息/最初本金比：</h4>
									<div class="input-group">
										<input type="text" class="form-control" id="interestFutureDivMoney" readonly="readonly" value="<%=jsonMessage.InterestInFutureDivMoney.toFixed(2)%>">
										<span class="input-group-addon">%</span>
									</div>
									<br>
									<h4>訊息：</h4>
									<textarea class="form-control" name="Message" rows="3" readonly="readonly"><%=jsonMessage.Message%></textarea>
									<br>
								</div>
								<div class="modal-footer">
									<div class="btn-toolbar" role="toolbar">
										<div class="btn-group" role="group">
											<button type="button" class="btn btn-default" data-dismiss="modal">關閉</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				<%}else{%>
					<div class="modal fade" id="hendLendModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-dialog modal-md">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
									<h4 class="modal-title" id="myModalLabel">欲借出訊息 - 更新/刪除</h4>
								</div>
								<div class="modal-body">
									<h4>您銀行帳戶內的餘額：</h4>
									<div class="input-group">
										<input type="text" class="form-control" readonly="readonly" value="<%=MoneyInBankAccountValue.toFixed(0)%>">
										<span class="input-group-addon">元</span>
									</div>
									<br>
									<h4>您已借出的金額：</h4>
									<div class="input-group">
										<input type="text" class="form-control" readonly="readonly" value="<%=MoneyLended.toFixed(0)%>">
										<span class="input-group-addon">元</span>
									</div>
									<br>
								<form action="/Messages/toLendUpdate" method="post" id="formID">
									<h4>本次欲借出金額：</h4>
									<div class="input-group">
										<input type="number" class="form-control" name="MoneyToLend" value="<%=jsonMessage.MoneyToLend.toFixed(0)%>">
										<span class="input-group-addon">元</span>
									</div>
									<br>
									<h4>本次欲借出年利率：</h4>
									<div class="input-group">
										<input type="text" class="form-control" name="InterestRate" value="<%=(jsonMessage.InterestRate*100).toFixed(2)%>">
										<span class="input-group-addon">%</span>
									</div>
									<br>
									<h4>本次欲借出期數（單位/月）：</h4>
									<div class="input-group">
										<input type="number" class="form-control" name="MonthPeriod" value="<%=jsonMessage.MonthPeriod.toFixed(0)%>">
										<span class="input-group-addon">個月</span>
									</div>
									<br>
									<button type="button" class="btn btn-default" onclick="interestInFutureCalculator();">重新試算</button>
									<br>
									<h4>預計總利息：</h4>
									<div class="input-group">
										<input type="text" class="form-control" id="interestFuture" readonly="readonly" value="<%=jsonMessage.InterestInFuture.toFixed(0)%>">
										<span class="input-group-addon">元</span>
									</div>
									<br>
									<h4>預計每期平均利息：</h4>
									<div class="input-group">
										<input type="text" class="form-control" id="interestFutureMonth" readonly="readonly" value="<%=jsonMessage.InterestInFutureMonth.toFixed(0)%>">
										<span class="input-group-addon">元</span>
									</div>
									<br>
									<h4>預計每期平均本利和：</h4>
									<div class="input-group">
										<input type="text" class="form-control" id="interestFutureMoneyMonth" readonly="readonly" value="<%=jsonMessage.InterestInFutureMoneyMonth.toFixed(0)%>">
										<span class="input-group-addon">元</span>
									</div>
									<br>
									<h4>預計總利息/最初本金比：</h4>
									<div class="input-group">
										<input type="text" class="form-control" id="interestFutureDivMoney" readonly="readonly" value="<%=jsonMessage.InterestInFutureDivMoney.toFixed(2)%>">
										<span class="input-group-addon">%</span>
									</div>
									<br>
									<h4>訊息（選填）：</h4>
									<textarea class="form-control" name="Message" rows="3"><%=jsonMessage.Message%></textarea>
								</div>
								<input type="hidden" name="FromBorrowRequest" value="<%=json._id%>">
								<input type="hidden" name="_id" value="<%=jsonMessage._id%>">
								<div class="modal-footer">
									<div style="float:left;" class="btn-toolbar" role="toolbar">
										<div class="btn-group" role="group">
											<button type="button" class="btn btn-info" onclick="checkAndOpenModal(chkModal2,mdlCnt2,'更新欲借出訊息嗎?',true);">
												更新
											</button>
										</div>
										<div class="btn-group" role="group">
											<button type="button" class="btn btn-danger" onclick="checkAndOpenModal(chkModal3,mdlCnt3,'您確定要刪除欲借出訊息嗎?',false);">
												刪除
											</button>
										</div>
									</div>
									<div style="float:right;">
										<div class="btn-group" role="group">
											<button type="button" class="btn btn-default" data-dismiss="modal">關閉</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="modal fade" id="chkModal2">
						<div class="modal-dialog modal-sm"">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
									<h4 class="modal-title">再次確認</h4>
								</div>
								<div id="mdlCnt2" class="modal-body">
								</div>
								<div class="modal-footer">
									<button type="submit" class="btn btn-primary" id="updateBtnID" onclick="update()">確定</button>
									<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
								</div>
							</div>
						</div>
					</div>
					<div class="modal fade" id="chkModal3">
						<div class="modal-dialog modal-sm"">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
									<h4 class="modal-title">再次確認</h4>
								</div>
								<div id="mdlCnt3" class="modal-body">
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-danger" id="destroyBtnID" onclick="destroy();">確定</button>
									<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
								</div>
							</div>
						</div>
					</div>
					</form>					
				<%}%>
			<%}%>
		<%}else{%>
			<%if((!json.IfReadable)||(jsonBorrowMessage.Status=='Confirmed')||(jsonBorrowMessage.Status=='Rejected')){ %>
				<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-dialog modal-md">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
								<h4 class="modal-title" id="myModalLabel">借款請求 - <%if(jsonBorrowMessage.Status=='Confirmed'){ %>已同意<%}else if(jsonBorrowMessage.Status=='NotConfirmed'){%>未確認<%}else if(jsonBorrowMessage.Status=='Rejected'){%>已婉拒<%}%></h4>
							</div>
							<div class="modal-body">
								<h4>金額：</h4>
								<div class="input-group">
									<input type="number" class="form-control" name="MoneyToLend" readonly="readonly" value="<%=jsonBorrowMessage.MoneyToLend.toFixed(0)%>">
									<span class="input-group-addon">元</span>
								</div>
								<br>
								<h4>年利率：</h4>
								<div class="input-group">
									<input type="text" class="form-control" name="InterestRate" readonly="readonly" value="<%=(jsonBorrowMessage.InterestRate*100).toFixed(2)%>">
									<span class="input-group-addon">%</span>
								</div>
								<br>
								<h4>期數（單位/月）：</h4>
								<div class="input-group">
									<input type="number" class="form-control" name="MonthPeriod" readonly="readonly" value="<%=jsonBorrowMessage.MonthPeriod.toFixed(0)%>">
									<span class="input-group-addon">個月</span>
								</div>
								<br>
								<h4>預計總利息：</h4>
								<div class="input-group">
									<input type="text" class="form-control" id="interestFuture" readonly="readonly" value="<%=jsonBorrowMessage.InterestInFuture.toFixed(0)%>">
									<span class="input-group-addon">元</span>
								</div>
								<br>
								<h4>預計每期平均利息：</h4>
								<div class="input-group">
									<input type="text" class="form-control" id="interestFutureMonth" readonly="readonly" value="<%=jsonBorrowMessage.InterestInFutureMonth.toFixed(0)%>">
									<span class="input-group-addon">元</span>
								</div>
								<br>
								<h4>預計每期平均本利和：</h4>
								<div class="input-group">
									<input type="text" class="form-control" id="interestFutureMoneyMonth" readonly="readonly" value="<%=jsonBorrowMessage.InterestInFutureMoneyMonth.toFixed(0)%>">
									<span class="input-group-addon">元</span>
								</div>
								<br>
								<h4>預計總利息/最初本金比：</h4>
								<div class="input-group">
									<input type="text" class="form-control" id="interestFutureDivMoney" readonly="readonly" value="<%=jsonBorrowMessage.InterestInFutureDivMoney.toFixed(2)%>">
									<span class="input-group-addon">%</span>
								</div>
								<br>
								<h4>訊息：</h4>
								<textarea class="form-control" name="Message" rows="3" readonly="readonly"><%=jsonBorrowMessage.Message%></textarea>
								<br>
							</div>
							<div class="modal-footer">
								<div class="btn-toolbar" role="toolbar">
									<div class="btn-group" role="group">
										<button type="button" class="btn btn-default" data-dismiss="modal">關閉</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			<%}else{%>
				<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-dialog modal-md">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
								<h4 class="modal-title" id="myModalLabel">回覆借款請求</h4>
							</div>
							<div class="modal-body">
								<h4>您銀行帳戶內的餘額：</h4>
								<div class="input-group">
									<input type="text" class="form-control" readonly="readonly" value="<%=MoneyInBankAccountValue.toFixed(0)%>">
									<span class="input-group-addon">元</span>
								</div>
								<br>
								<h4>您已借出的金額：</h4>
								<div class="input-group">
									<input type="text" class="form-control" readonly="readonly" value="<%=MoneyLended.toFixed(0)%>">
									<span class="input-group-addon">元</span>
								</div>
								<br>
								<h4>您目前的自動借出額度：</h4>
								<div class="input-group">
									<%if(jsonLend){%>
										<input type="text" class="form-control" readonly="readonly" value="<%=jsonLend.MaxMoneyToLend.toFixed(0)%>">
										<span class="input-group-addon">元</span>
									<%}else{%>
										<input type="text" class="form-control" readonly="readonly" value="未找到自動出借設定！">
										<span class="input-group-addon">#</span>
									<%}%>
								</div>
								<br>
							<form action="/Messages/confirmToBorrowMessageInStory" method="post" id="confirmFormID">
								<h4>金額：</h4>
								<div class="input-group">
									<input type="number" class="form-control" name="MoneyToLend" value="<%=jsonBorrowMessage.MoneyToLend.toFixed(0)%>">
									<span class="input-group-addon">元</span>
								</div>
								<br>
								<h4>年利率：</h4>
								<div class="input-group">
									<input type="text" class="form-control" name="InterestRate" value="<%=(jsonBorrowMessage.InterestRate*100).toFixed(2)%>">
									<span class="input-group-addon">%</span>
								</div>
								<br>
								<h4>期數（單位/月）：</h4>
								<div class="input-group">
									<input type="number" class="form-control" name="MonthPeriod" value="<%=jsonBorrowMessage.MonthPeriod.toFixed(0)%>">
									<span class="input-group-addon">個月</span>
								</div>
								<br>
								<button type="button" class="btn btn-default" onclick="interestInFutureCalculator();">重新試算</button>
								<br>
								<h4>預計總利息：</h4>
								<div class="input-group">
									<input type="text" class="form-control" id="interestFuture" readonly="readonly" value="<%=jsonBorrowMessage.InterestInFuture.toFixed(0)%>">
									<span class="input-group-addon">元</span>
								</div>
								<br>
								<h4>預計每期平均利息：</h4>
								<div class="input-group">
									<input type="text" class="form-control" id="interestFutureMonth" readonly="readonly" value="<%=jsonBorrowMessage.InterestInFutureMonth.toFixed(0)%>">
									<span class="input-group-addon">元</span>
								</div>
								<br>
								<h4>預計每期平均本利和：</h4>
								<div class="input-group">
									<input type="text" class="form-control" id="interestFutureMoneyMonth" readonly="readonly" value="<%=jsonBorrowMessage.InterestInFutureMoneyMonth.toFixed(0)%>">
									<span class="input-group-addon">元</span>
								</div>
								<br>
								<h4>預計總利息/最初本金比：</h4>
								<div class="input-group">
									<input type="text" class="form-control" id="interestFutureDivMoney" readonly="readonly" value="<%=jsonBorrowMessage.InterestInFutureDivMoney.toFixed(2)%>">
									<span class="input-group-addon">%</span>
								</div>
								<br>
								<h4>訊息：</h4>
								<textarea class="form-control" name="Message" rows="3" readonly="readonly"><%=jsonBorrowMessage.Message%></textarea>
							</div>
							<input type="hidden" name="FromBorrowRequest" value="<%=json._id%>">
							<input type="hidden" name="MessageID" value="<%=jsonBorrowMessage._id%>">
							<div class="modal-footer">
								<div style="float:left;" class="btn-toolbar" role="toolbar">
									<div class="btn-group" role="group">
										<button type="button" class="btn btn-info" onclick="checkAndOpenModal(chkModal4,mdlCnt4,'同意此借款請求嗎?',true);">
											同意
										</button>
									</div>
									<div class="btn-group" role="group">
										<button type="button" class="btn btn-danger" onclick="checkAndOpenModal(chkModal5,mdlCnt5,'您確定要婉拒此借款請求嗎?',false);">
											婉拒
										</button>
									</div>
								</div>
								<div style="float:right;">
									<div class="btn-group" role="group">
										<button type="button" class="btn btn-default" data-dismiss="modal">關閉</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="modal fade" id="chkModal4">
					<div class="modal-dialog modal-sm"">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								<h4 class="modal-title">再次確認</h4>
							</div>
							<div id="mdlCnt4" class="modal-body">
							</div>
							<div class="modal-footer">
								<button type="submit" class="btn btn-primary"  onclick="agree();" id="argBtnID">確定</button>
								<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
							</div>
						</div>
					</div>
				</div>
				<div class="modal fade" id="chkModal5">
					<div class="modal-dialog modal-sm"">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								<h4 class="modal-title">再次確認</h4>
							</div>
							<div id="mdlCnt5" class="modal-body">
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-danger" onclick="refuse();" id="rfsBtnID">確定</button>
								<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
							</div>
						</div>
					</div>
				</div>
				</form>
			<%}%>
		<%}%>
	<%}%>		
<%}%>			
<script>
	<%if(userName){%>
		$(document).ready(function (){
			$('.modal')
				.on({
					'show.bs.modal': function() {
						var idx = $('.modal:visible').length;
						$(this).css('z-index', 1040 + (10 * idx));
					},
					'shown.bs.modal': function() {
						var idx = ($('.modal:visible').length) - 1; // raise backdrop after animation.
						$('.modal-backdrop').not('.stacked')
						.css('z-index', 1039 + (10 * idx))
						.addClass('stacked');
					},
					'hidden.bs.modal': function() {
						if ($('.modal:visible').length > 0) {
							// restore the modal-open class to the body element, so that scrolling works
							// properly after de-stacking a modal.
							setTimeout(function() {
								$(document.body).addClass('modal-open');
							}, 0);
						}
					}
				});
				
				var orig=$('#btnID').attr('class');
				if(orig.search(' disabled')<0){
					orig=orig+' disabled';
					$('#btnID').attr('class',orig);
				}
				$.ajax({ 
					url: '/Borrows/iflike',
					type: 'POST',
					data:{_id:"<%=json._id%>"},
					dataType: 'json',
					success: function(Jdata) {
						if(Jdata.success){
							var dateObj=new Date(Jdata.date);
							$('#updatedDate').html(dateObj.getFullYear()+'/'+(dateObj.getMonth()+1)+'/'+dateObj.getDate());
							if(Jdata.status==-1){
								$('#likeBtn').html('<button class="btn btn-default" data-toggle="modal" data-target="#myModal" id="btnID"><span class="glyphicon glyphicon-thumbs-up myTitle2"></span></button>');	
							}else if(Jdata.status==0){
								$('#likeBtn').html('<button class="btn btn-default" onclick="like();" id="btnID"><span class="glyphicon glyphicon-thumbs-up myTitle2"></span></button>');	
							}else if(Jdata.status==1){
								$('#likeBtn').html('<button class="btn btn-default" onclick="unlike();" id="btnID"><span class="glyphicon glyphicon-remove myTitle2"></span></button>');	
							}else if(Jdata.status==2){
								$('#likeBtn').html('<button class="btn btn-default disabled" id="btnID"><span class="glyphicon glyphicon-thumbs-up myTitle2"></span></button>');	
							}
							$('#likeNum').html('&nbsp;'+Jdata.result);
						}else{
						}
					},
					error: function() {
					}
				});	
				
				$.ajax({ 
					url: '/Discussions/findDiscussions',
					type: 'POST',
					data:{_id:"<%=json._id%>"},
					dataType: 'json',
					success: function(Jdata) {
						if(Jdata.success){
							$('#discussionDiv').html('');
							for(i=0;i<Jdata.result.length;i++){
								var dateObj=new Date(Jdata.result[i].Updated);
								var year=dateObj.getFullYear();
								var month=dateObj.getMonth()+1;
								var date=dateObj.getDate();
								$('#discussionDiv').append('<div style="display:inline;" class="myTitle">'+Jdata.result[i].CreatedBy.Username+'：</div><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'+Jdata.result[i].Content+'<br><div style="display:inline;" class="myTitle">'+year+'/'+month+'/'+date+'</div><br><br>');
							}
							$('#iptCtr').val('');
						}else{
						}
					},
					error: function() {
					}
				});	
				
		});
		
		function checkAndOpenModal(target,cntNumber,cntTail,flag){
			var a=$("input[name='MoneyToLend']").val();
			var b=$("input[name='InterestRate']").val();
			var c=$("input[name='MonthPeriod']").val();
			var aa=parseFloat(a);
			var bb=parseFloat(b);
			var cc=parseFloat(c);
			var trueCnt;
			
			if(flag){
				if((a!='')&&(b!='')&&(c!='')&&(aa>0)&&(bb>0)&&(cc>0)){
					trueCnt='您確定要以金額 <div style="display:inline;color:red;">'+$("input[name='MoneyToLend']").val()+'元</div> 、年利率 <div style="display:inline;color:red;">'+$("input[name='InterestRate']").val()+'%</div> 、期數 <div style="display:inline;color:red;">'+$("input[name='MonthPeriod']").val()+'個月</div> 為條件向 <div style="display:inline;color:red;">'+$("#aiteName").text()+'</div> '+cntTail;
					$(cntNumber).html('<br>'+trueCnt+'<br><br>');
					$(target).modal('show');
				}else{
					$('#msgModal').modal('show');
				}
			}else{
				trueCnt=cntTail;
				$(cntNumber).html('<br>'+trueCnt+'<br><br>');
				$(target).modal('show');
			}
		}
		
		function sendComment(){
			if($('#iptCtr').val()!==''){
				$('#iptCtr').attr('onkeypress','');
				$('#iptCtr').attr('readonly','readonly');
				var orig=$('#sendButton').attr('class');
				if(orig.search(' disabled')<0){
					orig=orig+' disabled';
					$('#sendButton').attr('class',orig);
				}
				
				$.ajax({ 
						url: '/Discussions/create',
						type: 'POST',
						data:{Content:$('#iptCtr').val(),BelongTo:"<%=json._id%>"},
						dataType: 'json',
						success: function(Jdata) {
							var origInner;
							if(Jdata.success){
								var td=new Date();
								$('#updatedDate').html(td.getFullYear()+'/'+(td.getMonth()+1)+'/'+td.getDate());
								$('#discussionDiv').html('');
								for(i=0;i<Jdata.result.length;i++){
									var dateObj=new Date(Jdata.result[i].Updated);
									var year=dateObj.getFullYear();
									var month=dateObj.getMonth()+1;
									var date=dateObj.getDate();
									$('#discussionDiv').append('<div style="display:inline;" class="myTitle">'+Jdata.result[i].CreatedBy.Username+'：</div><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'+Jdata.result[i].Content+'<br><div style="display:inline;" class="myTitle">'+year+'/'+month+'/'+date+'</div><br><br>');
								}
								$('#discussionDiv').stop().animate({
								  scrollTop: $("#discussionDiv")[0].scrollHeight
								}, 800);
								$('#iptCtr').val('');
								$('#iptCtr').attr('onkeypress','if(event.keyCode==13){sendComment();}');
								$('#iptCtr').removeAttr("readonly");
								origInner=$('#sendButton').attr('class');
								origInner=origInner.replace(/ disabled/g, '');
								$('#sendButton').attr('class',origInner);
							}else{
								alert(Jdata.error);
								$('#iptCtr').attr('onkeypress','if(event.keyCode==13){sendComment();}');
								$('#iptCtr').removeAttr("readonly");
								origInner=$('#sendButton').attr('class');
								origInner=origInner.replace(/ disabled/g, '');
								$('#sendButton').attr('class',origInner);
							}
						},
						error: function() {
							alert('something wrong.');
							$('#iptCtr').attr('onkeypress','if(event.keyCode==13){sendComment();}');
							$('#iptCtr').removeAttr("readonly");
							var origInner=$('#sendButton').attr('class');
							origInner=origInner.replace(/ disabled/g, '');
							$('#sendButton').attr('class',origInner);
						}
				});	
			}
		}

		<%if(!ifSelf){ %>
			function like(){
				var orig=$('#btnID').attr('class');
				if(orig.search(' disabled')<0){
					orig=orig+' disabled';
					$('#btnID').attr('class',orig);
				}
				$.ajax({ 
						url: '/Borrows/like',
						type: 'POST',
						data:{_id:"<%=json._id%>"},
						dataType: 'json',
						success: function(Jdata) {
							if(Jdata.success){
								var td=new Date();
								$('#updatedDate').html(td.getFullYear()+'/'+(td.getMonth()+1)+'/'+td.getDate());
								$('#likeBtn').html('<button class="btn btn-default" onclick="unlike();" id="btnID"><span class="glyphicon glyphicon-remove myTitle2"></span></button>');
								$('#likeNum').html('&nbsp;'+Jdata.result);
							}else{
								alert('something wrong.');
								var origInner=$('#btnID').attr('class');
								origInner=origInner.replace(/ disabled/g, '');
								$('#btnID').attr('class',origInner);
							}
						},
						error: function() {
							alert('something wrong.');
							var origInner=$('#btnID').attr('class');
							origInner=origInner.replace(/ disabled/g, '');
							$('#btnID').attr('class',origInner);
						}
				});	
			}
			
			function unlike(){
				var orig=$('#btnID').attr('class');
				if(orig.search(' disabled')<0){
					orig=orig+' disabled';
					$('#btnID').attr('class',orig);
				}
				$.ajax({ 
						url: '/Borrows/unlike',
						type: 'POST',
						data:{_id:"<%=json._id%>"},
						dataType: 'json',
						success: function(Jdata) {
							if(Jdata.success){
								var td=new Date();
								$('#updatedDate').html(td.getFullYear()+'/'+(td.getMonth()+1)+'/'+td.getDate());
								$('#likeBtn').html('<button class="btn btn-default" onclick="like();" id="btnID"><span class="glyphicon glyphicon-thumbs-up myTitle2"></span></button>');
								$('#likeNum').html('&nbsp;'+Jdata.result);
							}else{
								alert('something wrong.');
								var origInner=$('#btnID').attr('class');
								origInner=origInner.replace(/ disabled/g, '');
								$('#btnID').attr('class',origInner);
							}
						},
						error: function() {
							alert('something wrong.');
							var origInner=$('#btnID').attr('class');
							origInner=origInner.replace(/ disabled/g, '');
							$('#btnID').attr('class',origInner);
						}
				});	
			}
			
			function interestInFutureCalculator(){
				if(($("input[name='MoneyToLend']").val()!='')&&($("input[name='InterestRate']").val()!='')&&($("input[name='MonthPeriod']").val()!='')){
					var money=parseInt($("input[name='MoneyToLend']").val());
					var rate=parseFloat($("input[name='InterestRate']").val())/100/12;
					var month=parseInt($("input[name='MonthPeriod']").val());
					
					var interestFuture=0;
					var tempMoney=money;
					var tempMonth=month;
					for(i=0;i<month;i++){
						if(tempMoney>0){
							interestFuture+=Math.round(tempMoney*rate);
							var monthlyPaid=Math.floor(tempMoney/tempMonth);
							if(tempMonth>1){
								tempMoney-=monthlyPaid;
							}else{
								tempMoney-=tempMoney;
							}
							tempMonth-=1;
							if(tempMoney<0){
								tempMoney=0;
							}
						}
					}
					var interestFutureDivMoney
					if(money>0){
						interestFutureDivMoney=interestFuture/money*100;
					}else{
						interestFutureDivMoney=0;
					}
					var interestFutureMonth;
					if(month>0){
						interestFutureMonth=interestFuture/month;
					}else{
						interestFutureMonth=0;
					}
					var interestFutureMoneyMonth;
					if(month>0){
						interestFutureMoneyMonth=(interestFuture+money)/month;
					}else{
						interestFutureMoneyMonth=0;
					}
					
					$("#interestFuture").val(interestFuture.toFixed(0));
					$("#interestFutureMonth").val(interestFutureMonth.toFixed(0));
					$("#interestFutureMoneyMonth").val(interestFutureMoneyMonth.toFixed(0));
					$("#interestFutureDivMoney").val(interestFutureDivMoney.toFixed(2));					
				}else{
					$("#interestFuture").val('必要參數未填，無法進行試算!');
					$("#interestFutureMonth").val('必要參數未填，無法進行試算!');
					$("#interestFutureMoneyMonth").val('必要參數未填，無法進行試算!');
					$("#interestFutureDivMoney").val('必要參數未填，無法進行試算!');
				}
			}
			
			<%if(!jsonBorrowMessage){%>
				<% if(!jsonMessage){ %>
					<%if(json.IfReadable){ %>
						function create(){
							var orig=$('#createBtnID').attr('class');
							if(orig.search(' disabled')<0){
								orig=orig+' disabled';
								$('#createBtnID').attr('class',orig);
							}
						}
					<%}%>
				<%}else{%>
					<%if((json.IfReadable)&&(jsonMessage.Status=='NotConfirmed')){ %>
						function destroy(){
							var orig=$('#destroyBtnID').attr('class');
							if(orig.search(' disabled')<0){
								orig=orig+' disabled';
								$('#destroyBtnID').attr('class',orig);
							}
							
							var orig=$('#updateBtnID').attr('class');
							if(orig.search(' disabled')<0){
								orig=orig+' disabled';
								$('#updateBtnID').attr('class',orig);
							}
							
							var form=document.getElementById('formID');
							form.action="/Messages/destroy";
							form.submit();
						}
						
						function update(){
							var orig=$('#destroyBtnID').attr('class');
							if(orig.search(' disabled')<0){
								orig=orig+' disabled';
								$('#destroyBtnID').attr('class',orig);
							}
							
							var orig=$('#updateBtnID').attr('class');
							if(orig.search(' disabled')<0){
								orig=orig+' disabled';
								$('#updateBtnID').attr('class',orig);
							}
						}
					<%}%>
				<%}%>
			<%}else{%>
				<%if((json.IfReadable)&&(jsonBorrowMessage.Status=='NotConfirmed')){ %>
					function agree(){
						var orig=$('#argBtnID').attr('class');
						if(orig.search(' disabled')<0){
							orig=orig+' disabled';
							$('#argBtnID').attr('class',orig);
						}
						
						var orig=$('#rfsBtnID').attr('class');
						if(orig.search(' disabled')<0){
							orig=orig+' disabled';
							$('#rfsBtnID').attr('class',orig);
						}
					}
					
					function refuse(){
						var orig=$('#argBtnID').attr('class');
						if(orig.search(' disabled')<0){
							orig=orig+' disabled';
							$('#argBtnID').attr('class',orig);
						}
						
						var orig=$('#rfsBtnID').attr('class');
						if(orig.search(' disabled')<0){
							orig=orig+' disabled';
							$('#rfsBtnID').attr('class',orig);
						}
						
						var form=document.getElementById('confirmFormID');
						form.action="/Messages/rejectToBorrowMessageInStory";
						form.submit();
					}
				<%}%>
			<%}%>	
		<%}%>
	<%}%>
</script>
<%- include('layout_footer',{imgSettingCode:"var ifLoadedCount=0;",imgDrawingCode:""}); -%>